<template>
	<div>
	    <div class="page-header">
	        <h2>Asset Models</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Asset Model</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 715px;">
	                <div class="body forum">
	                 	
						<assetmodel ref="assetmodelDT" @edit="edit"></assetmodel>

						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Add Asset Model</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             <label for="email_address">Asset Model</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="assetmodel" class="form-control" placeholder="Enter asset assetmodel" v-model="assetmodel.model" required />
                                                        </div>
                                                        
                                                    </div>
                                                     <label for="email_address">Asset Category</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="assetmodel.assetcategory" @change="getManufacturers(assetmodel.assetcategory)" required>
                                                        		<option v-for="assetcategory in assetcategories" :value="assetcategory.id">{{assetcategory.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                      <label for="email_address">Asset Manufacturer</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="assetmodel.assetmanufacturer" required>
                                                        		<option v-for="assetmanufacturer in assetmanufacturers" :value="assetmanufacturer.id">{{assetmanufacturer.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                     <label for="email_address">Make Active</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="assetmodel.active" required>
                                                        		<option value="1">Yes</option>
                                                        		<option value="0">No</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           
						                           </div>
						                           
						                        </form>
						                        </div>
						                   </div>
						</div>



						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Edit Asset Manufacturer</h3>
						                        <div>
						                        	<form @submit.prevent="sendEditData()" autocomplete="off">
						                             <label for="email_address">Asset Model</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input ref="edit_model" type="text" name="assetmodel" class="form-control" placeholder="Enter asset assetmodel" v-model="editdata.name" required />
                                                        </div>
                                                        
                                                    </div>
                                                     <label for="email_address">Asset Category</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.assetcategory.id" @change="getManufacturers(editdata.assetcategory.id)" required>
                                                        		<option v-for="assetcategory in assetcategories" :value="assetcategory.id">{{assetcategory.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                      <label for="email_address">Asset Manufacturer</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.assetmanufacturer.id" required>
                                                        		<option :value="editdata.asset_manufacturer_id">{{editdata.assetmanufacturer.name}}</option>
                                                        		<option v-for="assetmanufacturer in assetmanufacturers" :value="assetmanufacturer.id">{{assetmanufacturer.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                     <label for="email_address">Make Active</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.active" required>
                                                        		<option value="1">Yes</option>
                                                        		<option value="0">No</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js';
import AssetModel from '../datatables/system-setup/AssetModel';
	export default{
		components: {
          assetmodel:AssetModel
        },
        created(){
        	axios.get('/api/get/assetcategory')
        		.then(response=>{
        
        			this.assetcategories = response.data
        		})
        		.catch(error=>{
        			
        		});


        		axios.post('/api/get/assetmanufacturer')
        		.then(response=>{
        			
        			this.raw_assetmanufacturers = response.data
        		})
        		.catch(error=>{
        			
        		});

        	
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				assetmodel:{
					model:'',
					active:'',
					assetcategory:'',
					assetmanufacturer:'',
				},
				editdata:{},
				raw_assetmanufacturers:{},
				assetcategories:{},
				assetmanufacturers:[],
				index:'',
				
			}
		},
		methods:{
			getManufacturers(value){
				this.assetmanufacturers = [];

				for(var i = 0; i < this.raw_assetmanufacturers.length; i++){
					if(this.raw_assetmanufacturers[i].asset_category_id == value){
						this.assetmanufacturers.push(this.raw_assetmanufacturers[i]);
					}
				}
				
			},
			closeModal(){
				
				this.modal = false;
			},
			closeEditModal(){
				//create another object to help retain initial value before editing
				Object.assign(this.editdata, this.beforeEditingCache);
				//create another object for the child object to prevent reference type(object feature) from editing the original value
				Object.assign(this.editdata.assetcategory, this.beforeEditingAssetcategory);
				//create another object for the child object to prevent reference type(object feature) from editing the original value
				Object.assign(this.editdata.assetmanufacturer, this.beforeEditingAssetmanufacturer);
				this.editmodal = false;
			},
			edit(value,index){
				this.index = index;
				this.editdata = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				this.beforeEditingAssetcategory = Object.assign({}, this.editdata.assetcategory);
				this.beforeEditingAssetmanufacturer = Object.assign({}, this.editdata.assetmanufacturer);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.assetmodel,constraints);
				if(errors){
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.active) ? errors.active.toString()+'</br>':'')+((errors.assetcategory) ? errors.assetcategory.toString()+'</br>':'')+((errors.assetmanufacturer) ? errors.assetmanufacturer.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/assetmodel',this.assetmodel)
						  .then(response=>{
						  	// console.log(response.data);
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	if(this.$store.state.assetmodels.length >= this.$store.state.assetmodels_pag.per_page && this.$store.state.assetmodels_pag.total >= 10){
						  		this.$store.state.assetmodels.splice(-1,1);
						  		this.$store.state.assetmodels.unshift(response.data[0]);
						  		this.$store.state.assetmodels_pag.next_page_url = this.$store.state.assetmodels_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.assetmodels_pag.total = this.$store.state.assetmodels_pag.total + 1;
						  		this.$refs.assetmodelDT.configPagination(this.$store.state.assetmodels_pag);

						  	}else{
						  		this.$store.state.assetmodels.unshift(response.data[0]);
						  		this.$store.state.assetmodels_pag.to = this.$store.state.assetmodels_pag.to + 1;
						  		this.$store.state.assetmodels_pag.from =  1;
						  		this.$store.state.assetmodels_pag.total = this.$store.state.assetmodels_pag.total + 1;
						  		this.$refs.assetmodelDT.configPagination(this.$store.state.assetmodels_pag);
						  	}
						  	
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	this.assetmodel = {};
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getEditConstraints();
				const errors = validate(this.editdata,constraints);
				
				if(errors){
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.assetcategory) ? errors.assetcategory.toString()+'</br>' : '')+((errors.active) ? errors.active.toString():''),
						  	  duration: 10000,
						  	});
				}else{
					console.log(this.editdata);
				axios.post('/api/edit/assetmodel',this.editdata)
						  .then(response=>{
						  	this.$store.state.assetmodels[this.index].assetcategory = response.data.assetcategory;
						  	this.$store.state.assetmodels[this.index].assetmanufacturer = response.data.assetmanufacturer;
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editrole={};
						  })
						  .catch(error=>{
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					'model':{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
					'active': {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					  },
					  'assetcategory':{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					},
					'assetmanufacturer':{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					},
				}
			},
			getEditConstraints(){
				return{
					name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
					
				}
			},
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>