<template>
	<div>
	    <div class="page-header">
	        <h2>Asset Manufacturers</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Asset Manufacturer</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 715px;">
	                <div class="body forum">
	                 	
						<assetmanufacturer ref="assetmanufacturerDT" @edit="edit"></assetmanufacturer>

						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Add Asset Manufacturer</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             <label for="email_address">Asset Manufacturer</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="role" class="form-control" placeholder="Enter asset manufacturer" v-model="assetmanufacturer.name" required />
                                                        </div>
                                                        
                                                    </div>
                                                     <label for="email_address">Asset Category</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="assetmanufacturer.assetcategory" required>
                                                        		<option v-for="assetcategory in assetcategories" :value="assetcategory.id">{{assetcategory.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                     <label for="email_address">Make Active</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="assetmanufacturer.active" required>
                                                        		<option value="1">Yes</option>
                                                        		<option value="0">No</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                           
						                        </form>
						                        </div>
						                   </div>
						</div>



						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Edit Asset Manufacturer</h3>
						                        <div>
						                        	<form @submit.prevent="sendEditData()" autocomplete="off">
						                            <label for="email_address">Asset Manufacturer</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="role" class="form-control" placeholder="Enter asset manufacturer" v-model="editdata.name" required />
                                                        </div>
                                                        
                                                    </div>
                                                     <label for="email_address">Asset Category</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.assetcategory.id" required>
                                                        		<option v-for="assetcategory in assetcategories " :value="assetcategory.id">{{assetcategory.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                     <label for="email_address">Make Active</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.active" required>
                                                        		<option value="1">Yes</option>
                                                        		<option value="0">No</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js';
import AssetManufacturer from '../datatables/system-setup/AssetManufacturer';
	export default{
		components: {
          assetmanufacturer:AssetManufacturer
        },
        created(){
        	axios.get('/api/get/assetcategory')
        		.then(response=>{
        
        			this.assetcategories = response.data
        		})
        		.catch(error=>{
        			// console.log(error);
        		})
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				assetmanufacturer:{
					name:'',
					active:'',
					assetcategory:''
				},
				editdata:{},
				assetcategories:{},
				index:'',
				
			}
		},
		methods:{
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editdata, this.beforeEditingCache);
				this.editmodal = false;
			},
			edit(value,index){
				this.index = index;
				this.editdata = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.assetmanufacturer,constraints);
				if(errors){
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.assetcategory) ? errors.assetcategory.toString()+'</br>' : '')+((errors.active) ? errors.active.toString():''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/assetmanufacturer',this.assetmanufacturer)
						  .then(response=>{
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	if(this.$store.state.assetmanufacturers.length >= this.$store.state.assetmanufacturers_pag.per_page && this.$store.state.assetmanufacturers_pag.total >= 10){
						  		this.$store.state.assetmanufacturers.splice(-1,1);
						  		this.$store.state.assetmanufacturers.unshift(response.data[0]);
						  		this.$store.state.assetmanufacturers_pag.next_page_url = this.$store.state.assetmanufacturers_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.assetmanufacturers_pag.total = this.$store.state.assetmanufacturers_pag.total + 1;
						  		this.$refs.assetmanufacturerDT.configPagination(this.$store.state.assetmanufacturers_pag);

						  	}else{
						  		this.$store.state.assetmanufacturers.unshift(response.data[0]);
						  		this.$store.state.assetmanufacturers_pag.to = this.$store.state.assetmanufacturers_pag.to + 1;
						  		this.$store.state.assetmanufacturers_pag.from =  1;
						  		this.$store.state.assetmanufacturers_pag.total = this.$store.state.assetmanufacturers_pag.total + 1;
						  		this.$refs.assetmanufacturerDT.configPagination(this.$store.state.assetmanufacturers_pag);
						  	}
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	this.assetmanufacturer = {};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getEditConstraints();
				const errors = validate(this.editdata,constraints);
				
				if(errors){
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.assetcategory) ? errors.assetcategory.toString()+'</br>' : '')+((errors.active) ? errors.active.toString():''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/assetmanufacturer',this.editdata)
						  .then(response=>{
						  	//Used to update changes in objects with related table //Willie ;)
						  	this.$store.state.assetmanufacturers[this.index].assetcategory = response.data;
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editdata={};
						  })
						  .catch(error=>{
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
					active: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					  },
					  assetcategory:{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					},
				}
			},
			getEditConstraints(){
				return{
					name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
					
				}
			},

		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>