<template>
	<div>
	    <div class="page-header">
	        <h2>User Departments</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Department</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 715px;">
	                <div class="body forum">
	                 	

					
						<department ref="departmentDT" @edit="edit"></department>


						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Add User Department</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             <label for="email_address">User Department</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="department" class="form-control" placeholder="Enter department" v-model="name" required />
                                                        </div>
                                                        
                                                    </div>
                                                     <label for="email_address">Make Active</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="active" >
                                                        		<option value="1">Yes</option>
                                                        		<option value="0">No</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>



						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Edit User Department</h3>
						                        <div>
						                        	<form @submit.prevent="sendEditData()" autocomplete="off">
						                             <label for="email_address">User Department</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="department" class="form-control" placeholder="Enter department" v-model="editrole.name" required />
                                                        </div>

                                                    </div>
                                                     <label for="email_address">Make Active</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editrole.active" >
                                                        		<option value="1">Yes</option>
                                                        		<option value="0">No</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js';
import Department from '../datatables/system-setup/Department';
	export default{
		components: {
          Department
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				name:'',
				active:'',
				editrole:{}
				
			}
		},
		methods:{
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editrole, this.beforeEditingCache);
				this.editmodal = false;
			},
			edit(value){
				
				this.editrole = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editrole);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate({name: this.$data.name, active: this.$data.active},constraints);
				if(errors){
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString() : '')+((errors.active) ? errors.active.toString():''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/departments',{name: this.name, active: this.active })
						  .then(response=>{
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	if(this.$store.state.departments.length >= this.$store.state.departments_pag.per_page && this.$store.state.departments_pag.total >= 10){
						  		this.$store.state.departments.splice(-1,1);
						  		this.$store.state.departments.unshift(response.data);
						  		this.$store.state.departments_pag.next_page_url = this.$store.state.departments_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.departments_pag.total = this.$store.state.departments_pag.total + 1;
						  		this.$refs.departmentDT.configPagination(this.$store.state.departments_pag);

						  	}else{
						  		this.$store.state.departments.unshift(response.data);
						  		this.$store.state.departments_pag.to = this.$store.state.departments_pag.to + 1;
						  		this.$store.state.departments_pag.from = 1;
						  		this.$store.state.departments_pag.total = this.$store.state.departments_pag.total + 1;
						  		this.$refs.departmentDT.configPagination(this.$store.state.departments_pag);
						  	}
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	this.name='';
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getConstraints();
				const errors = validate(this.editrole,constraints);
				
				if(errors){
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString() : '')+((errors.active) ? errors.active.toString():''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/departments',this.editrole)
						  .then(response=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editrole={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					active: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					  }
				}
			}
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>