<template>
	<div>
	    <div class="page-header">
	        <h2>Highlevel Project Phases</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Project Phase</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 715px;">
	                <div class="body forum">
	                 	
						<highlevelprojectphase ref="projectphaseDT" @edit="edit"></highlevelprojectphase>

						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Add Project Phase</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             <label for="email_address">Project Phase</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" placeholder="Enter Project Phase" v-model="projectphase.name" required />
                                                        </div>
                                                        
                                                    </div>
                                                     <label for="email_address">Department</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="projectphase.department" required>
                                                        		<option v-for="department in departments" :value="department.id">{{department.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                           
						                        </form>
						                        </div>
						                   </div>
						</div>



						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Edit Project Phase</h3>
						                        <div>
						                        	<form @submit.prevent="sendEditData()" autocomplete="off">

						                            <label for="email_address">Project Phase</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input ref="edit_model" type="text" class="form-control" placeholder="Enter Project Phase" v-model="editdata.name" required />
                                                        </div>
                                                        
                                                    </div>

                                                    <label for="email_address">Department</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.department.id" required>
                                                        		<option v-for="department in departments" :value="department.id">{{department.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js';
import highlevelprojectphase from '../datatables/system-setup/HighlevelProjectPhase';
	export default{
		components: {
          highlevelprojectphase
        },
        created(){
        	axios.get('/api/get/department')
        		.then(response=>{
        
        			this.departments = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

        	
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				projectphase:{
					name:'',
					department:'',
					
				},
				editdata:{},
				departments:{},
				index:'',
				
			}
		},
		methods:{
			closeModal(){
				
				this.modal = false;
			},
			closeEditModal(){
				//create another object to help retain initial value before editing
				Object.assign(this.editdata, this.beforeEditingCache);
				//create another object for the child object to prevent reference type(object feature) from editing the original value
				Object.assign(this.editdata.department, this.beforeEditingDepartment);
				//create another object for the child object to prevent reference type(object feature) from editing the original value
				this.editmodal = false;
			},
			edit(value,index){
				this.index = index;
				this.editdata = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				this.beforeEditingDepartment = Object.assign({}, this.editdata.department);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.projectphase,constraints);
				if(errors){
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.department) ? errors.department.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/highlevelprojectphase',this.projectphase)
						  .then(response=>{
						  
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	if(this.$store.state.highLevelProjectPhases.length >= this.$store.state.highLevelProjectPhases_pag.per_page && this.$store.state.highLevelProjectPhases_pag.total >= 10){
						  		this.$store.state.highLevelProjectPhases.splice(-1,1);
						  		this.$store.state.highLevelProjectPhases.unshift(response.data);
						  		this.$store.state.highLevelProjectPhases_pag.next_page_url = this.$store.state.highLevelProjectPhases_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.highLevelProjectPhases_pag.total = this.$store.state.highLevelProjectPhases_pag.total + 1;
						  		this.$refs.projectphaseDT.configPagination(this.$store.state.highLevelProjectPhases_pag);

						  	}else{
						  		this.$store.state.highLevelProjectPhases.unshift(response.data);
						  		this.$store.state.highLevelProjectPhases_pag.to = this.$store.state.highLevelProjectPhases_pag.to + 1;
						  		this.$store.state.highLevelProjectPhases_pag.from =  1;
						  		this.$store.state.highLevelProjectPhases_pag.total = this.$store.state.highLevelProjectPhases_pag.total + 1;
						  		this.$refs.projectphaseDT.configPagination(this.$store.state.highLevelProjectPhases_pag);
						  	}
						  	
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	// this.assetmodel = {};
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getEditConstraints();
				const errors = validate(this.editdata,constraints);
				
				if(errors){
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.department) ? errors.assetcategory.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
					// console.log(this.editdata);
				axios.post('/api/edit/highlevelprojectphase',this.editdata)
						  .then(response=>{
						  	this.$store.state.highLevelProjectPhases[this.index].department = response.data.department;
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editrole={};
						  })
						  .catch(error=>{
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					name:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					department:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
				}
			},
			getEditConstraints(){
				return{
					name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					department:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
					
				}
			},
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>