<template>
	<div>
	    <div class="page-header">
	        <h2>Materials And Services</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Material / Service</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 715px;">
	                <div class="body forum">
	                 	
						<materialservice ref="materialServiceDT" @edit="edit"></materialservice>

						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Add Material / Service</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             <label for="email_address">Material / Service</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="role" class="form-control" placeholder="Enter Material / Service" v-model="material_and_service.name" required />
                                                        </div>
                                                        
                                                    </div>
                                                     <label for="email_address">Material / Service Category</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="material_and_service.category" required>
                                                        		<option v-for="material_and_service_category in material_and_service_categories" :value="material_and_service_category.id">{{material_and_service_category.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                     <label for="email_address">Type</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="material_and_service.type" required>
                                                        		<option v-for="material_and_service_type in material_and_service_types" :value="material_and_service_type.id">{{material_and_service_type.name}}</option>
                                                        		
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                           
						                        </form>
						                        </div>
						                   </div>
						</div>



						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Edit Asset Manufacturer</h3>
						                        <div>
						                        	<form @submit.prevent="sendEditData()" autocomplete="off">
						                             <label for="email_address">Material / Service</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="role" class="form-control" placeholder="Enter Material / Service" v-model="editdata.name" required />
                                                        </div>
                                                        
                                                    </div>
                                                     <label for="email_address">Material / Service Category</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.category.id" required>
                                                        		<option v-for="material_and_service_category in material_and_service_categories" :value="material_and_service_category.id">{{material_and_service_category.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                     <label for="email_address">Type</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.type.id" required>
                                                        		<option v-for="material_and_service_type in material_and_service_types" :value="material_and_service_type.id">{{material_and_service_type.name}}</option>
                                                        		
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js';
import MaterialService from '../datatables/system-setup/MaterialService';
	export default{
		components: {
          materialservice:MaterialService
        },
        created(){
        	axios.get('/api/get/material_and_service')
        		.then(response=>{
        			this.material_and_service_categories = response.data
        		})
        		.then(error=>{
        			
        		});

        		axios.get('/api/get/material_and_service_type')
        		.then(response=>{
        			this.material_and_service_types = response.data
        		})
        		.then(error=>{
        			
        		})


        },
		data(){
			return{
				modal:false,
				editmodal:false,
				material_and_service:{
					name:'',
					type:'',
					category:''
				},
				editdata:{},
				material_and_service_categories:{},
				material_and_service_types:{},
				index: ''
				
			}
		},
		methods:{
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editdata, this.beforeEditingCache);
				Object.assign(this.editdata.type, this.beforeEditingType);
				Object.assign(this.editdata.category, this.beforeEditingCategory);
				this.editmodal = false;
			},
			edit(value,index){
				this.index = index;
				this.editdata = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				this.beforeEditingType = Object.assign({}, this.editdata.type);
				this.beforeEditingCategory = Object.assign({}, this.editdata.category);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.material_and_service,constraints);
				if(errors){
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.category) ? errors.category.toString()+'</br>' : '')+((errors.active) ? errors.active.toString():''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/material&service',this.material_and_service)
						  .then(response=>{
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	if(this.$store.state.materialServices.length >= this.$store.state.materialServices_pag.per_page && this.$store.state.materialServices_pag.total >= 10){
						  		this.$store.state.materialServices.splice(-1,1);
						  		this.$store.state.materialServices.unshift(response.data[0]);
						  		this.$store.state.materialServices_pag.next_page_url = this.$store.state.materialServices_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.materialServices_pag.total = this.$store.state.materialServices_pag.total + 1;
						  		this.$refs.materialServiceDT.configPagination(this.$store.state.materialServices_pag);

						  	}else{
						  		this.$store.state.materialServices.unshift(response.data[0]);
						  		this.$store.state.materialServices_pag.to = this.$store.state.materialServices_pag.to + 1;
						  		this.$store.state.materialServices_pag.from = 1;
						  		this.$store.state.materialServices_pag.total = this.$store.state.materialServices_pag.total + 1;
						  		this.$refs.materialServiceDT.configPagination(this.$store.state.materialServices_pag);
						  	}
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	this.material_and_service = {};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getEditConstraints();
				const errors = validate(this.editdata, constraints);
				
				if(errors){
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.assetcategory) ? errors.assetcategory.toString()+'</br>' : '')+((errors.active) ? errors.active.toString():''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/material&service',this.editdata)
						  .then(response=>{
						  	this.$store.state.materialServices[this.index].type = response.data.type;
						  	this.$store.state.materialServices[this.index].category = response.data.category;
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editdata={};
						  })
						  .catch(error=>{
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
					active: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					  },
					  category:{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					},
				}
			},
			getEditConstraints(){
				return{
					name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
					
				}
			},
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>