<template>
	<div>
	    <div class="page-header">
	        <h2>Project Phase Activities</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Activity</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                 	

					
						<projectphaseactivity ref="projectphaseactivityDT" @edit="edit"></projectphaseactivity>


						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%; width:730px">
						                    <div class="md-content">
						                        <h3>Add Activity</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                        	<div style="display:flex; justify-content:space-around;">
						                        		<label for="email_address">Project Phase</label>
						                        		<label for="email_address">Activity</label>
						                        	</div>
						                             
						                            <div v-for="(projectphaseactivity, i) in projectphaseactivities" style="display:flex; justify-content:space-between;">
                                                    <div class="form-group" style="margin-right:5px;">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="projectphaseactivity.projectphase" required>
                                                        		<option v-for="projectphase in projectphases" :value="projectphase.id">{{projectphase.name}}</option>
                                                        		
                                                        	</select>
                                                            
                                                        </div>
                                                        
                                                    </div>

                                                    
                                                     <div class="form-group" style="margin-left:5px;">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="projectphaseactivity.activity" required>
                                                        		<option v-for="activity in activities" :value="activity.id">{{activity.name}}</option>
                                                        		
                                                        	</select>
                                                            
                                                        </div>    
                                                    </div> 
                                                    <button @click.prevent="deleteRow(i)" v-if="projectphaseactivity.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;"><em class="material-icons md-8">delete</em></button>
                                                    </div>
                                                    <button @click.prevent="addRow()" class="btn btn-primary flexit"><em class="material-icons">add</em><span class="line">Add Activity</span></button>
                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>



						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Edit Project Phase</h3>
						                        <div>
						                        	<form @submit.prevent="sendEditData()" autocomplete="off">
						                            <div style="display:flex; justify-content:space-around;">
						                        		<label for="email_address">Project Phase</label>
						                        		<label for="email_address">Activity</label>
						                        	</div>
						                             
						                            <div style="display:flex; justify-content:space-between;">
                                                    <div class="form-group" style="margin-right:5px;">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.project_phase.id" required>
                                                        		<option v-for="projectphase in projectphases" :value="projectphase.id">{{projectphase.name}}</option>
                                                        		
                                                        	</select>
                                                            
                                                        </div>
                                                        
                                                    </div>

                                                    
                                                     <div class="form-group" style="margin-left:5px;">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.material_labour.id" required>
                                                        		<option v-for="activity in activities" :value="activity.id">{{activity.name}}</option>
                                                        		
                                                        	</select>
                                                            
                                                        </div>    
                                                    </div> 
                                                    
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import ProjectPhaseActivity from '../datatables/system-setup/ProjectPhaseActivity';
	export default{
		components: {
          projectphaseactivity:ProjectPhaseActivity
        },
        created(){
        	axios.get('/api/get/projectphase')
        		.then(response=>{
        			this.projectphases = response.data;
        		})
        		.catch(error=>{

        		});

    		axios.get('/api/get/service')
    		.then(response=>{
    			this.activities = response.data;
    		})
    		.catch(error=>{

    		});
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				projectphaseactivities: [
					{
						projectphase:'',
						activity:'',
						delete:false
					},
				],
				editdata:{},
				projectphases:{},
				activities:{},
				index:'',
				
			}
		},
		methods:{
			addRow() {
			     this.projectphaseactivities.push({
			       projectphase: '',
			       activity: '',
			       delete:true
			     });
			   },
			 deleteRow(index) {
			     this.projectphaseactivities.splice(index,1);
			   },
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editdata, this.beforeEditingCache);
				Object.assign(this.editdata.project_phase, this.beforeEditingProject_phase);
				Object.assign(this.editdata.material_labour, this.beforeEditingCacheMaterial_labour);
				this.editmodal = false;
			},
			edit(value,i){
				console.log(value);
				this.index = i;
				this.editdata = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				this.beforeEditingProject_phase = Object.assign({}, this.editdata.project_phase);
				this.beforeEditingCacheMaterial_labour = Object.assign({}, this.editdata.material_labour);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.projectphaseactivities,constraints);
				console.log(errors);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.projectphase) ? errors.projectphase.toString()+'</br>' : '')+((errors.activity) ? errors.activity.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/projectphaseactivities',{data:this.projectphaseactivities})
						  .then(response=>{
						  	console.log(response.data);
						  	var data = response.data;
						  	for (var i = 0; i < data.length; i++) {
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	if(this.$store.state.projectPhaseActivities.length >= this.$store.state.projectPhaseActivities_pag.per_page && this.$store.state.projectPhaseActivities_pag.total >= 10){
						  		this.$store.state.projectPhaseActivities.splice(-1,1);
						  		this.$store.state.projectPhaseActivities.unshift(data[i][0]);
						  		this.$store.state.projectPhaseActivities_pag.next_page_url = this.$store.state.projectPhaseActivities_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.projectPhaseActivities_pag.total = this.$store.state.projectPhaseActivities_pag.total + 1;
						  		this.$refs.projectphaseactivityDT.configPagination(this.$store.state.projectPhaseActivities_pag);

						  	}else{
						  		this.$store.state.projectPhaseActivities.unshift(data[i][0]);
						  		this.$store.state.projectPhaseActivities_pag.to = this.$store.state.projectPhaseActivities_pag.to + 1;
						  		this.$store.state.projectPhaseActivities_pag.from = 1;
						  		this.$store.state.projectPhaseActivities_pag.total = this.$store.state.projectPhaseActivities_pag.total + 1;
						  		this.$refs.projectphaseactivityDT.configPagination(this.$store.state.projectPhaseActivities_pag);
						  	}
						  }
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	this.projectphase={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getConstraints();
				const errors = validate(this.editdata,constraints);
				// const errors = null;
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.description) ? errors.description.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/projectphaseactivities',this.editdata)
						  .then(response=>{
						  	console.log(response.data);
						  	this.$store.state.projectPhaseActivities[this.index].project_phase = response.data.project_phase;
						  	this.$store.state.projectPhaseActivities[this.index].material_labour = response.data.material_labour;
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editdata={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{

					
				}
			}
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>