<template>
	<div>
	    <div class="page-header">
	        <h2>User Permissions for <span v-text="role_name"></span> Role</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>

	    
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">

	        	<div class="card">
	        	    <div class="body p-b-0">
	        	        <div class="row">
	        	            <div class="col-md-8">
	        	            	<button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	        	            </div>
	        	          
	        	        </div>
	        	    </div>
	        	</div>
	
	            <div class="card" style="min-height: 1000px;">
	                <div class="body forum">
	                 	
					 
					

					<div class="col-md-3 col-sm-6 col-xs-12" v-for="(permission, i) in user_permission">
                        <div class="card card-bordered">
                           
                            <div class="body" style="padding: 10px; text-transform: capitalize;" >
                               
                                <label class="eagle-check custom-checkbox">
                                    <input type="checkbox" class="eagle-check-input" true-value="1" false-value="0" v-model="user_permission[i]" />
                                    <span class="eagle-check-indicator"></span>
                                    <span class="eagle-check-description">{{i | capitalize }}</span>
                                </label>
                            </div>
                        </div>
                    </div>

					<button @click.prevent="sendData()" class="btn btn-info btn-lg">UpDate</button>
                       



	            </div>
			
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>

	export default{
		filters: {
		  capitalize: function (str) {
		  	let value = str.replace(/[^A-Z0-9]/ig, " ");
		    if (!value) return ''
		    value = value.toString()
		    return value.charAt(0).toUpperCase() + value.slice(1)
		  }
		},
		mounted(){
			
			axios.post('/api/get/role-permissions',{role_id: this.$route.params.id})
					.then(response=>{
						var array = response.data.role.name;
						var array2 = response.data;
						delete array2.role;
						
						this.user_permission=array2;
						this.role_name = array;

						

					})
					.catch(error=>{

					})
		},

		components: {
          
        },
		data(){
			return{
				user_permission:{},
				role_name:''
				
				
			}
		},
		methods:{
			previousPage(){
				this.$router.push({name: 'user-roles'});
			},
			closeModal(){
				this.modal = false;
			},
			sendData(){
			
				axios.post('/api/edit/permissions',{data: this.user_permission, role_id: this.$route.params.id})
						  .then(response=>{
						  	console.log(response.data);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				
				
			},
		
			
		},
		computed: {
            
        },
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
	
</style>