<template>
	<div>
	    <div class="page-header">
	        <h2>Vendor Categories</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Vendor Category</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                 	

					
						<vendorcategory ref="bankDT" @edit="edit"></vendorcategory>


						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Add Vendor Category</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             <label for="email_address">Vendor Category</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="bank" class="form-control" placeholder="Enter Vendor Category" v-model="name" required />
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>



						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Edit Vendor Category</h3>
						                        <div>
						                        	<form @submit.prevent="sendEditData()" autocomplete="off">
						                             <label for="email_address">Vendor Category</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="earning" class="form-control" placeholder="Enter Vendor Category" v-model="editbank.name" required />
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import VendorCategory from '../datatables/system-setup/VendorCategory';
	export default{
		components: {
          vendorcategory:VendorCategory
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				name:'',
				editbank:{}
				
			}
		},
		methods:{
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editbank, this.beforeEditingCache);
				this.editmodal = false;
			},
			edit(value){
				this.editbank = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editbank);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate({name: this.$data.name},constraints);
				
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: errors.name.toString(),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/vendorcategory',{name: this.name })
						  .then(response=>{
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	if(this.$store.state.vendorCategories.length >= this.$store.state.vendorCategories_pag.per_page && this.$store.state.vendorCategories_pag.total >= 10){
						  		this.$store.state.vendorCategories.splice(-1,1);
						  		this.$store.state.vendorCategories.unshift(response.data);
						  		this.$store.state.vendorCategories_pag.next_page_url = this.$store.state.vendorCategories_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.vendorCategories_pag.total = this.$store.state.vendorCategories_pag.total + 1;
						  		this.$refs.bankDT.configPagination(this.$store.state.vendorCategories_pag);

						  	}else{
						  		this.$store.state.vendorCategories.unshift(response.data);
						  		this.$store.state.vendorCategories_pag.to = this.$store.state.vendorCategories_pag.to + 1;
						  		this.$store.state.vendorCategories_pag.from = 1;
						  		this.$store.state.vendorCategories_pag.total = this.$store.state.banks_pag.total + 1;
						  		this.$refs.bankDT.configPagination(this.$store.state.vendorCategories_pag);
						  	}
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	this.name='';
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getConstraints();
				const errors = validate(this.editbank,constraints);
				// const errors = null;
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: errors.name.toString(),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/vendorcategory',this.editbank)
						  .then(response=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editbank={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					name:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					}
				}
			}
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>