<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="payrolls.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "payrolls"
                       :fields = "json_fields"
                       :name   = "pay_period.month.name+'\'s payroll.xls'"
                       page    = "archive_payroll">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "payrolls"
                       :fields = "json_fields"
                       type    = "csv"
                       :name    = "pay_period.month.name+'\'s payroll.csv'"
                       page    = "archive_payroll">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="payrolls.length > 0">
                <tr v-for="(payroll, i) in payrolls" :key="payroll.id">
                    <td>{{payroll.id}}</td>
                    <td>{{payroll.first_name}} {{payroll.last_name}}</td>
                    <td>{{addCommas(getPercentage(11,payroll.salary))}} </td>
                    <td>{{addCommas(getPercentage(9,payroll.salary))}} </td>
                    <td>{{addCommas(getPercentage(9.6,payroll.salary))}} </td>
                    <td>{{addCommas(getPercentage(11.8,payroll.salary))}} </td>
                    <td>{{addCommas(getPensionPercentage(29.6,payroll.salary))}} </td>
                    <td>{{addCommas(payroll.salary)}} </td>
                    <td>{{addCommas(( parseFloat(payroll.salary) + getEarnsOrDeducts(payroll.earnings)) - getEarnsOrDeducts(payroll.deductions) - getPensionPercentage(29.6,payroll.salary) - (payroll.tax.length > 0 ?  parseFloat(payroll.tax[0].amount) : 0 ))}} </td>
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                               
                               <li><a href="javascript:void(0);" @click.prevent="$emit('earnAndDeduct',payroll,i)"><i class="material-icons">edit</i>Earnings & Deductions</a></li>
                               <li><router-link :to="{ name: 'view-updatedpayment', params: { id: payroll.id, payperiod: payperiod_id } }"><i class="material-icons">payment</i>Make Payment</router-link></li> 

                               <li><router-link :to="{ name: 'print-updatedpayment', params: { id: payroll.id, payperiod: payperiod_id } }"><i class="material-icons">print</i>Print</router-link></li>
                               <!-- <li><a href="javascript:void(0);" @click.prevent="$emit('payment',payroll,i)"><i class="material-icons">payment</i>Make Payment</a></li> -->
                               <!-- <li><a href="javascript:void(0);" @click.prevent="$emit('print',payroll,i)"><i class="material-icons">print</i>Print</a></li> -->
                               
                           </ul>
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="payrolls.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="payrolls.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    mounted() {
        
            this.getProjects();

            this.payrolls.id = this.$route.params.id;
            axios.post('/api/get/payperiod',{id:this.$route.params.id})
            .then(response=>{
                this.pay_period = response.data;
            })
            .catch(error=>{
                console.log(error);
            });
        
        
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '8%', label: 'Staff ID', name: 'id', sortable: true},
            {width: '18%', label: 'Name', name: 'name', sortable: true},
            {width: '9.5%', label: 'Basic', name: 'basic', sortable: false},
            {width: '9.5%', label: 'Housing', name: 'housing', sortable: false},
            {width: '9.5%', label: 'Transport', name: 'transport', sortable: false},
            {width: '9.5%', label: 'Medicals', name: 'medicals', sortable: false},
            {width: '9.5%', label: 'Pension', name: 'pension', sortable: false},
            {width: '9.5%', label: 'Gross', name: 'gross', sortable: false},
            {width: '9.5%', label: 'Net Pay', name: 'net_pay', sortable: false},
            {width: '5%', label: 'Actions', name: 'actions', sortable: false},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = 1;
        });
        return {
            json_fields: {
              'Staff ID': 'id',
              'Name': 'name_x',
              'Basic': 'basic_x',
              'Housing': 'housing_x',
              'Transport': 'transport_x',
              'Medicals': 'medicals_x',
              'Pension': 'pension_x',
              'Gross': 'gross_x',
              'Net Pay': 'net_pay_x',
              },
            payperiod_id: this.$route.params.id,
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'asc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,
            pay_period:{
              month:{
                name:''
              }
            },
        }
    },
    methods: {
      pdfExport(){
          this.payrolls.page = 'archive_payroll';
          var vm = this;
          var columns = [
          {title:"ID", dataKey: "id" },
          {title:"Name", dataKey: "name_x" },
          {title:"Basic", dataKey: "basic_x" },
          {title:"Housing", dataKey: "housing_x" },
          {title:"Transport", dataKey: "transport_x" },
          {title:"Medicals", dataKey: "medicals_x" },
          {title:"Pension", dataKey: "pension_x" },
          {title:"Gross", dataKey: "gross_x" },
          {title:"Net Pay", dataKey: "net_pay_x" },
          ];

          var doc = new jsPDF('l','pt');
          doc.autoTable(columns, this.payrolls);
          doc.save(this.pay_period.month.name+'\'s payroll.pdf');
      },

      getEarnsOrDeducts(arrays){
        var sum = 0;

        arrays.forEach(array=>{
          if(array.payroll_id == this.$route.params.id){
          sum += (arrays.length > 0 ?  parseFloat(array.amount) : 0);
          }
        });

        return sum;
      },
        getPercentage(value,salary){
          var result = parseFloat((value * salary)/100 );
          return  result;
        },
        getPensionPercentage(value,salary){
          //value = basic + housing + transport
          var result = parseFloat((value * salary)/100 );
          result = parseFloat((8 * result)/100 );
          return  result;
        },

        addCommas(x){
          x = (Math.round(x * 100)/ 100).toFixed(2);
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },

        getProjects(url = '/api/get/user/salary/all') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadPayrolls", data);
                    
                        this.configPagination(this.$store.state.payrolls_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        showId(value){
          alert(value);
        }
    },
    computed:{
      payrolls(){
        return this.$store.state.payrolls;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>