<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="vendors.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "vendors"
                       :fields = "json_fields"
                       name    = "Service vendors.xls"
                       page    = "service_vendors">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "vendors"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Service vendors.csv"
                       page    = "service_vendors">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="vendors.length > 0">
                <tr v-for="(vendor, i) in vendors" :key="vendor.id">
                    <td>{{vendor.id}}</td>
                    <td>{{vendor.name}}</td>
                    <td>{{vendor.category.name}}</td>
                    <td>{{vendor.phone}}</td>
                    <td>{{vendor.city.name}}</td>
                    <td style="padding-left: 3.7% !important;">
                      <star-rating v-model="vendor.rating" :read-only = "true" :show-rating = "false" :star-size="20"></star-rating>
                    </td>
                    <td><div v-if="vendor.flagged==0" class="btn btn-info btn-sm">Unflagged</div>
                      <div v-else class="btn btn-warning btn-sm">Flagged</div></td>
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                              
                               <li><router-link :to="{ name: 'edit-vendor', params: { id: vendor.id } }"><i class="material-icons">edit</i>View/Edit</router-link></li>

                               <li style="cursor:pointer"><a @click="$emit('confirmDelete', {id: vendor.id, index :i})"><i class="material-icons">edit</i>Delete</a></li>

                               <li v-if="!vendor.flagged" style="cursor:pointer"><a @click="flag(vendor.id, i)" ><i class="material-icons">edit</i>Flag</a></li>
                               <li v-else style="cursor:pointer"><a @click="unflag(vendor.id, i)" ><i class="material-icons">edit</i>Unflag</a></li>

                               
                           </ul>
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="vendors.length < 1" style="text-align:center;">
          No registered service vendor.
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="vendors.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../Datatable.vue';
import Pagination from '../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
import StarRating from 'vue-star-rating';
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel, StarRating },
    created() {
        
            this.getProjects();
       
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '5%', label: 'ID', name: 'id', sortable: true },
            {width: '19%', label: 'Vendor Name', name: 'name', sortable: true},
            {width: '19%', label: 'Vendor Category', name: 'category_id', sortable: true},
            {width: '19%', label: 'Telephone', name: 'phone', sortable: true},
            {width: '11%', label: 'City', name: 'city_id', sortable: true},
            {width: '16%', label: 'Rating', name: 'rating', sortable: true},
            {width: '8%', label: 'Status', name: 'flagged', sortable: true},
            {width: '8%', label: 'Actions', name: 'actions', sortable: false},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id',
                'Vendor name': 'name',
                'Category': 'category.name',
                'Telephone': 'phone',
                'City': 'city.name',
                'Rating': 'rating',
                'Status': 'status_x',
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,

        }
    },
    methods: {

        pdfExport(){
            this.vendors.page = "service_vendors";
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Vendor name", dataKey: "name" },
            {title:"Category", dataKey: "category.name" },
            {title:"Telephone", dataKey: "phone" },
            {title:"City", dataKey: "city.name" },
            {title:"Rating", dataKey: "rating" },
            {title:"Status", dataKey: "status_x" },
            ];

            var doc = new jsPDF('p','pt');
            doc.autoTable(columns, this.vendors);
            doc.save('Service vendors.pdf');
        },
        getProjects(url = '/api/vendor') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                  // console.log(response.data.data);
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadVendor", data);
                    
                        this.configPagination(this.$store.state.vendors_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                  console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        showId(value){
          alert(value);
        },
        deleter(vendorId, index){

          axios.post('/api/vendor/delete',{vendorId :vendorId})
               .then(response =>{
                  this.$store.state.vendors.splice(index,1);//At position, index, remove one item
                  this.$store.state.vendors_pag.total = this.$store.state.vendors_pag.total - 1;
                  this.$store.state.vendors_pag.to -= 1;
                  this.configPagination(this.$store.state.vendors_pag);

                  this.$notify({
                  group: 'foo',
                  type: 'success',
                  title: 'Notification',
                  text: 'Deleted',
                  duration: 10000,
                });
               })
               .catch(error =>{
                console.log(error);
               })
        },
        flag(vendorId, index){
            
          axios.post('/api/vendor/flag',{vendorId :vendorId})
          .then(response=>{
            this.$store.state.vendors[index].flagged = 1;
            this.$notify({
                  group: 'foo',
                  type: 'success',
                  title: 'Notification',
                  text: 'Flagged!',
                  duration: 10000,
                });
          })
          .catch(error =>{
            console.log(error);
          });
        },
        unflag(vendorId, index){
            
          axios.post('/api/vendor/unflag',{vendorId :vendorId})
          .then(response=>{
            this.$store.state.vendors[index].flagged = 0;
            this.$notify({
                  group: 'foo',
                  type: 'success',
                  title: 'Notification',
                  text: 'Unflagged!',
                  duration: 10000,
                });
          })
          .catch(error =>{
            console.log(error);
          });
        },

    },
    computed:{
      vendors(){
        return this.$store.state.vendors;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>