<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="vendorspricing.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "vendorspricing"
                       :fields = "json_fields"
                       name    = "Vendor pricings.xls"
                       page    = "vendor_pricing">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "vendorspricing"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Vendor pricings.csv"
                       page    = "vendor_pricing">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="vendorspricing.length > 0">
                <tr v-for="(vendorpricing, i) in vendorspricing" :key="vendorpricing.id">
                    <td>{{vendorpricing.id}}</td>
                    <td>{{vendorpricing.material_and_service.name}}</td>
                    <td>{{ addCommas(vendorpricing.cost)}}</td>
                    <td>
                      <span v-if="vendorpricing.material_and_service.service_type_id ==1">Material</span>
                      <span v-else>Service</span>

                    </td>
                    <td>{{vendorpricing.vendor.name}}</td>
                    <td>{{vendorpricing.vendor.phone}}</td>
                    <td>{{vendorpricing.vendor.city.name}}</td>
                    
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="vendorspricing.length < 1" style="text-align:center;">
          No registered vendor pricing.
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="vendorspricing.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../Datatable.vue';
import Pagination from '../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    mounted() {
        
            this.getProjects();
       
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '5%', label: 'ID', name: 'id', sortable: true },
            {width: '19%', label: 'Service Name', name: 'material_and_service.name', sortable: true},
            {width: '18%', label: 'Cost', name: 'cost', sortable: true},
            {width: '18%', label: 'Type', name: 'material_and_services.service_type_id', sortable: true},
            {width: '20%', label: 'Vendor', name: 'vendors.name', sortable: true},
            {width: '10%', label: 'Phone', name: 'vendors.phone', sortable: true},
            {width: '10%', label: 'Location', name: 'vendors.city_id', sortable: true},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id',
              'Service name': 'material_and_service.name',
              'Cost' : 'cost_x',
              'Type' : 'type_x',
              'Vendor' : 'vendor.name',
              'Phone' : 'vendor.phone',
              'Location' : 'vendor.city.name'
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,

        }
    },
    methods: {

        pdfExport(){
            this.vendorspricing.page ="vendor_pricing"
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Service name", dataKey: "material_and_service.name" },
            {title:"Cost", dataKey: "cost_x" },
            {title:"Type", dataKey: "type_x" },
            {title:"Vendor", dataKey: "vendor.name" },
            {title:"Phone", dataKey: "vendor.phone" },
            {title:"Location", dataKey: "vendor.city.name" }
            ];

            var doc = new jsPDF('p','pt');
            doc.autoTable(columns, this.vendorspricing);
            doc.save('Vendor pricing.pdf');
        },

        addCommas(x){
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },

        getProjects(url = '/api/vendorpricing') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                  // console.log(response.data.data);
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadVendorPricing", data);
                      // console.log(this.$store.state.vendorspricing);
                        this.configPagination(this.$store.state.vendorspricing_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                  console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        showId(value){
          alert(value);
        },
    },
    computed:{
      vendorspricing(){
        return this.$store.state.vendorspricing;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>