<template>
	<div>
	    <div class="page-header">
	        <h2>Invoices</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="makeProjects();" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Invoice</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                 	

					
						<invoice ref="pageDT" @topup="topup" @newItem="newItem"></invoice>


						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Add New Invoice</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">

						                        	
						                             <label for="email_address">Client</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="invoice.client" required>
                                                        		<option v-for="client in clients" :value="client.id">{{client.firstname}} {{client.lastname}} {{client.company}}</option>
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    
                                                    
						                             <label for="email_address">Project</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="invoice.project" required>
                                                        		<option v-for="project in makeProjects()" :value="project.id">{{project.name}}</option>
                                                        	</select>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Date</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                    		<datetime type="date" v-model="invoice.start_date"></datetime>
                                                    		<!-- <datetime type="datetime" v-model="assignasset.start_time" use12-hour></datetime> -->
                                                        	
                                                            
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Due Date</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                    		<datetime type="date" v-model="invoice.due_date"></datetime>
                                                        	
                                                            
                                                        </div>
                                                    </div>
                                                   

						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>



						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content" style="font-size:16px;">
						                        <h3>Top Up Recievables</h3>
						                        <div>
						                        	<form @submit.prevent="sendTopUpData()" autocomplete="off">
						                            
                                                    <label for="email_address">Payment Date</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <datetime type="date" v-model="recievables.date"></datetime>
                                                        </div>
                                                    </div>
													
													<label for="email_address">Recievables Category</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        <select class="form-control" v-model="recievables.paymentcategory">
                                                        	<option v-for="paymentcategory in paymentcategories" :value="paymentcategory.id">{{paymentcategory.name}} </option>
                                                        </select>
                                                        </div>
                                                    </div>

                                                     <label for="email_address">Payment Method</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="" name="" class="form-control" v-model="recievables.payment_method">
                                                        </div>
                                                    </div> 

                                                    <label for="email_address">Amount</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="" name="" class="form-control" v-model="recievables.amount">
                                                        </div>
                                                    </div>


                                                    <label for="email_address">Recieved By</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        <select class="form-control" v-model="recievables.recieved_by" >
                                                        	<option v-for="user in users" :value="user.id">{{user.last_name}} {{user.first_name}}</option>
                                                        </select>
                                                        </div>
                                                    </div> 

                                                    <label for="email_address">Account To Topup</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        <select class="form-control" v-model="recievables.bank_account" >
                                                        	<option v-for="bankaccount in bankaccounts" :value="bankaccount.id">{{bankaccount.account_name}} {{bankaccount.account_number}}</option>
                                                        </select>
                                                        </div>
                                                    </div>

													<label for="email_address">Notes</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        <textarea class="form-control" v-model="recievables.notes"></textarea>
                                                        </div>
                                                    </div>

						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


							<div v-if="addItemModal" class="md-modal md-effect-2 md-show" style="left:54%;">
								                    <div class="md-content" style="font-size:15px;">
								                        <h3>Add Material Or Service</h3>
								                        <div>
								                        	<form @submit.prevent="addToInvoiceData()" autocomplete="off">

										

		                                                     <label for="email_address">Material Or Service</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <select class="form-control" v-model="new_Item.material_or_service" >
		                                                        		<option v-for="material_and_service in material_and_services" :value="material_and_service.id">{{material_and_service.name}}</option>
		                                                        	</select>
		                                                        </div>
		                                                    </div>


		                                                    <label for="email_address">Quantity</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <input type="" name="" class="form-control" v-model="new_Item.quantity" @keyup="addInvoice_multiply()">
		                                                        </div>
		                                                    </div>

		                                                    <label for="email_address">Unit Price</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <input type="" name="" class="form-control" v-model="new_Item.unit_price" @keyup="addInvoice_multiply()">
		                                                        </div>
		                                                    </div>

		                                                    <label for="email_address">Total Price</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <input type="" name="" class="form-control" v-model="new_Item.total_price" readonly>
		                                                        </div>
		                                                    </div>


								                           <div class="mfooter">
								                           	<button class="btn btn-info">Submit</button>
								                           	<button @click.prevent="addItemModal = !addItemModal" class="btn btn-danger">Close</button>
								                           	
								                           </div>
								                            
								                        </form>
								                        </div>
								                   </div>
								</div>



	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="addItemModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import Invoice from '../../datatables/finance-administration/invoice/Invoice.vue';
	export default{
		components: {
          Invoice
        },
        mounted(){
 
        	

        		axios.get('/api/get/client/all')
        		.then(response=>{
        			this.clients = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

        		axios.post('/api/get/user/all')
        		.then(response=>{
        			this.users = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

				axios.get('/api/getAllProjects')
	        		.then(response=>{
	        			this.projects = response.data
	        		})
	        		.catch(error=>{
	        			console.log(error);
	        		});

				axios.get('/api/getInvoice')
	        		.then(response=>{
	        			this.invoices = response.data
	        		})
	        		.catch(error=>{
	        			console.log(error);
	        		});

        		axios.get('/api/bankaccounts')
        		.then(response=>{
        			this.bankaccounts = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});


				axios.get('/api/get/paymentcategories')
	        		.then(response=>{
	        			this.paymentcategories = response.data
	        		})
	        		.catch(error=>{
	        			console.log(error);
	        		});
			axios.get('/api/get-all/material_and_service')
	        		.then(response=>{
	        			
	        			this.material_and_services = response.data
	        		})
	        		.catch(error=>{
	        			console.log(error);
	        		});


	        	// this.makeProjects();

        },
		data(){
			return{
				modal:false,
				editmodal:false,
				addItemModal:false,
				invoice:{
					client: '',
					project: '',
					start_date: '',
					due_date: '',
				},
				topups:{},
				recievables:{
					paymentcategory:'',
					recieved_by:'',
					bank_account:'',
				},
				new_Item:{
					invoice_id:'',
					material_or_service:'',
					quantity:'',
					unit_price:'',
					total_price:''

				},
				material_and_services:{},
				clients:{},
				users:{},
				paymentcategories:{},
				bankaccounts:{},
				projects:[],
				invoices:[],
				index:'',
				watcher: true,
				
			}
		},
		watch: {
            'recievables.amount': function(newValue){
            	if(this.watcher && this.recievables.amount){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.recievables.amount = result);
        	  }
        	},
        	'new_Item.quantity': function(newValue){
            	if(this.new_Item.quantity){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.new_Item.quantity = result);
        	  }	
        	}, 
        	'new_Item.unit_price': function(newValue){
            	if(this.new_Item.unit_price){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.new_Item.unit_price = result);
        	  }	
        	},
          },
		methods:{
			addInvoice_multiply(){
				this.new_Item.total_price = (parseFloat(this.new_Item.quantity.replace(/,/g, '')) * parseFloat(this.new_Item.unit_price.replace(/,/g, ''))).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			},
			makeProjects(){
				this.modal = true;
				let projects = [];
				this.invoices.forEach((invoice)=>{

					this.projects.forEach((project)=>{
					// console.log(project.id);

					
						if(project.id == invoice.project_id){
							// new_projects.push(project);\
							var id = this.projects.indexOf(project);
							this.projects.splice(id,1);
							// console.log('yea');
						}
					});
				});

				return this.projects;
				
			},
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.recievables, this.beforeEditingCache);
				this.editmodal = false;
			},
			topup(value,index){
				this.watcher = false;
				this.recievables={};

				this.index = index;
				this.topups = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.recievables);
				this.watcher = true;
				
			},
			newItem(value,index){
				// this.watcher = false;
				// this.recievables={};

				this.index = index;
				this.new_Item.invoice_id = value.id;
				this.addItemModal = true;
				// this.beforeEditingCache = Object.assign({}, this.recievables);
				// this.watcher = true;
				
			},
			sendData(){

				const constraints = this.getConstraints();
				const errors = validate(this.invoice,constraints);
			
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.client) ? errors.client.toString()+'</br>' : '')+((errors.project) ? errors.project.toString()+'</br>':'')+((errors.start_date) ? errors.start_date.toString()+'</br>':'')+((errors.due_date) ? errors.due_date.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/invoice',this.invoice)
						  .then(response=>{

						  	// console.log(response.data);
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	if(this.$store.state.invoice.length >= this.$store.state.invoice_pag.per_page && this.$store.state.invoice_pag.total >= 10){
						  		this.$store.state.invoice.splice(-1,1);
						  		this.$store.state.invoice.unshift(response.data[0]);
						  		this.$store.state.invoice_pag.next_page_url = this.$store.state.invoice_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.invoice_pag.total = this.$store.state.invoice_pag.total + 1;
						  		this.$refs.pageDT.configPagination(this.$store.state.invoice_pag);

						  	}else{
						  		this.$store.state.invoice.unshift(response.data[0]);
						  		this.$store.state.invoice_pag.to = this.$store.state.invoice_pag.to + 1;
						  		this.$store.state.invoice_pag.from = 1;
						  		this.$store.state.invoice_pag.total = this.$store.state.invoice_pag.total + 1;
						  		this.$refs.pageDT.configPagination(this.$store.state.invoice_pag);
						  	}
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	this.invoice={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendTopUpData(){

				this.recievables.invoice_id = this.topups.id;
				this.recievables.project_id = this.topups.project_id;

				const constraints = this.getCreateConstraints();
				const errors = validate(this.recievables,constraints);
				// const errors = null;
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.date) ? errors.date.toString()+'</br>' : '')+((errors.paymentcategory) ? errors.paymentcategory.toString()+'</br>':'')+((errors.payment_method) ? errors.payment_method.toString()+'</br>':'')+((errors.amount) ? errors.amount.toString()+'</br>':'')+((errors.recieved_by) ? errors.recieved_by.toString()+'</br>':'')+((errors.bank_account) ? errors.bank_account.toString()+'</br>':'')+((errors.notes) ? errors.notes.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
					// this.watcher = false;
				axios.post('/api/add/recievable',this.recievables)
						  .then(response=>{
						  	
						  	this.$store.state.invoice[this.index].payment.push(response.data[0]);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	// this.recievables.amount = 0;
						  	// this.watcher = true;
						  	
						  })
						  .catch(error=>{
						  	// this.watcher = true;
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });


				}
				
			},

			addToInvoiceData(){
				const constraints = this.getAddNewItemConstraints();
				const errors = validate(this.new_Item,constraints);
				
				
				if(errors){
					console.log(errors);
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.quantity) ? errors.quantity.toString()+'</br>' : '')+((errors.material_or_service) ? errors.material_or_service.toString()+'</br>':'')+((errors.unit_price) ? errors.unit_price.toString()+'</br>':'')+((errors.total_price) ? errors.total_price.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/new-item',this.new_Item)
						  .then(response=>{
						  	
						  	this.$store.state.invoice[this.index].details.push(response.data[0])
						
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.addItemModal = false;
						  	this.new_item = {};
						  
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getAddNewItemConstraints(){
				return{
					material_or_service:{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
						
					},
					quantity:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					unit_price:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
					total_price:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
				}
			},
			getConstraints(){
				return{
					client:{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
						
					},
					project:{
						// presence:{
						// 	allowEmpty: false,
						// 	message:"can't be empty"
						// },
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
						
					},
					start_date:{
						datetime: {
					      dateOnly: true,
					      message: "invalid Date "
					    }
						
					},
					due_date:{
						datetime: {
					      dateOnly: true,
					      message: "invalid Date "
					    }
						
					},
				}
			},
			getCreateConstraints(){
				return{
					date:{
						datetime: {
					      dateOnly: true,
					      message: "invalid Date "
					    }
						
					},
					paymentcategory:{
						
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
						
					},
					payment_method:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
					},
					amount:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
					},
					recieved_by:{
						
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
					},
					bank_account:{
						
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
					},
					notes:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
					}
				
				}
			}
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>