<template>
	<div>
	    <div class="page-header">
	        <!-- <h2>Notifications Subscription for <span v-text="role_name"></span> Role</h2> -->
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>

	    
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">

	        	<div class="card">
	        	    <div class="body p-b-0">
	        	        <div class="row">
	        	            <div class="col-md-8">
	        	               <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	        	            </div>
	        	          
	        	        </div>
	        	    </div>
	        	</div>
	
	            <div class="card" style="min-height: 700px;">
	                <div class="body forum">
	                 	
					  <div class="modal-body" style="padding:5%; height: auto; overflow-y: scroll;" id="printable">


                <div v-for="invoice in invoices" class="row" >
                <div class="col-xs-9" style="height:70px"></div> 
                <div class="col-xs-3" style="height:70px">
                    <!-- <img src="{{URL::to('images/unpaid.PNG')}}"  class="img-responsive"> -->
                </div>
                    <div class="col-xs-4 ">
                        <!-- <img src="{{URL::to('images/logo.png')}}" style="height:100px; " class="img-responsive"> -->
                    </div>
                    <div class="col-xs-5 pull-right" style="text-align:right;margin-top:4%; padding-right:8%">
                        <div style="font-size:17px; ">
                         <h4><b>Financial Services</b></h4></div>
                         <b>  
                            Phone (Africa): +234 814 990-6811 <br>
                            Phone (North America): +1 (888) 483-0133 <br>
                            http://www.rytegate.com </b>
                    </div>

                    <div class="col-xs-11" style="height:90px;margin-top:2%; background-color:#eee !important; padding-top:1%;
                    -webkit-print-color-adjust: exact;padding-left:3%">
                       <b> Project: <span id="projectname">{{invoice.project.name}}</span> </b> <br>
                       <b> Invoice #<span id="print_id">INV-{{invoice.id}}</span> </b> <br>
                        Invoice Date: <span id="print_invoice_id">{{makeMoment(invoice.date)}}</span> <br>
                        Due Date: <span id="print_due">{{makeMoment(invoice.due_date)}}</span> <br>
                    </div>

                     <div class="col-xs-11 " style="height:95px;margin-top:2%; padding-top:1%;padding-left:3%">
                       <b> Invoiced To </b> <br>
                         <span id="invoicee">{{invoice.client.lastname}} {{invoice.client.firstname}}</span> <br> <span id="company">{{invoice.client.company}}</span> <br>
                        <span id="invoicee_address">{{invoice.client.address}}</span>, <span id="invoicee_city">{{invoice.client.city.name}}</span> <br>
                        <span id="invoicee_state">{{invoice.client.state.name}}</span>, <br>
                        <span id="invoicee_country">{{invoice.client.country.name}}</span>
                    </div>

                    <div class="col-xs-11  zoom" style="min-height:100px;margin-top:2%; padding-top:1%;">
                        <table class="table table-stripped table-bordered text-center">
                            <tr>
                                <th  style="background:#eee !important; -webkit-print-color-adjust: exact;"> Description </th>
                                <th class="text-center" style="background:#eee !important; -webkit-print-color-adjust: exact;"> Total </th>
                            </tr>
                            <tbody class="print_items">
								<tr v-for="individual in invoice.individualprojectphases">
									<div v-for="labour in individual.phase_labour">
										<td>{{labour.material_and_service.name}}</td>
										<!-- <td>{{labour.amount * labour.quantity}}</td> -->
									</div>

									<!-- <div v-for="material in individual.phase_material">
										<td>{{material.material_and_service.name}}</td>
										<td>{{material.amount * labour.quantity}}</td>
									</div> -->
									
								</tr>
                            </tbody>

                        </table>

                    </div>

                    <div class="col-xs-11 " style="height:100px;margin-top:2%; padding-top:1%;margin-bottom:2%">
                       <b> Transactions </b> <br> <br>
                          <table class="table table-stripped table-bordered text-center">
                            <tr >
                                <th  style="background:#eee !important; -webkit-print-color-adjust: exact;"> Transaction Date </th>
                                <th style="background:#eee !important; -webkit-print-color-adjust: exact;"> Gateway </th>
                                <th style="background:#eee !important; -webkit-print-color-adjust: exact;"> Transaction </th>
                                <th style="background:#eee !important; -webkit-print-color-adjust: exact;"> Amount </th>
                            </tr>
                            <tbody class="transaction_items">

                            </tbody>

                        </table>

                       </div>


                </div>




        </div>
					
					<!-- <div class="col-md-3 col-sm-6 col-xs-12" v-for="(permission, i) in user_notifications">
                        <div class="card card-bordered">
                           
                            <div class="body" style="padding: 10px; text-transform: capitalize;" >
                               
                                <label class="eagle-check custom-checkbox">
                                    <input type="checkbox" class="eagle-check-input" true-value="1" false-value="0" v-model="user_notifications[i]" />
                                    <span class="eagle-check-indicator"></span>
                                    <span class="eagle-check-description">{{i | capitalize }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
 -->
					<button @click.prevent="sendData()" class="btn btn-info btn-lg">UpDate</button>



	            </div>
			
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import moment from 'moment';
	export default{
		filters: {
		  capitalize: function (str) {
		  	let value = str.replace(/[^A-Z0-9]/ig, " ");
		    if (!value) return ''
		    value = value.toString()
		    return value.charAt(0).toUpperCase() + value.slice(1)
		  }
		},
		mounted(){
			
			axios.post('/api/invoice/print',{invoice_id: this.$route.params.id})
					.then(response=>{
						console.log(response.data[0]);
						this.invoices = response.data;
						this.getMaterialnService(response.data[0]);
					})
					.catch(error=>{

					})
		},

		components: {
          
        },
		data(){
			return{
				invoices:[],
				invoiceMaterials_n_Services:[],
				
				
			}
		},
		methods:{
			getMaterialnService(arrs){
          		let new_labour_data = [];
          		let new_service_data = [];
          		arrs.project.individualprojectphases.forEach(arr=>{
          			arr.phase_labour.forEach(data=>{
          				new_labour_data.push(data.amount);
          				new_labour_data.push(data.quantity);
          				new_labour_data.push(data.material_and_service);
          				this.invoiceMaterials_n_Services.push(new_labour_data);
          			});
          			arr.phase_material.forEach(data=>{
          				new_service_data.push(data.amount);
          				new_service_data.push(data.quantity);
          				new_service_data.push(data.material_and_service);
          				this.invoiceMaterials_n_Services.push(new_service_data);
          			});
          		});
          		// console.log(this.invoiceMaterials_n_Services);

          		return this.invoiceMaterials_n_Services;
        	},
        	makeMoment(value){
          		return moment(value).format('MMMM Do YYYY');
        	},
			previousPage(){
				this.$router.push({name: 'user-roles'});
			},
			closeModal(){
				this.modal = false;
			},
			sendData(){
			
				axios.post('/api/edit/role-notifications',{data: this.user_notifications, role_id: this.$route.params.id})
						  .then(response=>{
						  	console.log(response.data);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				
				
			},
		
			
		},
		computed: {
            
        },
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
	
</style>