<style lang="scss" scoped>
.pagination {
    justify-content: flex-end !important;
    color:#000;
    .page-stats {
        align-items: center;
        margin-right: 5px;

    }
    a,i {
        color: #000 !important;
        cursor: pointer;
    }
}
</style>

<template>
    <!-- <nav class="pagination" v-if="!client"> -->
        <nav class="pull-right" aria-label="Page navigation example">
        <ul class="pagination">
        <!-- <span class="page-stats" tabindex="-1">{{pagination.from}} - {{pagination.to}} of {{pagination.total}}</span> -->
        <!-- <a v-if="pagination.prevPageUrl" class="button is-small pagination-previous" @click="$emit('prev');">
            Prev
        </a> -->
        <li v-if="pagination.prevPageUrl" @click.prevent="$emit('prev');" class="page-item" style="background:#00B0E4;">
            <a class="page-link" href="#" style="background:#00B0E4; color:#fff !important;">Previous</a>
        </li>
        <!-- <a class="button is-small pagination-previous" v-else :disabled="true">
           Prev
        </a> -->

        <li v-else class="page-item disabled"  @click.prevent>
              <a class="page-link" href="#" tabindex="3">Previous</a>
        </li>

        <li class="page-item" @click.prevent>
              <a class="page-link" href="#">{{pagination.from}} - {{pagination.to}} of {{pagination.total}}</a>
        </li>

       <!--  <a v-if="pagination.nextPageUrl" class="button is-small pagination-next" @click="$emit('next');">
            Next
        </a> -->
        <li v-if="pagination.nextPageUrl" @click.prevent="$emit('next');" class="page-item">
            <a class="page-link" href="#" style="background:#00B0E4; color:#fff !important;">Next</a>
        </li>
       <!--  <a class="button is-small pagination-next" v-else :disabled="true">
            Next
        </a> -->
        <li v-else class="page-item disabled" @click.prevent >
              <a class="page-link" href="#" tabindex="3">Next</a>
        </li>
        </ul>
    </nav>


</template>

<script>
    export default {
        props: ['pagination']
    }
</script>