<template>
    <div class="table-responsive-sm">
    <table class="table table-striped">
        <thead style="background:#00b0e4;">
            <tr>
                <th v-for="column in columns" :key="column.name" @click="(column.sortable)?emitSomething(column.name):''"
                    :class="(column.sortable)?(sortKey === column.name ? (sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc') : 'sorting'):'' "
                    :style="'width:'+column.width+';'+'cursor:pointer;'"
                    v-if="check(column)">
                    {{column.label}}
                </th>
            </tr>
        </thead>
        <slot></slot>
    </table>
  
    </div>
</template>

<script>
    export default {
        props: ['columns', 'sortKey', 'sortOrders'],
        mounted(){
         axios.post('/api/get/project',{id: this.$route.params.id})
                .then(response=>{
                    this.project = response.data;//Used for edit
                })
                .catch(error=>{
                    console.log(error);
                });
        },
        data(){
          return {
            project:{}
          }
        },

        methods:{
            emitSomething(value){
                if(value !=="actions"){
                    this.$emit('sort', value);
                }
            },

            check(column){
              /*if(column.name == 'cost' && this.project.type){
                return true
              }else if(column.name == 'cost' && !this.project.type){
                return false
              }else{
                return true
              }*/
              if(column.name == 'cost' && !this.project.type){
                return false
              }else{
                return true
              }
            }
        },
    };
</script>

<style scoped>
    .projects .table {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  text-transform: capitalize;
  
}

.table th{
  text-align: center;
  color: #fff;
}

.projects .table .sorting {
  background-image: url("../images/sort_both.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

.projects .table .sorting_asc {
  background-image: url("../images/sort_asc.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
}

.projects .table .sorting_desc {
  background-image: url("../images/sort_desc.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
}
</style>