<template>
    <div class="table-responsive-sm">
    <table class="table table-striped" style="text-align:center;">
        <thead style="background:#00b0e4;">
            <tr>
                <th v-for="column in columns" :key="column.name" @click="(column.sortable)?emitSomething(column.name):''"
                    :class="(column.sortable)?(sortKey === column.name ? (sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc') : 'sorting'):'' "
                    :style="'width:'+column.width+';'+'cursor:pointer;'"
                    v-if="!column.hide">
                    {{column.label}}
                </th>
            </tr>
        </thead>
        <slot></slot>
    </table>
  
    </div>
</template>

<script>
    export default {
        props: ['columns', 'sortKey', 'sortOrders'],
        methods:{
            emitSomething(value){
                if(value !=="actions"){
                    this.$emit('sort', value);
                }
            },

            check(project){
              // console.log(project);
              if(project.type !=0 ){//If its an operational project
                var target = this.columns.find(column => column.name == 'operations');
                target.hide = true;
                // console.log(target);
              }else{
                var target = this.columns.find(column => column.name == 'operations');
                target.hide = false;
              }
              
            }
        },
    }
</script>
    export default{}
<style scoped>
    .projects .table {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  text-transform: capitalize;
  
}

.table th{
  text-align: center;
  color: #fff;
}

.projects .table .sorting {
  background-image: url("../images/sort_both.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

.projects .table .sorting_asc {
  background-image: url("../images/sort_asc.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
}

.projects .table .sorting_desc {
  background-image: url("../images/sort_desc.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
}
</style>