<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="clients.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "clients"
                       :fields = "json_fields"
                       name    = "Client profiles.xls">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "clients"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Client profiles.csv">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="clients.length > 0">
                <tr v-for="(client, i) in clients" :key="client.id">
                    <td>{{client.id}}</td>
                    <td>{{client.firstname}}</td>
                    <td>{{client.lastname}}</td>
                    <td>{{client.company}}</td>
                    <td>{{client.country.name}}</td>
                    <td>{{client.state.name}}</td>
                    <td>{{client.city.name}}</td>
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                              
                               <li><router-link :to="{ name: 'edit-client', params: { id: client.id } }"><i class="material-icons">edit</i>View/Edit</router-link></li>
                               
                           </ul>
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="clients.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="clients.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../Datatable.vue';
import Pagination from '../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    created() {
        
            this.getProjects();
       
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '5%', label: 'ID', name: 'id', sortable: true },
            {width: '20%', label: 'First Name', name: 'firstname', sortable: true},
            {width: '20%', label: 'Last Name', name: 'lastname', sortable: true},
            {width: '20%', label: 'Company', name: 'company', sortable: true},
            {width: '10%', label: 'Country', name: 'country_id', sortable: true},
            {width: '10%', label: 'State', name: 'state_id', sortable: true},
            {width: '10%', label: 'City', name: 'city_id', sortable: true},
            {width: '5%', label: 'Actions', name: 'actions', sortable: false},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'No': 'id',
                'First name': 'firstname',
                'Last name': 'lastname',
                'Company': 'company',
                'Country': 'country.name',
                'State': 'state.name',
                'City': 'city.name',
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,

        }
    },
    methods: {

        pdfExport(){
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Firstname", dataKey: "firstname" },
            {title:"Lastname", dataKey: "lastname" },
            {title:"Company", dataKey: "company" },
            {title:"Country", dataKey: "country.name" },
            {title:"State", dataKey: "state.name" },
            {title:"City", dataKey: "city.name" },
            ];

            var doc = new jsPDF('p','pt');
            doc.autoTable(columns, this.clients);
            doc.save('Client profiles.pdf');
        },
        getProjects(url = '/api/client') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                  // console.log(response.data.data);
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadClient", data);
                    
                        this.configPagination(this.$store.state.clients_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                  console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        showId(value){
          alert(value);
        }
    },
    computed:{
      clients(){
        return this.$store.state.clients;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>