<template>

	<div v-if="showBuild">

        <div class="notifications" style="width: 300px; top: 0px; right: 0px;" v-if="updating">
          <span>
            <div data-id="6" class="notification-wrapper" style="transition: all 300ms;">
              <div class="notification vue-notification" style="background:grey; border-left-color:#ccc"><div class="notification-title">Notification</div> 
              <div class="notification-content">Please Wait...</div>
            </div></div>
          </span>
        </div>

	    <div class="page-header">
	        <h2>View / Edit Built Costing</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Go Back</span></button>
	                            
	                        </div>

                            <div class="col-md-4" style="float:right">
                                <button style="float:right" @click.prevent="submitReview(individual_project_phase.id)" class="btn btn-info flexit" :disabled="individual_project_phase.status == 1" v-if="projectMaterials.length || projectLabours.length">
                                    <em class="material-icons">rate_review</em>
                                    <span class="line" v-text="individual_project_phase.status == 1 ? 'Submitted' : 'Submit For Review' "></span>
                                </button>
                                
                            </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="body forum" style="padding:0px;">

	                	<div class="col-lg-12 col-xlg-12 col-md-12" style="padding:0px;">
                            <div class="card">
                                <div class="profile_body">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-tabs-inline nav-justified" role="tablist">

                                    <li role="presentation" class="active">
                                            <a @click.prevent href="#materials" data-toggle="tab" aria-expanded="true"> Phase Materials</a>
                                        </li>

                                        <li role="presentation" class="">
                                            <a @click.prevent href="#labours" data-toggle="tab" aria-expanded="false">Phase Labours</a>
                                        </li>

                                        <!-- <li role="presentation" class="" v-if="project.type">
                                            <a @click.prevent href="#activities" data-toggle="tab" aria-expanded="false">Phase activities</a>
                                        </li> -->
                                        
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">

                                        <div role="tabpanel" class="tab-pane fade active in" id="materials" style="min-height: 650px; overflow-y:auto">
                                        
                                            <div class="col-md-8 table-responsive-sm col-md-offset-2">
                                                
                                                <div v-if="projectMaterials.length" style="display:flex; justify-content:space-between;">
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Material</label>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Amount</label>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Quantity</label>
                                                        </div>
                                                    </div>
                                                        
                                        
                                                </div>
                                       
                                                <form @submit.prevent="sendMaterialData()" autocomplete="off">
                                            
                                                        <h2>{{individual_project_phase.projectphase.name}}</h2>
                                            
                                                        <!-- <div  v-for="(projectMaterial, i) in projectMaterials" style="display:flex; justify-content:space-between;" v-if="projectMaterial.delete || (individual_project_phase.id == projectMaterial.individual_project_phases_id)"> -->
                                                        <div  v-for="(projectMaterial, i) in projectMaterials" style="display:flex; justify-content:space-between;" v-if="projectMaterial.extra == 0">
                                                                                    
                                                            <div class="form-group" style="margin-left:15px;">
                                                                <div class="form-line">
                                                                    
                                                                    <select class="form-control" v-model="projectMaterial.material_and_services_id" required>
                                                                        <option value="">Select Material</option>
                                                                        <option v-for="material_and_service in material_and_services" :value="material_and_service.id" v-if="material_and_service.service_type_id==1">      
                                                                            {{material_and_service.name}}

                                                                        </option>
                                                                        
                                                                    </select>
                                                                    
                                                                </div>
                                                                
                                                            </div>
                                                            
                                                            <div class="form-group" style="margin-left:15px;">
                                                                <div class="form-line">
                                            
                                                                    <input type="text" class="form-control" v-model="projectMaterial.amount"  @keyup="commafy2(i,projectMaterial.amount)" required />
                                                                    
                                                                </div>    
                                                            </div>
                                            
                                                            <div class="form-group" style="margin-left:15px;">
                                                                <div class="form-line">
                                            
                                                                    <input type="number" min="1" class="form-control" v-model="projectMaterial.quantity" required />
                                                                    
                                                                </div>    
                                                            </div>
                                                            <!--Show delete if the delete key is true-->
                                                            <button @click.prevent="deleteMaterialRow(i)" v-if="projectMaterial.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                            
                                                                <em class="material-icons md-8">delete</em>
                                            
                                                            </button>
                                            
                                                            <!-- Show delete if the index is > 0 i.e only from the second item up -->
                                                            <button @click.prevent="deleteMaterialRow(i)" v-else-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                            
                                                                <em class="material-icons md-8">delete</em>
                                            
                                                            </button>
                                                        </div>

                                                        <div v-if="!projectMaterials.length" style="display:flex; justify-content:space-between;" >
                                                            <p>No registered material for this phase</p>
                                                        </div>
                                            
                                                    <button @click.prevent="newMaterial()" class="btn btn-primary flexit">
                                                        <em class="material-icons">add</em>
                                                        <span class="line">Add Material</span>
                                                    </button>
                                                    
                                                    <div class="mfooter">
                                                        <button class="btn btn-info" ref = "submit" v-text="submitting ? 'Please Wait' : 'Update'"></button>
                                                    </div>
                                            
                                                </form>

                                                <!-- Show extra materials -->
                                                <form @submit.prevent="" autocomplete="off">
                                            
                                                    <h2>Extra Materials</h2>
                                        
                                                    <!-- <div  v-for="(projectMaterial, i) in projectMaterials" style="display:flex; justify-content:space-between;" v-if="projectMaterial.delete || (individual_project_phase.id == projectMaterial.individual_project_phases_id)"> -->
                                                    <div  v-for="(projectMaterial, i) in projectMaterials" style="display:flex; justify-content:space-between;" v-if="projectMaterial.extra == 1">
                                                                                
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                                                
                                                                <select class="form-control" v-model="projectMaterial.material_and_services_id" required disabled>
                                                                    <option value="">Select Material</option>
                                                                    <option v-for="material_and_service in material_and_services" :value="material_and_service.id" v-if="material_and_service.service_type_id==1">      
                                                                        {{material_and_service.name}}

                                                                    </option>
                                                                    
                                                                </select>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                        
                                                                <input type="text" class="form-control" v-model="projectMaterial.amount"  @keyup="commafy2(i,projectMaterial.amount)" required disabled />
                                                                
                                                            </div>    
                                                        </div>
                                        
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                        
                                                                <input type="number" min="1" class="form-control" v-model="projectMaterial.quantity" required disabled />
                                                                
                                                            </div>    
                                                        </div>
                                                        
                                                    </div>

                                                    <div v-if="checkForExtras() == false" style="display:flex; justify-content:space-between;" >
                                                        <p>No registered material outside the budget for this phase</p>
                                                    </div>
                                            
                                                </form>
                                            
                                            </div>
                                            
                                        </div>
                                        
                                        <div role="tabpanel" class="tab-pane fade" id="labours" style="min-height: 650px; overflow-y:auto">
                                        
                                            <div class="col-md-8 table-responsive-sm col-md-offset-2">
                                                
                                                <div v-if="projectLabours.length" style="display:flex; justify-content:space-between;">
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Labour</label>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Amount</label>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Quantity</label>
                                                        </div>
                                                    </div>
                                                        
                                        
                                                </div>
                                        
                                                <form @submit.prevent="sendLabourData()" autocomplete="off">
                                                                                        
                                                    <h2>{{individual_project_phase.projectphase.name}}</h2>
                                                                                        
                                                    <div v-for="(projectLabour, i) in projectLabours" style="display:flex; justify-content:space-between;" v-if="projectLabour.delete || (individual_project_phase.id == projectLabour.individual_project_phases_id)">
                                                        
                                                        <div class="form-group" style="margin-left:15px;">

                                                            <div class="form-line">
                                                                
                                                                <select class="form-control" v-model="projectLabour.material_and_services_id" required>
                                                                    <option value="">Select Labour</option>
                                                                    <option v-for="material_and_service in material_and_services" :value="material_and_service.id" v-if="material_and_service.service_type_id==2">      
                                                                        {{material_and_service.name}}
                                                                    </option>
                                                                    
                                                                </select>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                                                                    
                                                                <input type="text" class="form-control" v-model="projectLabour.amount" @keyup="commafy3(i,projectLabour.amount)" required />
                                                                
                                                            </div>    
                                                        </div>
                                                                                    
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                                                                    
                                                                <input type="number" min="1" class="form-control" v-model="projectLabour.quantity" required />
                                                                
                                                            </div>    
                                                        </div>
                                                        <!-- Show delete if the delete key is true -->
                                                        <button @click.prevent="deleteLabourRow(i)" v-if="projectLabour.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                                                                    
                                                            <em class="material-icons md-8">delete</em>
                                                                                    
                                                        </button>
                                                                                    
                                                        <!-- Show delete if the index is > 0 i.e only from the second item up -->
                                                        <button @click.prevent="deleteLabourRow(i)" v-else-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                                                                    
                                                            <em class="material-icons md-8">delete</em>
                                                                                    
                                                        </button>
                                                    </div>
                                                    <div v-if="!projectLabours.length" style="display:flex; justify-content:space-between;" >
                                                        <p>No registered labour for this phase</p>
                                                    </div>
                                                                                        
                                                    <button @click.prevent="newLabour()" class="btn btn-primary flexit">
                                                        <em class="material-icons">add</em>
                                                        <span class="line">Add Labour</span>
                                                    </button>
                                                    
                                                    <div class="mfooter">
                                                        <button class="btn btn-info" ref = "submit" v-text="submitting ? 'Please Wait' : 'Update'"></button>
                                                    </div>
                                                                                        
                                                </form>

                                                <!-- Show extra labours -->
                                                <form @submit.prevent="" autocomplete="off">
                                            
                                                    <h2>Extra Labours</h2>
                                        
                                                    <!-- <div  v-for="(projectMaterial, i) in projectMaterials" style="display:flex; justify-content:space-between;" v-if="projectMaterial.delete || (individual_project_phase.id == projectMaterial.individual_project_phases_id)"> -->
                                                    <div  v-for="(projectLabour, i) in projectLabours" style="display:flex; justify-content:space-between;" v-if="projectLabour.extra == 1">
                                                                                
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                                                
                                                                <select class="form-control" v-model="projectLabour.material_and_services_id" required disabled>
                                                                    <option value="">Select Labour</option>
                                                                    <option v-for="material_and_service in material_and_services" :value="material_and_service.id" v-if="material_and_service.service_type_id==2">      
                                                                        {{material_and_service.name}}

                                                                    </option>
                                                                    
                                                                </select>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                        
                                                                <input type="text" class="form-control" v-model="projectLabour.amount"  @keyup="commafy2(i,projectLabour.amount)" required disabled />
                                                                
                                                            </div>    
                                                        </div>
                                        
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                        
                                                                <input type="number" min="1" class="form-control" v-model="projectLabour.quantity" required disabled />
                                                                
                                                            </div>    
                                                        </div>
                                                        
                                                    </div>

                                                    <div v-if="checkForExtraLabours() == false" style="display:flex; justify-content:space-between;" >
                                                        <p>No registered labour outside the budget for this phase</p>
                                                    </div>
                                            
                                                </form>
                                        
                                            </div>
                                            
                                        </div>

                                    </div>

                                </div>
                                   
                            </div>

                        </div>

                    </div>
                
                </div>

                <!--Modals-->
                <div v-if="addMaterial" class="md-modal md-effect-2 md-show" style="left:54%;">
                    <div class="md-content">
                        <h3>Add New Material</h3>
                        <div>
                            <div style="display:flex; justify-content:space-between;">

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Material</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Amount</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Quantity</label>
                                    </div>
                                </div>


                            </div>
                            <form @submit.prevent="sendNewMaterialData()" autocomplete="off">
                                <div v-for="(newProjectMaterial, i) in newProjectMaterials" style="display:flex; justify-content:space-between;">

                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">
                                            
                                            <select class="form-control" v-model="newProjectMaterial.material_and_services_id" required>
                                                <option value="">Select Material</option>
                                                <option v-for="material_and_service in material_and_services" :value="material_and_service.id" v-if="material_and_service.service_type_id==1">      
                                                    {{material_and_service.name}}
                                                </option>
                                                
                                            </select>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">

                                            <input type="text" class="form-control" v-model="newProjectMaterial.amount" @keyup="commafy4(i,newProjectMaterial.amount)" required />
                                            
                                        </div>    
                                    </div>

                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">

                                            <input type="number" min="1" class="form-control" v-model="newProjectMaterial.quantity" required />
                                            
                                        </div>    
                                    </div>
                                    <!--Show delete if the delete key is true-->
                                    <button @click.prevent="deleteNewMaterialRow(i)" v-if="newProjectMaterial.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                        <em class="material-icons md-8">delete</em>

                                    </button>

                                    <!--Show delete if the index is > 0 i.e only from the second item up-->
                                    <button @click.prevent="deleteNewMaterialRow(i)" v-else-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                        <em class="material-icons md-8">delete</em>

                                    </button>
                                </div>
                                
                                <button @click.prevent="addMaterialRow()" class="btn btn-primary flexit">
                                    <em class="material-icons">add</em>
                                    <span class="line">Extra Material</span>
                                </button>
                                
                                <div class="mfooter">
                                    <button class="btn btn-info" v-text="submitting ? 'Please Wait' : 'Submit'"></button>
                                    <button class="btn btn-danger" @click.prevent="closeAddMaterial" v-text="'Close'"></button>
                                </div>
                            </form>

                        </div>

                   </div>

                </div>

                <div v-if="addLabour" class="md-modal md-effect-2 md-show" style="left:54%;">
                    <div class="md-content">
                        <h3>Add New Labour</h3>
                        <div>
                            <div style="display:flex; justify-content:space-between;">

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Labour</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Amount</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Quantity</label>
                                    </div>
                                </div>


                            </div>
                            <form @submit.prevent="sendNewLabourData()" autocomplete="off">
                                <div v-for="(newProjectLabour, i) in newProjectLabours" style="display:flex; justify-content:space-between;">

                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">
                                            
                                            <select class="form-control" v-model="newProjectLabour.material_and_services_id" required>
                                                <option value="">Select Labour</option>
                                                <option v-for="material_and_service in material_and_services" :value="material_and_service.id" v-if="material_and_service.service_type_id==2">      
                                                    {{material_and_service.name}}
                                                </option>
                                                
                                            </select>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">

                                            <input type="text" class="form-control" v-model="newProjectLabour.amount" @keyup="commafy5(i,newProjectLabour.amount)" required />
                                            
                                        </div>    
                                    </div>

                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">

                                            <input type="number" min="1" class="form-control" v-model="newProjectLabour.quantity" required />
                                            
                                        </div>    
                                    </div>
                                    <!--Show delete if the delete key is true-->
                                    <button @click.prevent="deleteNewLabourRow(i)" v-if="newProjectLabour.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                        <em class="material-icons md-8">delete</em>

                                    </button>

                                    <!--Show delete if the index is > 0 i.e only from the second item up-->
                                    <button @click.prevent="deleteLabourRow(i)" v-else-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                        <em class="material-icons md-8">delete</em>

                                    </button>
                                </div>
                                
                                <button @click.prevent="addLabourRow()" class="btn btn-primary flexit">
                                    <em class="material-icons">add</em>
                                    <span class="line">Extra Labour</span>
                                </button>
                                
                                <div class="mfooter">
                                    <button class="btn btn-info" v-text="submitting ? 'Please Wait' : 'Submit'"></button>
                                    <button class="btn btn-danger" @click.prevent="closeAddLabour" v-text="'Close'"></button>
                                </div>
                            </form>

                        </div>

                   </div>

                </div>
                <div v-if="addMaterial" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
                <div v-if="addLabour" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
                
	        </div>
			
	    </div>
			 
	</div>
</template>

<script>
import validate from 'validate.js';
import moment from 'moment';
validate.extend(validate.validators.datetime, {
  // The value is guaranteed not to be null or undefined but otherwise it
  // could be anything.
  parse: function(value, options) {
    return +moment.utc(value);
  },
  // Input is a unix timestamp
  format: function(value, options) {
    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
    return moment.utc(value).format(format);
  }
});
// import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         
        },
        mounted(){
            //Get details of this project
            


            

            axios.get('/api/get-all/material_and_service')
            .then(response=>{
                this.material_and_services = response.data
            })
            .catch(error=>{
                console.log(error);
            });

            /*axios.get('/api/get/bank')
            .then(response=>{
                this.banks = response.data
            })
            .catch(error=>{
                console.log(error);
            });

            axios.get('/api/get-all/material_and_service')
            .then(response=>{
                this.material_and_services = response.data
            })
            .catch(error=>{
                console.log(error);
            });*/
        },
		data(){
			return{
		
                individual_project_phase:{},
                showBuild: false,
                projectMaterials:[],
                newProjectMaterials:[],
                newProjectLabours:[],
                material_and_services:{},
                projectLabours:[],
                addMaterial:false,
                addLabour:false,
                submitting:false,
                updating:false,
                watcher : true
				
			}
		},
        watch: {//watch for changes in the project cosr
                'project.cost': function(newValue){
                    if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.project.cost = result);
                    }
                    
                },

            },
		methods:{
			previousPage(){
                this.showBuild = false;
                this.$emit('showPhases')
				// this.$router.go(-1);
			},

            commafy2(index, newValue){//Used for dynamic pages
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.projectMaterials[index].amount = result);
                      
                    }
            },

            commafy3(index, newValue){//Used for dynamic pages
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.projectLabours[index].amount = result);
                      
                    }
            },

            commafy4(index, newValue){//Used for dynamic pages
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.newProjectMaterials[index].amount = result);
                      
                    }
            },

            commafy5(index, newValue){//Used for dynamic pages
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.newProjectLabours[index].amount = result);
                      
                    }
            },

            addCommas(x){
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            removeCommas(x){
                x=x.replace(/\,/g,''); 
                x=parseInt(x,10);
                return x
              },

            receive(phase){//Get the phase as sent from the parent component
                this.individual_project_phase = phase;
                this.projectMaterials = phase.phase_material;
                this.projectMaterials.forEach((one)=>{//Add comma to each amounts before rendering
                    one.amount = this.addCommas(one.amount);
                });
                this.projectLabours = phase.phase_labour;
                this.projectLabours.forEach((one)=>{//Add comma to each amounts before rendering
                    one.amount = this.addCommas(one.amount);
                });
                this.showBuild = true;

                // console.log(this.projectMaterials);
                // console.log(phase);

            },



			reset(){
				Object.assign(this.project, this.beforeEditingCache);
			},

            newMaterial(){
                if (!this.newProjectMaterials.length)
                {
                    this.newProjectMaterials.push({
                        material_and_services_id:'',
                        individual_project_phases_id: this.individual_project_phase.id,
                        amount:'',
                        quantity:'',
                        delete:true
                     });
                }
                this.addMaterial = true;
            },

            addMaterialRow() {
                 this.newProjectMaterials.push({
                    material_and_services_id:'',
                    individual_project_phases_id: this.individual_project_phase.id,
                    amount:'',
                    quantity:'',
                    delete:true
                 });
            },
            closeAddMaterial(){
                this.addMaterial = false;
                this.newProjectMaterials=[];
            },
            deleteNewMaterialRow(index) {//Works  for the modal to add a material
                this.newProjectMaterials.splice(index,1);
            },
            deleteMaterialRow(index) { //Works for existing materials
                this.deleteMaterial(this.projectMaterials[index].id, index);
            },
            newLabour(){
                if (!this.newProjectLabours.length)
                {
                    this.newProjectLabours.push({
                        material_and_services_id:'',
                        individual_project_phases_id: this.individual_project_phase.id,
                        amount:'',
                        quantity:'',
                        delete:true
                     });
                }
                this.addLabour = true;
            },
            addLabourRow() {
                 this.newProjectLabours.push({
                    material_and_services_id:'',
                    individual_project_phases_id: this.individual_project_phase.id,
                    amount:'',
                    quantity:'',
                    delete:true
                 });
            },
            deleteLabourRow(index) {
                this.deleteLabour(this.projectLabours[index].id, index);
            },
             deleteNewLabourRow(index) {//Works  for the modal to add labour
                this.newProjectLabours.splice(index,1);
            },
            closeAddLabour(){
                this.addLabour = false;
                this.newProjectLabours = [];
            },

            checkForExtras(){//Check for any material outside the project costing / budget
                var check = this.projectMaterials.find(material =>  material.extra == 1);
                if(check){
                    return true;
                }else{
                    return false
                }
            },

            checkForExtraLabours(){//Check for any material outside the project costing / budget
                var check = this.projectLabours.find(labour =>  labour.extra == 1);
                if(check){
                    return true;
                }else{
                    return false
                }
            },
            
            sendMaterialData(){//This updates the existing data
                
                this.submitting = true;
                axios.post('/api/update/projectmaterial',{ materials : this.projectMaterials})
                          .then(response=>{
                            this.individual_project_phase.status = 5;//Set the phase as needing revies submission
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                
            },

            sendNewMaterialData(){
                
                this.submitting = true;
                axios.post('/api/add/projectmaterial',{ materials : this.newProjectMaterials})
                          .then(response=>{
                            this.individual_project_phase.status = 5;//Set the phase as needing revies submission
                            this.submitting = false;
                            this.projectMaterials = response.data;
                            this.projectMaterials.forEach((one)=>{//Add comma to each amounts before rendering
                                one.amount = this.addCommas(one.amount);
                            });
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            this.addMaterial = false;
                            this.newProjectMaterials=[];
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                
            },

            deleteMaterial(id, index){
                axios.post('/api/delete/projectmaterial',{id : id, individual_project_phases_id: this.individual_project_phase.id})
                  .then(response=>{
                    this.individual_project_phase.status = 5;//Set the phase as needing revies submission
                    // console.log(response.data);
                    this.projectMaterials.splice(index,1);
                    this.$notify({
                      group: 'foo',
                      type: 'success',
                      title: 'Notification',
                      text: 'Success!',
                      duration: 10000,
                    });
                    
                  })
                  .catch(error=>{
                    this.$notify({
                      group: 'foo',
                      type: 'error',
                      title: 'Notification',
                      text: error.response.data.error,
                      duration: 10000,
                    });
                  });
            },

            sendLabourData(){
                
                this.submitting = true;
                axios.post('/api/update/projectlabour',{ labours : this.projectLabours})
                          .then(response=>{
                            this.individual_project_phase.status = 5;//Set the phase as needing revies submission
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                
            },

             sendNewLabourData(){
                
                this.submitting = true;
                axios.post('/api/add/projectlabour',{ labours : this.newProjectLabours})
                      .then(response=>{
                        this.individual_project_phase.status = 5;//Set the phase as needing revies submission
                        this.submitting = false;
                        this.projectLabours = response.data;
                        this.$notify({
                          group: 'foo',
                          type: 'success',
                          title: 'Notification',
                          text: 'Success!',
                          duration: 10000,
                        });
                        this.addLabour = false;
                        this.newProjectLabours=[];
                        
                      })
                      .catch(error=>{
                        this.submitting = false;
                        this.$notify({
                          group: 'foo',
                          type: 'error',
                          title: 'Notification',
                          text: error.response.data.error,
                          duration: 10000,
                        });
                      });
                
            },

            deleteLabour(id, index){
                axios.post('/api/delete/projectlabour',{id : id, individual_project_phases_id: this.individual_project_phase.id})
                  .then(response=>{
                    this.individual_project_phase.status = 5;//Set the phase as needing revies submission
                    console.log(response.data);
                    this.projectLabours.splice(index,1);
                    this.$notify({
                      group: 'foo',
                      type: 'success',
                      title: 'Notification',
                      text: 'Success!',
                      duration: 10000,
                    });
                    
                  })
                  .catch(error=>{
                    this.$notify({
                      group: 'foo',
                      type: 'error',
                      title: 'Notification',
                      text: error.response.data.error,
                      duration: 10000,
                    });
                  });
            },

            submitReview(phaseId){
              this.updating = true;
              axios.post('/api/review/invividualprojectphase',{id : phaseId})
                    .then(response=>{
                      this.updating = false;
                      this.individual_project_phase.status = 1;//Set the phase as in review
                      this.$notify({
                        group: 'foo',
                        type: 'success',
                        title: 'Notification',
                        text: 'Submitted!',
                        duration: 10000,
                      });
                    })
                    .catch(error =>{
                      this.updating = false;
                      this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'Notification',
                        text: error.response.data.error,
                        duration: 10000,
                      });
                    })
            },
			
			getConstraints(){
                return{
                    name:{
                        presence: {
                            allowEmpty: false,
                            message:"can't be empty"
                        },
                        
                    },
                    date: {

                        datetime: {
                          dateOnly: true,
                          message: "Invalid Date "
                        }
                    },
                    department: {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                            }
                    },
                    cost: {
                    
                        presence: {
                            allowEmpty: false,
                            message:"can't be empty"
                        },
                    },
                    active: {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                            }
                    },
                    /*coordinator : {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                        }
                    },*/

                }
            }
			
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	input,select{
		text-transform: capitalize!important;
	}
    input[type*="email"]{
    text-transform: lowercase!important;
    }
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>