<template>

	<div v-if="showBuild">

        <div class="notifications" style="width: 300px; top: 0px; right: 0px;" v-if="updating">
          <span>
            <div data-id="6" class="notification-wrapper" style="transition: all 300ms;">
              <div class="notification vue-notification" style="background:grey; border-left-color:#ccc"><div class="notification-title">Notification</div> 
              <div class="notification-content">Please Wait...</div>
            </div></div>
          </span>
        </div>

	    <div class="page-header">
	        <h2>Days</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Go Back</span></button>
	                            
	                        </div>

                            <div class="col-md-4" style="float:right">
                                <button style="float:right" @click.prevent="submitReview()" class="btn btn-info flexit" :disabled="week.status == 1" v-if="projectMaterials.length || projectLabours.length">
                                    <em class="material-icons">rate_review</em>
                                    <span class="line" v-text="week.status == 1 ? 'Submitted' : 'Submit For Review' "></span>
                                </button>
                                
                            </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="body forum" style="padding:0px;">

	                	<div class="col-lg-12 col-xlg-12 col-md-12" style="padding:0px;">
                            <div class="card">
                                <div class="profile_body">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-tabs-inline nav-justified" role="tablist">

                                    <li role="presentation" class="active">
                                            <a @click.prevent href="#materials" data-toggle="tab" aria-expanded="true"> Phase Materials</a>
                                        </li>

                                        <li role="presentation" class="">
                                            <a @click.prevent href="#labours" data-toggle="tab" aria-expanded="false">Phase Labours</a>
                                        </li>

                                        <!-- <li role="presentation" class="" v-if="project.type">
                                            <a @click.prevent href="#activities" data-toggle="tab" aria-expanded="false">Phase activities</a>
                                        </li> -->
                                        
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">

                                        <div role="tabpanel" class="tab-pane fade active in" id="materials" style="min-height: 650px; overflow-y:auto">
                                        
                                            <div class="col-md-8 table-responsive-sm col-md-offset-2">
                                                
                                                <div v-if="projectMaterials.length" style="display:flex; justify-content:space-between;">
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Material</label>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Amount</label>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Quantity</label>
                                                        </div>
                                                    </div>
                                                        
                                        
                                                </div>
                                       
                                            <form @submit.prevent="sendMaterialData()" autocomplete="off">
                                        
                                                <div v-for="(day, j) in days"  v-if="days.length">

                                                    <h3> {{ makeMoment(day.date) }}</h3>
                                                    <div  style="display:flex; justify-content:space-between;" v-for="(projectMaterial, i) in day.project_material">
                                                                            
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                                                
                                                                <select class="form-control" v-model="projectMaterial.material_and_services_id" required>
                                                                    <option value="">Select Material</option>
                                                                    <option v-for="material_and_service in material_and_services" :value="material_and_service.id" v-if="material_and_service.service_type_id==1">      
                                                                        {{material_and_service.name}}

                                                                    </option>
                                                                    
                                                                </select>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                        
                                                                <input type="text" class="form-control" v-model="projectMaterial.amount"  @keyup="commafy2(j, i, projectMaterial.amount)" required />
                                                                
                                                            </div>    
                                                        </div>
                                        
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                        
                                                                <input type="number" min="1" class="form-control" v-model="projectMaterial.quantity" required />
                                                                
                                                            </div>    
                                                        </div>
                                                        <!--Show delete if the delete key is true-->
                                                        <button @click.prevent="deleteMaterialRow(j, i)" v-if="projectMaterial.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                        
                                                            <em class="material-icons md-8">delete</em>
                                        
                                                        </button>
                                        
                                                        <!-- Show delete if the index is > 0 i.e only from the second item up -->
                                                        <button @click.prevent="deleteMaterialRow(j, i)" v-else-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                        
                                                            <em class="material-icons md-8">delete</em>
                                        
                                                        </button>
                                                    </div>

                                                    <div v-if="!day.project_material.length" style="display:flex; justify-content:space-between;" >
                                                        <p>No registered material for this day</p>
                                                    </div>

                                                </div> <!-- End Days Loop-->

                                                <div v-if="!days.length">
                                                    <p>No day added to this week</p>
                                                </div>
                                                    
                                        
                                                <button @click.prevent="newMaterial()" class="btn btn-primary flexit">
                                                    <em class="material-icons">add</em>
                                                    <span class="line">Add Day's Material</span>
                                                </button>
                                                
                                                <div class="mfooter">
                                                    <button class="btn btn-info" ref = "submit" v-text="submitting ? 'Please Wait' : 'Update'"></button>
                                                </div>
                                        
                                            </form>
                                        
                                            </div>
                                            
                                        </div>
                                        
                                        <div role="tabpanel" class="tab-pane fade" id="labours" style="min-height: 650px; overflow-y:auto">
                                        
                                            <div class="col-md-8 table-responsive-sm col-md-offset-2">
                                                
                                                <div v-if="projectLabours.length" style="display:flex; justify-content:space-between;">
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Labour</label>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Amount</label>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Quantity</label>
                                                        </div>
                                                    </div>
                                                        
                                        
                                                </div>
                                       
                                            <form @submit.prevent="sendLabourData()" autocomplete="off">
                                        
                                                <div v-for="(day, j) in days"  v-if="days.length">

                                                    <h3> {{ makeMoment(day.date) }}</h3>
                                                    <div  style="display:flex; justify-content:space-between;" v-for="(projectLabour, i) in day.project_labour">
                                                                            
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                                                
                                                                <select class="form-control" v-model="projectLabour.material_and_services_id" required>
                                                                    <option value="">Select Labour</option>
                                                                    <option v-for="material_and_service in material_and_services" :value="material_and_service.id" v-if="material_and_service.service_type_id == 2">      
                                                                        {{material_and_service.name}}

                                                                    </option>
                                                                    
                                                                </select>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                        
                                                                <input type="text" class="form-control" v-model="projectLabour.amount"  @keyup="commafy3(j, i, projectLabour.amount)" required />
                                                                
                                                            </div>    
                                                        </div>
                                        
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                        
                                                                <input type="number" min="1" class="form-control" v-model="projectLabour.quantity" required />
                                                                
                                                            </div>    
                                                        </div>
                                                        <!--Show delete if the delete key is true, meaning you just added it 
                                                        <button @click.prevent="deleteLabourRow(j, i)" v-if="projectLabour.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                        
                                                            <em class="material-icons md-8">delete</em>
                                        
                                                        </button>
                                                        This was only needed when the addition was being done directly on the page and not
                                                        on a modal
    
                                                        -->
                                        
                                                        <!-- Show delete if the index is > 0 i.e only from the second item up -->
                                                        <button @click.prevent="deleteLabourRow(j, i)" v-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                        
                                                            <em class="material-icons md-8">delete</em>
                                        
                                                        </button>
                                                    </div>

                                                    <div v-if="!day.project_labour.length" style="display:flex; justify-content:space-between;" >
                                                        <p>No registered labour for this day</p>
                                                    </div>

                                                </div> <!-- End Days Loop-->

                                                <!-- The days would never be empty but let's leave this condition here  -->
                                                <div v-if="!days.length">
                                                    <p>No day added to this week</p>
                                                </div>
                                                    
                                        
                                                <button @click.prevent="newLabour()" class="btn btn-primary flexit">
                                                    <em class="material-icons">add</em>
                                                    <span class="line">Add Day's Labour</span>
                                                </button>
                                                
                                                <div class="mfooter">
                                                    <button class="btn btn-info" ref = "submit" v-text="submitting ? 'Please Wait' : 'Update'"></button>
                                                </div>
                                        
                                            </form>
                                        
                                            </div>
                                            
                                        </div><!-- End Labour Tab-->

                                    </div>

                                </div>
                                   
                            </div>

                        </div>

                    </div>
                
                </div>

                <!--Modals-->
                <!-- Material Addition Modal -->
                <div v-if="addMaterial" class="md-modal md-effect-2 md-show" style="left:54%;">
                    <div class="md-content">
                        <h3>Add New Material</h3>
                        <div>
                            <div style="display:flex; justify-content:space-between;">

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Date</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Material</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Amount</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Quantity</label>
                                    </div>
                                </div>


                            </div>
                            <form @submit.prevent="sendNewMaterialData()" autocomplete="off">
                                <div v-for="(newProjectMaterial, i) in newProjectMaterials" style="display:flex; justify-content:space-between;">

                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">
                                            
                                            <select class="form-control" v-model="newProjectMaterial.costing_day_id" required>
                                                <option value="">Select Day</option>
                                                <option v-for="day in days" :value="day.id">      
                                                    {{ makeMoment(day.date) }}
                                                </option>
                                                
                                            </select>
                                            
                                        </div>
                                        
                                    </div>
    
                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">
                                            
                                            <select class="form-control" v-model="newProjectMaterial.material_and_services_id" required>
                                                <option value="">Select Material</option>
                                                <option v-for="material_and_service in material_and_services" :value="material_and_service.id" v-if="material_and_service.service_type_id==1">      
                                                    {{material_and_service.name}}
                                                </option>
                                                
                                            </select>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">

                                            <input type="text" class="form-control" v-model="newProjectMaterial.amount" @keyup="commafy4(i,newProjectMaterial.amount)" required />
                                            
                                        </div>    
                                    </div>

                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">

                                            <input type="number" min="1" class="form-control" v-model="newProjectMaterial.quantity" required />
                                            
                                        </div>    
                                    </div>
                                    <!--Show delete if the delete key is true
                                    <button @click.prevent="deleteNewMaterialRow(i)" v-if="newProjectMaterial.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                        <em class="material-icons md-8">delete</em>

                                    </button>

                                    -->

                                    <!--Show delete if the index is > 0 i.e only from the second item up-->
                                    <button @click.prevent="deleteNewMaterialRow(i)" v-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                        <em class="material-icons md-8">delete</em>

                                    </button>
                                </div>
                                
                                <button @click.prevent="addMaterialRow()" class="btn btn-primary flexit">
                                    <em class="material-icons">add</em>
                                    <span class="line">Extra Material</span>
                                </button>
                                
                                <div class="mfooter">
                                    <button class="btn btn-info" v-text="submitting ? 'Please Wait' : 'Submit'"></button>
                                    <button class="btn btn-danger" @click="closeAddMaterial" v-text="'Close'"></button>
                                </div>
                            </form>

                        </div>

                   </div>

                </div>

                <!-- Labour Addition Modal -->
                <div v-if="addLabour" class="md-modal md-effect-2 md-show" style="left:54%;">
                    <div class="md-content">
                        <h3>Add New Labour</h3>
                        <div>
                            <div style="display:flex; justify-content:space-between;">

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Date</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Labour</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Amount</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Quantity</label>
                                    </div>
                                </div>


                            </div>
                            <form @submit.prevent="sendNewLabourData()" autocomplete="off">
                                <div v-for="(newProjectLabour, i) in newProjectLabours" style="display:flex; justify-content:space-between;">

                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">
                                            
                                            <select class="form-control" v-model="newProjectLabour.costing_day_id" required>
                                                <option value="">Select Day</option>
                                                <option v-for="day in days" :value="day.id">      
                                                    {{ makeMoment(day.date) }}
                                                </option>
                                                
                                            </select>
                                            
                                        </div>
                                        
                                    </div>
    
                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">
                                            
                                            <select class="form-control" v-model="newProjectLabour.material_and_services_id" required>
                                                <option value="">Select Material</option>
                                                <option v-for="material_and_service in material_and_services" :value="material_and_service.id" v-if="material_and_service.service_type_id==2">      
                                                    {{material_and_service.name}}
                                                </option>
                                                
                                            </select>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">

                                            <input type="text" class="form-control" v-model="newProjectLabour.amount" @keyup="commafy5(i,newProjectLabour.amount)" required />
                                            
                                        </div>    
                                    </div>

                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">

                                            <input type="number" min="1" class="form-control" v-model="newProjectLabour.quantity" required />
                                            
                                        </div>    
                                    </div>
                                    <!--Show delete if the delete key is true
                                    <button @click.prevent="deleteNewLabourRow(i)" v-if="newProjectLabour.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                        <em class="material-icons md-8">delete</em>

                                    </button>

                                    -->

                                    <!--Show delete if the index is > 0 i.e only from the second item up-->
                                    <button @click.prevent="deleteNewLabourRow(i)" v-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                        <em class="material-icons md-8">delete</em>

                                    </button>
                                </div>
                                
                                <button @click.prevent="addLabourRow()" class="btn btn-primary flexit">
                                    <em class="material-icons">add</em>
                                    <span class="line">Extra Labour</span>
                                </button>
                                
                                <div class="mfooter">
                                    <button class="btn btn-info" v-text="submitting ? 'Please Wait' : 'Submit'"></button>
                                    <button class="btn btn-danger" @click="closeAddLabour" v-text="'Close'"></button>
                                </div>
                            </form>

                        </div>

                   </div>

                </div>
                <div v-if="addMaterial" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
                <div v-if="addLabour" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
                
	        </div>
			
	    </div>
			 
	</div>
</template>

<script>
import validate from 'validate.js';
import moment from 'moment';
validate.extend(validate.validators.datetime, {
  // The value is guaranteed not to be null or undefined but otherwise it
  // could be anything.
  parse: function(value, options) {
    return +moment.utc(value);
  },
  // Input is a unix timestamp
  format: function(value, options) {
    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
    return moment.utc(value).format(format);
  }
});
// import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         
        },
        mounted(){
            //Get details of this project
            


            

            axios.get('/api/get-all/material_and_service')
            .then(response=>{
                this.material_and_services = response.data
            })
            .catch(error=>{
                console.log(error);
            });

            /*axios.get('/api/get/bank')
            .then(response=>{
                this.banks = response.data
            })
            .catch(error=>{
                console.log(error);
            });

            axios.get('/api/get-all/material_and_service')
            .then(response=>{
                this.material_and_services = response.data
            })
            .catch(error=>{
                console.log(error);
            });*/
        },
		data(){
			return{
		
                individual_project_phase:{},
                day:{},
                week:{},
                days:{},
                showBuild: false,
                projectMaterials:[],
                newProjectMaterials:[],
                newProjectLabours:[],
                material_and_services:{},
                projectLabours:[],
                addMaterial:false,
                addLabour:false,
                submitting:false,
                updating:false,
                watcher : true
				
			}
		},
        watch: {//watch for changes in the project cosr
                'project.cost': function(newValue){
                    if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.project.cost = result);
                    }
                    
                },

            },
		methods:{
			previousPage(){
                this.showBuild = false;
                this.$emit('showPhases')
				// this.$router.go(-1);
			},

            commafy2(dayIndex, materialIndex, newValue){//Used for each days proect material's cost
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.days[dayIndex].project_material[materialIndex].amount = result);
                      
                    }
            },

            commafy3(dayIndex, labourIndex, newValue){//Used for dynamic pages
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.days[dayIndex].project_labour[labourIndex].amount = result);
                      
                    }
            },

            commafy4(index, newValue){//Used for dynamic pages
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.newProjectMaterials[index].amount = result);
                      
                    }
            },

            commafy5(index, newValue){//Used for dynamic pages
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.newProjectLabours[index].amount = result);
                      
                    }
            },

            addCommas(x){
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            removeCommas(x){
                x=x.replace(/\,/g,''); 
                x=parseInt(x,10);
                return x
              },

            receive(week){//Get the phase as sent from the parent component
                this.week = week;
                this.days = week.costing_day;
                this.individual_project_phase = week.individualprojectphase;
                // this.projectMaterials = week.costing_day.phase_material ? week.costing_day.phase_material : [];
                this.projectMaterials = this.individual_project_phase.phase_material;
                this.projectLabours = this.individual_project_phase.phase_labour;
                this.days.forEach((day)=>{//Add comma to each amount before rendering

                    day.project_material.forEach((material)=>{
                         material.amount = this.addCommas(material.amount);
                    });

                    day.project_labour.forEach((labour)=>{
                         labour.amount = this.addCommas(labour.amount);
                    });
                   
                });
                this.showBuild = true;
                // console.log(this.projectMaterials);
                // console.log(phase);

            },



			reset(){
				Object.assign(this.project, this.beforeEditingCache);
			},

            makeMoment(value){//Format dates for raw display
              return moment(value).format('MMMM Do YYYY');
            },

            newMaterial(){
                if (!this.newProjectMaterials.length)
                {
                    this.newProjectMaterials.push({
                        material_and_services_id:'',
                        costing_day_id:'',
                        amount:'',
                        quantity:'',
                        individual_project_phases_id: this.individual_project_phase.id,
                        costing_week_id : this.week.id,
                        delete:true
                     });
                }
                this.addMaterial = true;
            },

            addMaterialRow() {
                 this.newProjectMaterials.push({
                    material_and_services_id:'',
                    costing_day_id:'',
                    amount:'',
                    quantity:'',
                    individual_project_phases_id: this.individual_project_phase.id,
                    costing_week_id : this.week.id,
                    delete:true
                 });
            },
            closeAddMaterial(){
                this.addMaterial = false;
                this.newProjectMaterials=[];
            },
            deleteNewMaterialRow(index) {//Works  for the modal to add a material
                this.newProjectMaterials.splice(index,1);
            },
            deleteMaterialRow(dayIndex, materialIndex) { //Works for existing materials
                // console.log(this.days[dayIndex].project_material[materialIndex].id);
                this.deleteMaterial(this.days[dayIndex].project_material[materialIndex].id, dayIndex, materialIndex);
            },
            newLabour(){
                if (!this.newProjectLabours.length)
                {
                    this.newProjectLabours.push({
                        material_and_services_id:'',
                        costing_day_id:'',
                        individual_project_phases_id: this.individual_project_phase.id,
                        costing_week_id : this.week.id,
                        amount:'',
                        quantity:'',
                        delete:true
                     });
                }
                this.addLabour = true;
            },
            addLabourRow() {
                 this.newProjectLabours.push({
                    material_and_services_id:'',
                    individual_project_phases_id: this.individual_project_phase.id,
                    costing_day_id:'',
                    costing_week_id : this.week.id,
                    amount:'',
                    quantity:'',
                    delete:true
                 });
            },
            deleteLabourRow(dayIndex, labourIndex) {
                this.deleteLabour(this.days[dayIndex].project_labour[labourIndex].id, dayIndex, labourIndex);
            },
             deleteNewLabourRow(index) {//Works  for the modal to add labour
                this.newProjectLabours.splice(index,1);
            },
            closeAddLabour(){
                this.addLabour = false;
                this.newProjectLabours = [];
            },
            
            sendMaterialData(){//This updates the existing data
                
                this.submitting = true;
                this.projectMaterials = [];
                this.days.forEach((day) => {
                    day.project_material.forEach((material) =>{
                        this.projectMaterials.push(material);
                    })
                });
                // console.log(this.projectMaterials);
                axios.post('/api/update/operational-projectmaterial',{ materials : this.projectMaterials, costing_week_id: this.week.id})
                          .then(response=>{
                            var response = response.data[0];
                            this.days = response.costing_day;
                            this.days.forEach((day)=>{//Add comma to each amounts before rendering

                                day.project_material.forEach((material)=>{
                                     material.amount = this.addCommas(material.amount);
                                })
                               
                            });
                            this.week.status = 5;
                            this.submitting = false;

                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                
            },

            sendNewMaterialData(){
                
                this.submitting = true;
                axios.post('/api/add/operational-projectmaterial',{ materials : this.newProjectMaterials})
                      .then(response=>{
                        // console.log(response.data[0]);
                        var response = response.data[0];
                        this.projectMaterials = response.individualprojectphase.phase_material;
                        this.days = response.costing_day;
                        this.week.status = 5;//Set the week as needing review submission
                        this.submitting = false;
                        // this.projectMaterials = response.data;
                        this.days.forEach((day)=>{//Add comma to each amounts before rendering

                            day.project_material.forEach((material)=>{
                                 material.amount = this.addCommas(material.amount);
                            })
                           
                        });
                        this.$notify({
                          group: 'foo',
                          type: 'success',
                          title: 'Notification',
                          text: 'Success!',
                          duration: 10000,
                        });
                        this.addMaterial = false;
                        this.newProjectMaterials=[];
                        
                      })
                      .catch(error=>{
                        this.submitting = false;
                        this.$notify({
                          group: 'foo',
                          type: 'error',
                          title: 'Notification',
                          text: error.response.data.error,
                          duration: 10000,
                        });
                      });
            
            },

            deleteMaterial(id, dayIndex, materialIndex){
                axios.post('/api/delete/operational-projectmaterial',{id : id, costing_week_id: this.week.id})
                  .then(response=>{
                    this.week.status = 5;//Set the phase as needing revies submission
                    // console.log(response.data);
                    this.days[dayIndex].project_material.splice(materialIndex,1);
                    this.$notify({
                      group: 'foo',
                      type: 'success',
                      title: 'Notification',
                      text: 'Deleted!',
                      duration: 10000,
                    });
                    
                  })
                  .catch(error=>{
                    this.$notify({
                      group: 'foo',
                      type: 'error',
                      title: 'Notification',
                      text: error.response.data.error,
                      duration: 10000,
                    });
                  });
            },

            sendLabourData(){
                this.submitting = true;
                this.projectLabours = [];
                this.days.forEach((day) => {
                    day.project_labour.forEach((labour) =>{
                        this.projectLabours.push(labour);
                    })
                });
                axios.post('/api/update/operational-projectlabour',{ labours : this.projectLabours, costing_week_id: this.week.id})
                          .then(response=>{
                            var response = response.data[0];
                            console.log(response);
                            this.days = response.costing_day;
                            this.days.forEach((day)=>{//Add comma to each amounts before rendering

                                day.project_labour.forEach((labour)=>{
                                     labour.amount = this.addCommas(labour.amount);
                                })
                               
                            });
                            this.week.status = 5;
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Updated!',
                              duration: 10000,
                            });
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                
            },

             sendNewLabourData(){
                
                this.submitting = true;
                axios.post('/api/add/operational-projectlabour',{ labours : this.newProjectLabours})
                      .then(response=>{
                        // console.log(response.data[0]);
                        var response = response.data[0];
                        this.projectLabours = response.individualprojectphase.phase_labour;
                        this.days = response.costing_day;
                        this.week.status = 5;//Set the week as needing review submission
                        this.submitting = false;
                        // this.projectMaterials = response.data;
                        this.days.forEach((day)=>{//Add comma to each amounts before rendering

                            day.project_labour.forEach((labour)=>{
                                 labour.amount = this.addCommas(labour.amount);
                            })
                           
                        });
                        this.$notify({
                          group: 'foo',
                          type: 'success',
                          title: 'Notification',
                          text: 'Success!',
                          duration: 10000,
                        });
                        this.addLabour = false;
                        this.newProjectLabours=[];
                        
                      })
                      .catch(error=>{
                        this.submitting = false;
                        this.$notify({
                          group: 'foo',
                          type: 'error',
                          title: 'Notification',
                          text: error.response.data.error,
                          duration: 10000,
                        });
                      });
            },

            deleteLabour(id, dayIndex, labourIndex){
                axios.post('/api/delete/operational-projectlabour',{id : id, costing_week_id: this.week.id})
                  .then(response=>{
                    this.week.status = 5;//Set the week as needing revies submission
                    this.days[dayIndex].project_labour.splice(labourIndex,1);
                    this.$notify({
                      group: 'foo',
                      type: 'success',
                      title: 'Notification',
                      text: 'Deleted!',
                      duration: 10000,
                    });
                    
                  })
                  .catch(error=>{
                    this.$notify({
                      group: 'foo',
                      type: 'error',
                      title: 'Notification',
                      text: error.response.data.error,
                      duration: 10000,
                    });
                  });
            },

            submitReview(){
              this.updating = true;
              axios.post('/api/review/week',{id : this.week.id})
                    .then(response=>{
                      this.updating = false;
                      this.week.status = 1;//Set the week as in-review
                      this.$notify({
                        group: 'foo',
                        type: 'success',
                        title: 'Notification',
                        text: 'Submitted!',
                        duration: 10000,
                      });
                    })
                    .catch(error =>{
                      this.updating = false;
                      this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'Notification',
                        text: error.response.data.error,
                        duration: 10000,
                      });
                    })
            },
			
			getConstraints(){
                return{
                    name:{
                        presence: {
                            allowEmpty: false,
                            message:"can't be empty"
                        },
                        
                    },
                    date: {

                        datetime: {
                          dateOnly: true,
                          message: "Invalid Date "
                        }
                    },
                    department: {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                            }
                    },
                    cost: {
                    
                        presence: {
                            allowEmpty: false,
                            message:"can't be empty"
                        },
                    },
                    active: {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                            }
                    },
                    /*coordinator : {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                        }
                    },*/

                }
            }
			
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	input,select{
		text-transform: capitalize!important;
	}
    input[type*="email"]{
    text-transform: lowercase!important;
    }
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>