<template>
	<div >
	    <div v-if="!showBuild" class="page-header" >
	        <h2>Costing Weeks For {{ individual_project_phase.length ? individual_project_phase[0].projectphase.name : ''}} Phase</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active"></li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            
	            <div class="card" v-if="!showBuild">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                               <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Week</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                	<costing-week ref ="costingweekDT" @buildCosting="startBuild" v-if="!showBuild"></costing-week>
	                	<build ref="buildDT" @showPhases="showPhases"></build>
	                	<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
		                    <div class="md-content">
		                        <h3>Add New Costing Week</h3>
		                        <div>
		                        	<form @submit.prevent="sendData()" autocomplete="off">
			                            <label for="start_date">Start Date</label>
	                                    <div class="form-group">
	                                        <div class="form-line">
	                                            <datetime type="date" class="form-control" v-model="week.start_date" required> </datetime>
	                                        </div>
	                                    </div>

	                                    <label for="end_date">End Date</label>
	                                    <div class="form-group">
	                                        <div class="form-line">
	                                            <datetime type="date" class="form-control" v-model="week.end_date" required> </datetime>
	                                        </div>
	                                    </div>

	                                    <label for="priority">Priority</label>
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<select class="form-control" v-model="week.priority" required>
                                            		<option  value="0">Standard</option>
                                            		<option  value="1">Emergency</option>
                                            	</select>
                                                
                                            </div>
                                        </div>
	
	                                    <label for="email_address">Department</label>
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<select class="form-control" v-model="week.department" required>
                                            		<option v-for="department in departments" :value="department.id">{{department.name}}</option>
                                            	</select>
                                                
                                            </div>
                                        </div>

                                        <label for="note">Notes</label>
	                                    <div class="form-group">
	                                        <div class="form-line">
	                                            <textarea class="form-control" v-model="week.note" required></textarea>
	                                        </div>
	                                    </div>


			                           	<div class="mfooter">
			                           	<button class="btn btn-info">Submit</button>
			                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
			                           	
			                           	</div>
		                            
		                        	</form>
		                        </div>
		                   </div>
						</div>	                	
					</div>
				<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
				
	        	</div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import CostingWeek from '../../datatables/finance-administration/project-costing/CostingWeek.vue';
import build from './BuildWeeks.vue';
import validate from 'validate.js';

	export default{
		components: {
         CostingWeek,
         build
        },
        mounted(){

    		axios.get('/api/get/department')
            .then(response=>{
                this.departments = response.data;
            })
            .catch(error=>{
                console.log(error);
            });

            axios.post('/api/singleGet/invividualprojectphase', { id :this.$route.params.id})
            .then(response=>{
                this.individual_project_phase = response.data;
            })
            .catch(error=>{
                console.log(error);
            });
            

        },
		data(){
			return{
				modal:false,
                project:{},
                week:{ 	
                	individual_project_phase_id: this.$route.params.id,
                },
                departments:{},
                showBuild: false,
                individual_project_phase:{},
				// closeModal: () =>{this.modal = false}, //Short way of 
			}
		},
		watch: {
        	
        },

		methods:{
			startBuild(week){
				this.showBuild = true;
				this.$refs.buildDT.receive(week);
			},
			showPhases(){
				this.showBuild= false;
			},

			closeModal(){
				this.modal = false;
				this.newProject ='';
			},
			sendData(){
			const constraints = this.getConstraints();
				const errors = validate({week: this.week},constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.start_date) ? errors.start_date.toString()+'</br>' : '')+((errors.end_date) ? errors.end_date.toString()+'</br>' : '')+((errors.department) ? errors.department.toString()+'</br>' : '')+((errors.note) ? errors.note.toString()+'</br>' : '')+((errors.priority) ? errors.priority.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
					axios.post('/api/add/costing-week',this.week)
						  .then(response=>{
						  	
						  	this.$refs.costingweekDT.reload();
							this.modal = false;
							//Delete the project from the modal
						  	// this.week = {};
						  	// this.week.individual_project_phase_id = this.$route.params.id;
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					project: {
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},

				}
			}//End Constraint
			
		},
		computed:{
	      
	    }
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>