<template>
	<div >
	    <div v-if="!showBuild" class="page-header" >
	        <h2>Phase Costing For {{ project.name }} Project</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active"></li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	        	<div v-if="!showBuild" class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                	<phases ref ="phasesDT" @buildCosting="startBuild" v-if="!showBuild"></phases>
	                	<build ref="buildDT" @showPhases="showPhases"></build>
	                	<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
		                    <div class="md-content">
		                        <h3>Approve Project Phase</h3>
		                        <div>
		                        	<form @submit.prevent="sendData()" autocomplete="off">
			                            
		                        	</form>
		                        </div>
		                   </div>
						</div>	                	
					</div>
				<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
				
	        	</div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import phases from '../../datatables/finance-administration/project-costing/Phase.vue';
import build from './BuildCosting.vue';
import validate from 'validate.js';

	export default{
		components: {
         phases,
         build
        },
        mounted(){
        	// if(!this.$store.state.projects.length){
        		axios.post('/api/get/project',{id: this.$route.params.id})
                .then(response=>{
                    this.beforeEditingCache = Object.assign({}, response.data);//The original data
                    this.project = response.data;//Used for edit
                    // this.$refs.phasesDT.receive(this.project);
                    this.individual_project_phases = response.data.individualprojectphases;

                })
                .catch(error=>{
                    console.log(error);
                });
        	// }
        },
		data(){
			return{
				modal:false,
                project:{},
                showBuild: false,
                individual_project_phases:[],
				// closeModal: () =>{this.modal = false}, //Short way of 
			}
		},
		watch: {
        	
        },

		methods:{
			previousPage(){
				this.$router.go(-1);
			},
			startBuild(phase){
				this.showBuild = true;
				this.$refs.buildDT.receive(phase);
			},
			showPhases(){
				this.showBuild= false;
			},

			closeModal(){
				this.modal = false;
				this.newProject ='';
			},
			sendData(){
			const constraints = this.getConstraints();
				const errors = validate({project: this.newProject},constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.project) ? errors.project.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
					axios.post('/api/add/project-costing',{project_id: this.newProject})
						  .then(response=>{
						  	
						  	if(this.$store.state.costedProjects.length >= this.$store.state.costedProjects_pag.per_page && this.$store.state.costedProjects_pag.total >= 10){
						  		this.$store.state.costedProjects.splice(-1,1);
						  		this.$store.state.costedProjects.unshift(response.data);
						  		this.$store.state.costedProjects_pag.next_page_url = this.$store.state.costedProjects_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.costedProjects_pag.total = this.$store.state.costedProjects_pag.total + 1;
						  		this.$refs.phasesDT.configPagination(this.$store.state.costedProjects_pag);

						  	}else{
						  		this.$store.state.costedProjects.unshift(response.data);
						  		this.$store.state.costedProjects_pag.to = this.$store.state.costedProjects_pag.to + 1;
						  		this.$store.state.costedProjects_pag.from = 1;
						  		this.$store.state.costedProjects_pag.total = this.$store.state.costedProjects_pag.total + 1;
						  		this.$refs.phasesDT.configPagination(this.$store.state.costedProjects_pag);
						  	}
							this.modal = false;
							//Delete the project from the modal
							var check = this.projects.find((project)=> project.id == this.newProject)
							var id = this.projects.indexOf(check);
							this.projects.splice(id,1);

							console.log(id);
						  	this.newProject = '';
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					project: {
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},

				}
			}//End Constraint
			
		},
		computed:{
	      
	    }
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>