<template>
	<div>
	    <div class="page-header">
	        <h2>Add Vendor</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	        	<div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	      
	            <div class="card" style="min-height: 1810px;">
	                <div class="body forum">
	                 	
	
					
						                    <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                        <h3>Add Vendor</h3>
						                        <div>
						                        <form @submit.prevent="sendData()" autocomplete="off">
						                            <label for="Vendor Name">Vendor Name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter vendor name" v-model="vendor.name" required />
                                                        </div>
                                                    </div>

                                                    <label for="Vendor Category">Vendor Category</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="vendor.category" >
                                                        		<option v-for="category in categories" :value="category.id">{{category.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>

                                                    <label for="Specialty">Specialty</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Specialty" v-model="vendor.specialty" required />
                                                        </div>
                                                    </div>

                                                    <label for="Service">Services Rendered</label>
                                                    <div v-for="(service, i) in services" style="display:flex; justify-content:space-between;">
                                                    <div class="form-group" style="margin-right:5px;">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="service.service" required>
                                                        		<option v-for="material_and_service in material_and_services" :value="material_and_service.id">{{material_and_service.name}}</option>
                                                        		
                                                        	</select>
                                                            
                                                        </div>
                                                        
                                                    </div> 

                                                    <div class="form-group" style="margin-left:5px;">
                                                    	<div class="form-line">

                                                            <input type="text"class="form-control" placeholder="Enter Cost" v-model="service.cost" required />
                                                            
                                                        </div>    
                                                    </div> 
                                                    <button @click.prevent="deleteRow(i)" v-if="service.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;"><em class="material-icons md-8">delete</em></button>
                                                    </div>
                                                    <button @click.prevent="addRow()" class="btn btn-primary flexit"><em class="material-icons">add</em><span class="line">Add Service</span></button>
                                                    <br>
                                                    <br>
                                                    <br>


                                                    <label for="email_address">Email</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="email" name="color" class="form-control" placeholder="Enter Email Address" v-model="vendor.email" required />
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Telephone</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text"class="form-control" placeholder="Enter Phone Number" v-model="vendor.phone" required />
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Address</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Address" v-model="vendor.address" required />
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Address2</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Alternative Address" v-model="vendor.address2" required />
                                                        </div>
                                                    </div>
                                                    
                                                    <label for="email_address">City</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="vendor.city" >
                                                        		<option v-for="city in cities" :value="city.id">{{city.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">State</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="vendor.state" >
                                                        		<option v-for="state in states" :value="state.id">{{state.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Country</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="vendor.country" >
                                                        		<option v-for="country in countries" :value="country.id">{{country.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Bank</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="vendor.bank" >
                                                        		<option v-for="bank in banks" :value="bank.id">{{bank.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Account Name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Account Name" v-model="vendor.account_name" required />
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Account Number</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" name="color" class="form-control" placeholder="Enter Account Number" v-model="vendor.account_number" required />
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Notes</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" v-model="vendor.note" required />
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Vendor Rating</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="vendor.rating" >
                                                        		
                                                        		<option value="1">1</option>
                                                        		<option value="2">2</option>
                                                        		<option value="3">3</option>
                                                        		<option value="4">4</option>
                                                        		<option value="5">5</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>

                                                    <!-- <label for="email_address">Make Active</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="vendor.active" >
                                                                
                                                                <option value="1">Yes</option>
                                                                <option value="2">No</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div> -->
						                           	<div class="mfooter">
						                           		<button class="btn btn-info">Submit</button>
						                           	</div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>



						


	            </div>
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
// import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         
        },
        watch: {
            // 'services.cost': function(newValue){
            //     const result = newValue.replace(/\D/g, "")
            //         .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            //       this.$nextTick(() => this.services.cost = result);
                
            // }

        },
        mounted(){

        	axios.get('/api/get/country')
    		.then(response=>{
    			this.countries = response.data
    		})
    		.catch(error=>{
    			console.log(error);
    		});

    		axios.get('/api/get/state')
    		.then(response=>{
    			this.states = response.data
    		})
    		.catch(error=>{
    			console.log(error);
    		});

    		axios.get('/api/get/city')
    		.then(response=>{
    			this.cities = response.data
    		})
    		.catch(error=>{
    			console.log(error);
    		});

    		axios.post('/api/get/vendorcategory')
    		.then(response=>{
            
    			this.categories = response.data
    		})
    		.catch(error=>{
    			console.log(error);
    		});

    		axios.post('/api/get/bank')
    		.then(response=>{
    			this.banks = response.data
    		})
    		.catch(error=>{
    			console.log(error);
    		});

    		axios.get('/api/get-all/material_and_service')
    		.then(response=>{
    			this.material_and_services = response.data
    		})
    		.catch(error=>{
    			console.log(error);
    		});
        },
		data(){
			return{

				vendor: {

					name:'',
					category:'',
					specialty:'',
					address:'',
					address2:'',
					country:'',
					state:'',
					email:'',
					phone:'',
					city:'',
					bank:'',
					account_name:'',
					account_number:'',
					note:'',
					rating:'',
					active:''
					
					
				},
				services:[

						{
							service: '',//Material and service ID
							cost: '',
							delete: false
						}

					],

				
							
						
				countries:{},
				states:{},
				cities:{},
				categories:{},
				banks:{},
				material_and_services:{}


				
			}
		},
		methods:{
			previousPage(){
				this.$router.go(-1);
			},

			addRow() {
			     this.services.push({
			       service: '',
			       cost: '',
			       delete:true
			     });
			   },
			 deleteRow(index) {
			     this.services.splice(index,1);
			   },
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.vendor,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.category) ? errors.category.toString()+'</br>' : '')+((errors.specialty) ? errors.specialty.toString()+'</br>' : '')+((errors.address) ? errors.address.toString()+'</br>' : '')+((errors.address2) ? errors.address2.toString()+'</br>' : '')+((errors.country) ? errors.country.toString()+'</br>' : '')+((errors.state) ? errors.state.toString()+'</br>' : '')+((errors.city) ? errors.city.toString()+'</br>' : '')+((errors.phone) ? errors.phone.toString()+'</br>' : '')+((errors.email) ? errors.email.toString()+'</br>' : '')+((errors.bank) ? errors.bank.toString()+'</br>' : '')+((errors.account_number) ? errors.account_number.toString()+'</br>' : '')+((errors.note) ? errors.note.toString()+'</br>' : '')+((errors.rating) ? errors.rating.toString()+'</br>' : '')+((errors.active) ? errors.active.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/vendor',{vendor:this.vendor,services:this.services})
						  .then(response=>{
						  	// console.log(response.data);
						  	// console.log(this.$store.state.vendors);
						  	// this.$store.state.vendors.unshift(response.data);

						  		
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						
						  	// this.user={};

						  	this.$router.push({name: 'service-vendors'});
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					category:{
						presence: {
							allowEmpty: false,
							message:"You must select one"
						},
						
					},
					phone: {

						presence: {
							allowEmpty: false,
						},
						
						numericality: {
						      onlyInteger: true,
						      message: 'Invalid phone number'
						      
						    }
					},
					email:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					specialty:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					address:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					address2:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					country: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},
					state: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},
					city: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},
					bank: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},
					account_name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					account_number:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						numericality: {
						      onlyInteger: true,
						      message: 'is invalid'
						      
						    }
					},
					note:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					rating: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},
					active: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},
				}
			}
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;
		float: left;
    margin-bottom: 10px;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>