<template>
	<div>
	    <div class="page-header">
	        <h2>Vendors</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <router-link style="color:#fff;" :to="{ name: 'add-vendor'}"><button type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Vendor</span></button></router-link>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                	<servicevendor ref ="servicevendorDT" @confirmDelete ="confirmDelete"></servicevendor>

	                	<div v-if="deleteModal" class="md-modal md-effect-2 md-show" style="left:54%;max-width: 20%; top:43%;">

		                    <div class="md-content">
		                       
		                        <div>
		                        <form @submit.prevent="deleteNow()" autocomplete="off">
		                             <label style="display:block;text-align:center;margin-bottom:15px;">Are you sure?</label>
                                    
		                           <div class="mfooter" style="margin-bottom:0px; justify-content:center">
		                           	<button class="btn btn-info btn-sm">Confirm</button>
		                           	<button @click.prevent="closeDeleteModal()" class="btn btn-danger btn-sm">Cancel</button>
		                           	
		                           </div>
		                            
		                        </form>
		                        </div>
		                   	</div>
						</div>
	                	
					</div>
					
	        	</div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import ServiceVendor from '../datatables/vendor-administration/ServiceVendor';
	export default{
		components: {
         servicevendor: ServiceVendor
        },
		data(){
			return{
				deleteModal: false,
				deleteRecord: {}
			}
		},
		methods:{
			confirmDelete(Arr){
				this.deleteModal = true;
				this.deleteRecord = Arr;
				// console.log(this.deleteRecord);

			},
			closeDeleteModal(){
				this.deleteModal = false;
			},
			
			deleteNow(value){
				this.$refs.servicevendorDT.deleter(this.deleteRecord.id,this.deleteRecord.index);
				this.deleteModal = false;
				
			},
			
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>