<template>
	<div>
	    <div class="page-header">
	        <h2>Vendor Pricing</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                            	<button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>

	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                	<vendorpricing></vendorpricing>
					</div>
					
	        	</div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import VendorPricing from '../datatables/vendor-administration/VendorPricing';
	export default{
		components: {
         vendorpricing: VendorPricing
        },
		data(){
			return{
				
			}
		},
		methods:{
			
			previousPage(){
				this.$router.go(-1);
			},
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>