<template>
 <div class="wrapper">

     <!-- top navbar-->
     <header class="topnavbar-wrapper">
         <nav role="navigation" class="navbar topnavbar">
             <!-- START navbar header-->
             <div class="navbar-header">
                <router-link to="/">
                 <a href="" class="navbar-brand">
                     <div class="brand-logo">
                         <img src="./assets/images/rytegate-fav.png" alt="Admin Logo" class="img-responsive" style="height:50px;" />
                     </div>
                     <div class="brand-logo-collapsed">
                         <img src="./assets/images/rytegate-fav.png" alt="Admin Logo" class="img-responsive" />
                     </div>
                 </a>
                </router-link></li>
             </div>
             <!-- END navbar header-->
             <!-- START Nav wrapper-->
             <div class="nav-wrapper">
                 <!-- START Left navbar-->
                 <ul class="nav navbar-nav">
                     <li>
                         <a href="#" data-trigger-resize="" data-toggle-state="aside-collapsed" class="hidden-xs">
                             <em class="material-icons">menu</em>
                         </a>
                         <a href="#" data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle">
                             <em class="material-icons">menu</em>
                         </a>
                     </li>
                 </ul>
                 <!-- END Left navbar-->
                 <!-- START Right Navbar-->
                 <ul class="nav navbar-nav navbar-right">
                     <li>
                         <a href="#" data-search-open="">
                             <em class="material-icons">search</em>
                         </a>
                     </li>
                     <li class="visible-lg">
                         <a href="#" data-toggle-fullscreen="">
                             <em class="material-icons">fullscreen</em>
                         </a>
                     </li>
                     <!-- Notifications -->
                     <li class="dropdown">
                         <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                             <i class="material-icons">notifications</i>
                             <span class="badge badge-success">7</span>
                         </a>
                         <ul class="dropdown-menu">
                             <li class="header">NOTIFICATIONS</li>
                             <li class="body">
                                 <ul class="menu">
                                     <li class="media">
                                         <a href="#">
                                             <div class="media-left">
                                                 <div class="icon-circle bg-red">
                                                     <i class="material-icons">done</i>
                                                 </div>
                                             </div>
                                             <div class="media-body menu-note">
                                                 <p class="pull-right">Just Now</p>
                                                 <h4> Privacy settings changed</h4>
                                             </div>
                                         </a>
                                     </li>
                                     <li class="media">
                                         <a href="#">
                                             <div class="media-left">
                                                 <div class="icon-circle bg-indigo">
                                                     <i class="material-icons">add</i>
                                                 </div>
                                             </div>
                                             <div class="media-body menu-note">
                                                 <p class="pull-right">2 mins</p>
                                                 <h4> Mike has added you as friend</h4>
                                             </div>
                                         </a>
                                     </li>
                                     <li class="media">
                                         <a href="#">
                                             <div class="media-left">
                                                 <div class="icon-circle bg-blue">
                                                     <i class="material-icons">alarm</i>
                                                 </div>
                                             </div>
                                             <div class="media-body menu-note">
                                                 <p class="pull-right">20 mins</p>
                                                 <h4> New item added</h4>
                                             </div>
                                         </a>
                                     </li>
                                     <li class="media">
                                         <a href="#">
                                             <div class="media-left">
                                                 <div class="icon-circle bg-orange">
                                                     <i class="material-icons">thumb_up</i>
                                                 </div>
                                             </div>
                                             <div class="media-body menu-note">
                                                 <p class="pull-right">2 hrs</p>
                                                 <h4> Ketty like your photo</h4>
                                             </div>
                                         </a>
                                     </li>
                                     <li class="media">
                                         <a href="#">
                                             <div class="media-left">
                                                 <div class="icon-circle bg-green">
                                                     <i class="material-icons">cached</i>
                                                 </div>
                                             </div>
                                             <div class="media-body menu-note">
                                                 <p class="pull-right">3 days</p>
                                                 <h4> Server 10 is not working Properly</h4>
                                             </div>
                                         </a>
                                     </li>
                                     <li class="media">
                                         <a href="#">
                                             <div class="media-left">
                                                 <div class="icon-circle bg-grey">
                                                     <i class="material-icons">settings</i>
                                                 </div>
                                             </div>
                                             <div class="media-body menu-note">
                                                 <p class="pull-right">5 days</p>
                                                 <h4> Restart your system</h4>
                                             </div>
                                         </a>
                                     </li>
                                 </ul>
                             </li>
                             <li class="footer">
                                 <a href="javascript:void(0);">View All Notifications</a>
                             </li>
                         </ul>
                     </li>
                     <!-- #END# Notifications -->
                     <!-- Task -->
                     <!-- <li class="dropdown"> -->
                         <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                             <i class="material-icons">mail</i>
                             <span class="badge badge-danger">7</span>
                         </a>
                        <!--  <ul class="dropdown-menu">
                             <li class="header">
                                 You have
                                 <span class="font-bold">7 New</span> Messages
                             </li>
                             <li class="body">
                                 <ul class="menu media-list">
                                     <li class="media unread">
                                         <a href="#">
                                             <div class="media-left">
                                                 <img class="media-object img-circle" width="32" src="./assets/images/mail/nine.jpg" alt="user" />
                                             </div>
                                             <div class="media-body">
                                                 <p class="pull-right"><small>Just Now</small></p>
                                                 <h4 class="media-heading body-text">Lisa Headon</h4>
                                                 <p class="font-12">Cras justo odio, dapibus ac facilisis in.</p>
                                             </div>
                                         </a>
                                     </li>
                                     <li class="media">
                                         <a href="#">
                                             <div class="media-left">
                                                 <img class="media-object img-circle" width="32" src="./assets/images/mail/2.jpg" alt="user" />
                                             </div>
                                             <div class="media-body">
                                                 <p class="pull-right"><small>2 hour ago</small></p>
                                                 <h4 class="media-heading body-text">Lucy Doe</h4>
                                                 <p class="font-12">Duis mollis, est non commodo luctus, nisi erat</p>
                                             </div>
                                         </a>
                                     </li>
                                     <li class="media">
                                         <a href="#">
                                             <div class="media-left">
                                                 <img class="media-object img-circle" width="32" src="./assets/images/mail/five.jpg" alt="user" />
                                             </div>
                                             <div class="media-body">
                                                 <p class="pull-right"><small>12 hour ago</small></p>
                                                 <h4 class="media-heading body-text">Jhon Doe</h4>
                                                 <p class="font-12">Aenean lacinia bibendum nulla sed consectetur. </p>
                                             </div>
                                         </a>
                                     </li>
                                     <li class="media">
                                         <a href="#">
                                             <div class="media-left">
                                                 <img class="media-object img-circle" width="32" src="./assets/images/mail/1.jpg" alt="user" />
                                             </div>
                                             <div class="media-body">
                                                 <p class="pull-right"><small>2 days ago</small></p>
                                                 <h4 class="media-heading body-text">Daniel Richard</h4>
                                                 <p class="font-12">Donec id elit non mi porta gravida at eget metus. </p>
                                             </div>
                                         </a>
                                     </li>
                                     <li class="media">
                                         <a href="#">
                                             <div class="media-left">
                                                 <img class="media-object img-circle" width="32" src="./assets/images/mail/seven.jpg" alt="user"/>
                                             </div>
                                             <div class="media-body">
                                                 <p class="pull-right"><small>3 days ago</small></p>
                                                 <h4 class="media-heading body-text">Kelly Brook</h4>
                                                 <p class="font-12">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                                             </div>
                                         </a>
                                     </li>
                                     <li class="media unread">
                                         <a href="#">
                                             <div class="media-left">
                                                 <img class="media-object img-circle" width="32" src="./assets/images/mail/three.jpg" alt="user" />
                                             </div>
                                             <div class="media-body">
                                                 <p class="pull-right"><small>4 days ago</small></p>
                                                 <h4 class="media-heading body-text">Olivia Wild</h4>
                                                 <p class="font-12">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</p>
                                             </div>
                                         </a>
                                     </li>
                                     <li class="media">
                                         <a href="#">
                                             <div class="media-left">
                                                 <img class="media-object img-circle" width="32" src="./assets/images/mail/two.jpg" alt="user" />
                                             </div>
                                             <div class="media-body">
                                                 <p class="pull-right"><small>2 weeks ago</small></p>
                                                 <h4 class="media-heading body-text">Andrew Smith</h4>
                                                 <p class="font-12">Nulla vitae elit libero, a pharetra augue.</p>
                                             </div>
                                         </a>
                                     </li>
                                 </ul>
                             </li>
                             <li class="footer">
                                 <a href="javascript:void(0);">View All Messages</a>
                             </li>
                         </ul> -->
                     </li>
                     <!-- #END# Task -->
                     <li>
                         <a href="#" data-toggle-state="offsidebar-open" data-no-persist="true">
                             <em class="material-icons">more_vert</em>
                         </a>
                     </li>
                 </ul>
                 <!-- #END# Right Navbar-->
             </div>
             <!-- #END# Nav wrapper-->
             <!-- START Search form-->
           <!--   <form role="search" action="#" class="navbar-form" />
                 <div class="form-group has-feedback">
                     <input type="text" placeholder="Type and search ..." class="form-control" />
                     <em data-search-dismiss="" class="form-control-feedback material-icons">close</em>
                 </div>
                 <button type="submit" class="hidden btn btn-info">Submit</button>
             </form> -->
             <!-- #END# Search form-->
         </nav>
         <!-- END Top Navbar-->
     </header>
     <!-- sidebar-->
     <aside class="aside">
         <!-- START Sidebar (left)-->
         <div class="aside-inner">
             <nav data-sidebar-anyclick-close="" class="sidebar">
                 <!-- START sidebar nav-->
                 <ul class="nav menu">
                     <!-- Iterates over all sidebar items-->
                     <li class="nav-heading ">
                         <span>MAIN NAVIGATION</span>
                     </li>
                     <li>
                         <!-- <a href="#dashboard" title="Dashboard"> -->
                            <router-link :to="{ name: 'dashboard' }">
                             <em class="material-icons">dashboard</em>
                             <span>Dashboard</span>
                            </router-link>
                             
                     
                     </li>
                     <li v-if="permissions.system_setup">
                         <a href="#layout" title="Layouts" data-toggle="collapse" class="menu-toggle">
                             <em class="material-icons">settings</em>
                             <span>System Setup</span>
                         </a>
                         <ul id="layout" class="nav sidebar-subnav collapse">
                             <li class="sidebar-subnav-header">System Setup</li>
                            <li>
                                <a href="#finance" title="Level 1" data-toggle="collapse" class="menu-toggle">
                                    <span>Finance</span>
                                </a>
                                <ul id="finance" class="nav sidebar-subnav collapse">
                                    <li class="sidebar-subnav-header">Finance</li>
                                    <li v-if="permissions.banks">
                                         <router-link :to="{ name: 'banks' }">
                                             <span>Banks</span>
                                         </router-link>
                                     </li>
                                    <li>
                                         <router-link :to="{ name: 'earnings' }">
                                             <span>Earnings</span>
                                         </router-link>
                                    </li>
                                     <li>
                                          <router-link :to="{ name: 'deductions' }">
                                             <span>Deductions</span>
                                         </router-link>
                                     </li>
                                     <li>
                                          <router-link :to="{ name: 'chartofaccounts' }">
                                             <span>Chart Of Accounts</span>
                                         </router-link>
                                     </li>
                                     <li>
                                          <router-link :to="{ name: 'payperiods' }">
                                             <span>Pay Periods</span>
                                         </router-link>
                                     </li>
                                     <li v-if="permissions.imprest_category">
                                          <router-link :to="{ name: 'paymentcategory' }">
                                             <span>Payment Category</span>
                                         </router-link>
                                     </li>

                                </ul>
                            </li>

                            
                             <li>
                                <a href="#asset" title="Level 1" data-toggle="collapse" class="menu-toggle">
                                    <span>Assets</span>
                                </a>
                                <ul id="asset" class="nav sidebar-subnav collapse">
                                    <li class="sidebar-subnav-header">Assets</li>
                                   <li v-if="permissions.color">
                                        <router-link :to="{ name: 'colors' }">
                                           <span>Colors</span>
                                       </router-link>
                                   </li>
                                   <li v-if="permissions.asset_category">
                                        <router-link :to="{ name: 'assetcategory' }">
                                           <span>Asset Category</span>
                                       </router-link>
                                   </li>
                                   <li v-if="permissions.asset_manufacturer">
                                        <router-link :to="{ name: 'assetmanufacturer' }">
                                           <span>Asset Manufacturer</span>
                                       </router-link>
                                   </li>
                                   <li v-if="permissions.asset_model">
                                        <router-link :to="{ name: 'assetmodel' }">
                                           <span>Asset Model</span>
                                       </router-link>
                                   </li>

                                </ul>
                            </li>



                             <li>
                                <a href="#user" title="Level 1" data-toggle="collapse" class="menu-toggle">
                                    <span>User</span>
                                </a>
                                <ul id="user" class="nav sidebar-subnav collapse">
                                    <li class="sidebar-subnav-header">User</li>
                                    <li v-if="permissions.user_role">
                                         <router-link :to="{ name: 'user-roles' }">
                                            <span>Users Role</span>
                                        </router-link>
                                    </li>
                                    <li v-if="permissions.user_department">
                                         <router-link :to="{ name: 'user-departments' }">
                                            <span>Users Department</span>
                                        </router-link>
                                    </li>
                                    <li v-if="permissions.user_position">
                                         <router-link :to="{ name: 'user-positions' }">
                                            <span>Users Position</span>
                                        </router-link>
                                    </li>

                                </ul>
                            </li>



                            <li>
                                <a href="#project" title="Level 1" data-toggle="collapse" class="menu-toggle">
                                    <span>Project</span>
                                </a>
                                <ul id="project" class="nav sidebar-subnav collapse">
                                    <li class="sidebar-subnav-header">Project</li>
                                    <li>
                                         <router-link :to="{ name: 'material-services-category' }">
                                            <span>Material & Services Category</span>
                                        </router-link>
                                    </li>
                                    <li v-if="permissions.material_and_labour">
                                         <router-link :to="{ name: 'material-services' }">
                                            <span>Materials & Services</span>
                                        </router-link>
                                    </li>
                                    <li v-if="permissions.project_phase_setup">
                                         <router-link :to="{ name: 'projectphases' }">
                                            <span>Project Phase</span>
                                        </router-link>
                                    </li>
                                    <li>
                                         <router-link :to="{ name: 'projectphaseactivities' }">
                                            <span>Phase Activity</span>
                                        </router-link>
                                    </li> 
                                    <li>
                                         <router-link :to="{ name: 'highlevelprojectphases' }">
                                            <span>High Level Project</span>
                                        </router-link>
                                    </li>

                                </ul>
                            </li>

                            
                             
                             <li v-if="permissions.inventory_location">
                                  <router-link :to="{ name: 'inventorylocation' }">
                                     <span>Inventory Location</span>
                                 </router-link>
                             </li>
                            <li v-if="permissions.vendor_category">
                                  <router-link :to="{ name: 'vendorcategory' }">
                                     <span>Vendor Category</span>
                                 </router-link>
                             </li>
                             
                             
                         </ul>
                     </li>
                     <li v-if="permissions.user_administration">
                         <a href="#components" title="Components" data-toggle="collapse" class="menu-toggle">
                             <em class="material-icons">account_box</em>
                             <span>User Administration</span>
                         </a>
                         <ul id="components" class="nav sidebar-subnav collapse">
                             <li class="sidebar-subnav-header">User Administration</li>
                             <li v-if="permissions.user_profile">
                                  <router-link :to="{ name: 'users-profiles' }">
                                     <span>View/Edit User Profile</span>
                                 </router-link>
                             </li> 
                             <li v-if="permissions.user_login">
                                  <router-link :to="{ name: 'user-login' }">
                                     <span>View/Edit User Login</span>
                                 </router-link>
                             </li>
                             
                         </ul>
                     </li>  
                     <li>
                         <a href="#hr" title="Components" data-toggle="collapse" class="menu-toggle">
                             <em class="material-icons">account_box</em>
                             <span>HR Management</span>
                         </a>
                         <ul id="hr" class="nav sidebar-subnav collapse">
                             <li class="sidebar-subnav-header">HR Management</li>
                             <li>
                                  <router-link :to="{ name: 'users-profiles' }">
                                     <span>View/Edit User Profile</span>
                                 </router-link>
                             </li> 
                             <li>
                                  <router-link :to="{ name: 'user-login' }">
                                     <span>View/Edit User Login</span>
                                 </router-link>
                             </li>
                             
                         </ul>
                     </li>  
                     <li>
                         <a href="#legal" title="Components" data-toggle="collapse" class="menu-toggle">
                             <em class="material-icons">account_box</em>
                             <span>Legal And Contracts</span>
                         </a>
                         <ul id="legal" class="nav sidebar-subnav collapse">
                             <li class="sidebar-subnav-header">Legal And Contracts</li>
                             <li>
                                  <router-link :to="{ name: 'users-profiles' }">
                                     <span>View/Edit User Profile</span>
                                 </router-link>
                             </li> 
                             <li>
                                  <router-link :to="{ name: 'user-login' }">
                                     <span>View/Edit User Login</span>
                                 </router-link>
                             </li>
                             
                         </ul>
                     </li>
                     <li v-if="permissions.client_administration">
                         <a href="#advanceui" title="Advance UI" data-toggle="collapse" class="menu-toggle">
                             <em class="material-icons">contacts</em>
                             <span>Client Administration</span>
                         </a>
                         <ul id="advanceui" class="nav sidebar-subnav collapse">
                             <li class="sidebar-subnav-header">Client Administration</li>
                             <li v-if="permissions.view_client">
                                  <router-link :to="{ name: 'client-profiles' }">
                                     <span>View/Edit Client Profile</span>
                                 </router-link>
                             </li>
                             
                         </ul>
                     </li>
                     <li v-if="permissions.asset_manager">
                         <a href="#elements" title="Elements" data-toggle="collapse" class="menu-toggle">
                             <em class="material-icons">widgets</em>
                             <span>Asset Manager</span>
                         </a>
                         <ul id="elements" class="nav sidebar-subnav collapse">
                             <li class="sidebar-subnav-header">Asset Manager</li>
                             <li>
                                 <router-link :to="{ name: 'liquid-assets' }">
                                     <span>Liquid Assets</span>
                                 </router-link>
                             </li>
                             <!-- <li>
                                 <router-link :to="{ name: 'liquid-assets' }">
                                     <span>Fixed Assets</span>
                                 </router-link>
                             </li> Come back to this depending on feedback from mr Nnamdi-->
                             
                         </ul>
                     </li>

                     <li v-if="permissions.carpool_manager">
                         <a href="#forms" title="Forms" data-toggle="collapse" class="menu-toggle">
                             <em class="material-icons">directions_car</em>
                             <span>CarPool Manager</span>
                         </a>
                         <ul v-if="permissions.vehicle_request" id="forms" class="nav sidebar-subnav collapse">
                             <li class="sidebar-subnav-header">CarPool Manager</li>
                             <li>
                                 <router-link :to="{ name: 'vehicle-request' }">
                                     <span>Vehicle Requests</span>
                                 </router-link>
                             </li>
                             <li>
                                 <router-link :to="{ name: 'vehicle-assignments' }">
                                     <span>Vehicle Assignments</span>
                                 </router-link>
                             </li>
                             
                         </ul>
                     </li>

                     <li v-if="permissions.finance_administration">
                         <a href="#charts" title="Charts" data-toggle="collapse" class="menu-toggle">
                             <em class="material-icons">attach_money</em>
                             <span>Finance Administration</span>
                         </a>
                         <ul id="charts" class="nav sidebar-subnav collapse">
                             <li class="sidebar-subnav-header">Finance Administration</li>
                             <li v-if="permissions.project_costing">
                                 <router-link :to="{ name: 'project-costing' }">
                                     <span>Project Costing</span>
                                 </router-link>
                             </li>

                              <li v-if="permissions.imprest_manager">
                                 <router-link :to="{ name: 'account-receivables' }">
                                     <span>Account Receivables</span>
                                 </router-link>
                             </li>

                             
                             <li>
                                 <router-link :to="{ name: 'purchase-requisition' }">
                                     <span>Purchase Requisition</span>
                                 </router-link>
                             </li>
                             

                             <li v-if="permissions.employee_imprest">
                                 <router-link :to="{ name: 'personnel-imprest' }">
                                     <span>Personnel Imprest</span>
                                 </router-link>
                             </li> 

                             <li v-if="permissions.contracts">
                                 <router-link :to="{ name: 'vendor-contract-categories' }">
                                     <span>Vendor Contracts</span>
                                 </router-link>
                             </li> 
                             <li v-if="permissions.inventory_store">
                                 <router-link :to="{ name: 'inventory-store' }">
                                     <span>Inventory Store</span>
                                 </router-link>
                             </li>
                             <li v-if="permissions.payroll">
                                 <router-link :to="{ name: 'tax' }">
                                     <span>PAYE</span>
                                 </router-link>
                             </li>  
                             <li v-if="permissions.payroll">
                                 <router-link :to="{ name: 'payroll' }">
                                     <span>Payroll</span>
                                 </router-link>
                             </li> 

                             <li v-if="permissions.payroll">
                                 <router-link :to="{ name: 'archive' }">
                                     <span>Archive</span>
                                 </router-link>
                             </li> 

                             <li v-if="permissions.view_invoices">
                                 <router-link :to="{ name: 'invoice' }">
                                     <span>Invoices</span>
                                 </router-link>
                             </li>

                             <li v-if="permissions.bank_account">
                                 <router-link :to="{ name: 'bank-accounts' }">
                                     <span>Bank Accounts</span>
                                 </router-link>
                             </li>
                         </ul>
                     </li>

                     <li v-if="permissions.projects">
                         <a href="#tables" title="Tables" data-toggle="collapse" class="menu-toggle">
                             <em class="material-icons">assignment</em>
                             <span>Project Administration</span>
                         </a>
                         <ul id="tables" class="nav sidebar-subnav collapse">
                             <li class="sidebar-subnav-header">Project Administration</li>
                             <li>
                                 <router-link :to ="{name: 'projects'}"title="Basic Tables">
                                     <span>Projects</span>
                                 </router-link>
                             </li>
                             
                         </ul>
                     </li>

                     <li v-if="permissions.reports">
                         <a href="#widgets" title="Widgets" data-toggle="collapse" class="menu-toggle">
                             <em class="material-icons">folder</em>
                             <span>Reports</span>
                         </a>
                         <ul id="widgets" class="nav sidebar-subnav collapse">
                             <li class="sidebar-subnav-header">Reports</li>
                             <li>
                                 <router-link :to ="{name: 'report-by-chart'}"title="Report By Chart Of Account">
                                     <span>Report By Chart Of Account</span>
                                 </router-link>
                             </li> 

                             <li v-if="permissions.requisition_by_material">
                                 <router-link :to ="{name: 'requisitions-by-material-report'}"title="Requisition By Material">
                                     <span>Requisitions By Material</span>
                                 </router-link>
                             </li>
                             <li v-if="permissions.requisition_by_date_range">
                                 <router-link :to ="{name: 'requisitions-by-date-report'}"title="Requisition By Date Range">
                                     <span>Requisitions By Date Range</span>
                                 </router-link>
                             </li v-if="permissions.employee_imprest">

                             <li v-if="permissions.requisition_by_project">
                                 <router-link :to ="{name: 'requisitions-by-project-report'}"title="Requisition By Project">
                                     <span>Requisitions By Project</span>
                                 </router-link>
                             </li>

                             <li v-if="permissions.expense_by_category">
                                 <router-link :to ="{name: 'expense-by-type-report'}"title="Expense By Type">
                                     <span>Expense By Category</span>
                                 </router-link>
                             </li>

                             <li v-if="permissions.expense_by_project_phase">
                                 <router-link :to ="{name: 'expense-by-project-phase-report'}"title="Expense By Project Phase">
                                     <span>Expense By Project Phase</span>
                                 </router-link>
                             </li>

                             <li v-if="permissions.expense_by_project_phase_cumulative">
                                 <router-link :to ="{name: 'expense-by-phase-report'}"title="Expense By Phase">
                                     <span>Expense By Phase</span>
                                 </router-link>
                             </li>
                             <!-- End -->
                             <li v-if="permissions.report_by_staff_allocation">
                                 <router-link :to ="{name: 'staff-allocation-report'}"title="Staff Allocations">
                                     <span>Staff Allocations</span>
                                 </router-link>
                             </li>

                             <li v-if="permissions.expense_by_project">
                                 <router-link :to ="{name: 'expense-by-project-report'}"title="Expense By Project">
                                     <span>Expense By Project</span>
                                 </router-link>
                             </li> 

                             <li v-if="permissions.expense_by_date_range">
                                 <router-link :to ="{name: 'expense-by-date-range-report'}"title="Expense By Project">
                                     <span>Expense By Date Range</span>
                                 </router-link>
                             </li>

                             <li v-if="permissions.contracts_by_date_range">
                                 <router-link :to ="{name: 'contract-by-date-report'}"title="Expense By Project">
                                     <span>Contracts By Date Range</span>
                                 </router-link>
                             </li>

                             <li v-if="permissions.contract_by_project">
                                 <router-link :to ="{name: 'contract-by-project-report'}"title="Expense By Project">
                                     <span>Contracts By Project</span>
                                 </router-link>
                             </li>

                             <li v-if="permissions.contracts_by_labour">
                                 <router-link :to ="{name: 'contract-by-labour-report'}"title="Expense By Project">
                                     <span>Contracts By Labour</span>
                                 </router-link>
                             </li>
                         </ul>
                     </li>
                
                     <li v-if="permissions.vendor_administration">
                         <a href="#appview" title="App Views" data-toggle="collapse" class="menu-toggle">
                             <em class="material-icons">work</em>
                             <span>Vendors Administration</span>
                         </a>
                         <ul id="appview" class="nav sidebar-subnav collapse">
                             <li class="sidebar-subnav-header">Vendors Administration</li>
                             <li v-if="permissions.service_vendor">
                                 <router-link :to="{name:'service-vendors'}">   
                                     <span>Service Vendor</span>
                                 </router-link>
                             </li>
                             <li v-if="permissions.vendor_pricing">
                                <router-link :to="{name:'vendor-pricing'}">
                                    <span>Vendor Pricing</span>
                                </router-link>
                             </li>
                         </ul>
                     </li>
                

                 </ul>
                 <!-- END sidebar nav-->
             </nav>
         </div>
         <!-- #END# Sidebar (left)-->
     </aside>
     <!-- offsidebar-->
     <aside class="offsidebar hide">
         <!-- START Off Sidebar (right)-->
         <nav>
             <div role="tabpanel">
                 <!-- Nav tabs-->
                 <ul role="tablist" class="nav nav-tabs nav-tabs-inline nav-justified">
                     <li role="presentation" class="active">
                         <a href="#app-skins" aria-controls="app-settings" role="tab" data-toggle="tab">
                             <em class="material-icons">color_lens</em>
                         </a>
                     </li>
                     <li role="presentation">
                         <a href="#app-settings" aria-controls="app-chat" role="tab" data-toggle="tab">
                             <em class="material-icons">settings</em>
                         </a>
                     </li>
                 </ul>
                 <!-- Tab panes-->
                 <div class="tab-content">
                     <div id="app-skins" role="tabpanel" class="tab-pane fade in active">
                         <ul class="skin_selector" id="sidebar_clr_selector">
                             <h2>Sidebar Skins</h2>
                             <li data-theme="light" class="active">
                                 <div class="grey"></div>
                                 <span>Light</span>
                             </li>
                             <li data-theme="dark">
                                 <div class="black"></div>
                                 <span>Dark</span>
                             </li>
                         </ul>
                         <ul class="skin_selector" id="skin_selector">
                             <h2>Navbar Skins</h2>
                             <li data-theme="red">
                                 <div class="red"></div>
                                 <span>Red</span>
                             </li>
                             <li data-theme="pink">
                                 <div class="pink"></div>
                                 <span>Pink</span>
                             </li>
                             <li data-theme="purple">
                                 <div class="purple"></div>
                                 <span>Purple</span>
                             </li>
                             <li data-theme="indigo">
                                 <div class="indigo"></div>
                                 <span>Indigo</span>
                             </li>
                             <li data-theme="blue" class="active">
                                 <div class="blue"></div>
                                 <span>Blue</span>
                             </li>
                             <li data-theme="light-blue">
                                 <div class="light-blue"></div>
                                 <span>Light Blue</span>
                             </li>
                             <li data-theme="cyan">
                                 <div class="cyan"></div>
                                 <span>Cyan</span>
                             </li>
                             <li data-theme="teal">
                                 <div class="teal"></div>
                                 <span>Teal</span>
                             </li>
                             <li data-theme="green">
                                 <div class="green"></div>
                                 <span>Green</span>
                             </li>
                             <li data-theme="lime">
                                 <div class="lime"></div>
                                 <span>Lime</span>
                             </li>
                             <li data-theme="yellow">
                                 <div class="yellow"></div>
                                 <span>Yellow</span>
                             </li>
                             <li data-theme="orange">
                                 <div class="orange"></div>
                                 <span>Orange</span>
                             </li>
                             <li data-theme="brown">
                                 <div class="brown"></div>
                                 <span>Brown</span>
                             </li>
                             <li data-theme="grey">
                                 <div class="grey"></div>
                                 <span>Grey</span>
                             </li>
                         </ul>
                     </div>
                     <div id="app-settings" role="tabpanel" class="tab-pane fade">
                         <div class="demo-settings ">
                             <ul class="setting-list">
                                 <h2>Layout Settings</h2>
                                 <li>
                                     <span>Fixed</span>
                                     <div class="switch">
                                         <label><input id="chk-fixed" type="checkbox" data-toggle-state="layout-fixed" /><span class="lever switch-col-grey"></span></label>
                                     </div>
                                 </li>
                                 <li>
                                     <span>Boxed</span>
                                     <div class="switch">
                                         <label><input id="chk-boxed" type="checkbox" data-toggle-state="layout-boxed" /><span class="lever switch-col-grey"></span></label>
                                     </div>
                                 </li>
                                 <li>
                                     <span>Collapsed</span>
                                     <div class="switch">
                                         <label><input id="chk-collapsed" type="checkbox" data-toggle-state="aside-collapsed" /><span class="lever switch-col-grey"></span></label>
                                     </div>
                                 </li>
                                 <li>
                                     <span>Collapsed Text</span>
                                     <div class="switch">
                                         <label><input id="chk-collapsed-text" type="checkbox" data-toggle-state="aside-collapsed-text" /><span class="lever switch-col-grey"></span></label>
                                     </div>
                                 </li>
                                 <li>
                                     <span>Float</span>
                                     <div class="switch">
                                         <label><input id="chk-float" type="checkbox" data-toggle-state="aside-float" /><span class="lever switch-col-grey"></span></label>
                                     </div>
                                 </li>
                                 <li>
                                     <span>Show Scrollbar</span>
                                     <div class="switch">
                                         <label><input id="chk-hover" type="checkbox" data-toggle-state="show-scrollbar" data-target=".sidebar" /><span class="lever switch-col-grey"></span></label>
                                     </div>
                                 </li>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>
         </nav>
         <!-- #END# Off Sidebar (right)-->
     </aside>
     <!-- Main section-->
     <section>
         <!-- Page content-->
         <div class="content-wrapper">
             <div class="container-fluid">
                <div>
                     <a href="#"  @click.prvent="logout" class="dropdown-item">Logout</a>
                </div>{{!!0}}
                <div v-if="permissions.system_setup">I have set up permission</div>
                
                
                 <router-view></router-view>
                 </div>
         </div>
    </section>
                 <!--row-->
     <footer>
         <span>&copy; 2017 - Eagle Template By <b class="col-blue">Bylancer</b></span>
     </footer>
</div>

</template>

<script>
   
    export default {
        mounted(){
           console.log(this.$store.state.currentUser.permissions);
        },
        methods: {
        logout(){
            this.$store.commit('logout');
            this.$router.push('/login');
        }
       },
        computed: {
            permissions(){
                if(this.$store.state.currentUser != null){
                    return this.$store.state.currentUser.permissions;
                }else{
                    return {};
                }
            
           }
        },
            
        
    };
</script>
<style> 
    input,select{
        text-transform: capitalize!important;
    }
   input[type*="email"]{
    text-transform: lowercase!important;
    }
</style>
