<template>
    <div class="uploader" @dragenter="OnDragEnter" @dragleave="OnDragLeave" @dragover.prevent @drop ="OnDrop" :class ="{ dragging : isDragging}">
        
        
        <div v-if="!images.length">
            <i class="material-icons">cloud_upload</i>
            <p>Drag your files here</p>
            <div>OR</div>

            <div class="file-input">
                <label for="file">Select a file</label><!--Clicking this label would trigger the lower input box becaule it's for attribute-->
                                                       <!--is the same as the id of the input-->
                <input type="file" id ="file" @change="onInputChange" multiple>
            </div>
        </div>

        <div v-else="images.length">
            <div class="images-preview" >
                <div class="upload-control">
                    <label for="file">Select a file</label>
                    <input type="file" id ="file" @change="onInputChange" multiple style="display:none">
                </div>

                <div class="img-wrapper" v-for="(image, index) in images" :key="index">
                    
                    <div class="details">
                        <p></p>
                        <span class="name">{{files[index].name}}</span>
                        <span class="size">{{getFileSize(files[index].size)}}</span>

                    </div>

                </div>

            </div>
        </div>
        
    </div>
</template>

<script>
    export default {
        data(){
            return{
                isDragging : false,
                dragCount:0,
                files :[],//The file object to be sent to the server
                images:[],//Used to present the image to the user
            }
        } ,
        methods:{
            OnDragEnter(e){
                e.preventDefault();
                this.dragCount++;
                this.isDragging = true;
            },

            OnDragLeave(e){
                e.preventDefault();
                this.dragCount--;
                if (this.dragCount == 0) 
                    this.isDragging = false;
            },

            OnDrop(e){
                e.preventDefault();
                e.stopPropagation();//Lookup
                this.isDragging = false;

                const files = e.dataTransfer.files;//Get all the dropped files
                Array.from(files).forEach(file => this.addImage(file));//To enable us check the files first before inserting into the files array in the data object

                this.$emit('imageFiles',this.files)
            
            },

            addImage(file){//Controls making the app viewable by the viewers
                // if(!file.type.match('image.*')){//Check that this is an image
                //     this.$toastr.e(`${file.name} is not an image`);
                //     return
                // }
                this.files.push(file);//insert the image object into the files data object

                const reader = new FileReader();

                reader.readAsDataURL(file);//Get the base 64 version of the image, i.e the one the user can view

                reader.onload = (e => { 
                    this.images.push(e.target.result)
                    // console.log(e.target);
                })

            },

            getFileSize(sizeInBytes){
                const fSExt = ['Bytes','KB', 'MB', 'GB'];

                let i = 0;

                while(sizeInBytes > 900){
                    sizeInBytes /= 1024;
                    i++
                }

                return `${(Math.round(sizeInBytes *100) / 100)} ${fSExt[i]}`

            },

            onInputChange(e){
            const files = e.target.files;//This works different from a drop, but they both get the fileList
            Array.from(files).forEach(file => this.addImage(file));
            this.$emit('imageFiles',this.files)

            },

            clearBox(){
                this.images = [];
                this.files = [];
            }
        }
        
    };
</script>

<style lang ="scss" scoped>

.uploader{
    width:100%;
    background: #00b0e4;
    color: #fff;
    padding: 0px 15px;
    text-align: center;
    border-radius: 10px;
    border:3px dashed #fff;
    font-size: 20px;
    position: relative;
    
    &.dragging{
        background: #fff;
        color: #2196F3;
        border:3px dashed #2196F3;

        .file-input label{
            background: #2196F3;
            color: #fff;
        }
    }

    i{
    font-size: 85px;
    }   

    .file-input{
    width:200px;
    margin: auto;
    height: 68px;
    position:relative;

    label,input{

        background: #fff;
        color: #2196F3;
        width: 100%; 
        position:absolute;
        left:0;
        top: 0;
        padding: 10px;
        border-radius: 4px;
        margin-top: 7px;
        cursor:pointer;

        }
    input{
        opacity: 0;
        z-index: -2;
        }
    }

    .images-preview{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px; 

        .img-wrapper{
            width:160px;
            display: flex;
            flex-direction: column;
            margin:10px;
            height:15 0px;
            justify-content: space-between;
            background: #fff;
            box-shadow: 5px 5px 20px #3e3737;

            img{
                max-height: 105px;
            }
            .details{
                font-size: 12px;
                background: #fff;
                color: #000;
                display: flex;
                flex-direction: column;
                align-self: self-start;
                padding: 3px 6px;

                .name{
                    overflow: hidden;
                    height:18px;
                }
            }
        }

        .upload-control{
            position: absolute;
            width: 100%;
            background: #fff;
            top:0;
            left:0;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            padding:10px;
            padding-bottom: 4px;
            text-align: right;

            button,label{
                background: #2196F3;
                border: 2px solid #03A9F4;
                border-radius: 3px;
                color:#fff;
                font-size: 15px;
                cursor: pointer;
            }

            label{
                padding: 2px 5px;
                margin-right: 10px
            }
        }
    }

} 



</style>