<template>
    <div>
        <!-- <Header/> -->
            <notifications group="foo" />
            <router-view></router-view>
        
    </div>
</template>

<script>
    // import Header from './Header.vue';
    name: 'main-app';
    export default {
        data(){
            return{
                
            }
        },
        components: {
           
        },
        computed:{
           permissions(){
            return this.$store.state.currentUser.permissions;
           }
        },
        created(){
            // if(this.$store.state.currentUser != null){
            //     console.log(this.$store.state.currentUser.time)
            //     setTimeout(()=>{
            //              this.$store.commit('logout');
            //              this.$router.push('/login');
            //          },this.$store.state.currentUser.time*1000);
            // }
            
        }
        
    }
</script>
