<template>

    <div class="projects" >

        <div class="notifications" style="width: 300px; top: 0px; right: 0px;" v-if="updating">
          <span>
            <div data-id="6" class="notification-wrapper" style="transition: all 300ms;">
              <div class="notification vue-notification" style="background:grey; border-left-color:#ccc"><div class="notification-title">Notification</div> 
              <div class="notification-content">Please Wait...</div>
            </div></div>
          </span>
        </div>

        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="requisitions.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "requisitions"
                       :fields = "json_fields"
                       name    = "Requisitions.xls"
                       page    = "requisition">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "requisitions"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Requisitions.csv"
                       page    = "requisition">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy" >
            <tbody v-if="requisitions.length > 0">
                <tr v-for="(requisition, i) in requisitions" :key="requisition.id">
                    <td>{{requisition.id}}</td>
                    <td>{{ requisition.user.last_name +' '+ requisition.user.first_name}}</td>
                    <td>{{ makeMoment(requisition.date) }}</td>
                    <td>{{ requisition.individual_project_phase.projectphase.name }}</td>
                    <td>
  
                      <div v-if="check_status(requisition.purchase_requisition_materials) == 0" class="btn btn-info btn-sm">
                        New
                      </div>

                      <div v-else-if="check_status(requisition.purchase_requisition_materials) == 1" class="btn btn-danger btn-sm">
                        Incomplete Review
                      </div>

                      <div v-else-if="check_status(requisition.purchase_requisition_materials) == 2" class="btn btn-warning btn-sm">
                        Needs Attention
                      </div>

                      <div v-else-if="check_status(requisition.purchase_requisition_materials) == 3" class="btn btn-success btn-sm">
                        Reviewed
                      </div>
  
                    </td>
                    <td>

                      <div v-if="check_vendor(requisition.purchase_requisition_materials)" class="btn btn-warning btn-sm">
                        No Vendor 
                      </div>

                      <div v-else-if="!check_any_payment(requisition.purchase_requisition_materials)" class="btn btn-danger btn-sm">
                        Unpaid
                      </div>

                      <div v-else-if="check_payment(requisition)" class="btn btn-info btn-sm">
                        Part Payment
                      </div>

                      <div v-else class="btn btn-success btn-sm">
                        Full Payment
                      </div>
                      <!-- <div v-else-if="requisition.status==4" class="btn btn-danger btn-sm">Canceled</div>
                      <div v-else class="btn btn-warning btn-sm">Needs Review</div> -->

                    </td>
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                          
                            <ul class="dropdown-menu bullet">

                              <li style="cursor:pointer">

                                <router-link :to="{ name: 'requisition-materials', params: { id: requisition.id } }">
                                  <i class="material-icons">edit</i>View / Edit
                                </router-link>

                              </li>
                               
                           </ul>

                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="requisitions.length < 1" style="text-align:center;">
          No requisition for this project yet.
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="requisitions.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../PhasesDatatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import moment from 'moment';
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },

    mounted()
    {
      
        this.getProjects();

    },
    data() {
        let sortOrders = {};

          let columns = [
            {width: '8%', label: 'ID', name: 'id', sortable: true },
            {width: '20%', label: 'Requester', name: 'user_id', sortable: false},
            {width: '15%', label: 'Date Needed', name: 'date', sortable: true},
            {width: '12%', label: 'Phase', name: 'individual_project_phases_id', sortable: true},
            {width: '10%', label: 'Status', name: 'project_material_id', sortable: false},
            {width: '20%', label: 'Payment', name: 'status', sortable: false},            
            {width: '15%', label: 'Action', name: 'action', sortable: false},            
          ];        

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            project:{},

            // requisitions:[],
            json_fields: {
              'ID': 'id',
              'Requester': 'name_x',
              'Date Needed': 'date_x',
              'Phase': 'individual_project_phase.projectphase.name',
              'Status': 'status_x',
              'Payment': 'payment_x',
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,
            updating: false

        }
    },
    methods: {

        pdfExport(){
            this.requisitions.page='requisition';
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Requester", dataKey: "name_x" },
            {title:"Date Needed", dataKey: "date_x" },
            {title:"Phase", dataKey: "individual_project_phase.projectphase.name" },
            {title:"Status", dataKey: "status_x" },
            {title:"Payment", dataKey: "payment_x" },
            ];

            var doc =jsPDF('l','in', [15, 15]);
            doc.autoTable(columns, this.requisitions);
            doc.save('Requisitions.pdf');
        },
        getProjects(url = '/api/get/purchase-requisitions') {
            this.show = true;
            this.tableData.draw++;
            axios.post(url, {params: this.tableData, id : this.$route.params.id})
                .then(response => {
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit('loadProjectPurchaseRequisition', data)
                      this.configPagination(this.$store.state.purchaseRequisitions_pag);
                      
                    }
                })
                .catch(errors => {
                  this.show = false;
                  console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },

        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        
        addCommas(x){
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        makeMoment(value){//Format dates for raw display
          return moment(value).format('MMMM Do YYYY');
        },
        getTotal(phase_materials, phase_labours){
          let total = 0;
          phase_materials.forEach((material)=>{
            total += (parseInt(material.amount) * parseInt(material.quantity));
          });

          phase_labours.forEach((labour)=>{
            total += (parseInt(labour.amount) * parseInt(labour.quantity));
          });
          return total;
        },

        check_vendor(materials){//Check if any of the registered materials have been assigned a vendor, because this ultimately determines
          //If the material would have a cost because it's the vendor's price thats being used here
          let value = 0;
          materials.forEach(material => {
            if(material.vendor_id){
              value += material.vendor.flagged;
            }else{
              value +=1;
            }
          });
          return value;//If any requested has been unflagged, it would return a value greater than 0
        },
        check_any_payment(materials){
          // if(requisition.purchase_requisition_materials.expense_records_amount.length)

          var paid = 0;
          materials.forEach(material => {
            if(material.expense_records_amount.length){
              paid += material.expense_records_amount[0].amount;

            }
          });
          return paid;

        },

        check_payment(requisition){
          //This function is only triggered if an expense record exists for this requisition
          //So its's either a part payment or a full payment

          var bill = 0;
          var paid = 0;
          requisition.purchase_requisition_materials.forEach(material => {
             if(material.expense_records_amount.length){
              paid += material.expense_records_amount[0].amount;
            }
          });
          /*let paid = requisition.purchase_requisition_materials.expense_records_amount.length ? requisition.purchase_requisition_materials.expense_records_amount[0].amount : 0;*/

          //Calculate the bill of the total materials attached to this requisition
          requisition.purchase_requisition_materials.forEach(material => {

            let qty = material.quantity;//Get the quantity
            // console.log(material);
            let material_id = material.project_material.material_and_services_id;//Get the id of the material 
            //Use the id of the material to find how much this selected vendor is selling it
            //A vendor is only selectable in the first place if he has the material, so this below function must work
           
              var vendor_service = material.vendor.vendorservice.find(service => service.material_and_services_id = material_id)
              var target_price = vendor_service.cost;
              var total_cost = target_price * qty;
               
            bill += total_cost;

          });
          // console.log(paid);

          return (bill > paid);
        },

        check_status(material){
          if(material.find(material => material.status_for_pr == 0)){//If any of the material is new

            if(material.find(material => material.status_for_pr == 1)){//If any of the materials have been reviewed

              if(material.find(material => material.status_for_pr == 2)){//If any of the materials is an extra addition

                // return "Needs Attention";
                return 2;

              }//No extra material has been added since creation
              else{

                // return "Incomplete Review";
                return 1;

              }

            }//Non of the materials have been reviewed
            else{

                // return "New";
                return 0;

            }

          }
          else{//No material in the pr is new and unattended to

            if(material.find(material => material.status_for_pr == 2)){//If any of the materials is an extra addition

              // return "Needs Attention";
              return 2;

            }
            else{//All of them has been reviewed

                // return "Reviewed";
                return 3;

            }

          }

        }

    },
    computed:{

      requisitions(){
        return this.$store.state.purchaseRequisitions;
      }

    }
    
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>