<template>

    <div class="projects" >
       <div class="notifications" style="width: 300px; top: 0px; right: 0px;" v-if="updating">
          <span>
            <div data-id="6" class="notification-wrapper" style="transition: all 300ms;">
              <div class="notification vue-notification" style="background:grey; border-left-color:#ccc"><div class="notification-title">Notification</div> 
              <div class="notification-content">Please Wait...</div>
            </div></div>
          </span>
        </div>

        <div :class="{spinner: show}"></div>
        <div class="btn-group" @click="addMaterial">
            <button type="button" class="btn btn-info flexit">
              <em class="material-icons" style="font-size:15px;">add</em>
              <span class="line">Add Material</span>
            </button>
        </div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="requisitionMaterials.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "requisitionMaterials"
                       :fields = "json_fields"
                       :name   = "requisitionMaterials[0].purchase_requisition.user.first_name + ' ' + requisitionMaterials[0].purchase_requisition.user.last_name+'\'s requested materials.xls'"
                       page    = "requisition_materials">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "requisitionMaterials"
                       :fields = "json_fields"
                       type    = "csv"
                       :name   = "requisitionMaterials[0].purchase_requisition.user.first_name + ' ' +requisitionMaterials[0].purchase_requisition.user.last_name+'\'s requested materials.csv'"
                       page    = "requisition_materials">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy" >
            <tbody v-if="requisitionMaterials.length > 0">
                <tr v-for="(requisitionMaterial, i) in requisitionMaterials" :key="requisitionMaterial.id">
                    <td>{{requisitionMaterial.id}}</td>
                    <td>{{ requisitionMaterial.vendor != null ? requisitionMaterial.vendor.name : 'Unassigned' }}</td>
                    <td>{{ requisitionMaterial.project_material.material_and_service.name }}</td>
                    <td>{{ requisitionMaterial.quantity }}</td>
                    <td>{{ requisitionMaterial.quantity_delivered }}</td>
                    <td>{{ requisitionMaterial.quantity - requisitionMaterial.quantity_delivered }}</td>
                    <td>
  
                      <div v-if="requisitionMaterial.status == 0" class="btn btn-info btn-sm">
                        New
                      </div>

                      <div v-else-if="requisitionMaterial.status == 1" class="btn btn-success btn-sm">
                        Approved
                      </div>

                      <div v-else-if="requisitionMaterial.status == 2" class="btn btn-danger btn-sm">
                        Declined
                      </div>

                      <div v-else-if="requisitionMaterial.status == 3" :class ="['btn', 'btn-sm', check_delivered(requisitionMaterial) ? 'btn-success' : 'btn-warning']" >
                        {{check_delivered(requisitionMaterial) ? 'Delivered' : 'Part Delivery'}}
                      </div>
  
                    </td>
                    <td>{{ addCommas(getTotal(requisitionMaterial)) }}</td>
                    <td>{{ addCommas(getTotalPaid(requisitionMaterial.expense_records_amount)) }}</td>
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                          
                            <ul class="dropdown-menu bullet">

                              <li style="cursor:pointer">

                                <!-- Approved and havent gotten a vendor -->
                                <a v-if="check_vendor_dependencies(requisitionMaterial)" @click="assignVendor(requisitionMaterial)"><i class="material-icons">work</i>Assign Vendor</a>
                                <!-- Not approved and not delivered -->
                                <a v-if="requisitionMaterial.status != 1 && requisitionMaterial.status != 3" @click ="approve(requisitionMaterial, i)">
                                  <i class="material-icons">check_circle</i>Approve
                                </a>

                                <!-- Not declined -->
                                <a v-if="requisitionMaterial.status != 2" @click="decline(requisitionMaterial.id, i)">
                                  <i class="material-icons">not_interested</i>Decline
                                </a>

                                <!-- Approved or not completely delivered -->
                                <a v-if="(requisitionMaterial.vendor != null && requisitionMaterial.status == 1) || (requisitionMaterial.status == 3 && check_delivered(requisitionMaterial) == false) " @click="deliverModal(requisitionMaterial, i)">
                                  <i class="material-icons">done_all</i>Delivered
                                </a>
                                
                                <!-- Not declined and not new -->
                                <a v-if="check_payment_dependencies(requisitionMaterial)" @click="makePayment(requisitionMaterial, i)"><i class="material-icons">payment</i>Make Payment</a>

                              </li>
                               
                           </ul>

                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="requisitionMaterials.length < 1" style="text-align:center;">
          No requisition material for this requisition yet.
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="requisitionMaterials.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import moment from 'moment';
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },

    mounted()
    {
      
        this.getProjects();

    },
    data() {
        let sortOrders = {};

          let columns = [
            {width: '6%', label: 'ID', name: 'id', sortable: true },
            {width: '14%', label: 'Vendor', name: 'vendor_id', sortable: false},
            {width: '14%', label: 'Material', name: 'project_material_id', sortable: false},
            {width: '11%', label: 'Quantity', name: 'quantity', sortable: true},
            {width: '9%', label: 'Delivered', name: 'quantity_delivered', sortable: true},
            {width: '7%', label: 'Qty Left', name: 'quantity_left', sortable: false},
            {width: '9%', label: 'Status', name: 'status', sortable: true},
            {width: '14%', label: 'Total Cost', name: 'total_cost', sortable: false},            
            {width: '7%', label: 'Paid', name: 'total_paid', sortable: false},            
            {width: '9%', label: 'Action', name: 'action', sortable: false},            
          ];        

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            project:{},

            // requisitionMaterials:[],
            json_fields: {
              'ID': 'id',
              'Vendor': 'vendor_x',
              'Material': 'project_material.material_and_service.name',
              'Quantity': 'quantity',
              'Quantity Delivered': 'quantity_delivered',
              'Qty Left': 'remnant_x',
              'Status': 'status_x',
              'Total Cost': 'total_x',
              'Paid': 'paid_x',
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            requisitionMaterials:{},
            show: true,
            updating: false

        }
    },
    methods: {

        pdfExport(){
            this.requisitionMaterials.page = 'requisition_materials';
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Vendor", dataKey: "vendor_x" },
            {title:"Material", dataKey: "project_material.material_and_service.name" },
            {title:"Quantity", dataKey: "quantity" },
            {title:"Quantity Delivered", dataKey: "quantity_delivered" },
            {title:"Qty Left", dataKey: "remnant_x" },
            {title:"Status", dataKey: "status_x" },
            {title:"Total Cost", dataKey: "total_x" },
            {title:"Paid", dataKey: "paid_x" },
            ];

            var doc = new jsPDF('l','pt');
            doc.autoTable(columns, this.requisitionMaterials);
            doc.save(this.requisitionMaterials[0].purchase_requisition.user.first_name + ' ' + this.requisitionMaterials[0].purchase_requisition.user.last_name+'\'s requested materials.pdf');
        },
        getProjects(url = '/api/get/requisition-materials') {
            this.show = true;
            this.tableData.draw++;
            axios.post(url, {params: this.tableData, id : this.$route.params.id})
                .then(response => {
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.requisitionMaterials = data.data.data;
                      this.requisitionMaterials.forEach(material => {
                        if(material.vendor != null){
                          if(material.vendor.flagged == 1){//Remove any vendor that hasnt been unflagged
                            // alert('s');
                            material.vendor = null;
                          }
                        }
                          
                      })
                      // console.log(this.requisitionMaterials);
                      this.configPagination(data.data);
                    }
                })
                .catch(errors => {
                  this.show = false;
                  console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },

        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        
        addCommas(x){
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },

        getTotal(requisitionMaterial){
          let total = 0;

          if(requisitionMaterial.vendor != null)
          {
            if(requisitionMaterial.vendor.flagged != 1){

              /*var mat_id = requisitionMaterial.project_material.material_and_services_id;
              var vendor_services = requisitionMaterial.vendor.vendorservice;
              var qty = requisitionMaterial.quantity;
              var chosenService = vendor_services.find(service => service.material_and_service_id == mat_id);
              var cost = chosenService.cost;*/
              var qty = requisitionMaterial.quantity;
              var cost = requisitionMaterial.current_vendor_price;
              total = cost * qty;

            }
          }
          
          return total;
        },

        getTotalPaid(expenses){
          let total = 0;

          if(expenses.length)
          {
            return expenses[0].amount;
          }
          else
          {
          return total;
          }
        },

        addMaterial(){
          this.$emit('addMaterial');
        },
        approve(material, index){
          this.updating = true;
          let data ={
            id : material.id, 
            material, 
            project:material.purchase_requisition.project,
            user : material.purchase_requisition.user,
            staff_allocations : material.purchase_requisition.project.projectstaffallocations
          };
          
          axios.post('/api/approve/requisition-material',data)
                .then(response=>{
                  this.updating = false;
                  this.requisitionMaterials[index].status = 1;
                  this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'Notification',
                    text: 'Approved!',
                    duration: 10000,
                  });
                })
                .catch(error =>{
                  console.log(error);
                  this.updating = false;
                  this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'Notification',
                    text: error.response.data.error,
                    duration: 10000,
                  });
                })
        },

        decline(materialId, index){
          this.updating = true;
          axios.post('/api/decline/requisition-material',{id : materialId})
                .then(response=>{
                  this.updating = false;
                  this.requisitionMaterials[index].status = 2;
                  this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'Notification',
                    text: 'Declined!',
                    duration: 10000,
                  });
                })
                .catch(error =>{
                  this.updating = false;
                  this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'Notification',
                    text: error.response.data.error,
                    duration: 10000,
                  });
                })
        },

        deliverModal(material, index){//Send data needed to open modal that takes the number of items delivered
          var quantity_left = material.quantity - material.quantity_delivered;
          let data ={
            materialId : material.id,
            index,
            quantity_left
          };
          this.$emit('deliverModal',data);
        },
        please_wait(){
          this.updating = true;
        },

        delivered(index, quantity_delivered){//After marked as delivered
          this.updating = false;
          this.requisitionMaterials[index].status = 3;
          this.requisitionMaterials[index].quantity_delivered = parseInt(this.requisitionMaterials[index].quantity_delivered) + parseInt(quantity_delivered);
          // console.log(quantity_delivered);
        },

        not_delivered(index){//Error on delivering
          this.updating = false;
        },

        check_delivered(material){
          if(material.quantity_delivered < material.quantity){
            return false;
          }else{
            return true;
          }
        },

        check_payment_dependencies(requisitionMaterial){
          if(requisitionMaterial.status != 2 && requisitionMaterial.status  && requisitionMaterial.vendor != null){
            return true;
          }else{
            return false;
          }
        },

        makePayment(requisitionMaterial, index){
          //Get the total debt
          let debt = 0;
          /*var mat_id = requisitionMaterial.project_material.material_and_services_id;
          var vendor_services = requisitionMaterial.vendor.vendorservice;
          var qty = requisitionMaterial.quantity;
          var chosenService = vendor_services.find(service => service.material_and_service_id = mat_id);
          var cost = chosenService.cost;*/
          var qty = requisitionMaterial.quantity;
          var cost = requisitionMaterial.current_vendor_price;
          debt = cost * qty;

          // Get the total paid
          let expenses = requisitionMaterial.expense_records_amount;
          let paid = 0;

          if(expenses.length)
          {
            paid = expenses[0].amount;
          }

          var balance = debt - paid;
          let data ={
            materialId : requisitionMaterial.id,
            index,
            balance
          };
          this.$emit('makePayment', data);
        },

        check_vendor_dependencies(requisitionMaterial){
          if(requisitionMaterial.status == 1 && requisitionMaterial.vendor == null){
            return true;
          }else{
            return false;
          }
        },

        assignVendor(material){
          let data ={
            id : material.id, 
            material, 
            project:material.purchase_requisition.project,
            user : material.purchase_requisition.user,
            staff_allocations : material.purchase_requisition.project.projectstaffallocations
          };
          this.$emit('assignVendor', data)
        }

        
    },
    computed:{

      requisitions(){
        return this.$store.state.purchaseRequisitions;
      }

    }
    
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}
.bullet{
  padding: 0;
}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>