<template>

    <div class="projects" >

        <div class="notifications" style="width: 300px; top: 0px; right: 0px;" v-if="updating">
          <span>
            <div data-id="6" class="notification-wrapper" style="transition: all 300ms;">
              <div class="notification vue-notification" style="background:grey; border-left-color:#ccc"><div class="notification-title">Notification</div> 
              <div class="notification-content">Please Wait...</div>
            </div></div>
          </span>
        </div>

        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="costingWeeks.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "costingWeeks"
                       :fields = "json_fields"
                       :name   = "costingWeeks[0].individualprojectphase.projectphase.name +' costing weeks.xls'"
                       page    = "costing_weeks">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "costingWeeks"
                       :fields = "json_fields"
                       type    = "csv"
                       :name   = "costingWeeks[0].individualprojectphase.projectphase.name +' costing weeks.csv'"
                       page    = "costing_weeks">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="costingWeeks.length > 0">
                <tr v-for="(costingWeek, i) in costingWeeks" :key="costingWeek.id" :class="costingWeek.priority ? 'red-border' : '' ">
                    <td>{{costingWeek.id}}</td>
                    <td>{{ makeMoment(costingWeek.start_date) }}</td>
                    <td>{{ makeMoment(costingWeek.end_date) }}</td>
                    <td>{{addCommas(getTotal(costingWeek.costing_day))}}</td>
                    <td>{{costingWeek.department.name}}</td>

                    <!-- <td>{{addCommas(getTotal(costingWeek.phase_material, costingWeek.phase_labour))}}</td>
                    <td v-if="costingWeek.expense_record.length">{{addCommas(costingWeek.expense_record[0].amount)}}</td>
                    <td v-else>0</td> -->
                    <td>

                      <div v-if="costingWeek.status==0" class="btn btn-warning btn-sm">Unbuilt</div>
                      <div v-else-if="costingWeek.status==1" class="btn btn-info btn-sm">In Review</div>
                      <div v-else-if="costingWeek.status==2" class="btn btn-success btn-sm">Approved</div>
                      <div v-else-if="costingWeek.status==3" class="btn btn-danger btn-sm">Declined</div>
                      <div v-else-if="costingWeek.status==4" class="btn btn-danger btn-sm">Cancelled</div>
                      <div v-else class="btn btn-warning btn-sm">Needs Review</div>

                    </td>
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                            <!--If it is a capital project-->
                           <ul class="dropdown-menu bullet">
                                  
                              <!-- If it hasnt been built show build costing -->

                               <li style="cursor:pointer" v-if="check_build(costingWeek)">
                                <a @click="$emit('buildCosting', costingWeek)" >
                                  <i class="material-icons">edit</i>Build Week Days
                                </a>
                              </li>
                             
                              <!-- If it has been built and sent for review but not approved -->
                              
                              <li style="cursor:pointer" v-else-if="costingWeek.status == 1" >
                                <a @click="approve(costingWeek.id, i)" >
                                  <i class="material-icons">edit</i>Approve
                                </a>
                              
                                <a @click="decline(costingWeek.id, i)" >
                                  <i class="material-icons">edit</i>Decline
                                </a>
                              
                                <a @click="$emit('buildCosting', costingWeek)" >
                                  <i class="material-icons">edit</i>View Days
                                </a>
                              </li>
                               
                              <!-- If it has been approved, show the cancel button -->
                              
                              <li style="cursor:pointer" v-else-if="costingWeek.status ==2">
                              
                                <a @click="cancel(costingWeek, i)">
                                  <i class="material-icons">edit</i>Cancel
                                </a>
                              
                                <a @click="$emit('buildCosting', costingWeek)" >
                                  <i class="material-icons">edit</i>View Days
                                </a>
                              
                              </li>
                             
                              <!-- If it has been declined or Canceled -->
                              
                              <li style="cursor:pointer" v-else-if="costingWeek.status == 3 || costingWeek.status == 4">
                              
                                <a @click="approve(costingWeek.id, i)" >
                                  <i class="material-icons">edit</i>Approve
                                </a>
                              
                                <a @click="$emit('buildCosting', costingWeek)" >
                                  <i class="material-icons">edit</i>View Days
                                </a>
                              
                              </li>

                              <!-- If it's project materials or labours has been mutated -->
                              
                              <li style="cursor:pointer" v-else-if="costingWeek.status == 5">
                              
                                <a @click="review(costingWeek.id, i)" >
                                  <i class="material-icons">edit</i>Submit For Review
                                </a>
                              
                                <a @click="$emit('buildCosting', costingWeek)" >
                                  <i class="material-icons">edit</i>View Days
                                </a>
                              
                              </li>

                                
                            </ul>
                              
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="costingWeeks.length < 1" style="text-align:center;">
          No costing week added to this phase yet.
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="costingWeeks.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import moment from 'moment';
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    mounted()
    {

      this.getProjects();

    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '10%', label: 'ID', name: 'id', sortable: true },
            {width: '15%', label: 'Start Date', name: 'start_date', sortable: true},
            {width: '15%', label: 'End Date', name: 'end_date', sortable: true},
            {width: '15%', label: 'Projection', name: 'amount', sortable: false},
            {width: '15%', label: 'Department', name: 'department_id', sortable: false},
            {width: '15%', label: 'Status', name: 'status', sortable: true},            
            {width: '15%', label: 'Action', name: 'action', sortable: false},            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            project:{},

            costingWeeks:[],
            json_fields: {
              'No': 'id',
              'Start Date': 'start_date_x',
              'End Date': 'end_date_x',
              'Projection': 'projection_x',
              'Department': 'department.name',
              'Status': 'status_x',
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,
            updating: false,
            total : 0,

        }
    },
    methods: {

        pdfExport(){
            this.costingWeeks.page = 'costing_weeks'
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Start Date", dataKey: "start_date_x" },
            {title:"End Date", dataKey: "end_date_x" },
            {title:"Projection", dataKey: "projection_x" },
            {title:"Department", dataKey: "department.name" },
            {title:"Status", dataKey: "status_x" },
            ];

            var doc = new jsPDF('p','pt');
            doc.autoTable(columns, this.costingWeeks);
            doc.save(this.costingWeeks[0].individualprojectphase.projectphase.name +' costing weeks.pdf');
        },
        getProjects(url = '/api/get/costing-weeks') {
            this.show = true;
            this.tableData.draw++;
            axios.post(url, {params: this.tableData, id : this.$route.params.id})
                .then(response => {
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.costingWeeks = data.data.data;
                      // console.log(data.data.data);
                      // console.log(this.costingWeeks);
                      this.configPagination(data.data);
                      // this.$emit('phaseName',this.costingWeeks[0].)
                    }
                })
                .catch(errors => {
                  this.show = false;
                  console.log(errors);
                });
        },

        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },

        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },

        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },

        reload(){
          this.getProjects();
        },

        addCommas(x){
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        makeMoment(value){//Format dates for raw display
          return moment(value).format('MMMM Do YYYY');
        },
        getTotal(costing_days){
          
          //Using this.total caused the code to squak of infinite loop
          //But using this local variable, it worked fine
          let total = 0
          costing_days.forEach((day) =>{

              day.project_material.forEach((material) => {
                 total += (parseInt(material.amount) * parseInt(material.quantity));
              });

              day.project_labour.forEach((labour) => {
                 total += (parseInt(labour.amount) * parseInt(labour.quantity));
              });  
          });
          

          return total;
        },

        check_build(week){
          if((week.status == 0 || !week.costing_day.length) && this.total == 0){
            return true;
          }else{
            return false
          }
        },

        approve(phaseId, index){
          this.updating = true;
          axios.post('/api/approve/week',{id : phaseId})
                .then(response=>{
                  this.updating = false;
                  this.costingWeeks[index].status = 2;
                  this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'Notification',
                    text: 'Approved!',
                    duration: 10000,
                  });
                })
                .catch(error =>{
                  this.updating = false;
                  this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'Notification',
                    text: error.response.data.error,
                    duration: 10000,
                  });
                })
        },

        decline(phaseId, index){
            this.updating = true;
            axios.post('/api/decline/week',{id : phaseId})
                .then(response=>{
                  this.updating = false;
                  this.costingWeeks[index].status = 3;
                  this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'Notification',
                    text: 'Declined!',
                    duration: 10000,
                  });
                })
                .catch(error =>{
                  this.updating = false;
                  this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'Notification',
                    text: error.response.data.error,
                    duration: 10000,
                  });
                })
        },

        cancel(phaseId, index){
          this.updating = true;
          axios.post('/api/cancel/week',{id : phaseId})
                .then(response=>{
                  this.updating = false;
                  this.costingWeeks[index].status = 4;
                  this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'Notification',
                    text: 'Canceled!',
                    duration: 10000,
                  });
                })
                .catch(error =>{
                  this.updating = false;
                  this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'Notification',
                    text: error.response.data.error,
                    duration: 10000,
                  });
                })
        },

        review(phaseId, index){
          this.updating = true;
          axios.post('/api/review/week',{id : phaseId})
                .then(response=>{
                  this.updating = false;
                  this.costingWeeks[index].status = 1;
                  this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'Notification',
                    text: 'Submitted!',
                    duration: 10000,
                  });
                })
                .catch(error =>{
                  this.updating = false;
                  this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'Notification',
                    text: error.response.data.error,
                    duration: 10000,
                  });
                })
        },
        

    },
    
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}
.red-border{
  border-left: 3px solid orange;
}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>