<template>

    <div class="projects" >

        <div class="notifications" style="width: 300px; top: 0px; right: 0px;" v-if="updating">
          <span>
            <div data-id="6" class="notification-wrapper" style="transition: all 300ms;">
              <div class="notification vue-notification" style="background:grey; border-left-color:#ccc"><div class="notification-title">Notification</div> 
              <div class="notification-content">Please Wait...</div>
            </div></div>
          </span>
        </div>

        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="individual_project_phases.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "individual_project_phases"
                       :fields = "json_fields"
                       :name   = "individual_project_phases[0].project.name +' costing phases.xls'"
                       page    = "costing_phases">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "individual_project_phases"
                       :fields = "json_fields"
                       type    = "csv"
                       :name   = "individual_project_phases[0].project.name +' costing phases.csv'"
                       page    = "costing_phases">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy" >
            <tbody v-if="individual_project_phases.length > 0">
                <tr v-for="(individual_project_phase, i) in individual_project_phases" :key="individual_project_phase.id">
                    <td>{{individual_project_phase.id}}</td>
                    <td>
                      {{individual_project_phase.projectphase.name}}
                    </td>

                    <td v-if= "individual_project_phase.project.type">
                      {{addCommas(getTotal(individual_project_phase.phase_material, individual_project_phase.phase_labour, i))}}
                    </td>

                    <td>
                      {{ individual_project_phase.expense_record.length ? addCommas(individual_project_phase.expense_record[0].amount) : '0'}}
                    </td>
                   
                    <td>

                      <div v-if="individual_project_phase.status==0" class="btn btn-warning btn-sm">Unbuilt</div>
                      <div v-else-if="individual_project_phase.status==1" class="btn btn-info btn-sm">In Review</div>
                      <div v-else-if="individual_project_phase.status==2" class="btn btn-success btn-sm">Approved</div>
                      <div v-else-if="individual_project_phase.status==3" class="btn btn-danger btn-sm">Declined</div>
                      <div v-else-if="individual_project_phase.status==4" class="btn btn-danger btn-sm">Cancelled</div>
                      <div v-else class="btn btn-warning btn-sm">Needs Review</div>

                    </td>
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                            <!--If it is a capital project-->
                           <ul class="dropdown-menu bullet" v-if="individual_project_phase.project.type">
                                  
                              <!-- If it hasnt been built show build costing -->

                              <li style="cursor:pointer" v-if="check_build(individual_project_phase)">
                                <a @click="$emit('buildCosting', individual_project_phase)" >
                                  <i class="material-icons">edit</i>Build Costing
                                </a>
                              </li>

                              <!-- If it has been build but not approved-->

                              <li style="cursor:pointer" v-else-if="individual_project_phase.status == 1" >
                                <a @click="approve(individual_project_phase, i)" >
                                  <i class="material-icons">check</i>Approve
                                </a>

                                <a @click="decline(individual_project_phase.id, i)" >
                                  <i class="material-icons">cancel</i>Decline
                                </a>

                                <a @click="$emit('buildCosting', individual_project_phase)" >
                                  <i class="material-icons">visibility</i>View Costing
                                </a>
                              </li>

                              <!-- If it has been approved, show the cancel button-->

                              <li style="cursor:pointer" v-else-if="individual_project_phase.status == 2">

                                <a @click="cancel(individual_project_phase, i)">
                                  <i class="material-icons">cancel</i>Cancel
                                </a>

                                <a @click="$emit('buildCosting', individual_project_phase)" >
                                  <i class="material-icons">visibility</i>View Costing
                                </a>

                              </li>

                              <!-- If it has been declined or Canceled-->
                              
                              <li style="cursor:pointer" v-else-if="individual_project_phase.status == 3 || individual_project_phase.status == 4">

                                <a @click="approve(individual_project_phase, i)" >
                                  <i class="material-icons">edit</i>Approve
                                </a>

                                <a @click="$emit('buildCosting', individual_project_phase)" >
                                  <i class="material-icons">visibility</i>View Costing
                                </a>

                              </li>

                              <!-- If it's project materials or labours has been mutated-->
                              
                              <li style="cursor:pointer" v-else-if="individual_project_phase.status == 5">

                                <a @click="review(individual_project_phase, i)" >
                                  <i class="material-icons">edit</i>Submit For Review
                                </a>

                                <a @click="$emit('buildCosting', individual_project_phase)" >
                                  <i class="material-icons">visibility</i>View Costing
                                </a>

                              </li>

                                
                            </ul>
                              
                            <!-- Else if it is an operations project -->
                            <ul class="dropdown-menu bullet" v-else-if="!individual_project_phase.project.type">
                              <!-- If it has project materials and hasnt been approved-->

                              <li style="cursor:pointer">

                                <router-link :to="{ name: 'costing-weeks', params: { id: individual_project_phase.id } }">
                                  <i class="material-icons">visibility</i>View Weeks
                                </router-link>
  
                                <a @click="cancel(individual_project_phase, i)" v-if="individual_project_phase.status == 2">
                                  <i class="material-icons">cancel</i>Cancel
                                </a>
                                
                                <a @click="approve(individual_project_phase, i)" v-else="individual_project_phase.status == 3 || individual_project_phase.status == 4" >
                                  <i class="material-icons">check</i>Approve
                                </a>
                                

                              </li>

                              
                                

                                

                              
                               
                           </ul>
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="individual_project_phases.length < 1" style="text-align:center;">
          No phase has been added to this project.
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="individual_project_phases.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../PhasesDatatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import moment from 'moment';
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },

    mounted()
    {

      this.getProjects();

    },
    data() {
        let sortOrders = {};

          let columns = [
            {width: '10%', label: 'ID', name: 'id', sortable: true },
            {width: '20%', label: 'Phase Name', name: 'project_phase_id', sortable: true},
            {width: '20%', label: 'Projection', name: 'cost', sortable: false},
            {width: '20%', label: 'Actual Expense', name: 'expense', sortable: false},
            {width: '15%', label: 'Status', name: 'status', sortable: true},            
            {width: '15%', label: 'Action', name: 'action', sortable: false},            
          ];        

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            project:{},

            individual_project_phases:[],
            json_fields: {
              'No': 'id',
              'Phase': 'projectphase.name',
              'Projection': 'projection_x',
              'Actual Expense': 'expense_x',
              'Status': 'status_x',
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,
            updating: false

        }
    },
    methods: {

        pdfExport(){
            this.individual_project_phases.page = "costing_phases"
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Phase", dataKey: "projectphase.name" },
            {title:"Projection", dataKey: "projection_x" },
            {title:"Actual Expense", dataKey: "expense_x" },
            {title:"Status", dataKey: "status_x" }
            ];

            var doc = new jsPDF('p','pt');
            doc.autoTable(columns, this.individual_project_phases);
            doc.save(this.individual_project_phases[0].project.name +' costing phases.pdf');
        },
        getProjects(url = '/api/get/invividualprojectphase') {
            this.show = true;
            this.tableData.draw++;
            axios.post(url, {params: this.tableData, id : this.$route.params.id})
                .then(response => {
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.individual_project_phases = data.data.data;

                      /*this.project = this.individual_project_phases.project;
                      console.log(this.individual_project_phases);*/
                      // console.log(data.data.data);
                      // console.log(this.individual_project_phases);
                      this.configPagination(data.data);
                      
                    }
                })
                .catch(errors => {
                  this.show = false;
                  console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },

        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        
        addCommas(x){
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        makeMoment(value){//Format dates for raw display
          return moment(value).format('MMMM Do YYYY');
        },
        getTotal(phase_materials, phase_labours,index){
          let total = 0;
          phase_materials.forEach((material)=>{
            if(material.extra == 0){//Only used materials captured during the project costing  
              total += (parseInt(material.amount) * parseInt(material.quantity));
            }
          });

          phase_labours.forEach((labour)=>{
            if(labour.extra == 0){//Only used labours captured during the project costing  
              total += (parseInt(labour.amount) * parseInt(labour.quantity));
            }
          });
          this.individual_project_phases[index].projection = this.addCommas(total);//Used in the mail
          return total;
        },

        check_build(phase){
          if(phase.status == 0 || (!phase.phase_material.length && !phase.phase_labour.length)){
            return true;
          }else{
            return false
          }
        },

        approve(phase, index){
          this.updating = true;
          phase.total_expense = phase.expense_record.length ? this.addCommas(phase.expense_record[0].amount) : 0;//Used in the mail
          axios.post('/api/approve/invividualprojectphase',{id : phase.id, phase})
                .then(response=>{
                  this.updating = false;
                  this.individual_project_phases[index].status = 2;
                  this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'Notification',
                    text: 'Approved!',
                    duration: 10000,
                  });
                })
                .catch(error =>{
                  this.updating = false;
                  this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'Notification',
                    text: error.response.data.error,
                    duration: 10000,
                  });
                })
        },

        decline(phaseId, index){
            this.updating = true;
            axios.post('/api/decline/invividualprojectphase',{id : phaseId})
                .then(response=>{
                  this.updating = false;
                  this.individual_project_phases[index].status = 3;
                  this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'Notification',
                    text: 'Declined!',
                    duration: 10000,
                  });
                })
                .catch(error =>{
                  this.updating = false;
                  this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'Notification',
                    text: error.response.data.error,
                    duration: 10000,
                  });
                })
        },

        cancel(phaseId, index){
          this.updating = true;
          axios.post('/api/cancel/invividualprojectphase',{id : phaseId})
                .then(response=>{
                  this.updating = false;
                  this.individual_project_phases[index].status = 4;
                  this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'Notification',
                    text: 'Canceled!',
                    duration: 10000,
                  });
                })
                .catch(error =>{
                  this.updating = false;
                  this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'Notification',
                    text: error.response.data.error,
                    duration: 10000,
                  });
                })
        },

        review(phase, index){
          this.updating = true;
          phase.total_expense = phase.expense_record.length ? this.addCommas(phase.expense_record[0].amount) : 0;//Used in the mail
          axios.post('/api/review/invividualprojectphase',{id : phase.id,phase})
                .then(response=>{
                  this.updating = false;
                  this.individual_project_phases[index].status = 1;
                  this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'Notification',
                    text: 'Submitted!',
                    duration: 10000,
                  });
                })
                .catch(error =>{
                  this.updating = false;
                  this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'Notification',
                    text: error.response.data.error,
                    duration: 10000,
                  });
                })
        },
        

    },
    
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>