<template>
	<div>
	    <div class="page-header">
	        <h2>Print Payment Slip For {{user.last_name}} {{user.first_name}}</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	        	<div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	      
	            <div class="card" style="min-height: 1320px; ">
	                <div class="body forum">
	                 	
	
					
					 <div class="modal-body" style="padding:5%" id="printable">
                    <div class="row" style="margin-bottom:3%">
                        <div class="col-sm-3">
                        <!-- <img src="{{URL::to('images/logo.png')}}" style="height:40px; " class="img-responsive"> -->
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <label for="" class="control-label bold">Employee Name: </label>
                            </div>
                            <div class="col-xs-3" >
                                <span id="cemployee_name" class="pull-left">{{user.last_name}} {{user.first_name}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2" >
                                <label for="" class="control-label bold">Employee Number: </label>
                            </div>
                            <div class="col-xs-3" >
                                <span id="emp_no">{{user.id}}</span>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:2%">
                            <div class="col-xs-2">
                                <label for="" class="control-label bold">Pay Period: </label>
                            </div>
                           

                            <div class="col-xs-3" v-for="payperiod in payperiods">
                                <span id="employee_name" class="pull-left">{{payperiod.month.name}}, {{payperiod.year}}.</span>
                            </div>

                           
                           
                        </div>
                        <div style="border:1px solid black">
                        <div class="row m" style="margin-top:2%; margin-left: 1%;">
                            <div class="col-xs-4 bold">Gross Pay</div>
                            <div class="col-xs-4 bold">Other Earnings</div>
                            <div class="col-xs-4 bold">Deductions</div>
                            
                            
                        </div>
                        <hr>
                       
                        <div class="row m" style="margin-left: 1%;">
                            <div class="col-xs-4" style="border-right:1px solid black;">
                                 <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Basic: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="stub_basic">{{userPayment.basic}}</span>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Housing: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="stub_housing">{{userPayment.housing}}</span>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Transport: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="stub_transport"> {{userPayment.transport}}</span>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Medical: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="stub_medical">{{userPayment.medical}} </span>
                                    </div>
                                </div>


                                 <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Meal Allowance: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="smeal"> {{userPayment.meal}}</span>
                                    </div>
                                </div>


                                 <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Utilities: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="sutilities">{{userPayment.utilities}} </span>
                                    </div>
                                </div>


                                 <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Leave Allowance: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="sleave"> {{userPayment.leave}}</span>
                                    </div>
                                </div>


                                 <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Dressing Allowance: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="sdress"> {{userPayment.dressing}}</span>
                                    </div>
                                </div>


                                 <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Entertainment: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="sentertainment"> {{userPayment.entertainment}}</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-4" style="height: 100px; border-right:1px solid black;">
                                <div class="row" v-for="earning in earnings">

                                	 <div class="col-xs-6">
                                        <label for="" class="control-label bold">{{earning.earns.name}}: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="stub_paye"> {{earning.amount}}</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Pension: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="stub_pension"> {{userPayment.pension}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">PAYE: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="stub_paye"> {{userPayment.paye}}</span>
                                    </div>
                                </div>

                                <div class="row" v-for="deduction in deductions">

                                	 <div class="col-xs-6">
                                        <label for="" class="control-label bold" style="text-transform: capitalize;">{{deduction.deducts.name}}: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="stub_paye"> {{deduction.amount}}</span>
                                    </div>
                                    
                                </div>
                            </div>
                        
                            
                         
                        </div>
              

                        <hr>

                        <div class="row" style="margin-top:2%; margin-left: 1%;">
                            <div class="col-xs-4" style="border-right:1px solid black;">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Total Gross: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="stub_gross"> {{ user.salary }}</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xs-4" style="border-right:1px solid black;" >
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Total Other Earnings: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="totalA"> {{addCommas(getEarnsOrDeducts(user.earnings))}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4" >
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Total Deductions: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="totalD"> {{addCommas(allDeductions())}}</span>
                                    </div>
                                </div>
                            </div>
                           
                           
                        </div>
                        <hr>
                         <div class="row" style="margin-top:2%; margin-left: 1%; margin-bottom: 1%;">
                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="" class="control-label bold">Net Pay: </label>
                                    </div>
                                    <div class="col-xs-3" >
                                        <span id="stub_total2" class="pull-left">{{userPayment.net_pay}}</span>
                                    </div>
                                </div>
                            </div>

                         </div>

                           </div>
					
                    </div>

					<div class="modal-footer ">
                       <button type="button" class="btn btn-primary"><span class="fa fa-print"></span> Print</button>
                    </div>
						


	            </div>
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
// import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         
        },
        mounted(){
        	axios.post('/api/get/singleuser/salary',{id:this.$route.params.id})
        		.then(response=>{
        			// console.log(response.data);
        			this.user = response.data[0];

        			this.bigCal();
        		})
        		.catch(error=>{
        			console.log(error);
        		});


        		axios.post('/api/get/payperiod',{id:this.$route.params.payperiod})
        		.then(response=>{
        			console.log(response.data);
        			this.payperiods.push(response.data);
        		})
        		.catch(error=>{
        			console.log(error);
        		});

        		// axios.get('/api/get/chartofaccount')
        		// .then(response=>{
        		// 	this.chart_of_accounts = response.data
        		// })
        		// .catch(error=>{
        		// 	console.log(error);
        		// });
        		// axios.get('/api/get/role')
        		// .then(response=>{
        		// 	this.roles = response.data
        		// })
        		// .catch(erroe=>{
        		// 	console.log(error);
        		// });
        		// axios.get('/api/get/department')
        		// .then(response=>{
        		// 	this.departments = response.data
        		// })
        		// .catch(erroe=>{
        		// 	console.log(error);
        		// });
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				user:{
					salary:20000,
				},
				paye:{},
				userPayment: {
					basic:'',
					housing: '',
					transport: '',
					medical: '',
					pension: '',
					meal: '',
					utilities: '',
					leave: '',
					dressing: '',
					entertainment: '',
					net_pay: '',
					paye: '',
					bank: '',
					project: '',
					project_phase: '',
					chart_of_account: '',
					// transport: this.transport(this.user.salary),

				},
				earnings:[],
				deductions:[],
				bankaccounts:{},
				chart_of_accounts:{},
				showProjectSearch:false,
				projects:[],
				project_phases:[],
				payperiods:[],
				// positions:{},
				// roles:{},
				// departments:{},

				
			}
		},
		methods:{
			selectProject(object){
				this.userPayment.project_name = object.name;
				this.userPayment.project = object.id;
				this.projects = [];
				this.showProjectSearch = false;


				axios.post('/api/get/project/invividualprojectphases',{data:object.id})
				.then(response=>{
					if(response.data.length > 0){

					response.data.forEach(arr=>{
						this.project_phases.push(arr.projectphase);
					});
					// this.project_phases = response.data.projectphase;
					// console.log(this.project_phases);
					
					
				}else{
					this.project_phases = [];
				}
			})
				.catch(error=>{
					console.log(error);
				})
				


			},
			sortProjects(value){
				if(value.length>0){
					
					axios.post('/api/search/projects',{data:value})
					.then(response=>{

						this.projects = response.data;
						if(this.projects.length > 0){
						this.showProjectSearch = true;
					}
						
					})
					.catch(error=>{
						console.log(error);
					})
				}else{
					this.showProjectSearch = false;
				}
			},
			bigCal(){
				this.userPayment.basic =  this.addCommas(this.cal(11,this.user.salary));
				this.userPayment.housing =  this.addCommas(this.cal(9,this.user.salary));
				this.userPayment.transport =  this.addCommas(this.cal(9.6,this.user.salary));
				this.userPayment.medical =  this.addCommas(this.cal(11.8,this.user.salary));
				this.userPayment.pension =  this.addCommas(this.pencal(29.6,this.user.salary));//basic + housing + transport
				this.userPayment.meal =  this.addCommas(this.cal(11.9,this.user.salary));
				this.userPayment.utilities =  this.addCommas(this.cal(11.8,this.user.salary));
				this.userPayment.leave =  this.addCommas(this.cal(11.9,this.user.salary));
				this.userPayment.dressing =  this.addCommas(this.cal(11.5,this.user.salary));
				this.userPayment.entertainment =  this.addCommas(this.cal(11.5,this.user.salary));
				this.userPayment.net_pay =  this.addCommas(this.net(this.user));
				this.userPayment.paye =  this.addCommas((this.user.tax.length > 0 ?  parseFloat(this.user.tax[0].amount) : 0 ));
				this.userPayment.bank =  (this.user.bank != null ?  this.user.bank.name : '' );


				if(this.user.earnings.length){
				this.user.earnings.forEach(earning=>{
					if(earning.payroll_id == this.$route.params.payperiod){
						this.earnings.push(earning);
					}
				});
				}

				if(this.user.deductions.length){
				this.user.deductions.forEach(deduction=>{
					if(deduction.payroll_id == this.$route.params.payperiod){
						this.deductions.push(deduction);
					}
				});
				}

				//console.log(earnings);
				// console.log(deductions);

			},
			addCommas(x){
	          x = (Math.round(x * 100)/ 100).toFixed(2);
	          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	        },
			cal(value,salary){
				 var result = parseFloat((value * salary)/100 );
          		return  result;
			},
			pencal(value,salary){
				 var result = parseFloat((value * salary)/100 );
          		result = parseFloat((8 * result)/100 );
          		return  result;
			},
			net(){
			var result = (parseFloat(this.user.salary) + this.getEarnsOrDeducts(this.user.earnings)) - this.getEarnsOrDeducts(this.user.deductions) - this.pencal(29.6,this.user.salary) - (this.user.tax.length > 0 ?  parseFloat(this.user.tax[0].amount) : 0 );

			return result;

			},
			getEarnsOrDeducts(arrays){
		        var sum = 0;


		        if(arrays != null){
                arrays.forEach(array=>{
                    
                  if(array.payroll_id == this.$route.params.payperiod){
                  sum += (arrays.length > 0 ?  parseFloat(array.amount) : 0);
                  }
                });
                }

		        return sum;
		      },
		      allDeductions(){
		      	var result = this.getEarnsOrDeducts(this.user.deductions) + this.pencal(29.6,this.user.salary) + (this.user.tax != null ?  parseFloat(this.user.tax[0].amount) : 0 );
		      	return result;
		      },
			previousPage(){
				this.$router.go(-1);
			},
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editdata, this.beforeEditingCache);
				this.editmodal = false;
			},
			edit(value){
				this.editdata = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.userPayment,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.project) ? errors.project.toString()+'</br>' : '')+((errors.project_phase) ? errors.project_phase.toString()+'</br>' : '')+((errors.chart_of_account) ? errors.chart_of_account.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
					this.userPayment.payperiod = this.$route.params.payperiod;
					this.userPayment.user_id = this.user.id;
				axios.post('/api/add/payment',this.userPayment)
						  .then(response=>{
						  							  		
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						
						  	// this.user={};

						  	this.$router.go(-1);
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getConstraints();
				const errors = validate(this.editdata,constraints);
				// const errors = null;
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.description) ? errors.description.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/position',this.editdata)
						  .then(response=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editdata={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					
					project: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					  },
					  project_phase: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'ust be selected'
						      
						    }
					  },
					  chart_of_accounts: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					  },
					 
				}
			}
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;
		float: left;
    margin-bottom: 10px;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
		.ul_search{
		background: #00B0E4;
		color: #fff;
	}
	.ul_search li{
		cursor: pointer;
		list-style: none;
		color: #fff;
		border-bottom: 1px solid #fff;
		text-align: center;
	}
	.md-content > div ul {
    margin: 0;
    padding: 0 0 26px 0px !important;
}
</style>