<template>
	<div>
	    <div class="page-header">
	        <h2>Vehicle Assignments</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-10 col-md-offset-1" style="display:flex;">
	                            
	                            
	                                <div class="form-group col-md-3">
                                    	<div class="form-line">
                                        	<input type="text" @keyup="sortVehicle(assignment.vehicle)" v-model="assignment.vehicle" class="form-control" style="margin-top: -11px;" placeholder="type vehicle name">
                                            
                                        </div>
                                        <div v-if="showSearch" style="position: absolute;width: 89%;">
                                        	<ul class="list-unstyled">
                                        		<li v-for="vehicle in vehicles" @click="selectVehicle(vehicle)">{{ vehicle.name}} </li>
                                        	</ul>
                                        </div>

                                     </div> 

                                      <div class="form-group col-md-3">
	                                    	<div class="form-line">
	                                        	<datetime type="datetime" v-model="assignment.departure_date" use12-hour placeholder="select departure date"></datetime>
	                                            
	                                        </div>
	                                   </div>

	                                    <div class="form-group col-md-3">
                                        	<div class="form-line">
                                            	<datetime type="datetime" v-model="assignment.return_date" use12-hour placeholder="select return date"></datetime>
                                                
                                            </div>
                                        </div>

                                        <div class="form-group col-md-1">
                                        	<button @click.prevent="sendData()" class="btn btn-info"><i class="material-icons">search</i>Search</button>
                                        </div>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 715px;">
	                <div class="body forum">
	                 	
						<vehicleassignment ref="assetmodelDT"></vehicleassignment>


 
	            </div>
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js';
import VehicleAssignment from '../datatables/carpool-manager/VehicleAssignment';
import moment from 'moment';
validate.extend(validate.validators.datetime, {
  // The value is guaranteed not to be null or undefined but otherwise it
  // could be anything.
  parse: function(value, options) {
    return +moment.utc(value);
  },
  // Input is a unix timestamp
  format: function(value, options) {
    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
    return moment.utc(value).format(format);
  }
});

	export default{
		components: {
          vehicleassignment:VehicleAssignment
        },
        mounted(){
   
        	
        },
		data(){
			return{
				assignment:{
					vehicle:'',
					vehicle_id:'',
					departure_date:'',
					return_date:''
				},
				vehicles:{},
				showSearch:false,
				
				
			}
		},
		methods:{
			sortVehicle(value){
				if(value.length>0){
					axios.post('/api/vehicle/search',{data:value})
					.then(response=>{

						this.vehicles = response.data;
						this.showSearch = true;
					})
					.catch(error=>{
						console.log(error);
					})
				}else{
					this.vehicles = {};
				}
				
			},
			selectVehicle(vehicle){
				this.assignment.vehicle = vehicle.name;
				this.assignment.vehicle_id = vehicle.id;
				this.showSearch = false;
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.assignment,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.departure_date) ? errors.departure_date.toString()+'</br>' : '')+((errors.return_date) ? errors.return_date.toString()+'</br>':'')+((errors.vehicle) ? errors.vehicle.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{

					
					this.$refs.assetmodelDT.setData(this.assignment);
					this.$refs.assetmodelDT.getProjects();
				
				}
				
			},
			getConstraints(){
				return{
					departure_date:{
						
						datetime: {
					      dateOnly: false,
					      message: "invalid Date "
					    }
						
					},
					
					return_date: {
					
						datetime: {
					      dateOnly: false,
					      message: "invalid Date "
					    }
					  },
					  vehicle:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
					},
					
				}
			},
			
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
	ul{
		background: #00B0E4;
		color: #fff;
	}
	li{
		cursor: pointer;
		list-style: none;
		color: #fff;
		border-bottom: 1px solid #fff;
		text-align: center;
	}

</style>