<template>
	<div>
	    <div class="page-header">
	        <h2>Vehicle Request Manager</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Vehicle Request</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 715px;">
	                <div class="body forum">
	                 	
						<vihicle @view="viewRequest" @edit="editRequest" @approve="approveRequest" @return="returnVehicle" ref="assetmodelDT"></vihicle>

						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content" style="font-size:15px;">
						                        <h3>Create New Vehicle Request</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
													

													<label for="email_address">Departure Date And Time</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<datetime type="datetime" v-model="request.departure_date" use12-hour></datetime>
                                                            
                                                        </div>
                                                    </div>

                                                    
						                        	<label for="email_address">Reture Date And Time</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<datetime type="datetime" v-model="request.return_date" use12-hour></datetime>
                                                            
                                                        </div>
                                                    </div>

						                        	<label for="email_address">Destination Address</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<input type="text" v-model="request.destination_address" class="form-control">
                                                            
                                                        </div>
                                                    </div> 
                                                  
                                 
                                                    <label for="email_address">Destination City</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<input type="text" v-model="request.destination_city" class="form-control">
                                                            
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Notes</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <textarea class="form-control" v-model="request.notes"></textarea>
                                                        </div>
                                                        
                                                    </div>

                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           
						                           </div>
						                           
						                        </form>
						                        </div>
						                   </div>
						</div>



						<!-- Edit Model -->
						<div v-if="editModal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content" style="font-size:15px;">
						                        <h3>Edit Vehicle Request</h3>
						                        <div>
						                        	<form @submit.prevent="sendEditData()" autocomplete="off">
													

													<label for="email_address">Departure Date And Time</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<datetime type="datetime" v-model="editdata.departure_date" use12-hour></datetime>
                                                            
                                                        </div>
                                                    </div>

                                                    
						                        	<label for="email_address">Reture Date And Time</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<datetime type="datetime" v-model="editdata.return_date" use12-hour></datetime>
                                                            
                                                        </div>
                                                    </div>

						                        	<label for="email_address">Destination Address</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<input type="text" v-model="editdata.destination_address" class="form-control">
                                                            
                                                        </div>
                                                    </div> 
                                                  
                                 
                                                    <label for="email_address">Destination City</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<input type="text" v-model="editdata.destination_city" class="form-control">
                                                            
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Notes</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <textarea class="form-control" v-model="editdata.notes"></textarea>
                                                        </div>
                                                        
                                                    </div>

                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Update</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           
						                           </div>
						                           
						                        </form>
						                        </div>
						                   </div>
						</div>


						<!-- View model -->
						<div v-if="viewModal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content" style="font-size:15px;">
						                        <h3>View Vehicle Request</h3>
						                        <div>
						                        	<form @submit.prevent autocomplete="off">
													

													<label for="email_address">Departure Date And Time</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	
                                                        	<input class="form-control" type="text" :value="makeMoment(viewdata.departure_date)" readonly>
                                                            
                                                        </div>
                                                    </div>

                                                    
						                        	<label for="email_address">Reture Date And Time</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	
                                                        	<input class="form-control" type="text" :value="makeMoment(viewdata.return_date)" readonly>
                                                            
                                                        </div>
                                                    </div>

						                        	<label for="email_address">Destination Address</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<input type="text" v-model="viewdata.destination_address" class="form-control" readonly>
                                                            
                                                        </div>
                                                    </div> 
                                                  
                                 
                                                    <label for="email_address">Destination City</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<input type="text" v-model="viewdata.destination_city" class="form-control" readonly>
                                                            
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Notes</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <textarea class="form-control" v-model="viewdata.notes" readonly></textarea>
                                                        </div>
                                                        
                                                    </div>

                                                    
						                           <div class="mfooter">
						                           
						                           	<button @click.prevent="viewModal=false" class="btn btn-danger">Close</button>
						                           
						                           </div>
						                           
						                        </form>
						                        </div>
						                   </div>
						</div>



						<!-- Approval model -->
						<div v-if="approveModal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content" style="font-size:15px;">
						                        <h3>Approve/Decline Vehicle Request</h3>
						                        <div>
						                        	<form @submit.prevent="sendApproveData()" autocomplete="off">
													
													<label for="email_address">Action</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="approvedata.action" @change="hideVehicles(approvedata.action)" required>
                                                        		<option value="1">Approve</option>
                                                        		<option value="2">Decline</option>
                                                        		<option value="3">Require Attention</option>
                                                        	</select>
                                                        </div>
                                                        
                                                    </div>

                                                    <label for="email_address">Select Vehicle</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="approvedata.vehicle" required @change="checkVehicleAvailibility()">
                                                            	<option v-if="!showVehicles" value="0">None</option>
                                                            	<option v-if="showVehicles" v-for="model in models" :value="model.id">{{model.name}}</option>
                                                        		
                                                        		
                                                        	</select>
                                                        </div>
                                                        
                                                    </div>
                                                  
                                 
                                                    
                                                    <label for="email_address">Notes</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <textarea class="form-control" v-model="approvedata.notes"></textarea>
                                                        </div>
                                                        
                                                    </div>

                                                    <div v-if="showAssigned">
                                                        <p v-for="vehicle in assignedVehicles" style="color:red;">This vehicle has been previously assigned to {{vehicle.user.last_name}} {{vehicle.user.first_name}} from {{makeMoment(vehicle.departure_date)}} to {{makeMoment(vehicle.return_date)}}</p>
                                                    </div>


                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeApproveModal()" class="btn btn-danger">Close</button>
						                           
						                           </div>
						                           
						                        </form>
						                        </div>
						                   </div>
						</div>



						<div v-if="returnModal" class="md-modal md-effect-2 md-show" style="left:54%;max-width: 20%; top:43%;">
						                    <div class="md-content">
						                       
						                        <div>
						                        <form @submit.prevent="sendReturnData()" autocomplete="off">
						                             <label style="display:block;text-align:center;margin-bottom:15px;">Are you sure?</label>
                                                    
						                           <div class="mfooter" style="margin-bottom:0px; justify-content:center;">
						                           	<button class="btn btn-info btn-sm">Confirm</button>
						                           	<button @click.prevent="returnModal = !returnModal" class="btn btn-danger btn-sm">Cancel</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


						<!-- <div v-if="unassignModel" class="md-modal md-effect-2 md-show" style="left:54%;max-width: 20%; top:43%;">
						                    <div class="md-content">
						                       
						                        <div>
						                        <form @submit.prevent="sendUnassigneData()" autocomplete="off">
						                             <label style="display:block;text-align:center;margin-bottom:15px;">Are you sure?</label>
                                                    
						                           <div class="mfooter" style="margin-bottom:0px; justify-content:center;">
						                           	<button class="btn btn-info btn-sm">Confirm</button>
						                           	<button @click.prevent="closeUnassignModal()" class="btn btn-danger btn-sm">Cancel</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>
 -->
<!-- 
						<div v-if="assignmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Assign Asset</h3>
						                        <div>
						                        	<form @submit.prevent="sendAssignData()" autocomplete="off">
						                             <label for="email_address">User</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="assignasset.user" required>
                                                        		<option v-for="user in users" :value="user.id">{{user.first_name}} {{user.last_name}}</option>
                                                        	</select>
                                                        </div>
                                                        
                                                    </div>
                                                     <label for="email_address">Start Date</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                    		<datetime type="date" v-model="assignasset.start_time"></datetime>
                                                    		
                                                        	
                                                            
                                                        </div>
                                                    </div>
                                                    <label for="email_address">End Date</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                    		<datetime type="date" v-model="assignasset.end_time"></datetime>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Notes</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<textarea class="form-control" v-model="assignasset.notes"></textarea>
                                                            
                                                        </div>
                                                    </div>
                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeAssignModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div> -->

 
	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="viewModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="approveModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="returnModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 <!--  -->
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js';
import VehicleRequest from '../datatables/carpool-manager/VehicleRequest';
import moment from 'moment';
validate.extend(validate.validators.datetime, {
  // The value is guaranteed not to be null or undefined but otherwise it
  // could be anything.
  parse: function(value, options) {
    return +moment.utc(value);
  },
  // Input is a unix timestamp
  format: function(value, options) {
    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
    return moment.utc(value).format(format);
  }
});

	export default{
		components: {
          vihicle:VehicleRequest
        },
        mounted(){
   			axios.get('/api/get/assetmodel/vehicle')
   				.then(response=>{
   					this.models = response.data;
   				})
   				.catch(errors=>{
   					console.log(errors);
   				})
        	
        },
		data(){
			return{
				modal:false,
				request:{
					departure_date:'',
					return_date:'',
					destination_address:'',
					destination_city:'',
					notes:''
				},
				viewdata:{},
				editdata:{},
				approverequest:{},
				viewModal:false,
				editModal:false,
				approveModal:false,
				showVehicles:false,
                returnModal:false,
				showAssigned:false,
				models:{},
				approvedata:{
					action:'',
					vehicle:'',
					notes:''
				},
                assignedVehicles:[]
				
				
				
				
			}
		},
		methods:{
            makeMoment(value){
                return moment(value).format('MMMM Do YYYY, h:mm a');
            },
            checkVehicleAvailibility(){
                
                
                axios.post('/api/check/vehicleAvail',{date:this.approverequest.departure_date,model:this.approvedata.vehicle})
                .then(response=>{
                    // console.log(response.data);
                    this.showAssigned = true;
                    this.assignedVehicles = response.data;
                })
                .catch(errors=>{
                    console.log(errors);
                })
            },
			hideVehicles(value){
				// console.log(value);
				if(value == 1){
					this.showVehicles = true;
				}else{
					this.showVehicles = false;
				}
			},
			makeMoment(value){
          		return moment(value).format('MMMM Do YYYY, h:mm a');
        	},
			closeModal(){
				
				this.modal = false;
				this.liquidasset = {};
			},
			closeEditModal(){
				Object.assign(this.editdata, this.beforeEditingCache);
				this.editModal = false;
			},
			
			closeApproveModal(){
				
				this.approveModal = false;
                this.approvedata ={};
			},
			viewRequest(value){
				this.viewdata = value;
				this.viewModal = true;
				
				
			},
			editRequest(value,index){
				this.index = index;
				this.editdata = value;
				this.editModal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				
	
				
			},
			approveRequest(value,index){
				console.log(value);
				this.index = index;
				this.approverequest = value;
				this.approveModal = true;
				this.approvedata.id = this.approverequest.id;
	
				
			},
			returnVehicle(value,index){
				this.index = index;
				this.returnvehicledata = value;
				this.returnModal = true;
			
	
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.request,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.departure_date) ? errors.departure_date.toString()+'</br>' : '')+((errors.return_date) ? errors.return_date.toString()+'</br>':'')+((errors.destination_address) ? errors.destination_address.toString()+'</br>':'')+((errors.destination_city) ? errors.destination_city.toString()+'</br>':'')+((errors.notes) ? errors.notes.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/vehiclerequest/',this.request)
						  .then(response=>{
						  	// console.log(response.data);
						  	// console.log(response.data);
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	if(this.$store.state.vehicleRequests.length >= this.$store.state.vehicleRequests_pag.per_page && this.$store.state.vehicleRequests_pag.total >= 10){
						  		this.$store.state.vehicleRequests.splice(-1,1);
						  		this.$store.state.vehicleRequests.unshift(response.data[0]);
						  		this.$store.state.vehicleRequests_pag.next_page_url = this.$store.state.vehicleRequests_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.vehicleRequests_pag.total = this.$store.state.vehicleRequests_pag.total + 1;
						  		this.$refs.assetmodelDT.configPagination(this.$store.state.vehicleRequests_pag);

						  	}else{
						  		this.$store.state.vehicleRequests.unshift(response.data[0]);
						  		this.$store.state.vehicleRequests_pag.to = this.$store.state.vehicleRequests_pag.to + 1;
						  		this.$store.state.vehicleRequests_pag.from =  1;
						  		this.$store.state.vehicleRequests_pag.total = this.$store.state.vehicleRequests_pag.total + 1;
						  		this.$refs.assetmodelDT.configPagination(this.$store.state.vehicleRequests_pag);
						  	}
						  	
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	this.assetmodel = {};
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getConstraints();
				const errors = validate(this.editdata,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.departure_date) ? errors.departure_date.toString()+'</br>' : '')+((errors.return_date) ? errors.return_date.toString()+'</br>':'')+((errors.destination_address) ? errors.destination_address.toString()+'</br>':'')+((errors.destination_city) ? errors.destination_city.toString()+'</br>':'')+((errors.notes) ? errors.notes.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/vehiclerequest/',this.editdata)
						  .then(response=>{
						  	// console.log(response.data);
						  	// console.log(response.data);
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable

						  	// this.$store.state.vehicleRequests[this.index] = response.data.active;
						  	
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editModal = false;
						  	this.editdata = {};
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},

			sendApproveData(){

				const constraints = this.getApproveConstraints();
				const errors = validate(this.approvedata,constraints);
				if(errors){
					console.log(errors);
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.action) ? errors.action.toString()+'</br>' : '')+((errors.vehicle) ? errors.vehicle.toString()+'</br>':'')+((errors.notes) ? errors.notes.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/approve/vehiclerequest',this.approvedata)
						  .then(response=>{
						  	
						  	Object.assign(this.$store.state.vehicleRequests[this.index], response.data[0]);
						  	this.approveModal = false;
						  	
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editModal = false;
						  	this.approvedata ={};
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendReturnData(){
					axios.post('/api/return/vehiclerequest/vehicle',this.returnvehicledata)
						  .then(response=>{
						  
						  	this.$store.state.vehicleRequests[this.index].return_status = response.data.return_status;
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.returnModal = false;
						  
						  })
						  .catch(error=>{
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
			},
			// sendUnassigneData(){
					
			// 		axios.post('/api/edit/assignliquidasset',this.unassigndata)
			// 			  .then(response=>{
						  	
			// 			  	this.$store.state.liquidAssets[this.index].assignedto = null;
						  	
			// 			  	this.$notify({
			// 			  	  group: 'foo',
			// 			  	  type: 'success',
			// 			  	  title: 'Notification',
			// 			  	  text: 'Success!',
			// 			  	  duration: 10000,
			// 			  	});
			// 			  	this.unassignModel = false;
			// 			  	this.unassigndata = {};
			// 			  })
			// 			  .catch(error=>{
						  	
			// 			  	this.$notify({
			// 			  	  group: 'foo',
			// 			  	  type: 'error',
			// 			  	  title: 'Notification',
			// 			  	  text: error.response.data.error,
			// 			  	  duration: 10000,
			// 			  	});
			// 			  });
			// },
			// sendAssignData(){
			// 	this.assignasset.id = this.assigndata.id;
				
			// 	const constraints = this.getAssignConstraints();
			// 	const errors = validate(this.assignasset,constraints);
				
			// 	if(errors){
			// 		this.$notify({
			// 			  	  group: 'foo',
			// 			  	  type: 'error',
			// 			  	  title: 'Notification',
			// 			  	  text: ((errors.user) ? errors.user.toString()+'</br>' : '')+((errors.start_time) ? errors.start_time.toString()+'</br>' : '')+((errors.end_time) ? errors.end_time.toString():'')+((errors.notes) ? errors.notes.toString():'')+((errors.status) ? errors.status.toString():''),
			// 			  	  duration: 10000,
			// 			  	});
			// 	}else{
				
			// 	axios.post('/api/add/assignliquidasset',this.assignasset)
			// 			  .then(response=>{
						  	
			// 			  	this.$store.state.liquidAssets[this.index].assignedto = response.data[0];
			// 			  	this.$store.state.liquidAssets[this.index].assignment_id = response.data[0].id;
			// 			  	this.$notify({
			// 			  	  group: 'foo',
			// 			  	  type: 'success',
			// 			  	  title: 'Notification',
			// 			  	  text: 'Success!',
			// 			  	  duration: 10000,
			// 			  	});
			// 			  	this.assignmodal = false;
			// 			  	// this.editrole={};
			// 			  })
			// 			  .catch(error=>{
						  	
			// 			  	this.$notify({
			// 			  	  group: 'foo',
			// 			  	  type: 'error',
			// 			  	  title: 'Notification',
			// 			  	  text: error.response.data.error,
			// 			  	  duration: 10000,
			// 			  	});
			// 			  });
			// 	}
				
			// },
			getConstraints(){
				return{
					departure_date:{
						
						datetime: {
					      dateOnly: false,
					      message: "invalid Date "
					    }
						
					},
					
					return_date: {
					
						datetime: {
					      dateOnly: false,
					      message: "invalid Date "
					    }
					  },
					  destination_address:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
					},
					destination_city:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
					},
					notes:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
				}
			},
			getApproveConstraints(){
				return{
					action:{
						
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
						
					},
					
					vehicle: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					  },
					  notes:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
					},
				}
			},
			// getAssignConstraints(){
			// 	return{
			// 		start_time:{
						
			// 			datetime: {
			// 		      dateOnly: true,
			// 		      message: "invalid Date "
			// 		    }
						
			// 		},
					
			// 		end_time: {
					
			// 			datetime: {
			// 		      dateOnly: true,
			// 		      message: "invalid Date "
			// 		    }
			// 		  },
			// 		  user:{
			// 			numericality: {
			// 			      onlyInteger: true,
			// 			      message: 'must be selected'
						      
			// 			    }
			// 		},
					
			// 		notes:{
			// 			presence:{
			// 				allowEmpty: false,
			// 				message:"can't be empty"
			// 			},
						
			// 		},
			// 	}
			// },
			
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}

</style>