<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" :disabled="dtSearch" />
                   
      
                  </div>
                  <div class="export-btns" v-if="values.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       name    = "Expense By Project Phase.xls"
                       page    = "exp_by_pphase">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Expense By Project Phase.csv"
                       page    = "exp_by_pphase">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable ref ="DT" :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy" >
            <tbody v-if="values.length > 0 && test == false">
                <tr v-for="(value, i) in values" :key="value.id">

                    <td>
                      {{value.id}}
                    </td>

                    <td>
                      {{makeMoment(value.date)}}
                    </td>

                    <td>
                      {{ addCommas(value.amount) }}
                    </td>
                    
                    <td>
                      {{ value.individual_project_phase.projectphase.name }}
                    </td>

                    <td>
                      {{ value.project.name }}
                    </td>

                    <td>
                      {{ getMaterialOrService(value) }}
                    </td>

                    <td v-if="!value.project.type">
                      {{  makeMoment(checkCostingDay(value)) }}
                    </td>

                    <td>
                        
                        {{ getVendor(value) }}

                    </td>
                    
                   
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="values.length < 1" style="text-align:center;">
          This phase has no expense within the selected period.
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="values.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../ReportsDatatable.vue';
import Pagination from '../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
import moment from 'moment';
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    created() {
      
        
    },
    data() {
        let sortOrders = {};

        let columns = [
        {width: '9%', label: 'Expense ID', name: 'id', sortable: true},
        {width: '13%', label: 'Expense Date', name: 'date', sortable: true},
        {width: '13%', label: 'Expense Amount', name: 'amount', sortable: true},
        {width: '13%', label: 'Phase', name: 'phase_name', sortable: false},
        {width: '13%', label: 'Project Name', name: 'name', sortable: false},
        {width: '13%', label: 'Expense On', name: 'material_service', sortable: false},
        {width: '13%', label: 'Costing Day', name: 'operations', sortable: false},
        {width: '13%', label: 'Vendor', name: 'costing_week', sortable: false},
        // {width: '25%', label: 'Project Status', name: 'active', sortable: true},
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'Expense ID': 'id',
              'Expense Date': 'date_x',
              'Expense Amount': 'expense_amount_x',
              'Phase': 'phase_x',
              'Project': 'project.name',
              'Expense On' : 'expense_on_x',
              'Costing Day' : 'costing_day_x',
              'Vendor'  : 'vendor_x'

                
                        
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
                id: '',
                departure_date: '',
                return_date: '',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: false,
            values:{},
            test:false,
            project:{},
            dtSearch:true

        }
    },
    methods: {
      setData(value){
        this.tableData.id = value.id;//Set the id of the target table's records you need
        this.tableData.start_date = value.start_date;
        this.tableData.end_date = value.end_date;

      },
        makeMoment(value){
          return moment(value).format('MMMM Do YYYY');
        },
        pdfExport(){
            this.values.page = "exp_by_pphase";
            var vm = this;
            var columns = [
            {title:"Expense ID", dataKey: "id" },
            {title:"Date", dataKey: "date_x" },
            {title:"Expense Amount", dataKey: "expense_amount_x" },
            {title:"Phase", dataKey: "phase_x" },
            {title:"Project", dataKey: "project.name" },
            {title:"Expense On", dataKey: "expense_on_x" },
            {title:"Costing Day", dataKey: "costing_day_x" },
            {title:"Vendor", dataKey: "vendor_x" },
            ];

             var doc = new jsPDF('l','in', [15, 15]);
            doc.autoTable(columns, this.values);
            doc.save('Expense By Project Phase.pdf');
        },
        getProjects(url = '/api/individualphase/expenses') {
            this.dtSearch = false;
            var total = 0;
            this.values={};
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.values = data.data.data;
                      if(this.values.length){
                        this.project = data.data.data[0].project;
                        this.$refs.DT.check(this.project);//Used to check the project type in the datatable
                        this.values.forEach(expense =>{//calculate the total
                          total += parseInt(expense.amount);
                        })
                        this.$emit('total', total);//send to the parent component
                        this.configPagination(data.data);
                      }
                      
                    }
                    
                })
                .catch(errors => {
                  this.show = false;
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        showId(value){
          alert(value);
        },

        addCommas(x){
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },

        checkCostingDay(expense){
          // console.log(expense)
          if(expense.vendor_contract_id){
            return expense.vendor_contract.projectlabour.costing_day.date;
          }else if (expense.purchase_requisition_material_id){
            return expense.purchase_requisition_material.project_material.costing_day.date;
          }else{
            return expense.individual_project_phase.phase_material[0].costing_day.date;
          }

        },

        getMaterialOrService(expense){
          if (expense.purchase_requisition_material_id){
            return expense.purchase_requisition_material.project_material.material_and_service.name;
          }else if(expense.vendor_contract_id){
            return expense.material_and_service.name;
          }else{
            return 'Salary Payment';
          }
        },

        getVendor(expense){
          if(expense.vendor_contract_id){//Meaning this is a labour expense
            return expense.vendor.name;
          }else if(expense.purchase_requisition_material_id){
            return expense.purchase_requisition_material.vendor.name
          }else{
            return 'Company';
          }
        }
    }
};
</script>
<style scoped>


.projects {
  width: 100%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>