<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="values.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       name    = "Staff Allocations.xls"
                       page    = "staff_allocation">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Staff Allocations.csv"
                       page    = "staff_allocation">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="values.length > 0">
                <tr v-for="(value, i) in values" :key="value.id">

                    <td>
                      {{value.id}}
                    </td>

                    <td>
                      {{value.name}}
                    </td>

                    <td>
                      {{makeMoment(value.project_date)}}
                    </td>

                    <td>
                      {{value.projectstaffallocations[0].user.first_name + ' ' + value.projectstaffallocations[0].user.last_name }}
                    </td>
                    
                    <td>
                      {{value.active ? 'Active' : 'Inactive'}}
                    </td>
                    
                   
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="values.length < 1" style="text-align:center;">
          This user has no allocation within the selected period
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="values.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../Datatable.vue';
import Pagination from '../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
import moment from 'moment';
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    created() {
      
        
    },
    data() {
        let sortOrders = {};

        let columns = [
        {width: '15%', label: 'Project ID', name: 'id', sortable: true},
        {width: '25%', label: 'Project Name', name: 'name', sortable: true},
        {width: '25%', label: 'Project Date', name: 'project_date', sortable: true},
        {width: '20%', label: 'Staff', name: 'staff', sortable: false},
        {width: '15%', label: 'Project Status', name: 'active', sortable: true},
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'Project ID': 'id',
              'Project Name': 'name',
              'Project Date': 'date_x',
              'Staff': 'staff_x',
              'Status': 'status_x',
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
                id: '',
                departure_date: '',
                return_date: '',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: false,
            values:{}

        }
    },
    methods: {
      setData(value){
        this.tableData.id = value.user_id;
        this.tableData.start_date = value.start_date;
        this.tableData.end_date = value.end_date;

      },
        makeMoment(value){
          return moment(value).format('MMMM Do YYYY');
        },
        pdfExport(){
            this.values.page = "staff_allocation";
            var vm = this;
            var columns = [
            {title:"Project ID", dataKey: "id" },
            {title:"Project Name", dataKey: "name" },
            {title:"Project Date", dataKey: "date_x" },
            {title:"Staff", dataKey: "staff_x" },
            {title:"Status", dataKey: "status_x" },
            ];

            var doc = new jsPDF('p','pt');
            doc.autoTable(columns, this.values);
            doc.save('Staff Allocations.pdf');
        },
        getProjects(url = '/api/user/allocations') {
            this.show = true;
            this.values={};
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => { 
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.values = data.data.data;
                    
                        this.configPagination(data.data);
                    }
                    
                })
                .catch(errors => {
                  this.show = false;
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        showId(value){
          alert(value);
        }
    }
};
</script>
<style scoped>


.projects {
  width: 100%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>