<template>
	<div>
	    <div class="page-header">
	        <h2>Add User</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	        	<div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	      
	            <div class="card" style="min-height: 940px;">
	                <div class="body forum">
	                 	
	
					
						                    <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                        <h3>Add User</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             <label for="email_address">First Name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter first name" v-model="user.first_name" required />
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Last name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter last name" v-model="user.last_name" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Email Address</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="email" name="color" class="form-control" placeholder="Enter email" v-model="user.email" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Phone number</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="user.phone" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">User Department</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="user.department" >
                                                        		<option v-for="department in departments" :value="department.id">{{department.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">User Position</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="user.position" >
                                                        		<option v-for="position in positions" :value="position.id">{{position.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">User Role</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="user.role" >
                                                        		<option v-for="role in roles" :value="role.id">{{role.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Make Active</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="user.active" >
                                                        		<option value="1">Yes</option>
                                                        		<option value="0">No</option>
                                                        	</select>
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	
						                           	<button class="btn btn-info">Submit</button>
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>



						


	            </div>
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
// import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         
        },
        mounted(){
        	axios.get('/api/get/position')
        		.then(response=>{
        			this.positions = response.data
        		})
        		.catch(erroe=>{
        			console.log(error);
        		});
        		axios.get('/api/get/role')
        		.then(response=>{
        			this.roles = response.data
        		})
        		.catch(erroe=>{
        			console.log(error);
        		});
        		axios.get('/api/get/department')
        		.then(response=>{
        			this.departments = response.data
        		})
        		.catch(erroe=>{
        			console.log(error);
        		});
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				user: {
					first_name:'',
					last_name:'',
					email:'',
					phone:'',
					department:'',
					role:'',
					position:'',
					active:'',
				},
				positions:{},
				roles:{},
				departments:{},

				
			}
		},
		methods:{
			previousPage(){
				this.$router.go(-1);
			},
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editdata, this.beforeEditingCache);
				this.editmodal = false;
			},
			edit(value){
				this.editdata = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.user,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.first_name) ? errors.first_name.toString()+'</br>' : '')+((errors.last_name) ? errors.last_name.toString()+'</br>' : '')+((errors.email) ? errors.email.toString()+'</br>' : '')+((errors.phone) ? errors.phone.toString()+'</br>' : '')+((errors.department) ? errors.department.toString()+'</br>' : '')+((errors.role) ? errors.role.toString()+'</br>' : '')+((errors.position) ? errors.position.toString()+'</br>' : '')+((errors.active) ? errors.active.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/user',this.user)
						  .then(response=>{
						  							  		
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						
						  	// this.user={};

						  	this.$router.push({name: 'users-profiles'});
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getConstraints();
				const errors = validate(this.editdata,constraints);
				// const errors = null;
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.description) ? errors.description.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/position',this.editdata)
						  .then(response=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editdata={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					first_name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					last_name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					email:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					phone:{
						numericality: {
						      onlyInteger: true,
						      message: "can't be empty or must be numbers"
						      
						    }
						
					},
					department: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					  },
					  role: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'ust be selected'
						      
						    }
					  },
					  position: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					  },
					  active: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					  },
				}
			}
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;
		float: left;
    margin-bottom: 10px;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>