<template>
	<div>
	    <div class="page-header">
	        <h2>Edit User</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum" style="padding:0px;">

	                	<div class="col-lg-12 col-xlg-12 col-md-12" style="padding:0px;">
                        <div class="card">
                            <div class="profile_body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-tabs-inline nav-justified" role="tablist">
                                    <li role="presentation" class="active"><a @click.prevent href="#about" data-toggle="tab" aria-expanded="true">Personal Information</a></li>
                                    <li role="presentation" class=""><a @click.prevent href="#timeline" data-toggle="tab" aria-expanded="false">Emergency Contact</a></li>
                                    <li role="presentation" class=""><a @click.prevent href="#photos" data-toggle="tab" aria-expanded="false">Identification</a></li>
                                    <li role="presentation" class=""><a @click.prevent href="#setting" data-toggle="tab" aria-expanded="false">Bank Details</a></li>
                                    <li role="presentation" class=""><a @click.prevent href="#userjob" data-toggle="tab" aria-expanded="false">Job</a></li>
                                    <li role="presentation" class=""><a @click.prevent href="#usersalary" data-toggle="tab" aria-expanded="false">Salary</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="about" style="height: 800px;">
                         
                                    	 <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                       
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             <label for="email_address">First Name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter first name" v-model="user.first_name" required />
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Last name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter last name" v-model="user.last_name" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Email Address</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="email" name="color" class="form-control" placeholder="Enter email" v-model="user.email" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Phone Number</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="user.phone_no" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">User Department</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="user.department_id" >
                                                        		<option v-for="department in departments" :value="department.id">{{department.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">User Position</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="user.position_id" >
                                                        		<option v-for="position in positions" :value="position.id">{{position.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">User Role</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="user.role_id" >
                                                        		<option v-for="role in roles" :value="role.id">{{role.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Make Active</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="user.active" >
                                                        		<option value="1">Yes</option>
                                                        		<option value="0">No</option>
                                                        	</select>
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Update</button>
						                           	<button @click.prevent="reset()" class="btn btn-danger">Reset</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
										</div>

                                    </div>


                                    <div role="tabpanel" class="tab-pane fade" id="timeline" style="height: 700px;">

                                    	 <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                       
						                        <div>
						                        	<form @submit.prevent="sendSecondData()" autocomplete="off">
						                             <label for="email_address">Full Name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter full name" v-model="user.relative_name" required />
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Relationship</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter relationship" v-model="user.relative_relationship" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Mobile Number</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="tel" name="color" class="form-control" placeholder="Enter number" v-model="user.relative_phone_no" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Alernative Number</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter alternative number" v-model="user.alternative_phone_no" />
                                                        </div>
                                                    </div>
                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Update</button>
						                           	<button @click.prevent="reset()" class="btn btn-danger">Reset</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>
                                        
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="photos" style="height: 700px;">
                                    	   	 <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                       
						                        <div>
						                        	<form @submit.prevent="sendThirdData()" autocomplete="off">
						                             <label for="email_address">Driver's License</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Driver's License" v-model="user.driver_license"/>
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">National ID</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter National ID" v-model="user.national_id" />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">International Passport</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="tel" name="color" class="form-control" placeholder="Enter International ID" v-model="user.international_id" />
                                                        </div>
                                                    </div>
                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Update</button>
						                           	<button @click.prevent="reset()" class="btn btn-danger">Reset</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>
                                 
                                        
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="setting" style="height: 700px;">
                                        <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                       
						                        <div>
						                        	<form @submit.prevent="sendFourthData()" autocomplete="off">
						                             <label for="email_address">Bank</label>
                                                   <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="user.bank_id" >
                                                        		<option v-for="bank in banks" :value="bank.id">{{bank.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Bank Account No</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Bank Account No" v-model="user.account_no" />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Account Type</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="user.account_type" >
                                                        		<option value="1">Savings</option>
                                                        		<option value="2">Current</option>
                                                        		<option value="3">Others</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Update</button>
						                           	<button @click.prevent="reset()" class="btn btn-danger">Reset</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
									</div>
                                    </div>

                                     <div role="tabpanel" class="tab-pane fade" id="userjob" style="height: 700px;">
                                        <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                       
						                        <div>
						                        	<form @submit.prevent="sendThirdData()" autocomplete="off">
						                        		<div>Waiting for Approval</div>
						                             <!-- <label for="email_address">Driver's License</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Driver's License" v-model="user.driver_license"/>
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">National ID</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter National ID" v-model="user.national_id" />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">International Passport</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="tel" name="color" class="form-control" placeholder="Enter International ID" v-model="user.international_id" />
                                                        </div>
                                                    </div> -->
                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Update</button>
						                           	<button @click.prevent="reset()" class="btn btn-danger">Reset</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
									</div>
                                    </div>


                                    <div role="tabpanel" class="tab-pane fade" id="usersalary" style="height: 700px;">
                                        <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                       
						                        <div>
						                        	<form @submit.prevent="sendFifthData()" autocomplete="off">
						                             <label for="email_address">Salary Component</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Salary Component" v-model="user.salary_component"/>
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Amount</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" min='1' name="color" class="form-control" placeholder="Enter amount" v-model="user.salary" />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Pay Frequency</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="user.pay_frequency" >
                                                        		<option value="1">Bi weekly</option>
                                                        		<option value="2">Hourly</option>
                                                        		<option value="3">Monthly</option>
                                                        		<option value="4">Monthly On First Pay Of Month</option>
                                                        		<option value="5">Semi Monthly</option>
                                                        		<option value="6">Weekly</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Update</button>
						                           	<button @click.prevent="reset()" class="btn btn-danger">Reset</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
									</div>
                                    </div>



                                    </div>
                                    


                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
	                 	
	


	            </div>
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
// import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         
        },
        mounted(){
        	axios.get('/api/get/position')
        		.then(response=>{
        			this.positions = response.data
        		})
        		.catch(erroe=>{
        			console.log(error);
        		});
        		axios.get('/api/get/role')
        		.then(response=>{
        			this.roles = response.data
        		})
        		.catch(erroe=>{
        			console.log(error);
        		});
        		axios.get('/api/get/department')
        		.then(response=>{
        			this.departments = response.data
        		})
        		.catch(erroe=>{
        			console.log(error);
        		});
        		axios.post('/api/get/user',{id: this.$route.params.id})
        		.then(response=>{
        			this.beforeEditingCache = Object.assign({}, response.data);
        			this.user = response.data
        		})
        		.catch(erroe=>{
        			console.log(error);
        		});
        		axios.post('/api/get/bank')
        		.then(response=>{
        
        			this.banks = response.data
        		})
        		.catch(erroe=>{
        			console.log(error);
        		});
        },
        watch: {
        	'user.salary': function(newValue){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.user.salary = result);
        		
        	}

        },
		data(){
			return{
				modal:false,
				editmodal:false,
				position: {
					name:'',
					description:''
				},
				positions:{},
				roles:{},
				departments:{},
				banks:{},
				editdata:{},
				user:{},
				// personal_info: {
				// 	first_name:'',
				// 	last_name:'',
				// 	email:'',
				// 	phone:'',
				// 	department:'',
				// 	role:'',
				// 	position:'',
				// 	active:'',
				// },
				
			}
		},
		methods:{
			previousPage(){
				this.$router.push({name: 'users-profiles'});
			},
			reset(){
				Object.assign(this.user, this.beforeEditingCache);
			},
			
			sendData(){
				let data = {
					id: this.user.id,
					first_name: this.user.first_name,
					last_name: this.user.last_name,
					email: this.user.email,
					phone_no: this.user.phone_no,
					role: this.user.role_id,
					position: this.user.position_id,
					department: this.user.department_id,
					active: this.user.active,
				}

				
				const constraints = this.getConstraints();
				const errors = validate(data,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.first_name) ? errors.first_name.toString()+'</br>' : '')+((errors.last_name) ? errors.last_name.toString()+'</br>' : '')+((errors.email) ? errors.email.toString()+'</br>' : '')+((errors.phone_no) ? errors.phone_no.toString()+'</br>' : '')+((errors.department) ? errors.department.toString()+'</br>' : '')+((errors.role) ? errors.role.toString()+'</br>' : '')+((errors.position) ? errors.position.toString()+'</br>' : '')+((errors.active) ? errors.active.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/user',data)
						  .then(response=>{
						  	this.beforeEditingCache = Object.assign({}, response.data);
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendSecondData(){
				let data = {
					id: this.user.id,
					relative_name : this.user.relative_name,
					relative_relationship: this.user.relative_relationship,
					relative_phone_no: this.user.relative_phone_no,
					alternative_phone_no: this.user.alternative_phone_no,
					
				}

				
				const constraints = this.getSecondConstraints();
				const errors = validate(data,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.relative_name) ? errors.relative_name.toString()+'</br>' : '')+((errors.relative_relationship) ? errors.relative_relationship.toString()+'</br>' : '')+((errors.relative_phone_no) ? errors.relative_phone_no.toString()+'</br>' : '')+((errors.phone_no) ? errors.phone_no.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit-second/user',data)
						  .then(response=>{
						  	this.beforeEditingCache = Object.assign({}, response.data);
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendThirdData(){
				let data = {
					id: this.user.id,
					driver_license : this.user.driver_license,
					national_id: this.user.national_id,
					international_id: this.user.international_id,

				}

				
				axios.post('/api/edit-third/user',data)
						  .then(response=>{
						  	this.beforeEditingCache = Object.assign({}, response.data);
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				
				
			},
			sendFourthData(){
				let data = {
					id: this.user.id,
					bank_id : this.user.bank_id,
					account_no: this.user.account_no,
					account_type: this.user.account_type,

				}

				
				axios.post('/api/edit-fourth/user',data)
						  .then(response=>{
						  	this.beforeEditingCache = Object.assign({}, response.data);
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				
				
			},
			sendFifthData(){
				let data = {
					id: this.user.id,
					salary_component : this.user.salary_component,
					salary: this.user.salary,
					pay_frequency: this.user.pay_frequency,

				}

				
				axios.post('/api/edit-fifth/user',data)
						  .then(response=>{
						  	this.beforeEditingCache = Object.assign({}, response.data);
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				
				
			},
			
			getConstraints(){
				return{
					first_name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					last_name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					email:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					phone_no:{
						numericality: {
                              onlyInteger: true,
                              message: "can't be empty or must be numbers"
                              
                            }
						
					},
					department: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					  },
					  role: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					  },
					  position: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					  },
					  active: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					  },
				}
			},
			getSecondConstraints(){
				return{
					relative_name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					relative_relationship:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					relative_phone_no:{
						numericality: {
                              onlyInteger: true,
                              message: "can't be empty or must be numbers"
                              
                            },
						
					},
					
					
				}
			},
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	input,select{
		text-transform: capitalize!important;
	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
    input[type*="email"]{
    text-transform: lowercase!important;
    }
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>