<template>
	<div>
	    <div class="page-header">
	        <h2>Users Login</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <router-link style="color:#fff;" :to="{ name: 'add-user'}"><button type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New User</span></button></router-link>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 715px;">
	                <div class="body forum">
	                 	
	
						<!-- <router-view></router-view> -->
						<userlogin ref="userprofileDT" @edit="edit"></userlogin>




						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Edit Login</h3>
						                        <div>
						                        	<form @submit.prevent="sendEditData()" autocomplete="off">
						                             <label for="email_address">Full Name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter project phase" v-model="editdata['first_name'] +' '+ editdata['last_name']" readonly />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Email</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="email" name="color" class="form-control" placeholder="Enter project phase" v-model="editdata.email" readonly />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Password</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="password" name="color" class="form-control" placeholder="Enter project phase" v-model="newdata.password" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Confirm Password</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="password" name="color" class="form-control" placeholder="Enter project phase" v-model="newdata.password_confirm" required />
                                                        </div>
                                                    </div> 
                                                     <label for="email_address">Make Active</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="editdata.active" >
                                                        		<option value="1">Yes</option>
                                                        		<option value="0">No</option>
                                                        	</select>
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import UserLogin from '../datatables/user-administration/UserLogin';
	export default{
		components: {
         userlogin: UserLogin
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				position: {
					name:'',
					description:''
				},
				editdata:{},
				newdata:{
					password:'',
					password_confirm:''
				}
				
			}
		},
		methods:{
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editdata, this.beforeEditingCache);
				this.editmodal = false;
			},
			edit(value){
				this.editdata = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				
			},
			// sendData(){
			// 	const constraints = this.getConstraints();
			// 	const errors = validate(this.position,constraints);
			// 	if(errors){
					
			// 		this.$notify({
			// 			  	  group: 'foo',
			// 			  	  type: 'error',
			// 			  	  title: 'Notification',
			// 			  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.description) ? errors.description.toString()+'</br>' : ''),
			// 			  	  duration: 10000,
			// 			  	});
			// 	}else{
			// 	axios.post('/api/add/position',this.position)
			// 			  .then(response=>{
			// 			  	//Checks if number of data on data-table iis equal or greater than the pagination selected
			// 			  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
			// 			  	//then, updates the pagination url
			// 			  	//else just add data to datatable
			// 			  	if(this.$store.state.positions.length >= this.$store.state.positions_pag.per_page && this.$store.state.positions_pag.total >= 10){
			// 			  		this.$store.state.positions.splice(-1,1);
			// 			  		this.$store.state.positions.unshift(response.data);
			// 			  		this.$store.state.positions_pag.next_page_url = this.$store.state.positions_pag.first_page_url.replace(/.$/,"2");
			// 			  		this.$store.state.positions_pag.total = this.$store.state.positions_pag.total + 1;
			// 			  		this.$refs.positionDT.configPagination(this.$store.state.positions_pag);

			// 			  	}else{
			// 			  		this.$store.state.positions.unshift(response.data);
			// 			  		this.$store.state.positions_pag.to = this.$store.state.positions_pag.to + 1;
			// 			  		this.$store.state.positions_pag.from = 1;
			// 			  		this.$store.state.positions_pag.total = this.$store.state.projectPhases_pag.total + 1;
			// 			  		this.$refs.positionDT.configPagination(this.$store.state.positions_pag);
			// 			  	}
			// 			  	this.$notify({
			// 			  	  group: 'foo',
			// 			  	  type: 'success',
			// 			  	  title: 'Notification',
			// 			  	  text: 'Success!',
			// 			  	  duration: 10000,
			// 			  	});
			// 			  	this.closeModal();
			// 			  	this.position={};
			// 			  })
			// 			  .catch(error=>{
			// 			  	this.$notify({
			// 			  	  group: 'foo',
			// 			  	  type: 'error',
			// 			  	  title: 'Notification',
			// 			  	  text: error.response.data.error,
			// 			  	  duration: 10000,
			// 			  	});
			// 			  });
			// 	}
				
			// },
			sendEditData(){
				let data ={
					id: this.editdata.id,
					password: this.newdata.password,
					active: this.editdata.active,
				}

				if(this.newdata.password !== this.newdata.password_confirm){

					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: 'Password and Confirm Password are not the same',
						  	  duration: 10000,
						  	});
				}else{
				const constraints = this.getConstraints();
				const errors = validate(data,constraints);
				// const errors = null;
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.description) ? errors.description.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/user-login',data)
						  .then(response=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.newdata={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
			}
				
			},
			getConstraints(){
				return{
					password:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
				}
			}
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>