<template>
	<div>
	    <div class="page-header">
	        <h2>Users Profiles</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <router-link style="color:#fff;" :to="{ name: 'add-user'}"><button type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New User</span></button></router-link>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 715px;">
	                <div class="body forum">
	                 	
	
						<!-- <router-view></router-view> -->
						<userprofile ref="userprofileDT" @edit="edit"></userprofile>

<!-- 
						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Add User</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             <label for="email_address">Position</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter position" v-model="position.name" required />
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Position Description</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Description" v-model="position.description" required />
                                                        </div>
                                                    </div><label for="email_address">Position Description</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Description" v-model="position.description" required />
                                                        </div>
                                                    </div><label for="email_address">Position Description</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Description" v-model="position.description" required />
                                                        </div>
                                                    </div><label for="email_address">Position Description</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Description" v-model="position.description" required />
                                                        </div>
                                                    </div><label for="email_address">Position Description</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Description" v-model="position.description" required />
                                                        </div>
                                                    </div><label for="email_address">Position Description</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Description" v-model="position.description" required />
                                                        </div>
                                                    </div><label for="email_address">Position Description</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Description" v-model="position.description" required />
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	<button class="btn btn-info">Submit</button>
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>
 -->


						<!-- <div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Edit Position</h3>
						                        <div>
						                        	<form @submit.prevent="sendEditData()" autocomplete="off">
						                             <label for="email_address">Position</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter project phase" v-model="editdata.name" required />
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Position Description</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Description" v-model="editdata.description" required />
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	<button class="btn btn-info">Submit</button>
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div> -->


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         userprofile: UserProfile
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				position: {
					name:'',
					description:''
				},
				editdata:{}
				
			}
		},
		methods:{
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editdata, this.beforeEditingCache);
				this.editmodal = false;
			},
			edit(value){
				this.editdata = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.position,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.description) ? errors.description.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/position',this.position)
						  .then(response=>{
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	if(this.$store.state.positions.length >= this.$store.state.positions_pag.per_page && this.$store.state.positions_pag.total >= 10){
						  		this.$store.state.positions.splice(-1,1);
						  		this.$store.state.positions.unshift(response.data);
						  		this.$store.state.positions_pag.next_page_url = this.$store.state.positions_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.positions_pag.total = this.$store.state.positions_pag.total + 1;
						  		this.$refs.positionDT.configPagination(this.$store.state.positions_pag);

						  	}else{
						  		this.$store.state.positions.unshift(response.data);
						  		this.$store.state.positions_pag.to = this.$store.state.positions_pag.to + 1;
						  		this.$store.state.positions_pag.from = 1;
						  		this.$store.state.positions_pag.total = this.$store.state.projectPhases_pag.total + 1;
						  		this.$refs.positionDT.configPagination(this.$store.state.positions_pag);
						  	}
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	this.position={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getConstraints();
				const errors = validate(this.editdata,constraints);
				// const errors = null;
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.description) ? errors.description.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/position',this.editdata)
						  .then(response=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editdata={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					description:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
				}
			}
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>