<template>
	<div>
	    <div class="page-header">
	        <h2>Expense By Project</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-11 col-md-offset-1" style="display:flex;">
	                            
	                            	
                                    <label for="Vendor Category" v-if="total">Total:</label>
                                    <div class="form-group col-md-1" v-if="total">
                                        <div class="form-line">
                                            <input type="text" class="form-control" readonly :value="total">
                                        </div>
                                    </div>

	                                <div class="form-group col-md-3">
                                    	<div class="form-line">
                                        	<input type="text" @keyup="sortVehicle(allocation.name)" v-model="allocation.name" class="form-control" style="margin-top: -11px;" placeholder="Type project name">
                                            
                                        </div>
                                        <div v-if="showSearch" style="position: absolute;width: 89%; z-index: 1;">
                                        	<ul class="list-unstyled">
                                        		<li v-for="project in projects" @click="selectUser(project)">{{ project.name }} </li>
                                        	</ul>
                                        </div>

                                    </div> 

	                                <div class="form-group col-md-3">
                                    	<div class="form-line">
                                        	<datetime type="date" v-model="allocation.start_date" placeholder="select least date"></datetime>
                                        </div>
	                                </div>

                                    <div class="form-group col-md-3">
                                    	<div class="form-line">
                                        	<datetime type="date" v-model="allocation.end_date" placeholder="select highest date"></datetime>
                                            
                                        </div>
                                    </div>

                                    <div class="form-group col-md-1">
                                    	<button @click.prevent="sendData()" class="btn btn-info"><i class="material-icons">search</i>Search</button>
                                    </div>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 715px;">
	                <div class="body forum">
	                 	
						<expense-by-project ref="projectExpenseDT" @total = "sumTotal"></expense-by-project>


 
	            </div>
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js';
import ExpenseByProject from '../datatables/reports/ExpenseByProject';
import moment from 'moment';
validate.extend(validate.validators.datetime, {
  // The value is guaranteed not to be null or undefined but otherwise it
  // could be anything.
  parse: function(value, options) {
    return +moment.utc(value);
  },
  // Input is a unix timestamp
  format: function(value, options) {
    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
    return moment.utc(value).format(format);
  }
});

	export default{
		components: {
          ExpenseByProject
        },
        mounted(){
   
        	
        },
		data(){
			return{
				allocation:{
					project:'',
					start_date:'',
					end_date:''
				},
				projects:{},
				showSearch:false,
				total: 0,
				
				
				
			}
		},
		methods:{
			sortVehicle(value){
				if(value.length>0){
					axios.post('/api/search/projects',{data:value})
					.then(response=>{

						this.projects = response.data;
						this.showSearch = true;
					})
					.catch(error=>{
						console.log(error);
					})
				}else{
					this.projects = {};
				}
				
			},
			selectUser(project){
				//Allocation.name is needed to include in the validation so as to ensure you selected a project
				this.allocation.name = project.name;
				this.allocation.id = project.id;
				this.showSearch = false;
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.allocation,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.start_date) ? errors.start_date.toString()+'</br>' : '')+((errors.end_date) ? errors.end_date.toString()+'</br>':'')+((errors.name) ? 'Project '+ errors.name.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{

					this.total = 0;
					this.$refs.projectExpenseDT.setData(this.allocation);
					this.$refs.projectExpenseDT.getProjects();
				
				}
				
			},

			sumTotal(sum){
				this.total = this.addCommas(sum);
			},

			addCommas(x){
	          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	        },

			getConstraints(){
				return{
					end_date:{
						
						datetime: {
					      dateOnly: false,
					      message: "must be selected"
					    }
						
					},
					
					start_date: {
					
						datetime: {
					      dateOnly: false,
					      message: "must be selected"
					    }
					  },
					  name:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
					},
					
				}
			},
			
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
	ul{
		background: #00B0E4;
		color: #fff;
	}
	li{
		cursor: pointer;
		list-style: none;
		color: #fff;
		border-bottom: 1px solid #fff;
		text-align: center;
	}

</style>