<template>
	<div>
	    <div class="page-header">
	        <h2>Requisition By Date Range</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-11 col-md-offset-1" style="display:flex;">
	                            
	                            	
                                    <label for="Vendor Category" v-if="total">Total:</label>
                                    <div class="form-group col-md-1" v-if="total">
                                        <div class="form-line">
                                            <input type="text" class="form-control" readonly :value="total">
                                        </div>
                                    </div>

	                                <div class="form-group col-md-3">
                                    	<div class="form-line">
                                        	<datetime type="date" v-model="allocation.start_date" placeholder="Select start date"></datetime>
                                        </div>
	                                </div>

                                    <div class="form-group col-md-3">
                                    	<div class="form-line">
                                        	<datetime type="date" v-model="allocation.end_date" placeholder="Select end date"></datetime>
                                            
                                        </div>
                                    </div>

                                    <div class="form-group col-md-1">
                                    	<button @click.prevent="sendData()" class="btn btn-info"><i class="material-icons">search</i>Search</button>
                                    </div>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 715px;">
	                <div class="body forum">
	                 	
						<requisition-by-date ref="dateRequisitionDT" @total = "sumTotal"></requisition-by-date>


 
	            </div>
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js';
import RequisitionByDate from '../datatables/reports/RequisitionByDateRange';
import moment from 'moment';
validate.extend(validate.validators.datetime, {
  // The value is guaranteed not to be null or undefined but otherwise it
  // could be anything.
  parse: function(value, options) {
    return +moment.utc(value);
  },
  // Input is a unix timestamp
  format: function(value, options) {
    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
    return moment.utc(value).format(format);
  }
});

	export default{
		components: {
          RequisitionByDate
        },
        
		data(){
			return{
				allocation:{
					start_date:'',
					end_date:''
				},
				showSearch:false,
				total: 0,
				
				
				
			}
		},
		methods:{

			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.allocation,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.start_date) ? errors.start_date.toString()+'</br>' : '')+((errors.end_date) ? errors.end_date.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{

					this.total = 0;
					this.$refs.dateRequisitionDT.setData(this.allocation);
					this.$refs.dateRequisitionDT.getProjects();
				
				}
				
			},

			sumTotal(sum){
				this.total = this.addCommas(sum);
			},

			addCommas(x){
	          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	        },

			getConstraints(){
				return{
					end_date:{
						
						datetime: {
					      dateOnly: false,
					      message: "must be selected"
					    }
						
					},
					
					start_date: {
					
						datetime: {
					      dateOnly: false,
					      message: "must be selected"
					    }
					},
					
					
				}
			},
			
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
	ul{
		background: #00B0E4;
		color: #fff;
	}
	li{
		cursor: pointer;
		list-style: none;
		color: #fff;
		border-bottom: 1px solid #fff;
		text-align: center;
	}

</style>