<template>
	<div>
	    <div class="page-header">
	        <h2>{{parentProject.name}} Contracts</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">Contract Categories</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                               <router-link style="color:#fff;" :to="{ name: 'add-contracts', params: { id: project_id }}"> <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Contract</span></button></router-link>
	                            </div>
	                        </div> 


	                        <div class="col-md-4" style="float: right;margin: 0px;padding: 0px;">
	                            <div class="btn-group" style="float: right;margin-right: 8%;">
	                            
	                                <button @click.prevent="prevPage()" type="button" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                	<Contract ref ="contractDT" @pay="payment" @approve="approve" @decline="decline"></Contract>


	                	<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
		                    <div class="md-content" style="font-size:16px;">
		                        <h3>Create Contract Categories</h3>
		                        <div >
		                        	<form @submit.prevent="sendData()" autocomplete="off">
			                            <div v-for="payment in paymentShell">
	                                    <label for="email_address">Vendor</label>
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<input type="" class="form-control" name="" v-model="payment.vendor.name">
                                                
                                            </div>
                                        </div>

                                        <label for="email_address">Project Name</label>
                                        <div class="form-group">
                                        	<div class="form-line">

                                            	<input type="" class="form-control" name="" v-model="payment.project.name">
                                                
                                            </div>
                                        </div>

                                          <label for="email_address">Project Phase</label>
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<input type="" class="form-control" name="" v-model="payment.individualprojectphase.projectphase.name">
                                                
                                            </div>
                                        </div>

                                          <label for="email_address">Payment Date</label>
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<datetime type="date" v-model="payment.payment_date" placeholder="Select Date" ></datetime>
                                                
                                            </div>
                                        </div>

                                          <label for="email_address">Chart Of Account</label>
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<select class="form-control" v-model="payment.chartofaccount" required>
                                            		<option v-for="chartofaccount in chartofaccounts" :value="chartofaccount.id" >{{chartofaccount.name}}</option>
                                            	</select>
                                                
                                            </div>
                                        </div>

                                          <label for="email_address">Credit Vendor From</label>
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<select class="form-control" v-model="payment.bankaccount_id" required>
                                            		<option v-for="bankaccount in bankaccounts" :value="bankaccount.id">{{bankaccount.account_name}} {{bankaccount.bank.name}} {{bankaccount.account_number}}</option>
                                            	</select>
                                                
                                            </div>
                                        </div>

                                        <label for="email_address">Amount</label>
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<input type="" name="" class="form-control" v-model="payment.amount_paid" placeholder="Enter Amount">
                                                
                                            </div>
                                        </div>

			                           	<div class="mfooter">

				                           	<button class="btn btn-info">Submit</button>
				                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
			                           	
			                           	</div>
		                            </div>
		                        	</form>
		                        </div>
		                   </div>
						</div>	


						<div v-if="approveModal" class="md-modal md-effect-2 md-show" style="left:54%;max-width: 20%; top:43%;">
			                    <div class="md-content">
			                       
			                        <div>
			                        <form @submit.prevent="sendApproveOrDeclineData()" autocomplete="off">
			                             <label style="display:block;text-align:center;margin-bottom:15px;">Are you sure?</label>
                                        
			                           <div class="mfooter" style="margin-bottom:0px; justify-content:center;">
			                           	<button class="btn btn-info btn-sm">Confirm</button>
			                           	<button @click.prevent="approveModal = !approveModal" class="btn btn-danger btn-sm">Cancel</button>
			                           	
			                           </div>
			                            
			                        </form>
			                        </div>
			                   </div>
						</div>


						<div v-if="declineModal" class="md-modal md-effect-2 md-show" style="left:54%;max-width: 20%; top:43%;">
			                    <div class="md-content">
			                       
			                        <div>
			                        <form @submit.prevent="sendApproveOrDeclineData()" autocomplete="off">
			                             <label style="display:block;text-align:center;margin-bottom:15px;">Are you sure?</label>
                                        
			                           <div class="mfooter" style="margin-bottom:0px; justify-content:center;">
			                           	<button class="btn btn-info btn-sm">Confirm</button>
			                           	<button @click.prevent="declineModal = !declineModal" class="btn btn-danger btn-sm">Cancel</button>
			                           	
			                           </div>
			                            
			                        </form>
			                        </div>
			                   </div>
						</div>


					</div>
				<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
				<div v-if="approveModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
				<div v-if="declineModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
				
	        	</div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import Contract from '../../datatables/finance-administration/vendor-contract/Contract.vue';
import validate from 'validate.js';

	export default{
		components: {
         Contract
        },
        mounted(){
        	this.$refs.contractDT.setProjectId(this.$route.params.id);
        	this.project_id = this.$route.params.id;
        	

        	axios.get('/api/get/chartofaccount')
        		.then(response=>{
        			this.chartofaccounts = response.data
        		})
        		.catch(error=>{
        			// console.log(error);
        		});

    		axios.get('/api/bankaccounts')
    		.then(response=>{
    			// console.log(response.data);
    			this.bankaccounts = response.data
    		})
    		.catch(error=>{
    			// console.log(error);
    		});

    		axios.post('/api/get/project',{id:this.$route.params.id})
    		.then(response=>{
    			// console.log(response.data);
    			this.parentProject = response.data;
    			// console.log(response.data);
    		})
    		.catch(error=>{
    			// console.log(error);
    		});
        },
		data(){
			return{
				modal:false,
				approveModal:false,
				declineModal:false,
				projects:'',
				project_id:'',
				newProject:'',
				paymentShell:[],
				chartofaccounts:{},
				bankaccounts:{},
				index:'',
				param:{
					id:'',
					status:''
				},
				parentProject:{},
				// closeModal: () =>{this.modal = false}, //Short way of 
			}
		},
		watch: {
        	
        },

		methods:{
			prevPage(){
				this.$router.go(-1);
			},
			approve(value,index){
				// console.log(value);
				this.param = Object.assign({}, value);
				this.param.status = 1;
				console.log(this.param);
				this.approveModal = true;
				this.index = index;

			},
			decline(value,index){
				this.param = Object.assign({}, value);
				this.param.status = 2;
				// console.log(this.id);
				this.declineModal = true;
				this.index = index;
			},
			payment(value,index){
				// console.log(value);
				this.paymentShell.push(value);
				this.modal = true;
				this.index = index;

			},
			closeModal(){
				this.modal = false;
				this.newProject ='';
			},
			sendData(){
			const constraints = this.getConstraints();
				const errors = validate();
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.project) ? errors.project.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
					axios.post('/api/pay/vendor-contract',{data:this.paymentShell})
						  .then(response=>{

						  	this.$refs.contractDT.getcontracts();
						  	
				
						  	
							this.modal = false;
							this.paymentShell = [];
							
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						
						  })
						  .catch(error=>{
						  	// console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendApproveOrDeclineData(){
					axios.post('/api/contract/approve-decline',this.param)
						  .then(response=>{
						  	console.log(response.data);
						  	this.$store.state.contracts[this.index].status = response.data;
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.approveModal = false;
						  	this.declineModal = false;
						  
						  })
						  .catch(error=>{
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
			},
			// sendDeclineData(){
			// 		axios.post('/api/return/vehiclerequest/vehicle',this.returnvehicledata)
			// 			  .then(response=>{
						  
			// 			  	this.$store.state.vehicleRequests[this.index].return_status = response.data.return_status;
						  	
			// 			  	this.$notify({
			// 			  	  group: 'foo',
			// 			  	  type: 'success',
			// 			  	  title: 'Notification',
			// 			  	  text: 'Success!',
			// 			  	  duration: 10000,
			// 			  	});
			// 			  	this.returnModal = false;
						  
			// 			  })
			// 			  .catch(error=>{
						  	
			// 			  	this.$notify({
			// 			  	  group: 'foo',
			// 			  	  type: 'error',
			// 			  	  title: 'Notification',
			// 			  	  text: error.response.data.error,
			// 			  	  duration: 10000,
			// 			  	});
			// 			  });
			// },
			getConstraints(){
				return{
					project: {
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},

				}
			}//End Constraint
			
		},
		computed:{
	      
	    }
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>