<template>
	<div>
	    <div class="page-header">
	        <h2>Contract Categories</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">Contract Categories</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                               <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Contract Category</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                	<costing ref ="costingDT"></costing>
	                	<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
		                    <div class="md-content">
		                        <h3>Create Contract Categories</h3>
		                        <div>
		                        	<form @submit.prevent="sendData()" autocomplete="off">
			                            
	                                    <label for="email_address">Project Name</label>
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<select class="form-control" v-model="newProject" required>
                                            		<option value="">Select Project</option>
                                            		<option v-for="project in projects" :value="project.id" v-if="!project.vendor_contract">{{project.name}}</option>
                                            	</select>
                                                
                                            </div>
                                        </div>

			                           	<div class="mfooter">

				                           	<button class="btn btn-info">Submit</button>
				                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
			                           	
			                           	</div>
		                            
		                        	</form>
		                        </div>
		                   </div>
						</div>	                	
					</div>
				<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
				
	        	</div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import costing from '../../datatables/finance-administration/vendor-contract/ContractCategory.vue';
import validate from 'validate.js';

	export default{
		components: {
         costing
        },
        mounted(){
        	// if(!this.$store.state.projects.length){
        		axios.get('/api/getAllProjects')//This one is used to load the uncosted projects used in the modal
        			.then(response =>{
        				this.projects = response.data;

        			})
        	// }
        },
		data(){
			return{
				modal:false,

				projects:'',
				newProject:'',
				// closeModal: () =>{this.modal = false}, //Short way of 
			}
		},
		watch: {
        	
        },

		methods:{
			closeModal(){
				this.modal = false;
				this.newProject ='';
			},
			sendData(){
			const constraints = this.getConstraints();
				const errors = validate({project: this.newProject},constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.project) ? errors.project.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
					axios.post('/api/add/vendor-contract',{project_id: this.newProject})
						  .then(response=>{
						  	
						  	if(this.$store.state.costedProjects.length >= this.$store.state.costedProjects_pag.per_page && this.$store.state.costedProjects_pag.total >= 10){
						  		this.$store.state.costedProjects.splice(-1,1);
						  		this.$store.state.costedProjects.unshift(response.data);
						  		this.$store.state.costedProjects_pag.next_page_url = this.$store.state.costedProjects_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.costedProjects_pag.total = this.$store.state.costedProjects_pag.total + 1;
						  		this.$refs.costingDT.configPagination(this.$store.state.costedProjects_pag);

						  	}else{
						  		this.$store.state.costedProjects.unshift(response.data);
						  		this.$store.state.costedProjects_pag.to = this.$store.state.costedProjects_pag.to + 1;
						  		this.$store.state.costedProjects_pag.from = 1;
						  		this.$store.state.costedProjects_pag.total = this.$store.state.costedProjects_pag.total + 1;
						  		this.$refs.costingDT.configPagination(this.$store.state.costedProjects_pag);
						  	}
							this.modal = false;
							//Delete the project from the modal
							var check = this.projects.find((project)=> project.id == this.newProject)
							var id = this.projects.indexOf(check);
							this.projects.splice(id,1);

							console.log(id);
						  	this.newProject = '';
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					project: {
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},

				}
			}//End Constraint
			
		},
		computed:{
	      
	    }
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>