<template>
	<div>
	    <div class="page-header">
	        <h2>Edit Contract</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	        	<div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	      
	            <div class="card" style="min-height: 1900px;">
	                <div class="body forum">
	                 	
	
					
						                    <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                        <h3>Edit Contract</h3>
						                        <div>

						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             <label for="email_address">Vendor</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                           <select class="form-control" v-model="contract.vendor_id" >
                                                        		<option v-for="vendor in vendors" :value="vendor.id">{{vendor.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Who Contracted You?</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="contract.contractor" >
                                                        		<option v-for="user in users" :value="user.id">{{user.last_name}} {{user.first_name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Project Phase</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="contract.individual_project_phase_id" @change="loadWeeks()">
                                                        		<option v-for="phase in phases" :value="phase.id">{{phase.projectphase.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>

                                                    <label for="Phase" v-if="!project_type">Week</label>
                                                    <div class="form-group" v-if="!project_type">
                                                        <div class="form-line">
                                                            <select class ="form-control" name="phase" v-model="costingWeek.id" @change="loadDays()" >
                                                                <option value="0">Select Week</option>
                                                                <!-- <option value="x" v-if="requisition.costing_week_id == 'x'">No Week For The Selected Phase</option> -->
                                                                <option v-for ="costing_week in projectPhaseWeeks" :value="costing_week.id">
                                                                    {{ makeMoment(costing_week.start_date) +' - '+ makeMoment(costing_week.end_date)}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <label for="Phase" v-if="!project_type">Day</label>
                                                    <div class="form-group" v-if="!project_type">
                                                        <div class="form-line">
                                                            <select class ="form-control" name="phase" v-model="costingDay" @change="getProjectLabour()" >
                                                                <option value="">Select Day</option>
                                                                <!-- <option value="x" v-if="requisition.costing_week_id == 'x'">No Week Selected</option> -->
                                                                <option v-for ="costing_day in projectCostingDays" :value="costing_day">
                                                                    {{ makeMoment(costing_day.date) }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>


													<div v-if="in_budget">
                                                    <label for="email_address">Labour Type</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                           <select class="form-control" v-model="contract.material_and_service_id" required>
                                                        		<option v-for="projectlabour in projectlabours" :value="projectlabour.material_and_services_id">{{projectlabour.material_and_service.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
													</div>
													<div v-else>
														  <label for="email_address">Labour Category</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                           <select class="form-control" v-model="contract.labour_category" @change="getNotInBudgetLabour()" required>
		                                                        		<option v-for="category in categories" :value="category.id">{{category.name}}</option>
		                                                        		
		                                                        	</select>
		                                                        </div>
		                                                    </div>
														<label for="email_address">Labour Type</label>
	                                                    <div class="form-group">
	                                                        <div class="form-line">
	                                                           <select class="form-control" v-model="contract.labour" required>
	                                                        		<option v-for="labour in newlabours" :value="labour.id">{{labour.name}}</option>
	                                                        		
	                                                        	</select>
	                                                        </div>
	                                                    </div>
													</div>
                                                     <p style="font-size:0.8em">
                                                		<a href="#" @click.prevent="in_budget=!in_budget" v-text="in_budget ? 'Needed labour not in budget?' : 'Needed labour already in budget?' "></a>
                                           			 </p>
                                                    
                                                    <label for="email_address">Start Date</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <datetime type="date" v-model="contract.start_date" placeholder="Select Date" ></datetime>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">End Date</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <datetime type="date" v-model="contract.end_date" placeholder="Select Date" ></datetime>
                                                        </div>
                                                    </div>


                                                  


                                                   <!--  <label for="email_address">User Position</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="user.position" >
                                                        		<option v-for="position in positions" :value="position.id">{{position.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div> -->

                        <div class="col-lg-12 col-xlg-12 col-md-12" style="padding:0px;">
                        <div class="card" style="height:200px;box-shadow: none;">
                            <div class="profile_body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-tabs-inline nav-justified" role="tablist">
                                    <li role="presentation" class="active"><a @click.prevent href="#about" data-toggle="tab" aria-expanded="true">Scope Of Service</a></li>
                                    
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="about" style="height: auto;">
                         
                                    	 <div class="col-md-12">
						                       <div class="md-content">
						                       
						                        <div v-for="(agreement, i) in contract.agreements" style="display:flex; justify-content:space-between;">
													<div class="form-group" style="margin-left:15px;">
                                                    <div class="form-line">
														 <input type="text" name="agreement" class="form-control" v-model="agreement.name" placeholder="Enter Scope Of Service" required />
													</div>
													
													</div>
													<button @click.prevent="deleteScope(i)" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                        
                                                            <em class="material-icons md-8">delete</em>
                                        
                                                     </button>
												</div>
						                        	 
						                        </div>
						                        <button @click.prevent="newScope()" class="btn btn-primary flexit">
	                                                    <em class="material-icons">add</em>
	                                                    <span class="line">Add Scope Of Service</span>
                                                </button>
						                   </div>
										</div>

                                    </div>




                                    </div>
                                    


                                    </div>
                                   
                                </div>

								

						  <div class="form-group" style="display:flex;justify-content:space-around;margin-bottom:-18px;">
                                                    
                                                        <ul class="list-inline">
                                                            <li class="eagle-checkbox" style="margin-right:10px;">
                                                                <label class="eagle-check custom-radio">
                                                                    <input id="radio1" name="radio_b1" value="1" type="radio" class="eagle-check-input" v-model="radio_select">
                                                                    <span class="eagle-check-indicator"></span>
                                                                    <span class="eagle-check-description">Corporate Assets</span>
                                                                </label>
                                                            </li>
                                                         
                                                            
                                                        </ul>
                                                	
                                            </div>


                                            <div v-if="show_user">
						              
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="mate"  @keyup="sortMaterials(contract.material_or_service,'material')" class="form-control" placeholder="Type In Asset" v-model="contract.material_or_service">
                                                        </div>
                                                        <div v-if="showMaterialSearch" style="position: absolute;width: 87%; z-index:40000;">
                                                        	<ul class="list-unstyled ul_search">
                                                        		<li v-for="material in materials" @click="selectMaterial(material)">{{material.assetmanufacturer.name}} {{material.name}} </li>
                                                        	</ul>
                                                        </div>

                                                    </div>
                                           </div>

                                           <!--  <div v-if="show_vendor">
				                             	
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" name="search" @keyup="sortMaterials(contract.material_or_service,'service')" class="form-control" placeholder="Type In Service" v-model="contract.material_or_service">
                                                    </div>
                                                    <div v-if="showServiceSearch" style="position: absolute;width: 87%; z-index:40000;">
                                                    	<ul class="list-unstyled ul_search">
                                                    		<li v-for="service in services" @click="selectService(service)">{{ service.name}} </li>
                                                    	</ul>
                                                    </div>

                                                </div>
                                            </div> -->


                            
                                                   
						<div class="col-lg-12 col-xlg-12 col-md-12" style="padding:0px;">
                        <div class="card"style="height:200px;box-shadow: none;">
                            <div class="profile_body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-tabs-inline nav-justified" role="tablist">
                                    <li role="presentation" class="active"><a @click.prevent href="#milestone" data-toggle="tab" aria-expanded="true">Milestone</a></li>
                                     <li role="presentation" class=""><a @click.prevent href="#date" data-toggle="tab" aria-expanded="false">Date</a></li>
                                    
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="milestone" style="height: auto;">
                         
                                    	 <div class="col-md-12 ">
						                       <div class="md-content">
						                       
						                         <div v-for="(milestone, i) in contract.milestones" style="display:flex; justify-content:space-between;">
													<div class="form-group" style="margin-left:15px;">
                                                    <div class="form-line">
														 <input type="text" name="mile" class="form-control" v-model="milestone.name" placeholder="Enter Scope Of Service" required />
													</div>
													
													</div>

													<div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                        
                                                                <input type="text" name="mile_amount" class="form-control" v-model="milestone.amount" @keyup="commafy(i,milestone.amount)" placeholder="Enter Amount" required />
                                                                
                                                            </div>    
                                                    </div>
													<button @click.prevent="deleteMilestone(i)" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                        
                                                            <em class="material-icons md-8">delete</em>
                                        
                                                     </button>
												</div>
						                        	 
						                        </div>
						                        <div style="display:flex; justify-content:space-around;">
						                        <button @click.prevent="newMilestone()" class="btn btn-primary flexit">
	                                                    <em class="material-icons">add</em>
	                                                    <span class="line">Add Milestone</span>
                                                </button>
												
													
                                                    <label for="email_address" style="margin-left: 15%;width: 50%;">Contract Sum:</label>
                                                    <div class="form-group col-md-8" >
                                                        <div class="form-line">
                                                             <input type="text" name="sum" class="form-control" v-model="contract.amount" placeholder="0" readonly/>
                                                        </div>
                                                    </div>
                                                    

                                                </div>
						                   </div>
										</div>


										  <div role="tabpanel" class="tab-pane fade" id="date" style="height: auto;">
                         
                                    	 <div class="col-md-12">
						                       <div class="md-content">
						                       
						                         <div v-for="(date, i) in contract.dates" style="display:flex; justify-content:space-between;">
													<div class="form-group" style="margin-left:15px;padding: 10px;">
                                                    <div class="form-line">
                                                    	<datetime type="date" v-model="date.name" placeholder="Select Date" ></datetime>
														 <!-- <input type="text" class="form-control" v-model="date.description" placeholder="Enter Scope Of Service" required /> -->
													</div>
													
													</div>
													<div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                        
                                                                <input type="text" name="date_amount" class="form-control" v-model="date.amount" @keyup="commafy2(i,date.amount)" placeholder="Enter Amount" />
                                                                
                                                            </div>    
                                                    </div>
													<button @click.prevent="deleteDate(i)" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                        
                                                            <em class="material-icons md-8">delete</em>
                                        
                                                     </button>
												</div>
						                        	 
						                        </div>
						                        <button @click.prevent="newDate()" class="btn btn-primary flexit">
	                                                    <em class="material-icons">add</em>
	                                                    <span class="line">Add Date</span>
                                                </button>
						                   </div>
										</div>

										<label for="email_address">Notes</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                               <textarea class="form-control" v-model="contract.notes"></textarea>
                                            </div>
                                        </div>

                                    </div>  

                                  

                                    </div>




                                    </div>
                                    


                                    </div>
                                    <div class="mfooter" style="float: right;margin-top: 20%;">
						                           	
						                <button class="btn btn-info">Submit</button>
						            </div>
                                </form>
                                   
                                </div>
                            </div>

                    </div>

                                   

<!-- 
                                                    <label for="email_address">Make Active</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="user.active" >
                                                        		<option value="1">Yes</option>
                                                        		<option value="0">No</option>
                                                        	</select>
                                                        </div>
                                                    </div> -->
						                           
						                            
						                       
						                        </div>
						                   </div>
					



						


	            </div>
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js';
import moment from 'moment';
// import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         
        },
        // props:['project'],
        mounted(){
        	// console.log(this.$route.params.id);
        	// this.project_id = this.$store.state.contracts

            axios.post('/api/get/contract',{id:this.$route.params.id})
                .then(response=>{
                    // console.log(response.data);
                    this.contract = response.data[0]

                    axios.post('/api/get/allprojectlabours',{id:this.contract.individual_project_phase_id})
                    .then(response=>{
                        console.log(this.contract.individual_project_phase_id)
                        console.log(response.data);
                        this.projectlabours = response.data
                    })
                    .catch(error=>{
                        console.log(error);
                    });

                    axios.post('/api/get/project/invividualprojectphases',{data:response.data[0].project_id})
                    .then(response=>{
                        // console.log(response.data);
                        this.phases = response.data;
                        this.project_type = this.phases[0].project.type;
                        // this.getProjectLabour();
                    })
                    .catch(error=>{
                        console.log(error);
                    });

                    axios.post('/api/get/singleday',{id:this.contract.projectlabour.costing_day_id})
                        .then(response=>{
                           this.costingDay = response.data;
                                // console.log(this.costingDay);
                               axios.post('/api/get/singleweek',{id:this.costingDay.costing_week_id})
                                .then(response=>{
                                    this.costingWeek = response.data;
                                    // console.log(this.costingWeek);
                                    axios.post('/api/get/days',{id:this.costingWeek.id})
                                    .then(response=>{
                                        // console.log(response.data);
                                        this.projectCostingDays = response.data;
                                    })
                                    .catch(error=>{
                                        console.log(error);
                                    });
                                })
                                .catch(error=>{
                                    console.log(error);
                                });

                        })
                        .catch(error=>{
                            // console.log(error);
                    });

                     axios.post('/api/get/weeks',{id:this.contract.individual_project_phase_id})
                        .then(response=>{
                            if(this.phases[0].project.type == 1){
                                // this.getProjectLabour();
                            }
                            
                            this.projectPhaseWeeks = response.data
                        })
                        .catch(error=>{
                            console.log(error);
                        });

                })
                .catch(error=>{
                    console.log(error);
                });

        	   axios.post('/api/get/user/all')
        		.then(response=>{
        			// console.log(response.data);
        			this.users = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

        		axios.get('/api/get/vendor/all')
        		.then(response=>{
        			this.vendors = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

				// axios.get('/api/bankaccounts')
    //                 .then(response=>{
    //                     this.bankaccounts = response.data
    //                 })
    //                 .catch(error=>{
    //                     console.log(error);
    //                 });



            // axios.post('/api/get/project/invividualprojectphases',{data:this.$route.params.id})
            //     .then(response=>{
            //         console.log(response.data);
            //         this.phases = response.data
            //         this.project_type = this.phases[0].project.type;
            //     })
            //     .catch(error=>{
            //         console.log(error);
            //     });
	    		
	    	axios.post('/api/get/material_and_service_categories/all')
            .then(response =>{
                this.categories = response.data;
             })
            .catch(error =>{
                console.log(error);
            });
        },
		watch: {
            // whenever question changes, this function will run
            radio_select: function (value) {
              if(value == 1){
              	this.show_user = true;
              	this.show_vendor = false;
              	this.contract.asset_type = 'materials';
              }else{
              	this.show_user = false;
              	this.show_vendor = true;
              	this.contract.asset_type = 'services';
              }
            },
          },
		data(){
			return{
				modal:false,
				editmodal:false,
				contract: {},
				vendors:{},
				users:{},
				bankaccounts:{},
				phases:{},
				projectlabours:{},
				categories:{},
				newlabours:{},
				departments:{},
				in_budget: true,
				radio_select: 1,
				show_user: true,
				show_vendor: false,
				showServiceSearch:false,
				showMaterialSearch:false,
                 project_type:'',
                 projectPhaseWeeks:[],
                 projectCostingDays:[],
                 costingDay:{},
                 costingWeek:{},

				
			}
		},
		methods:{
             makeMoment(value){//Format dates for raw display
              return moment(value).format('MMMM Do YYYY');
            },
             loadWeeks(){
                axios.post('/api/get/weeks',{id:this.contract.project_phase})
                .then(response=>{
                    if(this.phases[0].project.type == 1){
                        this.getProjectLabour();
                    }
                    
                    this.projectPhaseWeeks = response.data
                })
                .catch(error=>{
                    console.log(error);
                });
            },
            loadDays(){
                axios.post('/api/get/days',{id:this.contract.costing_week_id})
                .then(response=>{
                    // console.log(response.data);
                    this.projectCostingDays = response.data;
                })
                .catch(error=>{
                    console.log(error);
                });
            },
			getNotInBudgetLabour(){
				axios.post('/api/get/category-labours',{category_id:this.contract.labour_category})
        		.then(response=>{
        			// console.log(response.data);
        			this.newlabours = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});
			},
			commafy(index, newValue){//Used for dynamic pages
               
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.contract.milestones[index].amount = result);

                      this.sumIt(newValue);
                      
                    
            },
            commafy2(index, newValue){//Used for dynamic pages
               
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.contract.dates[index].amount = result);
                      
                    
            },
            sumIt(number){
		      	var sum = parseFloat(this.contract.amount);
		       
		        	sum += parseFloat(number.replace(/,/g, ''));
		       
		        this.contract.amount = sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	      	},
			getProjectLabour(){
				axios.post('/api/get/projectlabours',{id:this.contract.individual_project_phase_id})
        		.then(response=>{
        			// console.log(response.data);
        			this.projectlabours = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});
			},
			selectService(object){
				this.contract.material_or_service = object.name;
				this.contract.asset = object.id;
				this.services=[];
				this.showServiceSearch = false;

			},
			selectMaterial(object){
				this.contract.material_or_service = object.name;
				this.contract.asset = object.id;
				this.materials = [];
				this.showMaterialSearch = false;
			},
			sortMaterials(value,type){
				if(value.length>0){
					if(type=='material'){
					axios.post('/api/get/materials',{data:value})
					.then(response=>{

						this.materials = response.data;
						if(this.materials.length > 0){
						this.showMaterialSearch = true;
					}
						
					})
					.catch(error=>{
						console.log(error);
					})
				}else if(type=='service'){
					axios.post('/api/get/services',{data:value})
					.then(response=>{

						this.services = response.data;
						if(this.services.length > 0){
						this.showServiceSearch = true;
					}
					})
					.catch(error=>{
						console.log(error);
					})
				}
				}else{
					this.materials = [];
					this.services = [];
					this.showMaterialSearch = false;
					this.showServiceSearch = false;
				}
				
			},
			deleteDate(index){
				this.contract.dates.splice(index,1);
			},
			newDate(){
				this.contract.dates.push(
					{
					 name:'',
					 amount:'',
					 delete: true
					});
			},
			 deleteMilestone(index) {
		     this.contract.milestones.splice(index,1);
		    },
			newMilestone(){
				this.contract.milestones.push(
					{
					 name:'',
					 amount:'',
					 delete: true
					});
			},
			 deleteScope(index) {
		     this.contract.agreements.splice(index,1);
		    },
			newScope(){
				this.contract.agreements.push(
					{
					 name:'',
					 delete: true
					});
			},
			previousPage(){
				this.$router.go(-1);
			},
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editdata, this.beforeEditingCache);
				this.editmodal = false;
			},
			edit(value){
				this.editdata = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.contract,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.vendor) ? errors.vendor.toString()+'</br>' : '')+((errors.contractor) ? errors.contractor.toString()+'</br>' : '')+((errors.project_phase) ? errors.project_phase.toString()+'</br>' : '')+((errors.start_date) ? errors.start_date.toString()+'</br>' : '')+((errors.end_date) ? errors.end_date.toString()+'</br>' : '')+((errors.notes) ? errors.notes.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
					this.contract.project_id = this.$route.params.id;
					this.contract.in_budget = this.in_budget;
				axios.post('/api/add/vendor-contracts',this.contract)
						  .then(response=>{
						  							  		
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						
						  	// this.user={};

						  	// this.$router.go(-1);
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getConstraints();
				const errors = validate(this.editdata,constraints);
				// const errors = null;
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.description) ? errors.description.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/position',this.editdata)
						  .then(response=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editdata={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					vendor:{
						numericality: {
						      onlyInteger: true,
						      message: "must be selected"
						      
						    }
						
					},
					contractor:{
						numericality: {
						      onlyInteger: true,
						      message: "must be selected"
						      
						    }
						
					},
					project_phase:{
						numericality: {
						      onlyInteger: true,
						      message: "must be selected"
						      
						    }
					},
					start_date:{
						numericality: {
						      onlyInteger: true,
						      message: "must be selected"
						      
						    }
						
					},
					end_date: {
						numericality: {
						      onlyInteger: true,
						      message: "must be selected"
						      
						    }
					  },
					  notes: {
					
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
					  },
					 
				}
			}
		},
	computed:{
	      
	    },
	}
</script>

<style scoped>
	.flexit{
		display: flex;
		float: left;
    margin-bottom: 10px;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
	.ul_search{
		background: #00B0E4;
		color: #fff;
	}
	.ul_search li{
		cursor: pointer;
		list-style: none;
		color: #fff;
		border-bottom: 1px solid #fff;
		text-align: center;
	}
	.md-content > div ul {
    margin: 0;
    padding: 0 0 26px 0px !important;
}
</style>