<template>
	<div>
	    <div class="page-header">
	        <!-- <h2>Print Payment Slip For {{user.last_name}} {{user.first_name}}</h2> -->
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	        	<div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	      
	            <div class="card" style="min-height: 1320px; ">
	                <div class="body forum">
	                 	
	                   
					
					 <div v-for="contract in contracts" class="modal-body" style="padding:5%" id="printable">
					    <div class="row" >
                            <div>
                            <img src="../../assets/images/logo.png" style="height:40px; " class="img-responsive"/>
                            </div>
                            <div class="col-sm-8">
                                <div style="font-size:17px; margin-top:3%"> <b>CONTRACT AGREEMENT</b></div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="margin-top:2%;margin-bottom:1.3%;padding-top:1%">
                        This agreement (the “Agreement”) effective as of <b> <span id="strt_dte">{{makeMoment(contract.start_date)}}</span> </b> (the “Effective Date”) between 
                        <b> RyteGate Technologies, 52 Ogudu Rd. Ogudu, Lagos </b> (hereafter “Client”) and <b><span id="contract-name">{{contract.vendor.name}}</span> & <span id="print-address"></span> </b>
                        (hereafter the “Contractor”);
                        </div>
                        <div style="margin-top:2%">
                            <div class="col-sm-12">
                           <b> WHEREAS </b>, the Client in accordance with the Scope Of Services listed below,
                             and (2) the terms and conditions set forth in the Agreement; 
                            </div>
                            
                            <div class="col-sm-12" style="margin-top:2%" id="terms_print">
                                
                            </div>
                           
                        
                            <div class="col-sm-12">
                            <p> And </p>

                           <b> WHEREAS </b>, Contractor is willing to provide such services in accordance such terms and conditions;
                           <p>   <b> NOW, THEREFORE  </b>, in consideration of the foregoing and the mutual promises and covenants
                            contained herein, the parties hereto hereby agree as follows: </p> 
                            </div>
                        
                            <div class="col-sm-12" style="margin-top:2%">
                            <ol>
                            
                <li>    The Client hereby engages Contractor, and Contractor hereby accepts such engagement,
                 upon the terms and conditions set forth herein, for the period commencing on the Effective 
                 Date specified above and ending upon the Client’s acceptance of the Contractor’s services and 
                 deliverables on <b> <span id="end_dte"></span> </b>, unless earlier terminated pursuant to the terms of this Agreement. </li> 

                 <li>   Contractor shall perform the services set for in the scope of services (hereinafter, the “Services”) 
                and deliver the deliverables described in the scope of services(hereinafter the “Deliverables”) and 
                in delivering to the Museum the Work in accordance with the timeline set forth above.  Any changes 
                to the scope of services which will impact the cost of the project or change the time line, must be 
                accomplished through a change order signed by both parties.  </li>
                 
                <li>    As complete compensation for the Services and Deliverables, the Client will pay contractor the sum
                 of <b> <span id="print-Sum"></span> in accordance to the schedule below </b>. 

                <div class="row" style="margin-top:2%; margin-bottom:0.5%">
                            <div class="col-xs-7">
                                <b> TERMS </b>
                            </div>
                            
                            <div class="col-xs-4">
                                <b> AMOUNT </b>
                            </div>
                        </div>
                 <div class="row" id="major_milestones" style="font-weight:normal">
                        <!-- loop here -->
                        
                            <!-- end of loop -->
                        </div>
                        <p></p>
                 </li>


                <li> In performing all aspects of the Services, Contractor shall coordinate and consult regularly with 
                <b> <span id="contract-Owner"></span> </b>, or a designee thereof. </li>

                <li>    Promptly after completion of each component of the Services/Deliverables, 
                the Client will review, and where appropriate, test the component for conformity
                 to the specifications and warranties contained in the Agreement. If the component so conforms,
                  the Client will notify the Contractor accordingly (“Acceptance”). If the Client claims that there 
                  is a failure to conform to such specifications and/or warranties, the Client shall promptly notify 
                  Contractor of such nonconformance and Contractor will promptly take all steps necessary to effect conformance. </li>

                  <li>  Each party acknowledges that the timeline is contingent upon timely completion of each phase
                 by each party. Each party will report delays or anticipated delays as they occur and will make every 
                 reasonable effort to correct the situation. </li>

                 <li>   In performing the Services, Contractor is an independent contractor, and not an employee of the Client,
                 nor are any of Contractor’s employees or contract personnel employees of the Client.  Contractor shall have 
                 the right to perform services for others and the sole right to control and direct the means, methods and manner
                  by which the Services required hereunder will be performed, consistent with the terms of this Agreement. 
                  Contractor shall not be entitled to any fringe benefits, including health insurance, benefits, paid vacation, or other employee benefits provided by the Client to its employees.  Contractor is responsible for payment of any taxes, withholdings and any other statutory or contractual obligations of any sort, in connection with services provided hereunder. Contractor has no authority to create or assume any obligation on behalf of the Client, or to hold itself out as having such authority, without the prior written consent of the Client.
                  </li>

                  <li>  All materials delivered to the Client by the Contractor shall become the property of the Client,
                 unless the parties agree otherwise in a signed contract. The Services will be provided on a “work for hire”
                  basis, and the all Workmaterials produced under the Agreement, including without limitation, the Deliverables,
                   shall be deemed “works made for hire” as that term is defined under the Nigerian copyright laws, of which the 
                   Client is the sole author and owner.  To the extent, if any, that Contractor may be deemed the author of any portion of the Services and/or Deliverables, Contractor hereby fully and irrevocably assigns, transfers, conveys and relinquishes all rights, title and interest therein, including, without limitation, all copyrights, to the Client, and grants the Client a power of attorney coupled with an interest, to apply for and obtain all such copyrights in the Client’s name.  The duration shall be for the life of the copyright in the Services and/or Deliverables, and all renewals and extensions thereof.  Further, Contractor shall have no right to attach its name or trademarks, logos or trade names to the Services or Deliverables.  The provisions in this Section shall survive any termination of this Agreement.  The existence of any claim or cause of action by the Contractor against the Client shall not constitute a defense to the enforcement by the Client of the covenants and agreements of this Section. 
                   </li>

                   <li> It is understood that in the course of the Contractor's performance hereunder Contractor may become privy 
                to information relating to the Client’s operations, employees, finances, projects, products and production plans, 
                research and development, system design, software, hardware, technical processes and formulas, source codes,
                 activities, and so on.  Such information shall be deemed confidential in every case where either a reasonable
                  person would understand it to be confidential or the Client has identified it as such, unless the information
                   in question (i) was already known to Contractor prior to its first disclosure hereunder; (ii) 
                   has become generally known to the public through no fault of the Contractor's; or (iii) is required by
                    law to be disclosed (in which case the Contractor shall provide the Client with a reasonable opportunity 
                    to seek a protective order maintaining confidentiality).  Contractor shall maintain the secrecy of all of 
                    the Client’s confidential information (including, without limitation, all confidential information that the Client has received or will receive from third parties), using the same care it applies to its own confidential information, and shall make use of such confidential information only to the minimum extent necessary to effect the Agreement.  Contractor shall not exploit or reveal to any third party any of such information without the Client’s express prior written consent. This provision shall apply to all confidential information, whether it was exchanged before or after the date of this Agreement.  All confidential information referred to in this Section in whatever form shall at all times remain the property of the Client, and shall, upon written request of the Client, be delivered by Contractor to the Client in all tangible forms, or, promptly destroyed by Contractor to the extent such delivery is impracticable.  
                 </li>
                <li>    Representations and Warranties:

                (a) Contractor represents and warrants that the Deliverables and the Services will be performed in a good workmanlike manner, by competent personnel, and in accordance with applicable professional standards, and that the Deliverables will perform in accordance with the specifications provided to Contractor by the Client.  If any element of the Services does not conform to the foregoing warranty, the Client shall notify the Contractor in writing of such nonconformance, and Contractor shall re-perform such element in a manner that does conform.
                (b) Contractor represents and warrants that its provision of Services and delivery of the WorkDeliverables hereunder will not infringe any Nigerian patent existing on the Effective Date or any copyright or trade secret which is protected under Nigerian law. 
                (c) Contractor represents and warrants that Contractor’s signing of this Agreement and the performance of Contractor’s Services hereunder is not and will not be in violation of any other contract, agreement or understanding to which Contractor is a party or by which Contractor is bound.  

                </li>


                <li> This Agreement shall be governed by the laws of the State of Lagos, and any dispute arising hereunder 
                shall be resolved in the courts of the State of Lagos. </li>

                <li> Neither party may transfer or assign this Agreement, in whole or in part,
                 in any manner whatsoever without the prior written consent of the other.  </li>

                <li> If any term or other provision of this Agreement,
                 or any application thereof to any circumstance is invalid, 
                 illegal or incapable of being enforced by any rule of law, 
                 or public policy in whole or in part, such provisions or applications shall
                  to that extent be severable and shall not effect other provisions or applications of this Agreement.  
                </li>

                <li> This Agreement contains a complete statement of all arrangements between the parties
                 relating to its subject matter, supercedes any previous arrangements or understandings,
                  whether written or oral, and may only be changed by a written agreement signed by the parties hereto.  
                </li>

                 </ol>
                     </div>
                         
                </div>
                    
                    
                    
                       
                           
                                <div class="col-sm-12" style="margin-top:3%; margin-bottom:2%">
                                    <div class="col-xs-11 col-xs-offset-1" > <b> OTHER INFORMATION :</b> <br/>
                                    <span id="notes-info" style="font-weight:normal"></span>
                                </div>

                                <div class="col-sm-12" style="margin-top:2%">
                               
                                   <b> <div class="col-xs-12" style="margin:2%"> AGREED TO AND ACCEPTED BY: </div> </b> 
                                   
                                    
                                    <div class="col-xs-6">
                                        <b> FOR THE CONTRACTOR: </b>
                                    </div>
                                    <div class="col-xs-6">
                                    <b> FOR THE CLIENT: </b>
                                        </div>    
                               
                                <div class="col-xs-6">
                                    <div class="col-md-12">
                                    <br>
                                    ______________________________________
                                    <br>
                                    (Name)
                                    </div>

                                    <div class="col-md-12">
                                    <br>
                                    ______________________________________
                                    <br>
                                    (Signature)
                                    </div>

                                    <div class="col-md-12">
                                    <br>
                                    ______________________________________
                                    <br>
                                    (Date)
                                    </div>

                                </div>
                                <!--- forclient -->

                                <div class="col-xs-6">
                                    <div class="col-md-12">
                                        <br>
                                        ______________________________________
                                        <br>
                                        (Name)
                                    </div>

                                    <div class="col-md-12">
                                        <br>
                                        ______________________________________
                                        <br>
                                        (Signature)
                                    </div>

                                    <div class="col-md-12">
                                        <br>
                                        ______________________________________
                                        <br>
                                        (Date)
                                    </div>

                                </div>
                            
                            </div>
    

 
                    
      </div>

                    </div>
                    

					<div class="">
                       <button @click.prevent="print()" type="button" class="btn btn-primary"><span class="fa fa-print"></span> Print</button>
                    </div>
						


	            </div>
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import moment from 'moment';
import { Printd } from 'printd';
import print from 'print-js';
// import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         
        },
        mounted(){
              axios.post('/api/get/contract',{id:this.$route.params.id})
                .then(response=>{
                    console.log(response.data);
                    this.contracts = response.data;

                    // axios.post('/api/get/project/invividualprojectphases',{data:response.data[0].project_id})
                    // .then(response=>{
                    //     // console.log(response.data);
                    //     this.phases = response.data
                    //     this.getProjectLabour();
                    // })
                    // .catch(error=>{
                    //     console.log(error);
                    // });

                    this.d = new Printd();

                })
                .catch(error=>{
                    console.log(error);
                });

            
        	// axios.post('/api/get/singleuser/salary',{id:this.$route.params.id})
        	// 	.then(response=>{
        	// 		// console.log(response.data);
        	// 		this.user = response.data[0];

        	// 		this.bigCal();
        	// 	})
        	// 	.catch(error=>{
        	// 		console.log(error);
        	// 	});


        	// 	axios.post('/api/get/payperiod',{id:this.$route.params.payperiod})
        	// 	.then(response=>{
        	// 		console.log(response.data);
        	// 		this.payperiods.push(response.data);
        	// 	})
        	// 	.catch(error=>{
        	// 		console.log(error);
        	// 	});

        		// axios.get('/api/get/chartofaccount')
        		// .then(response=>{
        		// 	this.chart_of_accounts = response.data
        		// })
        		// .catch(error=>{
        		// 	console.log(error);
        		// });
        		// axios.get('/api/get/role')
        		// .then(response=>{
        		// 	this.roles = response.data
        		// })
        		// .catch(erroe=>{
        		// 	console.log(error);
        		// });
        		// axios.get('/api/get/department')
        		// .then(response=>{
        		// 	this.departments = response.data
        		// })
        		// .catch(erroe=>{
        		// 	console.log(error);
        		// });
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				cssText: `
                  .box {
                    font-family: sans-serif;
                    width: 100%;
                    border: solid 1px #ccc;
                    text-align: center;
                    padding: 1em;
                    margin: 2em auto;
                  }

                  button {
                    background-color: #f0f0f0;
                    border: solid 1px #ccc;
                    padding: 5px 10px;
                    font-size: 12px;
                  }

                  pre {
                    color: #c7254e;
                  }
                `,
				contracts:[],
				// deductions:[],
				// bankaccounts:{},
				// chart_of_accounts:{},
				// showProjectSearch:false,
				// projects:[],
				// project_phases:[],
				// payperiods:[],
				// positions:{},
				// roles:{},
				// departments:{},

				
			}
		},
		methods:{
            previousPage(){
                this.$router.go(-1);
            },
             makeMoment(value){//Format dates for raw display
              return moment(value).format('MMMM Do YYYY');
            },
            print(){
                this.d.print( document.getElementById('printable'), this.cssText )
            }
			
		
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;
		float: left;
    margin-bottom: 10px;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
		.ul_search{
		background: #00B0E4;
		color: #fff;
	}
	.ul_search li{
		cursor: pointer;
		list-style: none;
		color: #fff;
		border-bottom: 1px solid #fff;
		text-align: center;
	}
	.md-content > div ul {
    margin: 0;
    padding: 0 0 26px 0px !important;
}

</style>