<template>
	<div>
	    <div class="page-header">
	        <h2>Contract Payments</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">Contract Payments</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                	<Payment ref ="contractDT"></Payment>


					</div>
				
				
	        	</div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import Payment from '../../datatables/finance-administration/vendor-contract/ShowPayment.vue';
import validate from 'validate.js';

	export default{
		components: {
         Payment
        },
        mounted(){
        	this.$refs.contractDT.setContractId(this.$route.params.id);
        	// this.project_id = this.$route.params.id;
        	

      //   	axios.get('/api/get/chartofaccount')
      //   		.then(response=>{
      //   			this.chartofaccounts = response.data
      //   		})
      //   		.catch(error=>{
      //   			console.log(error);
      //   		});

    		// axios.get('/api/bankaccounts')
    		// .then(response=>{
    		// 	console.log(response.data);
    		// 	this.bankaccounts = response.data
    		// })
    		// .catch(error=>{
    		// 	console.log(error);
    		// });
        },
		data(){
			return{
				// modal:false,
				// approveModal:false,
				// declineModal:false,
				// projects:'',
				// project_id:'',
				// newProject:'',
				// paymentShell:[],
				// chartofaccounts:{},
				// bankaccounts:{},
				// index:'',
				// param:{
				// 	id:'',
				// 	status:''
				// },
				// closeModal: () =>{this.modal = false}, //Short way of 
			}
		},
		watch: {
        	
        },

		methods:{
			previousPage(){
				this.$router.go(-1);
			},
			
			
		},
		computed:{
	      
	    }
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>