<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
            
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="values.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       name    = "Inventory Store.xls"
                       page    = "inventory_store">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Inventory Store.csv"
                       page    = "inventory_store">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="values.length > 0">
                <tr v-for="(value, i) in values" :key="value.id">
                    <td>{{value.id}}</td>
                    <td>{{value.material.name}}</td>
                    <td>{{value.location.name}}</td>
                    <td>{{addCommas(quantity(value.topup))}}</td>
                    <td><span>&#8358;</span>{{addCommas(balance(value.topup))}}</td>
                    <td>
                      
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                               <li><a href="javascript:void(0);" @click.prevent="$emit('topup',value,i)"><i class="material-icons">add</i>Topup Inventory</a></li>
                               <li v-if="value.topup.length>0"><router-link :to="{ name: 'view-inventory-topups', params: { id: value.id } }"><i class="material-icons">visibility</i>View Topups</router-link></li>
                               
                           </ul>
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="values.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="values.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    created() {
        
          // if(!this.$store.state.inventory.length){
            this.getProjects();
        // }else{
          
        //   this.configPagination(this.$store.state.inventory_pag)
        //   this.show = false;
        // }
       
        
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '10%', label: 'ID', name: 'id' , sortable: true},
            {width: '25%', label: 'Inventory Name', name: 'materrial_and_service_id', sortable: true},
            {width: '25%', label: 'Inventory Location', name: 'inventory_location_id', sortable: true},
            {width: '15%', label: 'Reamining Quantity', name: 'quantity', sortable: false},
            {width: '15%', label: 'Balance', name: 'balance', sortable: false},
            {width: '10%', label: 'Actions', name: 'actions', sortable: false},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id',
              'Inventory Name': 'material.name',
              'Inventory Location': 'location.name',
              'Reamining Quantity': 'quantity_x',
              'Balance': 'balance_x',

                
                        
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,
            
        }
    },
    methods: {
         quantity(arrays){
           let balance = 0;
           let withdraws = 0;
         arrays.forEach((array)=>{
          // console.log(array.withdraws[0].amount);
          array.withdraws.forEach(withdraw=>{
            withdraws += parseFloat(withdraw.quantity)
          });
            balance +=  parseFloat(array.quantity);
          });
         // return (Math.round(balance* 100)/ 100).toFixed(2);
         return balance-withdraws;
        },
        addCommas(x){
          x = (Math.round(x * 100)/ 100).toFixed(2);
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        // balance(num1,arr){

        //   return parseFloat(num1*((arr.length > 0) ? parseFloat(arr[0].unit_price) : 0));
        // },
         balance(arrays){
          let balance = 0;
          let withdraws = 0;
          arrays.forEach((array)=>{

            array.withdraws.forEach((arr)=>{
              withdraws += (array.withdraws.length > 0 ? parseFloat(arr.quantity) : 0) ;
            });
          // console.log(array.withdraws[0].amount);
            // withdraws += (arrays.withdraws.length > 0 ? parseFloat(array.quantity) : 0) ;

            balance += (array.unit_price * (array.quantity - withdraws));
            // balance +=  (array.quantity - withdraws);
            withdraws = 0;
          });
         return balance;
        },
        pdfExport(){
            this.values.page="inventory_store";
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Inventory Name", dataKey: "material.name" },
            {title:"Inventory Location", dataKey: "location.name" },
            {title:"Reamining Quantity", dataKey: "quantity_x" },
            {title:"Balance", dataKey: "balance_x" },
            ];

             var doc = new jsPDF('l','in', [15, 15]);
            doc.autoTable(columns, this.values);
            doc.save('Inventory Store.pdf');
        },
        getProjects(url = '/api/inventorystore') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                  console.log(response.data);
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadInventory", data);
                    
                        this.configPagination(this.$store.state.inventory_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        }
    },
    computed:{
      values(){
        return this.$store.state.inventory;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>