<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
            
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="values.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       name    = "Inventory Topup.xls"
                       page    = "inventory_top">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Inventory Topup.xls"
                       page    = "inventory_top">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="values.length > 0">
                <tr v-for="(value, i) in values" :key="value.id">
                    <td>{{value.id}}</td>
                    <td>{{makeMoment(value.created_at)}}</td>
                    <td>{{value.vendor.name}}</td>
                    <td>{{addCommas(remaining(value))}}</td>
                    <td><span>&#8358;</span>{{addCommas(value.unit_price)}}</td>
                    <td><span>&#8358;</span>{{addCommas(value.quantity * value.unit_price)}}</td>
                    <td><span>&#8358;</span>{{addCommas(balance(value))}}</td>
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                               <li><a href="javascript:void(0);" @click.prevent="$emit('withdraw',value,i)"><i class="material-icons">add</i>Withdraw To Project</a></li>
                               <li><a href="javascript:void(0);" @click.prevent="$emit('newInvoice',value,i)"><i class="material-icons">add</i>Create Invoice</a></li>
                               <li><a href="javascript:void(0);" @click.prevent="$emit('addInvoice',value,i)"><i class="material-icons">add</i>Add To Invoice</a></li>
                               <!--  <li><router-link :to="{ name: 'view-topups', params: { id: value.id } }"><i class="material-icons">visibility</i>View Withdrawals</router-link></li> -->
                               
                           </ul>
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="values.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="values.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
import moment from 'moment';
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    created() {
        
          // if(!this.$store.state.employeeImprest.length){
            this.getProjects();
        // }else{
          
        //   this.configPagination(this.$store.state.values_pag)
        //   this.show = false;
        // }
       
        
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '8%', label: 'ID', name: 'id' , sortable: true},
            {width: '15%', label: 'Purchase Date', name: 'topup_date' , sortable: true},
            {width: '15%', label: 'Vendor', name: 'vendor_id' , sortable: true},
            {width: '18%', label: 'Remaining Quantity', name: 'name', sortable: true},
            {width: '15%', label: 'Per Unit Price', name: 'user_type', sortable: true},
            {width: '15%', label: 'Initial Amount', name: 'created_by', sortable: false},
            {width: '15%', label: 'Balance', name: 'balance', sortable: false},
            {width: '5%', label: 'Actions', name: 'action', sortable: false},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id',
              'Purchase Date': 'date_x',
              'Vendor': 'vendor.name',
              'Remaining Quantity': 'remain_x',
              'Per Unit Price': 'unit_price_x',
              'Initial Amount': 'init_amount_x',
              'Balance': 'balance_x',

                
                        
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,
            
        }
    },
    methods: {
        setImprestId(id){
          this.tableData.id = id;
        },
        balance(arrays){
          let balance = 0;
          let withdraws = 0;
         arrays.withdraws.forEach((array)=>{
          // console.log(array.withdraws[0].amount);
            withdraws += (arrays.withdraws.length > 0 ? parseFloat(array.quantity) : 0) ;
          });
         return arrays.unit_price * (arrays.quantity - withdraws);
        },
        remaining(arrays){
          // let balance = 0;
          let withdraws = 0;
         arrays.withdraws.forEach((array)=>{
          // console.log(array.withdraws[0].amount);
            withdraws += (arrays.withdraws.length > 0 ? parseFloat(array.quantity) : 0) ;
          });
         return arrays.quantity - withdraws;
        },
        addCommas(x){
          x = (Math.round(x * 100)/ 100).toFixed(2);
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        makeMoment(value){
          return moment(value).format('MMMM Do YYYY');
        },
        pdfExport(){
            this.values.page="inventory_top";
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Purchase Date", dataKey: "date_x" },
            {title:"Vendor", dataKey: "vendor.name" },
            {title:"Remaining Quantity", dataKey: "remain_x" },
            {title:"Per Unit Price", dataKey: "unit_price_x" },
            {title:"Initial Amount", dataKey: "init_amount_x" },
            {title:"Balance", dataKey: "balance_x" },
            ];

            var doc = new jsPDF('l','in', [15, 15]);
            doc.autoTable(columns, this.values);
            doc.save('Inventory Topup.pdf');
        },
        getProjects(url = '/api/inventorystore_tops') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                  // console.log(response.data);
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadInventoryTopups", data);
                    
                        this.configPagination(this.$store.state.inventoryTopups_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        }
    },
    computed:{
      values(){
        return this.$store.state.inventoryTopups;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>