<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
            
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="imprests.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "imprests"
                       :fields = "json_fields"
                       name    = "EmployeeImprest.xls"
                       page    = "eimprest">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "imprests"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "EmployeeImprest.csv"
                       page    = "eimprest">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="imprests.length > 0">
                <tr v-for="(imprest, i) in imprests" :key="imprest.id">
                    <td>{{imprest.id}}</td>
                    <td v-if="imprest.user_type == 'user'">{{imprest.user.last_name}} {{imprest.user.first_name}}</td>
                    <td v-else-if="imprest.user_type == 'vendor'">{{imprest.vendor.name}}</td>
                    <td>{{imprest.user_type}}</td>
                    <td>{{imprest.created_by.last_name}} {{imprest.created_by.first_name}}</td>
                    <td>{{addCommas(balance(imprest))}}</td>
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                               <li><a href="javascript:void(0);" @click.prevent="$emit('topup',imprest,i)"><i class="material-icons">add</i>Topup Imprest</a></li>
                                <li><a href="javascript:void(0);" @click.prevent="$emit('withdraw',imprest,i)"><i class="material-icons">add</i>Withdraw</a></li>
                                <li v-if="imprest.topups.length>0"><router-link :to="{ name: 'view-topups', params: { id: imprest.id } }"><i class="material-icons">visibility</i>View Topups</router-link></li>
                                 <li v-if="imprest.withdraws.length>0"><router-link :to="{ name: 'view-topups-withdraws', params: { id: imprest.id } }"><i class="material-icons">visibility</i>View Withdrawals</router-link></li>
                               
                           </ul>
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="imprests.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="imprests.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    created() {
        
          
            this.getProjects();
       
       
        
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '10%', label: 'ID', name: 'id' , sortable: true},
            {width: '25%', label: 'Name', name: 'name', sortable: true},
            {width: '10%', label: 'User Type', name: 'user_type', sortable: true},
            {width: '25%', label: 'Created By', name: 'created_by', sortable: true},
            {width: '20%', label: 'Balance', name: 'balance', sortable: false},
            {width: '10%', label: 'Actions', name: 'action', sortable: false},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id',
              'Name': 'name_x',
              'User Type': 'user_type',
              'Created By': 'created_by_x',
              'Balance': 'balance_x',

                
                        
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,
            
        }
    },
    methods: {
        balance(arrays){
           let balance = 0;
           let sum = 0;
           let top_sum = 0;
            arrays.topups.forEach(top => {
               top_sum += parseFloat(top.amount);
      
            });

            arrays.withdraws.forEach(withdraw => {
               sum += parseFloat(withdraw.amount);
      
            });
         
            balance += ((arrays.topups.length > 0) ? parseFloat(top_sum) : 0) - ((arrays.withdraws.length > 0) ? parseFloat(sum) : 0) ;
         
         return balance;
        },
        addCommas(x){
          x = (Math.round(x * 100)/ 100).toFixed(2);
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        pdfExport(){
           this.imprests.page="eimprest";
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Name", dataKey: "name_x" },
            {title:"User Type", dataKey: "user_type" },
            {title:"Created By", dataKey: "created_by_x" },
            {title:"Balance", dataKey: "balance_x" },
            ];

             var doc = new jsPDF('l','in', [15, 15]);
            doc.autoTable(columns, this.imprests);
            doc.save('EmployeeImprest.pdf');
        },
        getProjects(url = '/api/employeeimprest') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                  // console.log(response.data);
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadEmployeeImprest", data);
                    
                        this.configPagination(this.$store.state.employeeImprest_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        }
    },
    computed:{
      imprests(){
        return this.$store.state.employeeImprest;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>