<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
            
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="impresttops.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "impresttops"
                       :fields = "json_fields"
                       name    = "Employee Imprest Topups.xls"
                       page    = "impresttop">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "impresttops"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Employee Imprest Topups.csv"
                       page    = "impresttop">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="impresttops.length > 0">
                <tr v-for="(imprest, i) in impresttops" :key="imprest.id">
                    <td>{{imprest.id}}</td>
                    <td>{{makeMoment(imprest.topup_date)}}</td>
                    <td>{{imprest.topup_by.last_name}} {{imprest.topup_by.first_name}}</td>
                    <td><span>&#8358;</span>{{addCommas(imprest.amount)}}</td>
                    <!-- <td><span>&#8358;</span>{{addCommas(balance(imprest))}}</td> -->
                    <!-- <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                               <li><a href="javascript:void(0);" @click.prevent="$emit('withdraw',imprest,i)"><i class="material-icons">add</i>Withdraw</a></li>
                                <li v-if="imprest.withdraws.length>0"><router-link :to="{ name: 'view-topups-withdraws', params: { id: imprest.id } }"><i class="material-icons">visibility</i>View Withdrawals</router-link></li>
                               
                           </ul>
                       </div>
                    </td> -->
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="impresttops.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="impresttops.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
import moment from 'moment';
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    created() {
        
          // if(!this.$store.state.employeeImprest.length){
            this.getProjects();
        // }else{
          
        //   this.configPagination(this.$store.state.impresttops_pag)
        //   this.show = false;
        // }
       
        
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '10%', label: 'ID', name: 'id' , sortable: true},
            {width: '15%', label: 'Topup Date', name: 'topup_date' , sortable: true},
            {width: '25%', label: 'Topup By', name: 'name', sortable: true},
            {width: '15%', label: 'Amount', name: 'amount', sortable: true},
            // {width: '15%', label: 'Balance', name: 'created_by', sortable: false},
            // {width: '10%', label: 'Actions', name: 'action', sortable: false},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id',
              'Topup Date': 'date_x',
              'Topup By': 'name_x',
              'Amount': 'amount_x',

                
                        
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,
            
        }
    },
    methods: {
        setImprestId(id){
          this.tableData.id = id;
        },
        balance(arrays){
          let balance = 0;
          let withdraws = 0;
         arrays.withdraws.forEach((array)=>{
          // console.log(array.withdraws[0].amount);
            withdraws += (arrays.withdraws.length > 0 ? parseFloat(array.amount) : 0) ;
          });
         return arrays.amount - withdraws;
        },
        addCommas(x){
           x = (Math.round(x * 100)/ 100).toFixed(2);
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        makeMoment(value){
          return moment(value).format('MMMM Do YYYY');
        },
        pdfExport(){
           this.impresttops.page="impresttop";
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Topup Date", dataKey: "date_x" },
            {title:"Topup By", dataKey: "name_x" },
            {title:"Amount", dataKey: "amount_x" },
            ];

            var doc = new jsPDF('l','in', [15, 15]);
            doc.autoTable(columns, this.impresttops);
            doc.save('Employee Imprest Topups.pdf');
        },
        getProjects(url = '/api/employeeimpresttopup') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                  // console.log(response.data);
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadEmployeeImprestTopups", data);
                    
                        this.configPagination(this.$store.state.employeeImprestTopups_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        }
    },
    computed:{
      impresttops(){
        return this.$store.state.employeeImprestTopups;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>