<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="liquidassets.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "liquidassets"
                       :fields = "json_fields"
                       name    = "Assignment history.xls"
                       page    = "asset_assignment"
                       conditional = "assignment_status">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "liquidassets"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Assignment history.csv"
                       page    = "asset_assignment"
                       conditional = "assignment_status">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="liquidassets.length > 0">
                <tr v-for="(liquidasset, i) in liquidassets" :key="liquidasset.id">
                    <td>{{liquidasset.id}}</td>

                    <td v-if="liquidasset.user_type == 'user'">{{liquidasset.user.first_name}} {{liquidasset.user.last_name}}</td>
                    <td v-else-if="liquidasset.user_type == 'client'">{{liquidasset.client.firstname}} {{liquidasset.client.lastname}} {{liquidasset.client.company}}</td>
                    <td v-else-if="liquidasset.user_type == 'vendor'">{{liquidasset.vendor.name}}</td>

                    <td>{{liquidasset.user_type}}</td>
                    <td>{{makeToMoment(liquidasset.assignment_start)}}</td>
                    <td>{{makeToMoment(liquidasset.assignment_end)}}</td>
                    <td>{{makeToMoment(liquidasset.actual_return_date)}}</td>
                    <td>
                      <div v-if="liquidasset.assignment_status==1" class="btn btn-info btn-sm">Active</div>
                      <div v-else class="btn btn-warning btn-sm">In active</div>
                    </td>
                  
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="liquidassets.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="liquidassets.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../Datatable.vue';
import Pagination from '../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
import moment from 'moment';
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    mounted() {
        // if(!this.$store.state.liquidAssets.length){
            this.getProjects();
        // }else{
          
        //   this.configPagination(this.$store.state.liquidAssets_pag)
        //   this.show = false;
        // }
        
    },
    props:['id']
    ,
    data() {
        let sortOrders = {};

        let columns = [
            {width: '8%', label: 'ID', name: 'id' , sortable: true},
            {width: '19%', label: 'Assigned To', name: 'assigned_to' , sortable: true},
            {width: '14%', label: 'User Type', name: 'user_type' , sortable: true},
            {width: '21.5%', label: 'Assignment Start', name: 'assignment_start', sortable: true},
            {width: '21.5%', label: 'Assignment End', name: 'assignment_end', sortable: true},
            {width: '21.5%', label: 'Return Date', name: 'actual_return_date', sortable: true},
            {width: '8.5%', label: 'Status', name: 'assignment_status', sortable: false},
            
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id',
              'Assigned To': 'assignedto_x',
              'User type': 'user_type',
              'Assignment Start': 'assignment_start_x',
              'Assignment End': 'assignment_end_x',
              'Return Date': 'return_date_x',
              'Status': 'status_x',
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
                id: this.id
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,

        }
    },
    methods: {
        makeToMoment(value){
         return moment.utc(value).format("MMMM Do YYYY"); 
        },

        pdfExport(){
            this.liquidassets.page = 'asset_assignment';
            this.liquidassets.conditional = 'assignment_status';
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Assigned to", dataKey: "assignedto_x" },
            {title:"User type", dataKey: "user_type" },
            {title:"Assignment Start", dataKey: "assignment_start_x" },
            {title:"Assignment End", dataKey: "assignment_end_x" },
            {title:"Return Date", dataKey: "return_date_x" },
            {title:"Status", dataKey: "status_x" },
            ];

            var doc = new jsPDF('l','pt');
            doc.autoTable(columns, this.liquidassets);
            doc.save('Assignment History.pdf');
        },
        getProjects(url = '/api/assignliquidasset') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => { 

                  console.log(response.data);
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadLiquidAssetAssignment", data);
                    
                        this.configPagination(this.$store.state.liquidAssetAssignments_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        showId(value){
          alert(value);
        }
    },
    computed:{
      liquidassets(){
        return this.$store.state.liquidAssetAssignments;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 100%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>