<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="liquidassets.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "liquidassets"
                       :fields = "json_fields"
                       name    = "Liquid assets.xls"
                       page    = "liduid_asset"
                       conditional    = "active">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "liquidassets"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Liquid assets.csv"
                       page    = "liquid_asset"
                       conditional    = "active">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="liquidassets.length > 0">
                <tr v-for="(liquidasset, i) in liquidassets" :key="liquidasset.id">
                    <td>{{liquidasset.id}}</td>
                    <td>{{liquidasset.assetmanufacturer.name}}</td>
                    <td>{{liquidasset.assetmodel.name}}</td>
                    <td>{{liquidasset.assetcategory.name}}</td>
                    <td>{{liquidasset.serial_no}}</td>

                    <td v-if="liquidasset.assignedto !== null && liquidasset.assignedto.user_type == 'user'">{{liquidasset.assignedto.user.first_name}} {{liquidasset.assignedto.user.last_name}}</td>
                    <td v-else-if="liquidasset.assignedto !== null && liquidasset.assignedto.user_type == 'client'">{{liquidasset.assignedto.client.firstname}} {{liquidasset.assignedto.client.lastname}} {{liquidasset.assignedto.client.company}}</td>
                    <td v-else-if="liquidasset.assignedto !== null && liquidasset.assignedto.user_type == 'vendor'">{{liquidasset.assignedto.vendor.name}}</td>
                    <td v-else>None</td>

                    <td>
                      <div v-if="liquidasset.active==1" class="btn btn-info btn-sm">Active</div>
                      <div v-else class="btn btn-warning btn-sm">In active</div>
                    </td>
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                                <li><router-link :to="{ name: 'view-liquid-asset', params: { id: liquidasset.id } }"><i class="material-icons">visibility</i>View Profile</router-link></li>
                                 <li v-if="liquidasset.assignedto !== null" ><a href="javascript:void(0);" @click.prevent="$emit('unassign',liquidasset,i)"><i class="material-icons">cancel</i>UnAssign Asset</a></li>
                               <li v-else><a href="javascript:void(0);" @click.prevent="$emit('assign',liquidasset,i)"><i class="material-icons">assignment_ind</i>Assign Asset</a></li>
                              
                               <li v-if="liquidasset.active==1"><a href="javascript:void(0);" @click.prevent="$emit('inactive',liquidasset,i)"><i class="material-icons">visibility_off</i>Make Inactive</a></li>
                               
                           </ul>
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="liquidassets.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="liquidassets.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../Datatable.vue';
import Pagination from '../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    created() {
        // if(!this.$store.state.liquidAssets.length){
            this.getProjects();
        // }else{
          
        //   this.configPagination(this.$store.state.liquidAssets_pag)
        //   this.show = false;
        // }
        
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '5%', label: 'ID', name: 'id' , sortable: true},
            {width: '17%', label: 'Manufacturer', name: 'asset_manufacturer_id', sortable: true},
             {width: '17%', label: 'Model', name: 'assetmodel', sortable: true},
            {width: '18%', label: 'Asset Category', name: 'asset_category_id', sortable: true},
             {width: '17%', label: 'Serial No', name: 'serial_no', sortable: true},
             {width: '23%', label: 'Assigned To', name: 'assignment_id', sortable: true},
             {width: '5%', label: 'Active', name: 'active', sortable: true},
            {width: '5%', label: 'Actions', name: 'actions', sortable: false},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id',
              'Manufacturer': 'assetmanufacturer.name',
              'Model' : 'assetmodel.name',
              'Asset Category' : 'assetcategory.name',
              'Serial No.' : 'serial_no',
              'Assigned to' : 'assignedto_x',
              'Status' : 'status_x',
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,

        }
    },
    methods: {

        pdfExport(){
            this.liquidassets.page = 'liquid_asset';
            this.liquidassets.conditional = 'active';
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Manufacturer", dataKey: "assetmanufacturer.name" },
            {title:"Model", dataKey: "assetmodel.name" },
            {title:"Asset Category", dataKey: "assetcategory.name" },
            {title:"Serial No.", dataKey: "serial_no" },
            {title:"Assigned to", dataKey: "assignedto_x" },
            {title:"Status", dataKey: "status_x" },
            ];

            var doc = new jsPDF('p','pt');
            doc.autoTable(columns, this.liquidassets);
            doc.save('Liquid assets.pdf');
        },
        getProjects(url = '/api/liquidasset') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => { 
                  // console.log(response.data);

                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadLiquidAsset", data);
                    
                        this.configPagination(this.$store.state.liquidAssets_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        showId(value){
          alert(value);
        }
    },
    computed:{
      liquidassets(){
        return this.$store.state.liquidAssets;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>