<template>
	<div>
	    <div class="page-header">
	        <h2>Add Client</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	        	<div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	      
	            <div class="card" style="min-height: 1110px;">
	                <div class="body forum">
	                 	
	
					
						                    <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                        <h3>Add Client</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             <label for="email_address">First Name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter first name" v-model="client.firstname" required />
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Last name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter last name" v-model="client.lastname" required />
                                                        </div>
                                                    </div>

                                                    <label for="Phone">Phone</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" name="color" class="form-control" placeholder="Enter Phone" v-model="client.phone"/>
                                                        </div>
                                                    </div>

                                                    <label for="Email_address">Email</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="email" name="color" class="form-control" placeholder="Enter Email" v-model="client.email" required />
                                                        </div>
                                                    </div>


                                                    <label for="email_address">Company</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Company" v-model="client.company" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Address</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Address" v-model="client.address" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Address2</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Alternative Address" v-model="client.address2" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Country</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="client.country" >
                                                        		<option v-for="country in countries" :value="country.id">{{country.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">State</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="client.state" >
                                                        		<option v-for="state in states" :value="state.id">{{state.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">City</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="client.city" >
                                                        		<option v-for="city in cities" :value="city.id">{{city.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
						                           	<div class="mfooter">
						                           		<button class="btn btn-info">Submit</button>
						                           	</div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>



						


	            </div>
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
// import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         
        },
        created(){
        	axios.get('/api/get/country')
        		.then(response=>{
        			this.countries = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

        		axios.get('/api/get/state')
        		.then(response=>{
        			this.states = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

        		axios.get('/api/get/city')
        		.then(response=>{
        			this.cities = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				client: {
					firstname:'',
					lastname:'',
					company:'',
					address:'',
					address2:'',
					country:'',
					state:'',
					email:'',
					phone:'',
					city:'',
					
				},
				countries:{},
				states:{},
				cities:{},

				
			}
		},
		methods:{
			previousPage(){
				this.$router.go(-1);
			},
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editdata, this.beforeEditingCache);
				this.editmodal = false;
			},
			edit(value){
				this.editdata = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.client,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.firstname) ? errors.firstname.toString()+'</br>' : '')+((errors.lastname) ? errors.lastname.toString()+'</br>' : '')+((errors.company) ? errors.company.toString()+'</br>' : '')+((errors.address) ? errors.address.toString()+'</br>' : '')+((errors.address2) ? errors.address2.toString()+'</br>' : '')+((errors.country) ? errors.country.toString()+'</br>' : '')+((errors.state) ? errors.state.toString()+'</br>' : '')+((errors.city) ? errors.city.toString()+'</br>' : '')+((errors.phone) ? errors.phone.toString()+'</br>' : '')+((errors.email) ? errors.email.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/client',this.client)
						  .then(response=>{
						  	
						  	this.$store.state.clients.unshift(response.data);
						  		
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						
						  	// this.user={};

						  	this.$router.push({name: 'client-profiles'});
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					firstname:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					lastname:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					phone: {

						presence: {
							allowEmpty: true,
						},
						
						numericality: {
						      onlyInteger: true,
						      message: 'Invalid phone number'
						      
						    }
					},
					email:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					company:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					address:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					address2:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					country: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},
					state: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},
					city: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					}
				}
			}
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;
		float: left;
    margin-bottom: 10px;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>