<template>
	<div>
	    <div class="page-header">
	        <h2>Client Profiles</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <router-link style="color:#fff;" :to="{ name: 'add-client'}"><button type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Client</span></button></router-link>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                	<clientprofile></clientprofile>
					</div>
					
	        	</div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import ClientProfile from '../datatables/client-administration/ClientProfile';
	export default{
		components: {
         clientprofile: ClientProfile
        },
		data(){
			return{
				
			}
		},
		methods:{
			
			
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>