<template>
	<div>
	    <div class="page-header">
	        <h2>View / Edit Client</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum" style="padding:0px;">

	                	<div class="col-lg-12 col-xlg-12 col-md-12" style="padding:0px;">
                        <div class="card">
                            <div class="profile_body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-tabs-inline nav-justified" role="tablist">

                                    <li role="presentation" class="active"><a @click.prevent href="#view" data-toggle="tab" aria-expanded="true"> View</a></li>
                                    <li role="presentation" class=""><a @click.prevent href="#edit" data-toggle="tab" aria-expanded="false">Edit</a></li>
                                    
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="view" style="height: 940px;">
                         
                                    	 <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                       
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
                                                     <label for="email_address">First Name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter first name" v-model="client.firstname" readonly />
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Last name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter last name" v-model="client.lastname" readonly />
                                                        </div>
                                                    </div>

                                                    <label for="Phone">Phone</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" name="color" class="form-control" placeholder="Enter Phone" v-model="client.phone" readonly />
                                                        </div>
                                                    </div>

                                                    <label for="Email_address">Email</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="email" name="color" class="form-control" placeholder="Enter Email" v-model="client.email" readonly />
                                                        </div>
                                                    </div>


                                                    <label for="email_address">Company</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Company" v-model="client.company" readonly />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Address</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Address" v-model="client.address" readonly />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Address2</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Alternative Address" v-model="client.address2" readonly />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Country</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="client.country_id" disabled>
                                                                <option v-for="country in countries" :value="country.id">{{country.name}}</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">State</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="client.state_id" disabled >
                                                                <option v-for="state in states" :value="state.id">{{state.name}}</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">City</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="client.city_id" disabled>
                                                                <option v-for="city in cities" :value="city.id">{{city.name}}</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                </form>
						                        </div>
						                   </div>
										</div>

                                    </div>


                                    <div role="tabpanel" class="tab-pane fade" id="edit" style="height: 1100px;">

                                    	<div class="col-md-8 col-md-offset-2">
						                    <div class="md-content">
						                       
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
                                                     <label for="email_address">First Name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter first name" v-model="clientedit.firstname" required />
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Last name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter last name" v-model="clientedit.lastname" required />
                                                        </div>
                                                    </div>

                                                    <label for="Phone">Phone</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" name="color" class="form-control" placeholder="Enter Phone" v-model="clientedit.phone"/>
                                                        </div>
                                                    </div>

                                                    <label for="Email_address">Email</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="email" name="color" class="form-control" placeholder="Enter Email" v-model="clientedit.email" required />
                                                        </div>
                                                    </div>


                                                    <label for="email_address">Company</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Company" v-model="clientedit.company" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Address</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Address" v-model="clientedit.address" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Address2</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter Alternative Address" v-model="clientedit.address2" required />
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Country</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="clientedit.country_id" >
                                                                <option v-for="country in countries" :value="country.id">{{country.name}}</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">State</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="clientedit.state_id" >
                                                                <option v-for="state in states" :value="state.id">{{state.name}}</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">City</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="clientedit.city_id" >
                                                                <option v-for="city in cities" :value="city.id">{{city.name}}</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="mfooter">
                                                        <button class="btn btn-info">Update</button>
                                                        <button @click.prevent="reset()" class="btn btn-danger">Reset</button>
                                                    </div>
                                                    
                                                </form>
						                        </div>
						                   </div>
						                </div>
                                        
                                    </div>
                                    



                                    </div>
                                    


                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
	                 	
	


	            </div>
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
// import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         
        },
        created(){
            //Get details of this client
            axios.post('/api/get/client',{id: this.$route.params.id})
                .then(response=>{
                    this.beforeEditingCache = Object.assign({}, response.data);
                    this.client = Object.assign({}, response.data);//used for viewing
                    this.clientedit = response.data;//Used for edit
                })
        	axios.get('/api/get/country')
                .then(response=>{
                    this.countries = response.data
                })
                .catch(error=>{
                    console.log(error);
                });

                axios.get('/api/get/state')
                .then(response=>{
                    this.states = response.data
                })
                .catch(error=>{
                    console.log(error);
                });

                axios.get('/api/get/city')
                .then(response=>{
                    this.cities = response.data
                })
                .catch(error=>{
                    console.log(error);
                });
        },
		data(){
			return{
				modal:false,
                editmodal:false,
                client: {},
                clientedit: {},
                countries:{},
                states:{},
                cities:{},
				
			}
		},
		methods:{
			previousPage(){
				this.$router.push({name: 'client-profiles'});
			},
			reset(){
				Object.assign(this.clientedit, this.beforeEditingCache);
			},
			
			sendData(){
				let data = {
					id: this.clientedit.id,
					firstname: this.clientedit.firstname,
					lastname: this.clientedit.lastname,
					company: this.clientedit.company,
					address: this.clientedit.address,
					address2: this.clientedit.address2,
					country: this.clientedit.country_id,
                    state: this.clientedit.state_id,
					city: this.clientedit.city_id,
                    email: this.clientedit.email,
					phone: this.clientedit.phone
				}

				
				const constraints = this.getConstraints();
				const errors = validate(data,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.firstname) ? errors.firstname.toString()+'</br>' : '')+((errors.lastname) ? errors.lastname.toString()+'</br>' : '')+((errors.company) ? errors.company.toString()+'</br>' : '')+((errors.address) ? errors.address.toString()+'</br>' : '')+((errors.address2) ? errors.address2.toString()+'</br>' : '')+((errors.country) ? errors.country.toString()+'</br>' : '')+((errors.state) ? errors.state.toString()+'</br>' : '')+((errors.email) ? errors.email.toString()+'</br>' : '')+((errors.phone) ? errors.phone.toString()+'</br>' : '')+((errors.city) ? errors.city.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/client',data)
						  .then(response=>{
						  	this.client = Object.assign({}, response.data);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			
			getConstraints(){
				return{
					firstname:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					lastname:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					email:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					phone:{
						presence: {
							allowEmpty: true
						},
                        numericality: {
                              onlyInteger: true,
                              message: 'Invalid entry'
                              
                            }
						
					},
					company:{
                        presence: {
                            allowEmpty: false,
                            message:"can't be empty"
                        },
                        
                    },
					address:{
                        presence: {
                            allowEmpty: false,
                            message:"can't be empty"
                        },
                        
                    },
					address2:{
                        presence: {
                            allowEmpty: false,
                            message:"can't be empty"
                        },
                        
                    },
    				country: {
    				
    					numericality: {
    					      onlyInteger: true,
    					      message: 'Must be selected'
    					      
    					    }
    				},
                    state: {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                            }
                    },
                    city: {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                            }
                    },
				}
			},
			
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	input,select{
		text-transform: capitalize!important;
	}
    input[type*="email"]{
    text-transform: lowercase!important;
    }
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>