<template>
    <div>
        <div class="page-header">
            <h2>View / Edit vendor</h2>
            <ol class="breadcrumb">
                <li><router-link to="/">Home</router-link></li>
                <li class="active">App Views</li>
            </ol>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="body p-b-0">
                        <div class="row">
                            <div class="col-md-4">
                                <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
                                
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="body forum" style="padding:0px;">

                        <div class="col-lg-12 col-xlg-12 col-md-12" style="padding:0px;">
                            <div class="card">
                                <div class="profile_body">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-tabs-inline nav-justified" role="tablist">

                                        <li role="presentation" class="active">
                                            <a @click.prevent href="#details" data-toggle="tab" aria-expanded="true"> Details</a>
                                        </li>

                                        <li role="presentation" class="">
                                            <a @click.prevent href="#phases" data-toggle="tab" aria-expanded="false">Project Phases</a>
                                        </li>

                                        <li role="presentation" class="">
                                            <a @click.prevent href="#files" data-toggle="tab" aria-expanded="true"> Project Files</a>
                                        </li>

                                        <li role="presentation" class="">
                                            <a @click.prevent href="#staff" data-toggle="tab" aria-expanded="false">Staff Allocation</a>
                                        </li>
                                        <!--
                                        <li role="presentation" class="" v-if="project.type">
                                            <a @click.prevent href="#materials" data-toggle="tab" aria-expanded="true"> Phase Materials</a>
                                        </li>

                                         <li role="presentation" class="" v-if="project.type">
                                            <a @click.prevent href="#labours" data-toggle="tab" aria-expanded="false">Phase Labours</a>
                                        </li> -->
                                        
                                        <li role="presentation" class="" v-if="project.type">
                                            <a @click.prevent href="#activities" data-toggle="tab" aria-expanded="false">Phase activities</a>
                                        </li> 
                                        
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">

                                        <div role="tabpanel" class="tab-pane fade active in" id="details" style="height: 750px;">

                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="md-content">
                                                   
                                                    <div>
                                                        <form @submit.prevent="sendData()" autocomplete="off">
                                                        <label for="Vendor Name">Project Name</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" name="color" class="form-control" placeholder="Enter vendor name" v-model="project.name" required />
                                                            </div>
                                                        </div>

                                                        <label for="Vendor Category">Project Coordinator</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <select class="form-control" v-model="project.coordinator" >
                                                                    <option value="0">No Coordinator</option>
                                                                    <option v-for="user in users" :value="user.id">{{user.last_name}} {{user.first_name}}</option>
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>

                                                        
                                                        <label for="project_date">Project Date</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <datetime type="date" class="form-control" v-model="project.project_date" required use12-hour> </datetime>
                                                            </div>
                                                        </div>

                                                        <label for="Vendor Category">Department</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <select class="form-control" v-model="project.department_id" >
                                                                    <option>Select Department</option>
                                                                    <option v-for="department in departments" :value="department.id">   {{department.name}} 
                                                                    </option>
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <label for="email_address">Project Cost</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" name="color" class="form-control" v-model="project.cost" required />
                                                            </div>
                                                        </div>
                                                        
                                                        <label for="project_type">Project Type</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <select class="form-control" v-model="project.type" >
                                                                    
                                                                    <option value="1">Capital Project</option>
                                                                    <option value="0">Operations Project</option>
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <label for="email_address">Make Active</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <select class="form-control" v-model="project.active" >
                                                                    
                                                                    <option value="1">Yes</option>
                                                                    <option value="0">No</option>
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="mfooter">
                                                            <button class="btn btn-info">Update</button>
                                                        </div>
                                                        
                                                    </form>
                                                    </div>

                                               </div>

                                            </div>
                                            
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="phases" style="height: 650px; overflow-y:auto">

                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="md-content">
                                                   
                                                    <div>
                                                        
                                                        <form @submit.prevent="sendPhasesData()" autocomplete="off">
                                                            
                                                            <table class="table">
                                                               <th width="25%"><b>Project Phase</b></th>
                                                               <th width="25%"><b>Cost</b></th>
                                                               <th width="25%"><b>Start Date</b></th>
                                                               <th width="25%"><b>End Date</b></th>
                                                            </table>
                                                            <div v-for="(individual_project_phase, i) in individual_project_phases" style="display:flex; justify-content:space-between;">

                                                                <div class="form-group" style="margin-right:5px;">

                                                                    <div class="form-line">

                                                                        <select class="form-control" v-model="individual_project_phase.project_phase_id" required>

                                                                            <option value="">Select Project Phase</option>
                                                                            <option v-for="project_phase in project_phases" :value="project_phase.id">      {{project_phase.name}} 
                                                                            </option>
                                                                            
                                                                        </select>
                                                                        
                                                                    </div>
                                                                    
                                                                </div> 

                                                                <div class="form-group" style="margin-left:5px;">

                                                                    <div class="form-line">

                                                                        <input type="text" class="form-control" placeholder="Enter Cost" v-model="individual_project_phase.cost" @keyup="commafy(i,individual_project_phase.cost)" required />
                                                                        
                                                                    </div>

                                                                </div>

                                                                <div class="form-group" style="margin-left:5px;">

                                                                    <div class="form-line">
                                                                        
                                                                        <datetime type="date"class="form-control" v-model="individual_project_phase.start_date" required></datetime>
                                                                        
                                                                    </div>    

                                                                </div> 

                                                                <div class="form-group" style="margin-left:5px;">

                                                                    <div class="form-line">

                                                                        <datetime type="date"class="form-control" v-model="individual_project_phase.end_date" required ></datetime> 
                                                                        
                                                                    </div>    

                                                                </div> 

                                                                <button @click.prevent="deleteRow(i)" v-if="individual_project_phase.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                                                    <em class="material-icons md-8">delete</em>

                                                                </button>

                                                                <button @click.prevent="deleteRow(i)" v-else-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                                                    <em class="material-icons md-8">delete</em>

                                                                </button>

                                                            </div>

                                                            <button @click.prevent="addRow()" class="btn btn-primary flexit">
                                                                <em class="material-icons">add</em>
                                                                <span class="line">Add Phase</span>
                                                            </button>

                                                            <div class="mfooter">
                                                                <button class="btn btn-info" v-text="submitting ? 'Please Wait' : 'Update'"></button>
                                                            </div>
                                                        
                                                        </form>
                                                        
                                                    </div>

                                               </div>

                                            </div>
                                            
                                        </div>

                                        <div role="tabpanel" class="tab-pane fade" id="files" style="min-height: 650px; overflow-y:auto">

                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="md-content">
                                                   
                                                    <div>
                                                        
                                                        <form @submit.prevent="sendFilesData()" autocomplete="off">

                                                            <label for="phase">Project Phase:</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    
                                                                    <select class="form-control" v-model="fileData.phase" required>
                                                                        <option value="">Select Project Phase</option>
                                                                        <option v-for="individual_project_phase in project.individualprojectphases" :value="individual_project_phase.project_phase_id" v-if="!individual_project_phase.delete">      {{individual_project_phase.projectphase.name}} 
                                                                        </option>
                                                                        
                                                                    </select>

                                                                </div>
                                                                
                                                            </div>

                                                            <label for="upload">Upload:</label>
                                                            <!-- <div class="form-group">
                                                                <div class="form-line">
                                                                    <input type="file" name="color" class="form-control" required />
                                                                </div>
                                                            </div>-->
                                                            
                                                            
                                                            <image-upload @imageFiles = "prepareImages" ref="uploadDT"></image-upload>
                                                            <div class="mfooter">
                                                                <button class="btn btn-info" v-text="submitting ? 'Please Wait' : 'Upload'"></button>
                                                            </div> 
                                                        </form>
                                                        
                                                    </div>

                                               </div>                                                   

                                            </div>
                                          

                                            <div class="col-md-8 table-responsive-sm col-md-offset-2">
                                            <h3 style="display:block">Uploaded Files</h3>
    
                                                <table class="table table-striped">
                                                   <th>Project Phase</th>
                                                   <th>File Name</th>
                                                   <th>Action</th>
                                                   <tbody>

                                                        <tr v-for="projectfile in projectfiles">
                                                           <td>{{projectfile.projectphase.name}}</td>
                                                           <td>{{projectfile.name}}</td>
                                                           <td>
                                                               <a :href="projectfile.path" class="btn btn-primary" download>Download</a>
                                                           </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                        </div>

                                        <div role="tabpanel" class="tab-pane fade" id="staff" style="min-height: 650px; overflow-y:auto">

                                            <div class="col-md-8 table-responsive-sm col-md-offset-2">
                                                
                                                <div style="display:flex; justify-content:space-between;">

                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Staff Name</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Start Date</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">End Date</label>
                                                        </div>
                                                    </div>
                

                                                </div>

                                            <form @submit.prevent="sendStaffData()" autocomplete="off">
                                                <div v-for="(projectStaffAllocation, i) in projectStaffAllocations" style="display:flex; justify-content:space-between;">

                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="form-line">
                                                            
                                                            <select class="form-control" v-model="projectStaffAllocation.user_id" required>
                                                                <option value="">Select Staff</option>
                                                                <option v-for="user in users" :value="user.id">      
                                                                    {{user.first_name}} {{user.last_name}}
                                                                </option>
                                                                
                                                            </select>
                                                            
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="form-line">

                                                            <datetime type="date"class="form-control" v-model="projectStaffAllocation.start_date" required></datetime>
                                                            
                                                        </div>    
                                                    </div>

                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="form-line">

                                                            <datetime type="date"class="form-control" v-model="projectStaffAllocation.end_date" required ></datetime>
                                                            
                                                        </div>    
                                                    </div>
                                                    <!--Show delete if the delete key is true-->
                                                    <button @click.prevent="deleteStaffRow(i)" v-if="projectStaffAllocation.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                                        <em class="material-icons md-8">delete</em>

                                                    </button>

                                                    <!--Show delete if the index is > 0 i.e only from the second item up-->
                                                    <button @click.prevent="deleteStaffRow(i)" v-else-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                                        <em class="material-icons md-8">delete</em>

                                                    </button>

                                                </div>

                                                <button @click.prevent="addStaffRow()" class="btn btn-primary flexit">
                                                    <em class="material-icons">add</em>
                                                    <span class="line">Add Staff</span>
                                                </button>
                                                
                                                <div class="mfooter">
                                                    <button class="btn btn-info" ref = "submit" v-text="submitting ? 'Please Wait' : 'Update'"></button>
                                                </div>

                                            </form>

                                            </div>
                                            
                                        </div>



                                         <div role="tabpanel" class="tab-pane fade" id="activities" style="min-height: 650px; overflow-y:auto">

                                            <div v-if="!project_phase.delete" class="col-md-12 table-responsive-sm" v-for="project_phase in project_individual_phases">
                                                    <h3>Project Phase: {{ project_phase.projectphase.name }}</h3>
                                                
                                                <div style="display:flex; justify-content:space-between;">
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="textAlign" >
                                                            <label for="" style="font-weight:bold">Activity</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="textAlign" >
                                                            <label for="" style="font-weight:bold">Duration</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="textAlign" >
                                                            <label for="" style="font-weight:bold">Start Date</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="textAlign" >
                                                            <label for="" style="font-weight:bold">End Date</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="textAlign" >
                                                            <label for="" style="font-weight:bold">Progress</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="textAlign" >
                                                            <label for="" style="font-weight:bold">Edit Progress</label>
                                                        </div>
                                                    </div>
                

                                                </div>

                                            <div v-for="(phaseLabour, i) in project_phase.phase_labour">

                                                <div style="display:flex; justify-content:space-between;">

                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="textAlign">
                                                            <label for="" style="font-weight:bold;">{{shorthenText(phaseLabour.material_and_service.name)}}</label>
                                                             
                                                        </div>
                                                        
                                                    </div>


                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="textAlign">
                                                            <label for="" style="font-weight:bold">{{diff(phaseLabour.start_date, phaseLabour.end_date)}} days</label>
                                                             
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="textAlign">
                                                            <label for="" style="font-weight:bold">{{makeMoment(phaseLabour.start_date)}}</label>

                                                            <!-- <datetime type="date"class="form-control" v-model="phaseLabour.start_date"></datetime> -->
                                                            
                                                        </div>    
                                                    </div>



                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="textAlign">
                                                            <!-- <label for="" style="font-weight:bold">3</label> -->
                                                             <label for="" style="font-weight:bold">{{makeMoment(phaseLabour.end_date)}}</label>

                                                            <!-- <datetime type="date" class="form-control" v-model="phaseLabour.end_date" required></datetime> -->
                                                            
                                                        </div>    
                                                    </div>

                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="progress textAlign" style="height: 18px;">
                                                          <div class="progress-bar" role="progressbar" :style="{width: phaseLabour.progress + '%',lineHeight: unset}" :aria-valuenow="phaseLabour.progress" aria-valuemin="0" aria-valuemax="100">{{phaseLabour.progress == null ? 0 : phaseLabour.progress}}%</div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="progress" style="margin-left:15px;">
                                                      <div class="progress-bar" role="progressbar" :style="{width: phaseLabour.progress + '%'}" :aria-valuenow="phaseLabour.progress" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                    </div> -->


                                                     <div class="form-group" style="display: flex;justify-content: center;margin-left:15px;">
                                                        <div class="btn btn-primary btn-xs" style="height: 30px;padding: 4px;width: 44px;" @click="editActivity(phaseLabour)">Edit</div> 
                                                    </div>



                                                </div>
                                                 
                                          <!-- Start edit activity modal -->

                                        <div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
                                            <div class="md-content" style="font-size:15px;">
                                                <h3>Edit Activity</h3>
                                                <div>
                                                    <form @submit.prevent="sendActivityData()" autocomplete="off">
                                                    
                                                    
                                                    <label for="email_address">Labour</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" v-model="currentActivity.material_and_service.name" class="form-control" readonly>
                                                            
                                                        </div>
                                                    </div> 

                                                    <label for="email_address">Start Date</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <datetime type="date" v-model="currentActivity.start_date" use12-hour></datetime>
                                                            
                                                        </div>
                                                    </div>

                                                    
                                                    <label for="email_address">End Date</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <datetime type="date" v-model="currentActivity.end_date" use12-hour></datetime>
                                                            
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Progress</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" v-model="currentActivity.progress" class="form-control">
                                                        </div>
                                                    </div> 
                                                  
                                 
                                                    

                                                    
                                                   <div class="mfooter">
                                                    <button class="btn btn-info">Submit</button>
                                                    <button @click.prevent="closeActivity()" class="btn btn-danger">Close</button>
                                                   
                                                   </div>
                                                   
                                                </form>
                                                </div>
                                           </div>
                                    </div>
                                    <!-- End edit activity modal -->


                                            </div>

                                            </div>
                                            
                                        </div>

                                       

                                    </div>

                                </div>
                                   
                            </div>

                        </div>

                    </div>
                
                </div>

                <!--Modals-->
                <div v-if="addMaterial" class="md-modal md-effect-2 md-show" style="left:54%;">
                    <div class="md-content">
                        <h3>Add New Material</h3>
                        <div>
                            <div style="display:flex; justify-content:space-between;">

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Phase</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Material</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Amount</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Quantity</label>
                                    </div>
                                </div>


                            </div>
                            <form @submit.prevent="sendNewMaterialData()" autocomplete="off">
                                <div v-for="(newProjectMaterial, i) in newProjectMaterials" style="display:flex; justify-content:space-between;">

                                    <div class="form-group">

                                        <div class="form-line">
                                            
                                            <select class="form-control" v-model="newProjectMaterial.project_phase_id" @change="getId(newProjectMaterial.project_phase_id,i,'material')" required>
                                                <option value="">Select Project Phase</option>
                                                <option v-for="individual_project_phase in project.individualprojectphases" :value="individual_project_phase.project_phase_id" v-if="!individual_project_phase.delete" >      
                                                    <span>{{individual_project_phase.projectphase.name}} </span>
                                                </option>
                                                
                                            </select>

                                        </div>
                                        
                                    </div>

                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">
                                            
                                            <select class="form-control" v-model="newProjectMaterial.material_and_services_id" required>
                                                <option value="">Select Material</option>
                                                <option v-for="material_and_service in material_and_services" :value="material_and_service.id" v-if="material_and_service.service_type_id==1">      
                                                    {{material_and_service.name}}
                                                </option>
                                                
                                            </select>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">

                                            <input type="text" class="form-control" v-model="newProjectMaterial.amount" @keyup="commafy4(i,newProjectMaterial.amount)" required />
                                            
                                        </div>    
                                    </div>

                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">

                                            <input type="number" min="1" class="form-control" v-model="newProjectMaterial.quantity" required />
                                            
                                        </div>    
                                    </div>
                                    <!--Show delete if the delete key is true-->
                                    <button @click.prevent="deleteNewMaterialRow(i)" v-if="newProjectMaterial.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                        <em class="material-icons md-8">delete</em>

                                    </button>

                                    <!--Show delete if the index is > 0 i.e only from the second item up-->
                                    <button @click.prevent="deleteNewMaterialRow(i)" v-else-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                        <em class="material-icons md-8">delete</em>

                                    </button>
                                </div>
                                
                                <button @click.prevent="addMaterialRow()" class="btn btn-primary flexit">
                                    <em class="material-icons">add</em>
                                    <span class="line">Extra Material</span>
                                </button>
                                
                                <div class="mfooter">
                                    <button class="btn btn-info" v-text="submitting ? 'Please Wait' : 'Submit'"></button>
                                    <button class="btn btn-danger" @click="closeAddMaterial" v-text="'Close'"></button>
                                </div>
                            </form>

                        </div>

                   </div>

                </div>

                <div v-if="addLabour" class="md-modal md-effect-2 md-show" style="left:54%;">
                    <div class="md-content">
                        <h3>Add New Labour</h3>
                        <div>
                            <div style="display:flex; justify-content:space-between;">

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Phase</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Labour</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Amount</label>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:15px;">
                                    <div class="" >
                                        <label for="" style="font-weight:bold">Quantity</label>
                                    </div>
                                </div>


                            </div>
                            <form @submit.prevent="sendNewLabourData()" autocomplete="off">
                                <div v-for="(newProjectLabour, i) in newProjectLabours" style="display:flex; justify-content:space-between;">

                                    <div class="form-group">

                                        <div class="form-line">
                                            
                                            <select class="form-control" v-model="newProjectLabour.project_phase_id" @change="getId(newProjectLabour.project_phase_id,i,'labour')" required>
                                                <option value="">Select Project Phase</option>
                                                <option v-for="individual_project_phase in project.individualprojectphases" :value="individual_project_phase.project_phase_id" v-if="!individual_project_phase.delete">      {{individual_project_phase.projectphase.name}} 
                                                </option>
                                                
                                            </select>

                                        </div>
                                        
                                    </div>

                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">
                                            
                                            <select class="form-control" v-model="newProjectLabour.material_and_services_id" required>
                                                <option value="">Select Labour</option>
                                                <option v-for="material_and_service in material_and_services" :value="material_and_service.id" v-if="material_and_service.service_type_id==2">      
                                                    {{material_and_service.name}}
                                                </option>
                                                
                                            </select>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">

                                            <input type="text" class="form-control" v-model="newProjectLabour.amount" @keyup="commafy5(i,newProjectLabour.amount)" required />
                                            
                                        </div>    
                                    </div>

                                    <div class="form-group" style="margin-left:15px;">
                                        <div class="form-line">

                                            <input type="number" min="1" class="form-control" v-model="newProjectLabour.quantity" required />
                                            
                                        </div>    
                                    </div>
                                    <!--Show delete if the delete key is true-->
                                    <button @click.prevent="deleteNewLabourRow(i)" v-if="newProjectLabour.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                        <em class="material-icons md-8">delete</em>

                                    </button>

                                    <!--Show delete if the index is > 0 i.e only from the second item up-->
                                    <button @click.prevent="deleteLabourRow(i)" v-else-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                        <em class="material-icons md-8">delete</em>

                                    </button>
                                </div>
                                
                                <button @click.prevent="addLabourRow()" class="btn btn-primary flexit">
                                    <em class="material-icons">add</em>
                                    <span class="line">Extra Labour</span>
                                </button>
                                
                                <div class="mfooter">
                                    <button class="btn btn-info" v-text="submitting ? 'Please Wait' : 'Submit'"></button>
                                    <button class="btn btn-danger" @click="closeAddLabour" v-text="'Close'"></button>
                                </div>
                            </form>

                        </div>

                   </div>

                </div>
                <div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
                <div v-if="addMaterial" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
                <div v-if="addLabour" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
                
            </div>
            
        </div>
             
    </div>
</template>

<script>
import validate from 'validate.js';
import moment from 'moment';
import ImageUpload from '../ImageUpload.vue';
validate.extend(validate.validators.datetime, {
  // The value is guaranteed not to be null or undefined but otherwise it
  // could be anything.
  parse: function(value, options) {
    return +moment.utc(value);
  },
  // Input is a unix timestamp
  format: function(value, options) {
    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
    return moment.utc(value).format(format);
  }
});
// import UserProfile from '../datatables/user-administration/UserProfile';
    export default{
        components: {
         ImageUpload
        },
        mounted(){
            //Get details of this project
            axios.post('/api/get/project',{id: this.$route.params.id})
                .then(response=>{
                    this.beforeEditingCache = Object.assign({}, response.data);//The original data
                    this.project = response.data;//Used for edit
                    this.individual_project_phases = response.data.individualprojectphases;
                    this.individual_project_phases.forEach((phase)=>{
                                phase.ready = true;
                            });
                    this.projectfiles = response.data.projectfiles;
                    this.projectStaffAllocations = response.data.projectstaffallocations;
                    this.projectLabours = this.project.projectlabours;
                    this.project.cost = this.addCommas(this.project.cost);//Make the displayed cost read-friendly

                    // this.project_phase_activities =  response.data.individual_project_phase_activities;
                    // let phase_id_object = [];
                    // let phases_object = [];

                    // this.project_phase_activities.forEach(activity=>{
                    //     if(!phase_id_object.includes(activity.project_labour.individual_project_phases_id)){
                    //         phase_id_object.unshift(activity.project_labour.individual_project_phases_id);
                    //         phases_object.unshift(activity.project_labour.individualprojectphase);
                    //     }

                    // });
                    // console.log(response.data.individualprojectphases);

                    this.project_individual_phases =  response.data.individualprojectphases;
                    // console.log(this.project_individual_phases);

                    // console.log(this.individual_project_phases);
                    // this.project.coordinator ='string';
                    // console.log(this.project);
                      // console.log(this.project.individualprojectphases);
                    // this.phases = response.data.projectphases;
                })
                .catch(error=>{
                    console.log(error);
                });

            axios.post('/api/get/user/all')
            .then(response=>{
                this.users = response.data
            })
            .catch(error=>{
                console.log(error);
            });

            axios.get('/api/get/department')
            .then(response=>{
                this.departments = response.data
            })
            .catch(error=>{
                console.log(error);
            });

            axios.get('/api/get/projectphase')
            .then(response=>{
                this.project_phases = response.data
                // console.log(this.project_phases);
            })
            .catch(error=>{
                console.log(error);
            });

            axios.get('/api/get-all/material_and_service')
            .then(response=>{
                this.material_and_services = response.data
            })
            .catch(error=>{
                console.log(error);
            });

            /*axios.get('/api/get/bank')
            .then(response=>{
                this.banks = response.data
            })
            .catch(error=>{
                console.log(error);
            });

            axios.get('/api/get-all/material_and_service')
            .then(response=>{
                this.material_and_services = response.data
            })
            .catch(error=>{
                console.log(error);
            });*/
        },
        data(){
            return{
        
                project:{},
                users:{},
                departments:{},
                individual_project_phases:[],
                project_phases:{},
                fileData:{
                    phase: '',
                    files:{}
                },
                projectfiles:{},
                projectStaffAllocations:[],
                projectMaterials:[],
                newProjectMaterials:[],
                newProjectLabours:[],
                material_and_services:{},
                projectLabours:[],
                addMaterial:false,
                addLabour:false,
                submitting:false,
                watcher : true,
                project_individual_phases:[],
                unset: 'unset',
                currentActivity:{},
                modal: false
                
            }
        },
        watch: {//watch for changes in the project cosr
                'project.cost': function(newValue){
                    if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.project.cost = result);
                    }
                    
                },

            },
        methods:{
            shorthenText(value){
                var len = value.length;

                if(len > 34){
                    var newstring = value.substring(0, 34);
                    return newstring +'...';
                }else{
                    return value;
                }

                
            },
            diff(start,end){
                if(start == '' || start == null){
                    return 0;
                }else{
                // var duration = moment.duration(end.diff(start));
                // var days = duration.asDays();
                // return days;
                var a = moment(end);
                var b = moment(start);
                var r = a.diff(b, 'days');
                return r;
                }
                
            },
            editActivity(value){
                // console.log(value);
                this.initialValue = Object.assign({}, value);
                this.currentActivity =  value;
                this.modal = true;
            },
            closeActivity(){
                 Object.assign(this.currentActivity, this.initialValue );
                this.modal = false;
            },
           makeMoment(value){
            if(value == null || value == ''){
                return "Not Set Yet"
            }else{

              return moment(value).format('MMMM Do YYYY');
            }
            },
            previousPage(){
                this.$router.go(-1);
            },
            prepareImages(images){//Images comes from an emit in the imageuploader component
                this.fileData.files = images;
                // console.log(this.fileData.files);
            },

            commafy(index, newValue){//Used for dynamic pages
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.individual_project_phases[index].cost = result);
                      
                    }
            },

            commafy2(index, newValue){//Used for dynamic pages
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.projectMaterials[index].amount = result);
                      
                    }
            },

            commafy3(index, newValue){//Used for dynamic pages
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.projectLabours[index].amount = result);
                      
                    }
            },

            commafy4(index, newValue){//Used for dynamic pages
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.newProjectMaterials[index].amount = result);
                      
                    }
            },

            commafy5(index, newValue){//Used for dynamic pages
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.newProjectLabours[index].amount = result);
                      
                    }
            },

            addCommas(x){
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            removeCommas(x){
                x=x.replace(/\,/g,''); 
                x=parseInt(x,10);
                return x
              },

            getId(project_phase_id, index, type){
                this.individual_project_phases.forEach((model)=>{
                    if(model.project_phase_id == project_phase_id){
                        if(type == 'material'){
                            this.newProjectMaterials[index].individual_project_phases_id = model.id;
                        }else{
                            this.newProjectLabours[index].individual_project_phases_id = model.id;
                        }
                    }
                })
            },

            getIdInit(project_phase_id, index, type){
                this.individual_project_phases.forEach((model)=>{
                    if(model.project_phase_id == project_phase_id){
                        if(type == 'material'){
                            this.projectMaterials[index].individual_project_phases_id = model.id;
                        }else{
                            this.projectLabours[index].individual_project_phases_id = model.id;
                        }
                    }
                })
            },

            reset(){
                Object.assign(this.project, this.beforeEditingCache);
            },
            addRow() {
                 this.individual_project_phases.push({
                   project_phase_id: '',
                   cost: '',
                   start_date:'',
                   end_date:'',
                   ready: false,//Determines when other tabs would use this newly added phase
                   delete:true
                 });
            },
            deleteRow(index) {
                if(this.individual_project_phases[index].ready){//Only go to the backend if this has been registered
                    this.deletePhase(this.individual_project_phases[index].id, index);
                }else{
                    this.individual_project_phases.splice(index,1);
                }
            },
            addStaffRow() {
                 this.projectStaffAllocations.push({
                   user_id: '',
                   start_date:'',
                   end_date:'',
                   delete:true
                 });
            },
            deleteStaffRow(index) {
                this.projectStaffAllocations.splice(index,1);
            },

            newMaterial(){
                if (!this.newProjectMaterials.length)
                {
                    this.newProjectMaterials.push({
                        project_phase_id: '',
                        material_and_services_id:'',
                        amount:'',
                        quantity:'',
                        delete:true
                     });
                }
                this.addMaterial = true;
            },

            addMaterialRow() {
                 this.newProjectMaterials.push({
                   project_phase_id: '',
                   material_and_services_id:'',
                   amount:'',
                   quantity:'',
                   delete:true
                 });
            },
            closeAddMaterial(){
                this.addMaterial = false;
                this.newProjectMaterials=[];
            },
            deleteNewMaterialRow(index) {//Works  for the modal to add a material
                this.newProjectMaterials.splice(index,1);
            },
            deleteMaterialRow(index) { //Works for existing materials
                this.deleteMaterial(this.projectMaterials[index].id, index);
            },
            newLabour(){
                if (!this.newProjectLabours.length)
                {
                    this.newProjectLabours.push({
                        project_phase_id: '',
                        material_and_services_id:'',
                        amount:'',
                        quantity:'',
                        delete:true
                     });
                }
                this.addLabour = true;
            },
            addLabourRow() {
                 this.newProjectLabours.push({
                   project_phase_id: '',
                   material_and_services_id:'',
                   amount:'',
                   quantity:'',
                   delete:true
                 });
            },
            deleteLabourRow(index) {
                this.deleteLabour(this.projectLabours[index].id, index);
            },
             deleteNewLabourRow(index) {//Works  for the modal to add labour
                this.newProjectLabours.splice(index,1);
            },
            closeAddLabour(){
                this.addLabour = false;
                this.newProjectLabours = [];
            },
            
            sendData(){
                this.submitting = true;
                let data ={
                    id:this.project.id,
                    name:this.project.name,
                    coordinator:this.project.coordinator,
                    date:this.project.project_date,
                    department:this.project.department_id,
                    cost:this.project.cost,
                    active:this.project.active,
                }
                const constraints = this.getConstraints();
                const errors = validate(data,constraints);
                if(errors){
                    // console.log(data);
                    this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.date) ? errors.date.toString()+'</br>' : '')+((errors.department) ? errors.department.toString()+'</br>' : '')+((errors.cost) ? errors.cost.toString()+'</br>' : '')+((errors.active) ? errors.active.toString()+'</br>' : '')+((errors.coordinator) ? errors.coordinator.toString()+'</br>' : ''),
                              duration: 10000,
                            });
                }else{
                this.watcher= false; //turn off watcher to prevent errors
                data.usedcost = this.removeCommas(this.project.cost);//remove comma before inserting in db
                axios.post('/api/edit/project',data)
                          .then(response=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                }
                
            },

            deletePhase(id, index){
                axios.post('/api/delete/invividualprojectphase',{id : id, project_id: this.project.id})
                  .then(response=>{
                    this.project.individualprojectphases = response.data;
                    this.individual_project_phases.splice(index,1);
                    this.$notify({
                      group: 'foo',
                      type: 'success',
                      title: 'Notification',
                      text: 'Success!',
                      duration: 10000,
                    });
                    
                  })
                  .catch(error=>{
                    this.$notify({
                      group: 'foo',
                      type: 'error',
                      title: 'Notification',
                      text: error.response.data.error,
                      duration: 10000,
                    });
                  });
            },

            sendPhasesData(){
                
                this.submitting = true;
                axios.post('/api/add/invividualprojectphase',{ phases : this.individual_project_phases, project_id: this.project.id})
                          .then(response=>{
                            this.submitting = false;
                            this.individual_project_phases.forEach((phase)=>{
                                phase.ready = true;
                            });
                            this.project.individualprojectphases = response.data;
                            // console.log(response.data);
                            this.project_individual_phases = response.data;
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                
            },

            sendFilesData(){
                this.submitting = true;
                const formData = new FormData();//form data lets you combine a set of key-value pairs to send via ajax

                // console.log(this.fileData.files.length);
                if(this.fileData.files.length)//Hack to make validate.js work for files
                {
                    var checker = this.fileData.files[0].name;
                    var up = this.fileData.files;
                    up.forEach(file=>{//for each file, create an array of the file object as well as the file name then append it to the        
                                              //formData variable
                        formData.append('images[]',file)
                    });
                    formData.append('project_phase_id',this.fileData.phase);
                    formData.append('project_id',this.project.id);
                    // console.log(formData);

                }else{
                var checker = null;
                }
               
                const constraints = this.getFilesConstraints();
                const errors = validate({Phase : this.fileData.phase, Files: checker},constraints);
                if(errors){
                    
                    this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: ((errors.Phase) ? errors.Phase.toString()+'</br>' : '')+((errors.Files) ? errors.Files.toString()+'</br>' : ''),
                              duration: 10000,
                            });
                    this.submitting = false;

                }
                else{
                axios.post('/api/project/file-upload', formData)
                     .then(response => {
                        this.submitting = false;
                        // this.$toastr.s('All Files Uploaded Successfully');
                        // console.log(response.data);
                        this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                        this.projectfiles.unshift(response.data[0]);
                        this.$refs.uploadDT.clearBox();
                        // const formData = new FormData();
                        this.fileData.files = {};
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                 }
            },

            sendStaffData(){
                
                this.submitting = true;
                axios.post('/api/add/projectstaff',{ staff : this.projectStaffAllocations, project_id: this.project.id})
                          .then(response=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                
            },

            sendMaterialData(){//This updates the existing data
                
                this.submitting = true;
                axios.post('/api/update/projectmaterial',{ materials : this.projectMaterials, project_id: this.project.id})
                          .then(response=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                
            },

            sendNewMaterialData(){
                
                this.submitting = true;
                axios.post('/api/add/projectmaterial',{ materials : this.newProjectMaterials, project_id: this.project.id})
                          .then(response=>{
                            this.submitting = false;
                            this.project.projectmaterials = response.data;
                            this.projectMaterials = response.data;
                            this.projectMaterials.forEach((one)=>{
                                one.amount = this.addCommas(one.amount);
                            })
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            this.addMaterial = false;
                            this.newProjectMaterials=[];
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                
            },

            deleteMaterial(id, index){
                axios.post('/api/delete/projectmaterial',{id : id, project_id: this.project.id})
                  .then(response=>{
                    // console.log(response.data);
                    this.project.projectmaterials =  Object.assign({}, response.data);
                    this.projectMaterials.splice(index,1);
                    this.$notify({
                      group: 'foo',
                      type: 'success',
                      title: 'Notification',
                      text: 'Success!',
                      duration: 10000,
                    });
                    
                  })
                  .catch(error=>{
                    this.$notify({
                      group: 'foo',
                      type: 'error',
                      title: 'Notification',
                      text: error.response.data.error,
                      duration: 10000,
                    });
                  });
            },

            sendLabourData(){
                
                this.submitting = true;
                axios.post('/api/update/projectlabour',{ labours : this.projectLabours, project_id: this.project.id})
                          .then(response=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                
            },

             sendNewLabourData(){
                
                this.submitting = true;
                axios.post('/api/add/projectlabour',{ labours : this.newProjectLabours, project_id: this.project.id})
                      .then(response=>{
                        this.submitting = false;
                        this.project.labours = response.data;
                        this.projectLabours = response.data;
                        this.$notify({
                          group: 'foo',
                          type: 'success',
                          title: 'Notification',
                          text: 'Success!',
                          duration: 10000,
                        });
                        this.addLabour = false;
                        this.newProjectLabours=[];
                        
                      })
                      .catch(error=>{
                        this.submitting = false;
                        this.$notify({
                          group: 'foo',
                          type: 'error',
                          title: 'Notification',
                          text: error.response.data.error,
                          duration: 10000,
                        });
                      });
                
            },
            sendActivityData(){
                axios.post('/api/edit/activity', this.currentActivity)
                      .then(response=>{
                        this.submitting = false;
                        this.$notify({
                          group: 'foo',
                          type: 'success',
                          title: 'Notification',
                          text: 'Success!',
                          duration: 10000,
                        });
                        this.modal = false;
                        this.currentActivity={};
                        
                      })
                      .catch(error=>{
                        this.submitting = false;
                        this.$notify({
                          group: 'foo',
                          type: 'error',
                          title: 'Notification',
                          text: error.response.data.error,
                          duration: 10000,
                        });
                      });
            },

            deleteLabour(id, index){
                axios.post('/api/delete/projectlabour',{id : id, project_id: this.project.id})
                  .then(response=>{
                    // console.log(response.data);
                    this.project.projectlabours =  Object.assign({}, response.data);
                    this.projectLabours.splice(index,1);
                    this.$notify({
                      group: 'foo',
                      type: 'success',
                      title: 'Notification',
                      text: 'Success!',
                      duration: 10000,
                    });
                    
                  })
                  .catch(error=>{
                    this.$notify({
                      group: 'foo',
                      type: 'error',
                      title: 'Notification',
                      text: error.response.data.error,
                      duration: 10000,
                    });
                  });
            },

            getFilesConstraints(){
                return{
                    Phase:{
                        numericality:{
                            onlyInteger:true,
                            message: 'must be selected'
                        }
                    },
                    Files:{
                        presence:{
                            allowEmpty: true,
                            message: "Cannot be empty"
                        }
                    }
                }
            },
            
            getConstraints(){
                return{
                    name:{
                        presence: {
                            allowEmpty: false,
                            message:"can't be empty"
                        },
                        
                    },
                    date: {

                        datetime: {
                          dateOnly: true,
                          message: "Invalid Date "
                        }
                    },
                    department: {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                            }
                    },
                    cost: {
                    
                        presence: {
                            allowEmpty: false,
                            message:"can't be empty"
                        },
                    },
                    active: {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                            }
                    },
                    /*coordinator : {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                        }
                    },*/

                }
            }
            
        }
    };
</script>

<style scoped>
    .flexit{
        display: flex;

    }
    input,select{
        text-transform: capitalize!important;
    }
    input[type*="email"]{
    text-transform: lowercase!important;
    }
    .line{
        line-height: 26px !important;
    }
    .mfooter{
        display: flex;
        justify-content: flex-end;

    }
    .mfooter button{
        margin: 0px 0px 0px 10px !important;
    }
    .textAlign{
        text-align: center;
    }
</style>