<template>
	<div>
	    <div class="page-header">
	        <h2>Liquid Assets</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Liquid Asset</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 715px;">
	                <div class="body forum">
	                 	
						<liquidassets ref="assetmodelDT" @unassign="unassign" @assign="assign" @inactive="inactive"></liquidassets>

						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Add Liquid Asset</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
													

													<label for="email_address">Asset Category</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="liquidasset.assetcategory" @change="getManufacturers(liquidasset.assetcategory)" required>
                                                        		<option v-for="assetcategory in assetcategories" :value="assetcategory.id">{{assetcategory.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>

                                                    
						                        	<label for="email_address">Asset Manufacturer</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="liquidasset.assetmanufacturer" @change="getModels(liquidasset.assetmanufacturer)" required>
                                                        		<option v-for="assetmanufacturer in assetmanufacturers" :value="assetmanufacturer.id">{{assetmanufacturer.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>

						                        	<label for="email_address">Asset Model</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="liquidasset.model" required>
                                                        		<option v-for="assetmodel in assetmodels" :value="assetmodel.id">{{assetmodel.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div> 
                                                  
                                 
                                                    <label for="email_address">Asset Color</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="liquidasset.color" required>
                                                        		<option v-for="color in colors" :value="color.id">{{color.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Asset Serial No</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" placeholder="Enter asset serial number" v-model="liquidasset.serial_number" required />
                                                        </div>
                                                        
                                                    </div>

                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           
						                           </div>
						                           
						                        </form>
						                        </div>
						                   </div>
						</div>



						<div v-if="inactiveModel" class="md-modal md-effect-2 md-show" style="left:54%;max-width: 20%; top:43%;">
						                    <div class="md-content">
						                       
						                        <div>
						                        <form @submit.prevent="sendInactiveData()" autocomplete="off">
						                             <label style="display:block;text-align:center;margin-bottom:15px;">Are you sure?</label>

                                                    
						                           <div class="mfooter" style="margin-bottom:0px; justify-content:center;">
						                           	<button class="btn btn-info btn-sm">Confirm</button>
						                           	<button @click.prevent="closeInactiveModal()" class="btn btn-danger btn-sm">Cancel</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


						<div v-if="unassignModel" class="md-modal md-effect-2 md-show" style="left:54%;max-width: 24%; top:43%;">
						                    <div class="md-content" style="font-size:16px;">
						                       
						                        <div>
						                        <form @submit.prevent="sendUnassigneData()" autocomplete="off">
						                             <!-- <label style="display:block;text-align:center;margin-bottom:15px;">Are you sure?</label> -->

						                              <label for="email_address">Select Date</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                    		<datetime type="date" v-model="unassign_date" placeholder="Select Date"></datetime>
                                                        </div>
                                                    </div>
                                                    
						                           <div class="mfooter" style="margin-bottom:0px; justify-content:center;">
						                           	<button class="btn btn-info btn-sm">Confirm</button>
						                           	<button @click.prevent="closeUnassignModal()" class="btn btn-danger btn-sm">Cancel</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


						<div v-if="assignmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Assign Asset</h3>
						                        <div>
						                        	<form @submit.prevent="sendAssignData()" autocomplete="off">
						                        		<div class="form-group" style="display:flex;justify-content:space-around;margin-bottom:-18px;">
	                                                        
	                                                            <ul class="list-inline">
	                                                                <li class="eagle-checkbox">
	                                                                    <label class="eagle-check custom-radio">
	                                                                        <input id="radio1" value="1" type="radio" class="eagle-check-input" v-model="radio_select" checked>
	                                                                        <span class="eagle-check-indicator"></span>
	                                                                        <span class="eagle-check-description">Users</span>
	                                                                    </label>
	                                                                </li>
	                                                                <li class="eagle-checkbox">
	                                                                    <label class="eagle-check custom-radio">
	                                                                        <input id="radio2" value="2" type="radio" class="eagle-check-input" v-model="radio_select">
	                                                                        <span class="eagle-check-indicator"></span>
	                                                                        <span class="eagle-check-description">Clients</span>
	                                                                    </label>
	                                                                </li>
	                                                                <li class="eagle-checkbox">
	                                                                    <label class="eagle-check custom-radio">
	                                                                        <input id="radio3" value="3" type="radio" class="eagle-check-input" v-model="radio_select">
	                                                                        <span class="eagle-check-indicator"></span>
	                                                                        <span class="eagle-check-description">Vendors</span>
	                                                                    </label>
	                                                                </li>
	                                                            </ul>
                                                        	<!-- </div> -->
	                                                    </div>

													<div v-if="show_user">
						                             <label for="email_address">User</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="assignasset.user" required>
                                                        		<option v-for="user in users" :value="user.id">{{user.first_name}} {{user.last_name}}</option>
                                                        	</select>
                                                        </div>
                                                        
                                                    </div>
                                                    </div>	

                                                    <div v-if="show_client">
						                             <label for="email_address">Client</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="assignasset.user" required>
                                                        		<option v-for="client in clients" :value="client.id">{{client.firstname}} {{client.lastname}} {{client.company}}</option>
                                                        	</select>
                                                        </div>
                                                        
                                                    </div>
                                                    </div>

                                                    <div v-if="show_vendor">
						                             <label for="email_address">Vendor</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="assignasset.user" required>
                                                        		<option v-for="vendor in vendors" :value="vendor.id">{{vendor.name}}</option>
                                                        	</select>
                                                        </div>
                                                        
                                                    </div>
                                                    </div>


                                                     <label for="email_address">Start Date</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                    		<datetime type="date" v-model="assignasset.start_time"></datetime>
                                                    		
                                                        	
                                                            
                                                        </div>
                                                    </div>
                                                    <label for="email_address">End Date</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                    		<datetime type="date" v-model="assignasset.end_time"></datetime>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Notes</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<textarea class="form-control" v-model="assignasset.notes"></textarea>
                                                            
                                                        </div>
                                                    </div>
                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeAssignModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>

 
	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="inactiveModel" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="assignmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="unassignModel" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js';
import LiquidAsset from '../datatables/asset-manager/LiquidAsset';
import moment from 'moment';
validate.extend(validate.validators.datetime, {
  // The value is guaranteed not to be null or undefined but otherwise it
  // could be anything.
  parse: function(value, options) {
    return +moment.utc(value);
  },
  // Input is a unix timestamp
  format: function(value, options) {
    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
    return moment.utc(value).format(format);
  }
});

	export default{
		components: {
          liquidassets:LiquidAsset
        },
        mounted(){
        	axios.get('/api/get/assetmodel')
        		.then(response=>{
     
        			this.raw_assetmodels = response.data
        		})
        		.catch(error=>{
        			
        		});

				axios.get('/api/get/assetcategory')
        		.then(response=>{
        			
        			this.assetcategories = response.data
        		})
        		.catch(error=>{
        			
        		});


        		axios.post('/api/get/assetmanufacturer')
        		.then(response=>{
        			
        			this.raw_assetmanufacturers = response.data
        		})
        		.catch(error=>{
        			
        		});

        		axios.get('/api/get/color')
        		.then(response=>{
        			
        			this.colors = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

        		axios.post('/api/get/user/all')
        		.then(response=>{
        			this.users = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

        		axios.get('/api/get/vendor/all')
        		.then(response=>{
        			this.vendors = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

        		axios.get('/api/get/client/all')
        		.then(response=>{
        			this.clients = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

        	
        },
        watch: {
            // whenever question changes, this function will run
            radio_select: function (value) {
              if(value == 1){
              	this.show_user = true;
              	this.show_client = false;
              	this.show_vendor = false;
              	this.assignasset.user_type = 'user';
              }else if(value == 2){
              	this.show_user = false;
              	this.show_client = true;
              	this.show_vendor = false;
              	this.assignasset.user_type = 'client';
              }else{
              	this.show_user = false;
              	this.show_client = false;
              	this.show_vendor = true;
              	this.assignasset.user_type = 'vendor';
              }
            }
          },
		data(){
			return{
				modal:false,
				inactiveModel:false,
				editactivedata:{},
				assetmanufacturers:[],
				assetcategories:{},
				assetmodels:[],
				index:'',
				colors:{},
				liquidasset:{
					model:'',
					assetmanufacturer:'',
					assetcategory:'',
					color:'',
					serial_number:'',
				},
				users:{},
				vendors:{},
				clients:{},
				assignmodal:false,
				assignasset:{
					user:'',
					start_time:'',
					end_time:'',
					notes:'',
					user_type:'user',
				},
				assigndata:{},
				unassigndata:{},
				unassignModel:false,
				radio_select:1,
				show_user: true,
				show_client: false,
				show_vendor: false,
				unassign_date:'',
				
			}
		},
		methods:{
			getManufacturers(value){
				
				this.assetmanufacturers = [];
				for(var i = 0; i < this.raw_assetmanufacturers.length; i++){
					if(this.raw_assetmanufacturers[i].asset_category_id == value){
						this.assetmanufacturers.push(this.raw_assetmanufacturers[i]);
					}
				}
			},
			getModels(value){
				
				for(var i = 0; i < this.raw_assetmodels.length; i++){
					if(this.raw_assetmodels[i].asset_manufacturer_id == value){
						this.assetmodels.push(this.raw_assetmodels[i]);
					}
				}
			},
			closeModal(){
				
				this.modal = false;
				this.liquidasset = {};
			},
			closeInactiveModal(){
				
				this.inactiveModel = false;
			},
			closeUnassignModal(){
				
				this.unassignModel = false;
			},
			closeAssignModal(){
				//create another object to help retain initial value before editing
				// Object.assign(this.editdata, this.beforeEditingCache);
				//create another object for the child object to prevent reference type(object feature) from editing the original value
				// Object.assign(this.editdata.assetcategory, this.beforeEditingAssetcategory);
				//create another object for the child object to prevent reference type(object feature) from editing the original value
				// Object.assign(this.editdata.assetmanufacturer, this.beforeEditingAssetmanufacturer);
				this.assignmodal = false;
			},
			assign(value,index){
				this.index = index;
				this.assigndata = value;
				this.assignmodal = true;
				// this.beforeEditingCache = Object.assign({}, this.editdata);
				// this.beforeEditingAssetcategory = Object.assign({}, this.editdata.assetcategory);
				// this.beforeEditingAssetmanufacturer = Object.assign({}, this.editdata.assetmanufacturer);
				
			},
			inactive(value,index){
				this.index = index;
				this.editactivedata = value;
				this.inactiveModel = true;
	
				
			},
			unassign(value,index){
				
				this.index = index;
				this.unassigndata = value;
				this.unassignModel = true;
	
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.liquidasset,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.model) ? errors.model.toString()+'</br>' : '')+((errors.color) ? errors.color.toString()+'</br>':'')+((errors.assetcategory) ? errors.assetcategory.toString()+'</br>':'')+((errors.assetmanufacturer) ? errors.assetmanufacturer.toString()+'</br>':'')+((errors.serial_number) ? errors.serial_number.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/liquidasset/',this.liquidasset)
						  .then(response=>{
						  	// console.log(response.data);
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	if(this.$store.state.liquidAssets.length >= this.$store.state.liquidAssets_pag.per_page && this.$store.state.liquidAssets_pag.total >= 10){
						  		this.$store.state.liquidAssets.splice(-1,1);
						  		this.$store.state.liquidAssets.unshift(response.data[0]);
						  		this.$store.state.liquidAssets_pag.next_page_url = this.$store.state.liquidAssets_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.liquidAssets_pag.total = this.$store.state.liquidAssets_pag.total + 1;
						  		this.$refs.assetmodelDT.configPagination(this.$store.state.liquidAssets_pag);

						  	}else{
						  		this.$store.state.liquidAssets.unshift(response.data[0]);
						  		this.$store.state.liquidAssets_pag.to = this.$store.state.assetmodels_pag.to + 1;
						  		this.$store.state.liquidAssets_pag.from =  1;
						  		this.$store.state.liquidAssets_pag.total = this.$store.state.liquidAssets_pag.total + 1;
						  		this.$refs.assetmodelDT.configPagination(this.$store.state.liquidAssets_pag);
						  	}
						  	
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	this.assetmodel = {};
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendInactiveData(){
					axios.post('/api/edit/liquidasset/active',this.editactivedata)
						  .then(response=>{
						  
						  	this.$store.state.liquidAssets[this.index].active = response.data.active;
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.inactiveModel = false;
						  	this.editactivedata={};
						  })
						  .catch(error=>{
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
			},
			sendUnassigneData(){
				if(this.unassign_date == ''){
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: 'Date must be selected',
						  	  duration: 10000,
						  	});
				}else{
					this.unassigndata.unassign_date = this.unassign_date;
					axios.post('/api/edit/assignliquidasset',this.unassigndata)
						  .then(response=>{
						  	
						  	this.$store.state.liquidAssets[this.index].assignedto = null;
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.unassignModel = false;
						  	this.unassigndata = {};
						  })
						  .catch(error=>{
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
						}
			},
			sendAssignData(){
				this.assignasset.id = this.assigndata.id;
				
				const constraints = this.getAssignConstraints();
				const errors = validate(this.assignasset,constraints);
				
				if(errors){
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.user) ? errors.user.toString()+'</br>' : '')+((errors.start_time) ? errors.start_time.toString()+'</br>' : '')+((errors.end_time) ? errors.end_time.toString():'')+((errors.notes) ? errors.notes.toString():'')+((errors.status) ? errors.status.toString():''),
						  	  duration: 10000,
						  	});
				}else{
				
				axios.post('/api/add/assignliquidasset',this.assignasset)
						  .then(response=>{
						  	
						  	this.$store.state.liquidAssets[this.index].assignedto = response.data[0];
						  	this.$store.state.liquidAssets[this.index].assignment_id = response.data[0].id;
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.assignmodal = false;
						  	// this.editrole={};
						  })
						  .catch(error=>{
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					model:{
						
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
						
					},
					
					color: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					  },
					  assetcategory:{
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},
					assetmanufacturer:{
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},
					serial_number:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
				}
			},
			getAssignConstraints(){
				return{
					start_time:{
						
						datetime: {
					      dateOnly: true,
					      message: "invalid Date "
					    }
						
					},
					
					end_time: {
					
						datetime: {
					      dateOnly: true,
					      message: "invalid Date "
					    }
					  },
					  user:{
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					},
					
					notes:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
				}
			},
			
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}

</style>