<template>
	<div>
	    <div class="page-header">
	        <h2>Asset Profile</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum" style="padding:0px;">

	                	<div class="col-lg-12 col-xlg-12 col-md-12" style="padding:0px;">
                        <div class="card">
                            <div class="profile_body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-tabs-inline nav-justified" role="tablist">
                                    <li role="presentation" class="active"><a @click.prevent href="#about" data-toggle="tab" aria-expanded="true">Asset Details</a></li>
                                    <li role="presentation" class=""><a @click.prevent href="#timeline" data-toggle="tab" aria-expanded="false">Asset Status</a></li>
                                    <li role="presentation" class=""><a @click.prevent href="#photos" data-toggle="tab" aria-expanded="false">Finacials</a></li>
                                    <li role="presentation" class=""><a @click.prevent href="#setting" data-toggle="tab" aria-expanded="false">History</a></li>
                                    
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="about" style="height: 800px;">
                         
                                    	 <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                       
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             
                                                    <label for="email_address">Asset Category</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="liquidasset.asset_category_id" >
                                                                <option v-for="assetcategory in assetcategories" :value="assetcategory.id">{{assetcategory.name}}</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Asset Manufacturer</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="liquidasset.asset_manufacturer_id" >
                                                        		<option v-for="assetmanufacturer in assetmanufacturers" :value="assetmanufacturer.id">{{assetmanufacturer.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Asset Model</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="liquidasset.asset_model_id" >
                                                        		<option v-for="assetmodel in assetmodels" :value="assetmodel.id">{{assetmodel.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Location</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="liquidasset.location" >
                                                        		<option v-for="location in locations" :value="location.id">{{location.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Asset Color</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="liquidasset.color_id" >
                                                                <option v-for="color in colors" :value="color.id">{{color.name}}</option>
                                                        		
                                                        	</select>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Asset Serial No</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" v-model="liquidasset.serial_no" placeholder="Enter asset serial number" required />
                                                        </div>
                                                        
                                                    </div>


						                           <div class="mfooter">
						                           	<button class="btn btn-info">Update</button>
						                           	<button @click.prevent="reset()" class="btn btn-danger">Reset</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
										</div>

                                    </div>


                                    <div role="tabpanel" class="tab-pane fade" id="timeline" style="height: 700px;">

                                    	 <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                       
						                        <div>
						                        	<form @submit.prevent="sendSecondData()" autocomplete="off">
						                             <label for="email_address">Maintenance</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                           <textarea class="form-control" v-model="liquidasset.maintenance"></textarea>
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Make Active</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="liquidasset.active" >
                                                               <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Retired</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="liquidasset.retired" >
                                                                <option value="1">Yes</option>
                                                                <option value="0">No</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                
                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Update</button>
						                           	<button @click.prevent="reset()" class="btn btn-danger">Reset</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>
                                        
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="photos" style="height: 700px;">
                                    	   	 <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                       
						                        <div>
						                        	<form @submit.prevent="sendThirdData()" autocomplete="off">
						                             <label for="email_address">Purchase Amount</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" placeholder="Enter Amount" v-model="liquidasset.purchase_amount"/>
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Purchase Date</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <datetime type="date" v-model="liquidasset.purchase_date"></datetime>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Vendor Name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                             <select class="form-control" v-model="liquidasset.vendor_id" >
                                                               <option v-for="vendor in vendors" :value="vendor.id">{{vendor.name}}</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Update</button>
						                           	<button @click.prevent="reset()" class="btn btn-danger">Reset</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>
                                 
                                        
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="setting" style="height: 700px;">
                                        <div class="col-md-12 col-md-offset-0">
						                  <div class="md-content">
						                       <assignmenthistory :id="id"></assignmenthistory>
						                       
						                   </div>
									</div>
                                    </div>



                                



                                    </div>
                                    


                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
	                 	
	


	            </div>
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import AssignmentHistory from '../datatables/asset-manager/AssignmentHistory';
import validate from 'validate.js';
import moment from 'moment';
validate.extend(validate.validators.datetime, {
  // The value is guaranteed not to be null or undefined but otherwise it
  // could be anything.
  parse: function(value, options) {
    return +moment.utc(value);
  },
  // Input is a unix timestamp
  format: function(value, options) {
    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
    return moment.utc(value).format(format);
  }
});

// import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         assignmenthistory:AssignmentHistory
        },
         watch: {
            'liquidasset.purchase_amount': function(newValue){
                const result = newValue.replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                  this.$nextTick(() => this.liquidasset.purchase_amount = result);
                
            }

        },
        mounted(){
            axios.post('/api/get/liquidasset',{id: this.$route.params.id})
                .then(response=>{
                    this.beforeEditingCache = Object.assign({}, response.data[0]);
                    this.liquidasset = response.data[0];
                   
                })
                .catch(error=>{
                    
                });

        	axios.get('/api/get/assetmodel')
                .then(response=>{
     
                    this.assetmodels = response.data;
                })
                .catch(error=>{
                    
                });

                axios.get('/api/get/assetcategory')
                .then(response=>{
                    
                    this.assetcategories = response.data;
                })
                .catch(error=>{
                    
                });


                axios.post('/api/get/assetmanufacturer')
                .then(response=>{
                    
                    this.assetmanufacturers = response.data;
                })
                .catch(error=>{
                    
                });

                axios.get('/api/get/color')
                .then(response=>{
                    
                    this.colors = response.data;
                    
                })
                .catch(error=>{
                    console.log(error);
                });

                axios.post('/api/get/user/all')
                .then(response=>{
                    this.users = response.data;
                })
                .catch(error=>{
                    console.log(error);
                }); 

                axios.get('/api/get/city')
                .then(response=>{
                    this.locations = response.data;
                })
                .catch(error=>{
                    console.log(error);
                });

                axios.get('/api/get/vendor/all')
                .then(response=>{
                    
                    this.vendors = response.data;
                   
                })
                .catch(error=>{
                    console.log(error);
                });
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				position: {
					name:'',
					description:''
				},
				assetcategories:{},
                assetmodels:{},
                assetmanufacturers:{},
                colors:{},
                liquidasset:{},
                user:{},
                locations:{},
                vendors:{},
                id:this.$route.params.id,
				// personal_info: {
				// 	first_name:'',
				// 	last_name:'',
				// 	email:'',
				// 	phone:'',
				// 	department:'',
				// 	role:'',
				// 	position:'',
				// 	active:'',
				// },
				
			}
		},
		methods:{
			previousPage(){
				this.$router.go(-1);
			},
			reset(){
				Object.assign(this.user, this.beforeEditingCache);
			},
			
			sendData(){
				let data = {
					id: this.liquidasset.id,
					asset_category: this.liquidasset.asset_category_id,
					asset_model: this.liquidasset.asset_model_id,
					asset_manufacturer: this.liquidasset.asset_manufacturer_id,
					color_id: this.liquidasset.color_id,
					location: this.liquidasset.location,
					serial_no: this.liquidasset.serial_no,
					
				}

				
				const constraints = this.getConstraints();
				const errors = validate(data,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.asset_manufacturer) ? errors.asset_manufacturer.toString()+'</br>' : '')+((errors.asset_model) ? errors.asset_model.toString()+'</br>' : '')+((errors.asset_category) ? errors.asset_category.toString()+'</br>' : '')+((errors.serial_no) ? errors.serial_no.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/liquidasset',data)
						  .then(response=>{
						  	this.beforeEditingCache = Object.assign({}, response.data[0]);
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendSecondData(){
				let data = {
					id: this.liquidasset.id,
					maintenance : this.liquidasset.maintenance,
					active: this.liquidasset.active,
					retired: this.liquidasset.retired,
	
				}

				
				const constraints = this.getSecondConstraints();
				const errors = validate(data);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: 'error',
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit-second/liquidasset',data)
						  .then(response=>{
                           
						  	this.beforeEditingCache = Object.assign({}, response.data[0]);
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendThirdData(){
				let data = {
					id: this.liquidasset.id,
					purchase_amount : this.liquidasset.purchase_amount,
					purchase_date: this.liquidasset.purchase_date,
					vendor: this.liquidasset.vendor_id,

				}

				
				axios.post('/api/edit-third/liquidasset',data)
						  .then(response=>{
						  	this.beforeEditingCache = Object.assign({}, response.data);
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				
				
			},
			sendFourthData(){
				let data = {
					id: this.user.id,
					bank_id : this.user.bank_id,
					account_no: this.user.account_no,
					account_type: this.user.account_type,

				}

				
				axios.post('/api/edit-fourth/user',data)
						  .then(response=>{
						  	this.beforeEditingCache = Object.assign({}, response.data);
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				
				
			},
			sendFifthData(){
				let data = {
					id: this.user.id,
					salary_component : this.user.salary_component,
					salary: this.user.salary,
					pay_frequency: this.user.pay_frequency,

				}

				
				axios.post('/api/edit-fifth/user',data)
						  .then(response=>{
						  	this.beforeEditingCache = Object.assign({}, response.data);
						  
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				
				
			},
			
			getConstraints(){
				return{
					serial_no:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					asset_manufacturer:{
						numericality: {
                              onlyInteger: true,
                              message: "must be selected"
                              
                            }
						
					},
					asset_model: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					  },
					  asset_category: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					  },
					  
					  }
				
			},
			getSecondConstraints(){
				return{
					relative_name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					relative_relationship:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					relative_phone_no:{
						numericality: {
                              onlyInteger: true,
                              message: "can't be empty or must be numbers"
                              
                            },
						
					},
					
					
				}
			},
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	input,select{
		text-transform: capitalize!important;
	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
    input[type*="email"]{
    text-transform: lowercase!important;
    }
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>