<template>
	<div>
	    <div class="page-header">
	        <h2>Users Paye</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Paye</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                 	

					
						<bank ref="bankDT" @edit="edit"></bank>


						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content" style="font-size:15px;">
						                        <h3>Add Paye</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             <label for="email_address">User</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="paye.user" required>
			                                            		<option value="">Select User</option>
			                                            		<option v-for="user in users" :value="user.id" v-if="!user.paye">{{user.first_name}} {{user.last_name}}</option>
			                                            	</select>
                                                        </div>
                                                    </div> 

                                                    <label for="email_address">Paye</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="bank" class="form-control" placeholder="Enter Bank Name" v-model="paye.amount" required />
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>



						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content" style="font-size:15px;">
						                        <h3>Edit Paye</h3>
						                        <div>
						                        	<form @submit.prevent="sendEditData()" autocomplete="off">
						                             <label for="email_address">Amount</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="earning" class="form-control" placeholder="Enter Amount" v-model="editvalue.amount" required />
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import Bank from '../../datatables/finance-administration/paye/Tax';
	export default{
		components: {
          Bank
        },
        watch: {
            // whenever question changes, this function will run
          
            'paye.amount': function(newValue){
            	if(this.paye.amount){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.paye.amount = result);
        		}
        	}
          },
        mounted(){
        	// if(!this.$store.state.projects.length){
        		axios.get('/api/get/user/without-paye')//This one is used to load the uncosted projects used in the modal
        			.then(response =>{
        				this.users = response.data;

        			})
        	// }
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				users:[],
				paye:{
					user:'',
					amount:''
				},
				editvalue:{},
				ibdex:'',
				// watcher: true,
				
			}
		},
		methods:{
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editvalue, this.beforeEditingCache);
				this.editmodal = false;
			},
			edit(value,index){
				this.editvalue = value;
				this.index = index;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editvalue);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.paye,constraints);
				// console.log(this.name);
				// if(this.name.trim() === ''){
				// 	this.$notify({
				// 		  	  group: 'foo',
				// 		  	  type: 'error',
				// 		  	  title: 'Notification',
				// 		  	  text: "File must not be empty",
				// 		  	  duration: 10000,
				// 		  	});
				// 	return;
				// }
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.amount) ? errors.amount.toString()+'</br>' : '')+((errors.user) ? errors.user.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/tax',this.paye)
						  .then(response=>{
						  	// console.log(response.data);
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	if(this.$store.state.tax.length >= this.$store.state.tax_pag.per_page && this.$store.state.tax_pag.total >= 10){
						  		this.$store.state.tax.splice(-1,1);
						  		this.$store.state.tax.unshift(response.data[0]);
						  		this.$store.state.tax_pag.next_page_url = this.$store.state.tax_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.tax_pag.total = this.$store.state.tax_pag.total + 1;
						  		this.$refs.bankDT.configPagination(this.$store.state.tax_pag);

						  	}else{
						  		this.$store.state.tax.unshift(response.data[0]);
						  		this.$store.state.tax_pag.to = this.$store.state.banks_pag.to + 1;
						  		this.$store.state.tax_pag.from = 1;
						  		this.$store.state.tax_pag.total = this.$store.state.tax_pag.total + 1;
						  		this.$refs.bankDT.configPagination(this.$store.state.tax_pag);
						  	}
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  

						  	var check = this.users.find((user)=> user.id == this.paye.user)
							var id = this.users.indexOf(check);
							this.users.splice(id,1);

							this.paye={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getEditConstraints();
				const errors = validate(this.editvalue,constraints);
				// const errors = null;
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: errors.amount.toString(),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/tax',this.editvalue)
						  .then(response=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editvalue={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					amount:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},

					user:{
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					}
				}
			},
			getEditConstraints(){
				return{
					amount:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},

				}
			},
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>