<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="projects.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "projects"
                       :fields = "json_fields"
                       name    = "Project receivables.xls"
                       page    = "project_receivables">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "projects"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Project receivables.csv"
                       page    = "project_receivables">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="projects.length > 0">
                <tr v-for="(project, i) in projects" :key="project.id">
                    <td>
                      {{project.id}}
                    </td>

                    <td>
                      {{project.name}}
                    </td>

                    <td>
                      {{ addCommas(getTotal(project.individualprojectphases)) }}
                    </td>

                    <td>
                      {{project.client_payments.length ? addCommas(project.client_payments[0].amount) : 0}}
                    </td>

                    <td>
                      {{ addCommas(checkExpenses(project)) }}
                    </td>
                    <!--Add commas before displaying-->
                    <td :class="sign(getDifference(project)) ? '' : 'red' ">

                      {{ addCommas( getDifference(project) ) }}

                    </td>
                    <!-- <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                              
                               <li><router-link :to="{ name: 'edit-project', params: { id: project.id } }"><i class="material-icons">edit</i>View/Edit</router-link></li>
                               
                           </ul>
                       </div>
                    </td> -->
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="projects.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="projects.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import moment from 'moment';
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    created() {
        
            this.getProjects();
       
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '5%', label: 'ID', name: 'id', sortable: true },
            {width: '20%', label: 'Project Name', name: 'name', sortable: true},
            {width: '20%', label: 'Project Cost', name: 'build', sortable: false},
            {width: '20%', label: 'Total Paid', name: 'client_payment', sortable: false},
            {width: '20%', label: 'Actual Expenses', name: 'expenses', sortable: false},
            {width: '15%', label: 'Variance', name: 'difference', sortable: false},
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'Project ID': 'id',
              'Project Name': 'name',
              'Project Cost': 'cost_x',
              'Total Paid': 'paid_x',
              'Actual Expenses': 'expense_x',
              'Variance': 'variance_x',
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,
            diff: ''


        }
    },
    methods: {

        pdfExport(){
            this.projects.page = "project_receivables"
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Project Name", dataKey: "name" },
            {title:"Project Cost", dataKey: "cost_x" },
            {title:"Total Paid", dataKey: "paid_x" },
            {title:"Project Expenses", dataKey: "expense_x" },
            {title:"Variance", dataKey: "variance_x" }
            ];

            var doc = new jsPDF('p','pt');
            doc.autoTable(columns, this.projects);
            doc.save('Project receivables.pdf');
        },
        getProjects(url = '/api/project-receivables') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                  // console.log(response.data);
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadProject", data);
                    
                        // console.log(this.$store.state.projects);
                        this.configPagination(this.$store.state.projects_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                  console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        addCommas(x){
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        makeMoment(value){//Format dates for raw display
          return moment(value).format('MMMM Do YYYY');
        },

        getTotal(phases){
          
          //Using this.total caused the code to squak of infinite loop
          //But using this local variable, it worked fine
          let total = 0
          phases.forEach((phase) =>{

              phase.phase_material.forEach((material) => {
                if(material.extra == 0){//Only used materials captured during the project costing  
                  total += (parseInt(material.amount) * parseInt(material.quantity));
                }
              });

              phase.phase_labour.forEach((labour) => {
                if(labour.extra == 0){//Only used labours captured during the project costing  
                  total += (parseInt(labour.amount) * parseInt(labour.quantity));
                }
              });  

          });
          
       
          return total;
        },

        checkExpenses(project){
          // console.log(phases);
          /*let expenses = 0;
          phases.forEach((phase) =>{

            phase.expense_record.forEach((expense) =>{
              expenses += expense.amount;
            })

          });

          return expenses;*/
          if(project.expense_records_amount.length){
            return project.expense_records_amount[0].amount;
          }else{
            return 0
          }

        },

        getDifference(project){
          var value;
          value = (project.client_payments.length ? project.client_payments[0].amount : 0 ) - this.checkExpenses(project);
          return value;
        },

        sign(x){
          if(x < 0){
            return false
          }else{
            return true
          }
        }
        

    },
    computed:{
      projects(){
        return this.$store.state.projects;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}

.red{
  color: red;
}

h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>