<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="values.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       name    = "Vehicle Request.xls"
                       page    = "vehicle_request">


                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Vehicle Request.csv"
                       page    = "vehicle_request">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="values.length > 0">
                <tr v-for="(value, i) in values" :key="value.id">
                    <td>{{value.id}}</td>
                    <td>{{makeMoment(value.departure_date)}}</td>
                    <td>{{makeMoment(value.return_date)}}</td>
                    <td>{{value.destination_address}}</td>
                    <td>{{value.destination_city}}</td>
                    <td>{{value.user.last_name}} {{value.user.first_name}}</td>
                    <!-- <td>{{value.assignedto.user.first_name}} {{value.assignedto.user.last_name}}</td> -->
                    
                    <td>
                      <div v-if="value.request_status==0" class="btn btn-primary btn-sm">Pending</div>
                      <div v-else-if="value.request_status==1" class="btn btn-info btn-sm">Approved</div>
                      <div v-else-if="value.request_status==2" class="btn btn-danger btn-sm">Declined</div>
                      <div v-else class="btn btn-warning btn-sm">Require Attention</div>
                    </td>
                    <td >
                      
                        <div v-if="value.return_status==0" class="btn btn-danger btn-sm">Not Assigned</div>
                    
                      
                      <div v-else-if="value.return_status==1" class="btn btn-info btn-sm">{{value.assetmodel.name}}</div>
                      <div v-else-if="value.return_status==2" class="btn btn-primary btn-sm">{{value.assetmodel.name}}</div>
                     
                      
                    </td>
                    
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                                <li><a href="javascript:void(0);" @click.prevent="$emit('view',value)"><i class="material-icons">visibility</i>View Request</a></li>
                                <li v-if="value.request_status !== 1"><a href="javascript:void(0);" @click.prevent="$emit('edit',value,i)"><i class="material-icons">edit</i>Edit Request</a></li>
                                <li v-if="value.request_status !== 1"><a href="javascript:void(0);" @click.prevent="$emit('approve',value,i)"><i class="material-icons">check</i>Approve Request</a></li>
                                <li v-if="value.return_status === 1"><a href="javascript:void(0);" @click.prevent="$emit('return',value,i)"><i class="material-icons">check</i>Return Vehicle</a></li>
                           </ul>
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="values.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="values.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../Datatable.vue';
import Pagination from '../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
import moment from 'moment';
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    created() {
        if(!this.$store.state.vehicleRequests.length){
            this.getProjects();
        }else{
          
          this.configPagination(this.$store.state.vehicleRequests_pag)
          this.show = false;
        }


        
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '5%', label: 'ID', name: 'id' , sortable: true},
            {width: '13%', label: 'Pickup Date & Time', name: 'departure_date', sortable: true},
            {width: '13%', label: 'Estimated Return', name: 'return_date', sortable: true},
             {width: '17%', label: 'Address', name: 'destination_address', sortable: true},
             {width: '8%', label: 'City', name: 'destination_city', sortable: true},
             {width: '15%', label: 'Name', name: 'created_by', sortable: true},
             {width: '11%', label: 'Request Status', name: 'request_status', sortable: true},
             {width: '12%', label: 'Assignment Status', name: 'return_status', sortable: true},
            {width: '5%', label: 'Actions', name: 'actions', sortable: false},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id',
              'Pick Up Date And Time': 'departure_date_x',
              'Estimated Return Date': 'return_date_x',
              'Address': 'destination_address',
              'City': 'destination_city',
              'Name': 'name_x',
              'Request Status': 'req_status_x',
              'Assignment Status': 'assign_status_x',

                
                        
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,

        }
    },
    methods: {
        makeMoment(value){
          return moment(value).format('MMMM Do YYYY, h:mm a');
        },
        pdfExport(){
            this.values.page="vehicle_request";
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Pick Up Date", dataKey: "departure_date_x" },
            {title:"Estimated Return Date", dataKey: "return_date_x" },
            {title:"Address", dataKey: "destination_address_x" },
            {title:"City", dataKey: "destination_city" },
            {title:"Name", dataKey: "name_x" },
            {title:"Request Status", dataKey: "req_status_x" },
            {title:"Assignment Status", dataKey: "assign_status_x" },
            ];

            var doc = new jsPDF('l','in', [15, 15]);
            doc.autoTable(columns, this.values);
            doc.save('Vehicle Request.pdf');
        },
        getProjects(url = '/api/vehiclerequest') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => { 
                  
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadVehicleRequest", data);
                    
                        this.configPagination(this.$store.state.vehicleRequests_pag);
                    }
                    
                })
                .catch(errors => {
                  this.show = false;
                    
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        showId(value){
          alert(value);
        }
    },
    computed:{
      values(){
        return this.$store.state.vehicleRequests;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 100%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>