<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
            
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="topups.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "topups"
                       :fields = "json_fields"
                       :name   = "'Topups for '+ topups[0].bank_account.account_number +'.xls' "
                       page    = "topups">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "topups"
                       :fields = "json_fields"
                       type    = "csv"
                       :name    = "'Topups for '+ topups[0].bank_account.account_number +'.csv' "
                       page    = "topups">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="topups.length > 0">
                <tr v-for="(topup, i) in topups" :key="topup.id">
                    <td>{{ topup.id }}</td>
                    <td>{{ addCommas(topup.amount) }}</td>
                    <!-- <td>{{ addCommas( topup.amount - getTotalExpense(topup) ) }}</td> -->
                    <td>{{ topup.user.last_name+' '+topup.user.first_name }}</td>
                    <!-- <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                    
                               <li>
                                <a  @click.prevent="$emit('withdraw',{ id : topup.id, index: i, bank_account_id : topup.bank_account_id })"><i class="material-icons">payment</i>Withdraw</a>
                              </li>
                               
                           </ul>
                       </div>
                    </td> -->
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="topups.length < 1" style="text-align:center;">
          No topups on this account yet.
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="topups.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    mounted() {
        
        this.getProjects();
        
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '20%', label: 'ID', name: 'id' , sortable: true},
            {width: '30%', label: 'Amount Deposited', name: 'amount', sortable: true},
            // {width: '25%', label: 'Balance', name: 'balance', sortable: false},
            {width: '30%', label: 'Recorded By', name: 'created_by', sortable: false},
            // {width: '20%', label: 'Actions', name: 'actions', sortable: false},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id',
              'Ammount Deposited': 'amount_x',
              'Recorded by': 'recorder_x',
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            topups:{},
            show: true,
            topup:0
            
            
        }
    },
    methods: {

        pdfExport(){
            this.topups.page = "topups";
            // var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Amount Deposited", dataKey: "amount_x" },
            {title:"Recorded by", dataKey: "recorder_x" },
            ];

            var doc = new jsPDF('p','pt');
            doc.autoTable(columns, this.topups);
            doc.save('Topups for '+ this.topups[0].bank_account.account_number +'.pdf');
        },
        getProjects(url = '/api/bank-account/topups') {
            this.show = true;
            this.tableData.draw++;
            this.tableData.id = this.$route.params.id;
            axios.get(url, {params: this.tableData})
                .then(response => {
                  
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      // this.$store.commit("loadBankAccounts", data);
                      this.topups = data.data.data;
                    
                        this.configPagination(data.data);
                    }
                })
                .catch(errors => {
                  this.show = false;
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },

        getTotalExpense(topup){
          let expense = topup.expense_records_amount.length ? topup.expense_records_amount[0].amount : 0;
          return expense;
        },

        addCommas(x){
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },

        removeCommas(x){
          x=x.replace(/\,/g,''); 
          x=parseInt(x,10);
          return x
        },


    }

};
</script>
<style scoped>

li{
  cursor: pointer;
}
.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>