<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
            
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="bank_accounts.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "bank_accounts"
                       :fields = "json_fields"
                       name    = "Bank accounts.xls"
                       page    = "bank_accounts">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "bank_accounts"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Bank accounts.csv"
                       page    = "bank_accounts">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="bank_accounts.length > 0">
                <tr v-for="(bank_account, i) in bank_accounts" :key="bank_account.id">
                    <td>
                      {{ bank_account.id }}
                    </td>

                    <td>
                      {{ bank_account.account_name }}
                    </td>

                    <td>
                      {{ bank_account.account_number }}
                    </td>

                    <td>
                      {{ addCommas(getTotalExpense(bank_account)) }}
                    </td>

                    <td>
                      {{ addCommas(getTotalDeposit(bank_account)) }}
                    </td>

                    <td :class="(getTotalDeposit(bank_account) - getTotalExpense(bank_account)) >= 0 ? '' : 'red' ">
                      {{ addCommas(getTotalDeposit(bank_account) - getTotalExpense(bank_account)) }}
                    </td>

                    <td>
                      {{ bank_account.bank.name }}
                    </td>

                    <td>
                      {{ bank_account.branch }}
                    </td>

                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                               <li>
                                <a  @click.prevent="$emit('edit',bank_account)"><i class="material-icons">edit</i>Edit</a>
                              </li>

                              <li>
                                <a @click.prevent="$emit('topup',{ id : bank_account.id, index: i })"><i class="material-icons">payment</i>Topup</a>
                              </li>

                              <li>
                                <a  @click.prevent="$emit('withdraw',{ index: i, id : bank_account.id })"><i class="material-icons">payment</i>Withdraw</a>
                              </li>

                              <li>
                                <router-link :to="{ name: 'bank-account-topups', params: { id: bank_account.id} }"><i class="material-icons">info</i>View Topups</router-link>
                              </li>

                              <li>
                                <router-link :to="{ name: 'bank-account-expenses', params: { id: bank_account.id} }"><i class="material-icons">info</i>View Expenses</router-link>
                              </li>
                               
                           </ul>
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="bank_accounts.length < 1" style="text-align:center;">
          No bank account registered
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="bank_accounts.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    mounted() {
        this.getProjects();
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '10%', label: 'ID', name: 'id' , sortable: true},
            {width: '15%', label: 'Account Name', name: 'account_name', sortable: true},
            {width: '10%', label: 'Account No.', name: 'account_number', sortable: true},
            {width: '10%', label: 'Expenses', name: 'expenses', sortable: false},
            {width: '10%', label: 'Deposits', name: 'revenue', sortable: false},
            {width: '15%', label: 'Balance', name: 'balance', sortable: false},
            {width: '10%', label: 'Bank', name: 'bank', sortable: false},
            {width: '10%', label: 'Branch', name: 'branch', sortable: true},
            {width: '10%', label: 'Actions', name: 'actions', sortable: false},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id',
              'Account name': 'account_name',
              'Account number': 'account_number',
              'Expenses': 'expenses_x',
              'Deposits': 'deposits_x',
              'Balance': 'balance_x',
              'Bank': 'bank.name',
              'Branch': 'branch',
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,
            topup:0
            
            
        }
    },
    methods: {

        pdfExport(){
            this.bank_accounts.page = "bank_accounts";
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Account name", dataKey: "account_name" },
            {title:"Account number", dataKey: "account_number" },
            {title:"Expenses", dataKey: "expenses_x" },
            {title:"Deposits", dataKey: "deposits_x" },
            {title:"Balance", dataKey: "balance_x" },
            {title:"Bank", dataKey: "bank.name" },
            {title:"Branch", dataKey: "branch" },
            ];

            var doc = new jsPDF('l','pt');
            doc.autoTable(columns, this.bank_accounts);
            doc.save('Bank accounts.pdf');
        },
        getProjects(url = '/api/bank-accounts') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                  
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadBankAccounts", data);
                    
                        this.configPagination(this.$store.state.bank_accounts_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },

        getTotalExpense(account){
          let expense = account.expense_records_amount.length ? account.expense_records_amount[0].amount : 0;
          return expense;
        },

        getTotalDeposit(account){
          let client = account.client_payments_amount.length ? account.client_payments_amount[0].amount : 0;
          let topup = account.bank_account_topups_amount.length ? account.bank_account_topups_amount[0].amount : 0;

          return client + topup;
          
        },

        addCommas(x){
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },

        removeCommas(x){
          x=x.replace(/\,/g,''); 
          x=parseInt(x,10);
          return x
        },

        receiveTopup(topup, index){
          // this.getTotalDeposit(this.bank_accounts[index], topup);
          //The below code prevents the bug of undefined
          if(this.bank_accounts[index].bank_account_topups_amount.length){
            this.bank_accounts[index].bank_account_topups_amount[0].amount += this.removeCommas(topup);
          }else{
            this.bank_accounts[index].bank_account_topups_amount =[{bank_account_id:this.bank_accounts[index].id, amount: this.removeCommas(topup)}]
          }
          
        },

        receiveWithdrawal(amount, index){
          // this.getTotalDeposit(this.bank_accounts[index], topup);
          //The below code prevents the bug of undefined
          if(this.bank_accounts[index].expense_records_amount.length){
            this.bank_accounts[index].expense_records_amount[0].amount += this.removeCommas(amount);
          }else{
            this.bank_accounts[index].expense_records_amount =[{bank_account_topup_id:this.bank_accounts[index].id, amount: this.removeCommas(amount)}]
          }
          
        }


    },
    computed:{
      bank_accounts(){
        return this.$store.state.bank_accounts;
      }
    }
};
</script>
<style scoped>

li{
  cursor: pointer;
}
.red{
  color: red
}

.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>