<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
            
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="expenses.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "expenses"
                       :fields = "json_fields"
                       :name   = "'Expenses for '+ expenses[0].bank_account.account_number +'.xls'"
                       page    = "expenses">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "expenses"
                       :fields = "json_fields"
                       type    = "csv"
                       :name   = "'Expenses for '+ expenses[0].bank_account.account_number +'.csv'">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="expenses.length > 0">
                <tr v-for="(expense, i) in expenses" :key="expense.id">
                    <td>{{ expense.id }}</td>
                    <td>{{ addCommas(expense.amount) }}</td>
                    <td>{{ makeMoment( expense.date ) }}</td>
                    <td>{{ expense.user.last_name+' '+expense.user.first_name }}</td>
                    <td>{{ getExpenseOn(expense)}}</td>
                    <td>{{ getExpenseType(expense)}}</td>
                    <td>{{ expense.notes ? expense.notes : 'No note'}}</td>
                    
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="expenses.length < 1" style="text-align:center;">
          No Expense on this account yet.
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="expenses.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
import moment from 'moment'
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    mounted() {
        
        this.getProjects();
        
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '10%', label: 'Expense ID', name: 'id' , sortable: true},
            {width: '15%', label: 'Amount', name: 'amount', sortable: true},
            {width: '15%', label: 'Date', name: 'date', sortable: true},
            {width: '15%', label: 'Recorded By', name: 'created_by', sortable: false},
            {width: '15%', label: 'Expense On', name: 'material_and_services_id', sortable: false},
            {width: '15%', label: 'Expense Type', name: 'material_and_services_type', sortable: false},
            {width: '15%', label: 'Note', name: 'note', sortable: true},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'Expense ID': 'id',
              'Amount': 'amount_x',
              'Date': 'date_x',
              'Recorded by': 'recorder_x',
              'Expense On': 'expense_on_x',
              'Expense Type': 'expense_type_x',
              'Note': 'notes_x',
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            expenses:{},
            show: true,
            expense:0
        }
    },
    methods: {

        pdfExport(){
            this.expenses.page = 'expenses';
            var vm = this;
            var columns = [
            {title:"Expense ID", dataKey: "id" },
            {title:"Amount", dataKey: "amount_x" },
            {title:"Date", dataKey: "date_x" },
            {title:"Recorded by", dataKey: "recorder_x" },
            {title:"Expense On", dataKey: "expense_on_x" },
            {title:"Expense Type", dataKey: "expense_type_x" },
            {title:"Note", dataKey: "notes_x" },
            ];

            var doc = new jsPDF('l','pt');
            doc.autoTable(columns, this.expenses);
            doc.save('Expenses for '+ this.expenses[0].bank_account.account_number +'.pdf');
        },
        getProjects(url = '/api/bank-account/expenses') {
            this.show = true;
            this.tableData.draw++;
            this.tableData.id = this.$route.params.id;
            axios.get(url, {params: this.tableData})
                .then(response => {
                  
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      // this.$store.commit("loadBankAccounts", data);
                      this.expenses = data.data.data;
                    
                        this.configPagination(data.data);
                    }
                })
                .catch(errors => {
                  this.show = false;
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },

        addCommas(x){
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },

        removeCommas(x){
          x=x.replace(/\,/g,''); 
          x=parseInt(x,10);
          return x
        },

        makeMoment(value){//Format dates for raw display
          return moment(value).format('MMMM Do YYYY');
        },

        getExpenseOn(expense){

          if(expense.material_and_service == null){

            if(expense.pay_period_id){

              return 'Salary Payment';

            } else{

              return 'Topup Withrawal';

            }

          }else{

            return expense.material_and_service.name;

          }

        },

        getExpenseType(expense){
          
          if(expense.material_and_service == null){

            if(expense.pay_period_id){

              return 'Salary Payment';

            } else{

              return 'Topup Withrawal';

            }

          }else{

            return expense.material_and_service.type.name;
            
          }
        }

    }

};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>