<template>
	<div>
	    <div class="page-header">
	        <h2>Receivables</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">Account Receivables</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                	<project ref ="projectDT"></project>
	                	<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
		                    <div class="md-content">
		                        <h3>Add Project</h3>
		                        <div>
		                        	<form @submit.prevent="sendData()" autocomplete="off">
			                            <label for="email_address">Project Name</label>
	                                    <div class="form-group">
	                                        <div class="form-line">
	                                            <input type="text" class="form-control" placeholder="Enter Project Name" v-model="project.name" required />
	                                        </div>
	                                    </div>

	                                    <label for="email_address">Project Date</label>
	                                    <div class="form-group">
	                                        <div class="form-line">
	                                            <datetime type="date" class="form-control" v-model="project.date" required> </datetime>
	                                        </div>
	                                    </div>

	                                    <label for="email_address">Department</label>
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<select class="form-control" v-model="project.department" required>
                                            		<option v-for="department in departments" :value="department.id">{{department.name}}</option>
                                            	</select>
                                                
                                            </div>
                                        </div>

                                        <label for="email_address">Project Cost</label>
	                                    <div class="form-group">
	                                        <div class="form-line">
	                                            <input type="text" class="form-control" v-model="project.cost" required />
	                                        </div>
	                                    </div>

	                                    <label for="email_address">Make Active</label>
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<select class="form-control" v-model="project.active" required>
                                            		<option value="1">Yes</option>
                                            		<option value="0">No</option>
                                            	</select>
                                                
                                            </div>
                                        </div>

                                        <label for="project_type">Project Type</label>
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<select class="form-control" v-model="project.type" required>
                                            		<option value="1">Capital Project</option>
                                            		<option value="0">Operations Project</option>
                                            	</select>
                                                
                                            </div>
                                        </div>


			                           	<div class="mfooter">
			                           	<button class="btn btn-info">Submit</button>
			                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
			                           	
			                           	</div>
		                            
		                        	</form>
		                        </div>
		                   </div>
						</div>
	                	
	                	
					</div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
					
	        	</div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js';
import moment from 'moment';
import project from '../../datatables/finance-administration/account-receivable/ProjectReceivable';
validate.extend(validate.validators.datetime, {
  // The value is guaranteed not to be null or undefined but otherwise it
  // could be anything.
  parse: function(value, options) {
    return +moment.utc(value);
  },
  // Input is a unix timestamp
  format: function(value, options) {
    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
    return moment.utc(value).format(format);
  }
});
	export default{
		components: {
         project
        },
        mounted(){
        	axios.get('/api/get/department')
        		 .then(response=>{
        		 	this.departments = response.data;
        		 	// console.log(response.data)
        		 }).catch(error=>{
        		 	console.log(error);
        		 });

        },
		data(){
			return{
				modal:false,

				departments: {},
				// closeModal: () =>{this.modal = false}, //Short way of 


				project:{
					name: '',
					date: '',
					department: '',
					cost: '',
					usedcost: '',
					type: '',
					active: ''
				},
				watcher: true,//Determines wether or not the comma adder runs
			}
		},
		watch: {//watch for changes in the project cosr
        	'project.cost': function(newValue){
        		if(this.watcher){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.project.cost = result);
        	    }
        		
        	}

        },

		methods:{

			sendData(){
			const constraints = this.getConstraints();
				const errors = validate(this.project,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.date) ? errors.date.toString()+'</br>' : '')+((errors.department) ? errors.department.toString()+'</br>' : '')+((errors.cost) ? errors.cost.toString()+'</br>' : '')+((errors.active) ? errors.active.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
					this.watcher= false; //turn off watcher to prevent errors
					this.project.usedcost = this.removeCommas(this.project.cost);//remove comma before inserting in db
				axios.post('/api/add/project',this.project)
						  .then(response=>{
						  	
						  	if(this.$store.state.projects.length >= this.$store.state.projects_pag.per_page && this.$store.state.projects_pag.total >= 10){
						  		this.$store.state.projects.splice(-1,1);
						  		this.$store.state.projects.unshift(response.data);
						  		this.$store.state.projects_pag.next_page_url = this.$store.state.projects_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.projects_pag.total = this.$store.state.projects_pag.total + 1;
						  		this.$refs.projectDT.configPagination(this.$store.state.projects_pag);

						  	}else{
						  		this.$store.state.projects.unshift(response.data);
						  		this.$store.state.projects_pag.to = this.$store.state.projects_pag.to + 1;
						  		this.$store.state.projects_pag.from = 1;
						  		this.$store.state.projects_pag.total = this.$store.state.projects_pag.total + 1;
						  		this.$refs.projectDT.configPagination(this.$store.state.projects_pag);
						  	}
							this.modal = false;
						  	this.project = {};
						  	this.watcher = true;
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						
						  })
						  .catch(error=>{
						  	this.watcher = true;
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},//End SendData
			closeModal(){
				this.modal = false;
				this.project={};
			},

			removeCommas(x){
				x=x.replace(/\,/g,''); 
				x=parseInt(x,10);
				return x
			},

			getConstraints(){
				return{
					name:{
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					date: {

					    datetime: {
					      dateOnly: true,
					      message: "Invalid Date "
					    }
					},
					department: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					},
					cost: {
					
						presence: {
							allowEmpty: false,
							message:"can't be empty"
						},
					},
					active: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					},

				}
			}//End Constraint
			
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>