<template>
	<div style="height:100%; width:100%;background: #03A9F4;position: fixed;">
	<div class="login-page">
	<div class="login-box">
	    <div class="card">
	        <div class="body">
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="login-logo">
	                        <img src="../images/rytegate-fav.png" alt="" class="img-responsive img-circle align-center" style="border-radius: unset;height: 9em;"/>
	                        <p>Operations Manager</p>
	                    </div>
	                </div>
	            </div>
	            <span style="color:red;">{{error}}</span>
	            <form id="log_in" autocomplete="off" @submit.prevent="authenticate()">
	                <div class="input-group addon-line">
	                    <span class="input-group-addon">
	                        <i class="material-icons">person</i>
	                    </span>
	                    <div class="form-line">
	                        <input type="email" class="form-control" v-model="form.email" placeholder="Email Address" required="" autofocus="" />
	                    </div>
	                </div>
	                <div class="input-group addon-line">
	                    <span class="input-group-addon">
	                        <i class="material-icons">lock</i>
	                    </span>
	                    <div class="form-line">
	                        <input type="password" class="form-control" v-model="form.password" placeholder="Password" required="" />
	                    </div>
	                </div>
	                <div class="form-group" style="display:flex; justify-content:space-between;">

	                    <label class="eagle-check custom-checkbox" style="margin-left:10px;">
                            <input type="checkbox" class="eagle-check-input">
                            <span class="eagle-check-indicator"></span>
                            <span class="eagle-check-description">Remember Me</span>
                        </label>
	                    <div style="margin-right:10px;">
	                        <a href="./forgot-password.html">Forgot Password?</a>
	                    </div>
	                </div>

	                <button class="btn btn-block btn-primary waves-effect" type="submit">LOG IN</button>


	            </form>
	        </div>
	    </div>
	</div>
</div>
</div>
</template>


<script>
	import {login} from '../../helpers/auth';
	export default {
		data(){
			return{
				form: {
					email: '',
					password: ''
				},
				error: null, 
			}
		},
		methods: {
			authenticate(){
				this.$store.dispatch('login');

				login(this.form)
					.then((res) => {
						this.$store.commit("loginSuccess", res);
            			window.location='/';

					})
					.catch((error) => {
						console.log(error)
						this.$store.commit("loginFailed", {error});
						 this.error = this.$store.state.auth_error;
					})
			}
		}
	}
</script>

<style scoped>
	
</style>