<template>

	<div v-if="newRequisition">

        <div class="notifications" style="width: 300px; top: 0px; right: 0px;" v-if="submitting">
          <span>
            <div data-id="6" class="notification-wrapper" style="transition: all 300ms;">
              <div class="notification vue-notification" style="background:grey; border-left-color:#ccc"><div class="notification-title">Notification</div> 
              <div class="notification-content">Please Wait...</div>
            </div></div>
          </span>
        </div>

	    <div class="page-header">
	        <h2>Add New Requisition</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">

	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Go Back</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>

	            <div class="card" style="min-height: 900px; height:auto">
	                <div class="body forum">

	                	<div class="col-lg-8 col-xlg-8 col-md-8 col-md-offset-2" style="padding:0px;">
                           
                                <div class="md-content">
                                <h3>New Requisition</h3>

                                    <div>

                                        <form @submit.prevent="sendData()" autocomplete="off">

                                            <label for="requester">Who is making the request</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <select class ="form-control" name="requester" v-model="requisition.requester" @change="attachUserName(requisition.requester)">
                                                        <option v-for ="user in users" :value="user.id">
                                                            {{ user.last_name +' '+ user.first_name }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <label for="date">Date Needed</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <datetime type="date" class="form-control" v-model="requisition.date" required> </datetime>
                                                </div>
                                            </div>

                                            <label for="Phase">Project's Phase</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <select class ="form-control" name="phase" v-model="requisition.individual_project_phases_id" @change="load_materials(requisition.individual_project_phases_id)" >
                                                        <option value="">Select Phase</option>
                                                        <option v-for ="phase in individual_project_phases" :value="phase.id">
                                                            {{phase.projectphase.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <label for="Phase" v-if="!project.type">Week</label>
                                            <div class="form-group" v-if="!project.type">
                                                <div class="form-line">
                                                    <select class ="form-control" name="phase" v-model="requisition.costing_week_id" @change="load_days(requisition.costing_week_id)" >
                                                        <option value="0">Select Week</option>
                                                        <option value="x" v-if="requisition.costing_week_id == 'x'">No Week For The Selected Phase</option>
                                                        <option v-for ="costing_week in costing_weeks" :value="costing_week.id">
                                                            {{ makeMoment(costing_week.start_date) +' - '+ makeMoment(costing_week.end_date)}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <label for="Phase" v-if="!project.type">Day</label>
                                            <div class="form-group" v-if="!project.type">
                                                <div class="form-line">
                                                    <select class ="form-control" name="phase" v-model="requisition.costing_day" @change="load_day_materials(requisition.costing_day)" >
                                                        <option value="">Select Day</option>
                                                        <option value="x" v-if="requisition.costing_week_id == 'x'">No Week Selected</option>
                                                        <option v-for ="costing_day in costing_days" :value="costing_day">
                                                            {{ makeMoment(costing_day.date) }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <label for="Phase" v-if="!in_budget">Select Material Category</label>
                                            <div class="form-group" v-if="!in_budget">
                                                <div class="form-line">
                                                    <select class ="form-control" name="phase" v-model="cat_id" @change="load_all_materials(cat_id)" >
                                                        <option value="">Select Category</option>
                                                        <option v-for ="category in categories" :value="category.id" >
                                                            {{category.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                
                                            
                                            <div style="display:flex; justify-content:space-between;">

                                                <div class="form-group" style="margin-left:15px;">
                                                    <div class="" >
                                                        <label for="" style="font-weight:bold">Material<span v-text="in_budget ? '(Budget)' : '(From Setup)' "></span></label>
                                                    </div>
                                                </div>

                                                <div class="form-group" style="margin-left:15px;">
                                                    <div class="" >
                                                        <label for="" style="font-weight:bold">Quantity</label>
                                                    </div>
                                                </div>


                                            </div>

                                            <div v-for="(newProjectMaterial, i) in newProjectMaterials" style="display:flex; justify-content:space-between;">
                                                <!-- If this requisition material was captured in the project costing for this phase  -->
                                                <div class="form-group" style="margin-left:15px;" v-if="in_budget">
                                                    <div class="form-line">
                                                        
                                                        <select class="form-control" v-model="newProjectMaterial.project_material_id" @change ="attachName(i, newProjectMaterial.project_material_id, true)" required>
                                                            <option value="">Select Material</option>
                                                            <option v-for="project_material in stored_materials" :value="project_material.id">      
                                                                {{project_material.material_and_service.name}}
                                                            </option>
                                                            
                                                        </select>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <!-- Else you would want to load all the materials based on the selected category excluding those ones already captured -->
                                                <div class="form-group" style="margin-left:15px;" v-else>
                                                    <div class="form-line">
                                                        
                                                        <select class="form-control" v-model="newProjectMaterial.material_and_services_id" @change ="attachName(i, newProjectMaterial.material_and_services_id, false)" required>
                                                            <option value="">Select Material</option>
                                                            <option v-for="material in category_materials" :value="material.id">      
                                                                {{material.name}}
                                                            </option>
                                                            
                                                        </select>
                                                        
                                                    </div>
                                                    
                                                </div>

                                                <div class="form-group" style="margin-left:15px;">
                                                    <div class="form-line">

                                                        <input type="number" min="1" class="form-control" v-model="newProjectMaterial.quantity" required />
                                                        
                                                    </div>    
                                                </div>

                                                <!--Show delete if the index is > 0 i.e only from the second item up-->
                                                <button @click.prevent="deleteNewMaterialRow(i)" v-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                                    <em class="material-icons md-8">delete</em>

                                                </button>

                                            </div>
                                            <button @click.prevent="addMaterialRow()" class="btn btn-primary flexit">
                                                <em class="material-icons">add</em>
                                                <span class="line">Extra Material</span>
                                            </button>
                                            <p style="font-size:0.8em">
                                                <a href="#" @click.prevent="in_budget=!in_budget" v-text="in_budget ? 'Needed material not in budget?' : 'Needed material already in budget?' "></a>
                                            </p>
                                            <hr style="margin-top:0;">
                                            <label for="note">Notes</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea class="form-control" v-model="requisition.note" required></textarea>
                                                </div>
                                            </div>

                                            <li class="eagle-checkbox">
                                                <label class="eagle-check custom-checkbox" >
                                                    <input type="checkbox" class="eagle-check-input" @click="requisition.pay_before_delivery = !requisition.pay_before_delivery;"/>
                                                    <span class="eagle-check-indicator"></span>
                                                    <span class="eagle-check-description">Pay Before Delivery</span>
                                                </label>

                                                <label class="eagle-check custom-checkbox">
                                                    <input type="checkbox" class="eagle-check-input" @click="requisition.asset = !requisition.asset"/>
                                                    <span class="eagle-check-indicator"></span>
                                                    <span class="eagle-check-description">Company Asset</span>
                                                </label>
                                            </li>



                                            <div class="mfooter">
                                            <button class="btn btn-info" :disabled="submitting">Submit</button>
                                            <button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
                                            
                                            </div>
                                        </form>
                                    </div>

                                </div>


                        </div>

                    </div>
                
                </div>

	        </div>
			
	    </div>
			 
	</div>
</template>

<script>
import validate from 'validate.js';
import moment from 'moment';
validate.extend(validate.validators.datetime, {
  // The value is guaranteed not to be null or undefined but otherwise it
  // could be anything.
  parse: function(value, options) {
    return +moment.utc(value);
  },
  // Input is a unix timestamp
  format: function(value, options) {
    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
    return moment.utc(value).format(format);
  }
});
// import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         
        },
        mounted(){

            axios.post('/api/get/user/all')
            .then(response=>{
                this.users = response.data
            })
            .catch(error=>{
                console.log(error);
            });

            axios.get('/api/get-all/material_and_service')
            .then(response=>{
                this.material_and_services = response.data
            })
            .catch(error=>{
                console.log(error);
            });

            axios.post('/api/get/material_and_service_categories/all')
            .then(response =>{
                this.categories = response.data;
             })
            .catch(error =>{
                console.log(error);
            });
            
        },
		data(){
			return{
		
                individual_project_phases:[],
                newRequisition: false,
                submitting:false,
                watcher : true,
                //
                requisition:{
                    project_id: this.$route.params.id,
                    asset: false,
                    pay_before_delivery: false,
                    in_budget:true,
                    costing_week_id:0,
                    costing_day:{},
                    individual_project_phases_id:''
                },
                newProjectMaterials:[
                    {
                        material_and_services_id:'',
                        quantity:''
                    }
                ],
                users:{},
                categories:{},
                stored_materials:{},
                stored_day_materials:{},
                category_materials:{},
                in_budget: true,
                cat_id:'',
                project:{},
                costing_weeks:{},
                costing_days:{},
                costing_day:'',

				
			}
		},
        watch: {//watch for changes in the project cosr
                'project.cost': function(newValue){
                    if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.project.cost = result);
                    }
                    
                },

                'in_budget': function(){ //When user changes where the materials come from, reset the select phase and material category
                    this.requisition.individual_project_phases_id ="";
                    this.requisition.in_budget = this.in_budget;
                    this.requisition.costing_week_id = 0;
                    this.requisition.costing_day = {};
                    this.cat_id = "";
                },

                'requisition.individual_project_phases_id' : function(){//When user selects a different phase, reset the materials
                    // This takes care of scenarios where user has already selected multiple items for a different phase
                    this.newProjectMaterials = [
                        {
                            material_and_services_id:'',
                            quantity:''
                        }
                    ];
                }
            },
		methods:{
			previousPage(){
                this.newRequisition = false;
                this.$emit('showRequisitions')
				// this.$router.go(-1);
			},

           
            commafy(index, newValue){//Used when typing cash values
                if(this.watcher){
                    const result = newValue.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      this.$nextTick(() => this.newProjectLabours[index].amount = result);
                      
                    }
            },

            makeMoment(value){//Format dates for raw display
              return moment(value).format('MMMM Do YYYY');
            },

            addCommas(x){//Applied to values coming from the db before they are rendered
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            removeCommas(x){//Applied to values before the are sent to the cotroller
                x=x.replace(/\,/g,''); 
                x=parseInt(x,10);
                return x
            },

            receive(project){//Get the project as sent from the parent component
                this.individual_project_phases = project.individualprojectphases;
                this.project = project;
                this.newRequisition = true;

            },

            load_materials(id){//Based on phase

                var phase = this.individual_project_phases.find(phase=> phase.id == id);
                // console.log(phase);
                if(this.project.type){//To prevent the materials drop down from being populated yet till a day is chosen for Ops project types
                    this.stored_materials = phase.phase_material;
                }else{
                    this.stored_day_materials = phase.phase_material;
                }
                if(phase.costingweek != null){//If this project's phase has some weeks attached to it
                    this.costing_weeks = phase.costingweek;
                }else{
                    this.requisition.costing_week_id = 'x';//Used to display the "No weeks notice"
                }

            },

            

            load_days(id){
                    var week = this.costing_weeks.find(week=> week.id == id);//Get the week chosen
                    this.costing_days = week.costing_day;
                
                
                // console.log(week);
            },

            load_day_materials(day){//Based on day

                let day_materials =[];
                this.stored_day_materials.forEach(material =>{
                    if(material.costing_day_id == day.id){
                        day_materials.push(material);
                    }
                });
                // this.requisition.date = day.date;
                this.requisition.costing_day_id = day.id;
                this.stored_materials = day_materials;//Only after a day is selected should you populate the stored materials

                // console.log(this.stored_materials);
                /*console.log(day_materials);
                console.log(id);*/

            },

            load_all_materials(id){//Based on category
                axios.post('/api/get/category-materials',{category_id : id})
                .then(response =>{
                    // console.log(response.data);
                    this.category_materials = response.data;
                    //Exclude items already in the budget
                    if(this.stored_materials){
                        this.stored_materials.forEach(material =>{
                            //find the material in the full category_material that matches this current loop's own
                            var for_removal = this.category_materials.find(category_material => category_material.id == material.material_and_service.id)
                            // get it's id
                            var id = this.category_materials.indexOf(for_removal);
                            // remove it if it exists
                            if( id > 0){
                                this.category_materials.splice(id, 1);
                                // console.log(id);
                            }
                        
                        });
                    }
                 })
                .catch(error =>{
                    console.log(error);
                });
            },

            addMaterialRow() {
                 this.newProjectMaterials.push({
                    material_and_services_id:'',
                    quantity:'',
                    delete:true
                 });
            },

			reset(){
				Object.assign(this.project, this.beforeEditingCache);
			},

            deleteNewMaterialRow(index) {//Works for the modal to add a material
                this.newProjectMaterials.splice(index,1);
            },

            attachName(index, matIndex, in_budget){
                if(in_budget){
                    var material = this.stored_materials.find(material => material.id == matIndex);
                    if(material){
                        this.newProjectMaterials[index].material_name = material.material_and_service.name;
                    }
                }
                else{
                    var material = this.category_materials.find(material => material.id == matIndex);
                    if(material){
                        this.newProjectMaterials[index].material_name = material.name;
                    }
                }
                // console.log(material);
            },

            attachUserName(userID){
                var user = this.users.find(user => user.id == userID);
                // console.log(material);
                this.requisition.requesterLastName = user.last_name;
                this.requisition.requesterFirstName = user.first_name;
            },

            sendData(){
                
                this.submitting = true;
                // console.log(this.newProjectMaterials);
                axios.post('/api/add/purchase-requisition',{ requisition: this.requisition, materials : this.newProjectMaterials, project:this.project.name})
                          .then(response=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            this.requisition={
                                project_id: this.$route.params.id,
                                asset: false,
                                pay_before_delivery: false,
                                in_budget:true,
                                costing_week_id:0,
                                costing_day:{},
                                individual_project_phases_id:''
                            };
                            this.in_budget = true;
                            this.previousPage();
                            
                          })
                          .catch(error=>{
                            console.log(error);
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                
            },
			
			getConstraints(){
                return{
                    name:{
                        presence: {
                            allowEmpty: false,
                            message:"can't be empty"
                        },
                        
                    },
                    date: {

                        datetime: {
                          dateOnly: true,
                          message: "Invalid Date "
                        }
                    },
                    department: {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                            }
                    },
                    cost: {
                    
                        presence: {
                            allowEmpty: false,
                            message:"can't be empty"
                        },
                    },
                    active: {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                            }
                    },
                    /*coordinator : {
                    
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                        }
                    },*/

                }
            }
			
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	input,select{
		text-transform: capitalize!important;
	}
    input[type*="email"]{
    text-transform: lowercase!important;
    }
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>