<template>
	<div>
        <div class="notifications" style="width: 300px; top: 0px; right: 0px;" v-if="submitting">
          <span>
            <div data-id="6" class="notification-wrapper" style="transition: all 300ms;">
              <div class="notification vue-notification" style="background:grey; border-left-color:#ccc"><div class="notification-title">Notification</div> 
              <div class="notification-content">Please Wait...</div>
            </div></div>
          </span>
        </div>
	    <div class="page-header">
	        <h2>View / Edit Requisition</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="body forum" style="padding:0px;">

	                	<div class="col-lg-12 col-xlg-12 col-md-12" style="padding:0px;">
                            <div class="card">
                                <div class="profile_body">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-tabs-inline nav-justified" role="tablist">

                                        <li role="presentation" class="active">
                                            <a @click.prevent href="#details" data-toggle="tab" aria-expanded="true"> Details</a>
                                        </li>

                                        <li role="presentation" class="">
                                            <a @click.prevent href="#materials" data-toggle="tab" aria-expanded="false">Requested Materials</a>
                                        </li>
                                        
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">

                                        <div role="tabpanel" class="tab-pane fade active in" id="details" style="height: 750px;">

                                        	<div class="col-md-8 col-md-offset-2">
    						                    <div class="md-content">
    						                       
    						                        <div>
    						                        	<form @submit.prevent="sendData()" autocomplete="off">

                                                            <label for="Vendor Category">Request made by:</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <select class="form-control" v-model="requisition.user_id" >
                                                                        <option value="0">No Requester</option>
                                                                        <option v-for="user in users" :value="user.id">{{user.last_name}} {{user.first_name}}</option>
                                                                        
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <label for="project">Project</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control" v-model="requisition.project.name" required readonly> </input>
                                                                </div>
                                                            </div>

                                                            <label for="project">Project Phase</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control" v-model="requisition.individual_project_phase.projectphase.name" readonly> </input>
                                                                </div>
                                                            </div>

                                                            <label for="project_date">Requisition Date</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <datetime type="date" class="form-control" v-model="requisition.date" required use12-hour> </datetime>
                                                                </div>
                                                            </div>
                                                            
                                                            <label for="project">Note</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control" v-model="requisition.note"> </input>
                                                                </div>
                                                            </div>

                                                            <label for="email_address">Make Active</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <select class="form-control" v-model="requisition.active" >
                                                                        
                                                                        <option value="1">Yes</option>
                                                                        <option value="0">No</option>
                                                                        
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="mfooter">
                                                                <button class="btn btn-info">Update</button>
                                                            </div>
                                                        
                                                        </form>
    						                        </div>

    						                   </div>

    						                </div>
                                            
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="materials" style="min-height: 650px; overflow-y:auto">
                                        
                                            <div class="col-md-12">
                                                <div class="md-content">
                                                   
                                                    <div>
                                                        <requisition-materials ref = "reqMaterialsDT" @addMaterial="addMaterial = true" @deliverModal="openDeliverModal" @makePayment="makePayment" @assignVendor="assignVendor" v-if ="addVendor == false"></requisition-materials>

                                                        <add-vendor ref ="addvendorDT" @vendorAdded="addVendor = false" v-show="addVendor"></add-vendor>
                                                    </div>
                                        
                                               </div>
                                        
                                            </div>
                                            
                                        </div> 

                                    </div>

                                </div>
                                   
                            </div>

                        </div>

                    </div>
                
                </div>

                <!--Modals-->
                <div v-if="addMaterial" class="md-modal md-effect-2 md-show" style="left:54%;">
                    <div class="md-content">
                        <h3>Add New Material</h3>
                        <div>
                            
                            <form @submit.prevent="sendNewMaterialData()" autocomplete="off">
                                                
                                    <label for="Phase" v-if="!in_budget">Select Material Category</label>
                                    <div class="form-group" v-if="!in_budget">
                                        <div class="form-line">
                                            <select class ="form-control" name="phase" v-model="cat_id" @change="load_all_materials(cat_id)" >
                                                <option value="">Select Category</option>
                                                <option v-for ="category in categories" :value="category.id" >
                                                    {{category.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- To enter multiple materials for this requisition -->
                                    <div style="display:flex; justify-content:space-between;">

                                        <div class="form-group" style="margin-left:15px;">
                                            <div class="" >
                                                <label for="" style="font-weight:bold">Material<span v-text="in_budget ? '(Budget)' : '(From Setup)' "></span></label>
                                            </div>
                                        </div>

                                        <div class="form-group" style="margin-left:15px;">
                                            <div class="" >
                                                <label for="" style="font-weight:bold">Quantity</label>
                                            </div>
                                        </div>


                                    </div>

                                    <div v-for="(newProjectMaterial, i) in newProjectMaterials" style="display:flex; justify-content:space-between;">
                                        <!-- If this project material was captured in the project costing for this phase  -->
                                        <div class="form-group" style="margin-left:15px;" v-if="in_budget">
                                            <div class="form-line">
                                                
                                                <select class="form-control" v-model="newProjectMaterial.project_material_id" @change ="attachName(i, newProjectMaterial.project_material_id, true)" required>
                                                    <option value="">Select Material</option>
                                                    <option v-for="project_material in stored_materials" :value="project_material.id">      
                                                        {{project_material.material_and_service.name}}
                                                    </option>
                                                    
                                                </select>
                                                
                                            </div>
                                            
                                        </div>
                                        <!-- Else you would want to load all the materials based on the selected category excluding those ones already captured -->
                                        <div class="form-group" style="margin-left:15px;" v-else>
                                            <div class="form-line">
                                                
                                                <select class="form-control" v-model="newProjectMaterial.material_and_services_id" @change ="attachName(i, newProjectMaterial.material_and_services_id, false)" required>
                                                    <option value="">Select Material</option>
                                                    <option v-for="material in category_materials" :value="material.id">      
                                                        {{material.name}}
                                                    </option>
                                                    
                                                </select>
                                                
                                            </div>
                                            
                                        </div>

                                        <div class="form-group" style="margin-left:15px;">
                                            <div class="form-line">

                                                <input type="number" min="1" class="form-control" v-model="newProjectMaterial.quantity" required />
                                                
                                            </div>    
                                        </div>

                                        <!--Show delete if the index is > 0 i.e only from the second item up-->
                                        <button @click.prevent="deleteNewMaterialRow(i)" v-if="i" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">

                                            <em class="material-icons md-8">delete</em>

                                        </button>

                                    </div>
                
                                    <button @click.prevent="addMaterialRow()" class="btn btn-primary flexit">
                                        <em class="material-icons">add</em>
                                        <span class="line">Extra Material</span>
                                    </button>
                                    <p style="font-size:0.8em">
                                        <a href="#" @click.prevent="in_budget=!in_budget" v-text="in_budget ? 'Needed material not in budget?' : 'Needed material already in budget?' "></a>
                                    </p>
                                <div class="mfooter">
                                    <button class="btn btn-info" v-text="submitting ? 'Please Wait' : 'Submit'" :disabled="submitting"></button>
                                    <button class="btn btn-danger" @click="closeAddMaterial" v-text="'Close'"></button>
                                </div>
                            </form>
                
                        </div>
                
                   </div>
                
                </div>

                <div v-if="deliverModal" class="md-modal md-effect-2 md-show" style="left:54%;max-width: 20%; top:43%;">
                    <div class="md-content">
                       
                        <div>
                        <form @submit.prevent="deliver()" autocomplete="off">
                            <label style="display:block;text-align:center;margin-bottom:15px;">How many was delivered?</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="number" min="1" :max="requisition_material_data.quantity_left" class="form-control" v-model="quantity_delivered">
                                </div>
                            </div>
                            <div class="mfooter" style="margin-bottom:0px; justify-content:center;">

                                <button class="btn btn-info btn-sm">Confirm</button>
                                <button @click.prevent="deliverModal = false" class="btn btn-danger btn-sm">Cancel</button>
                            
                            </div>
                            
                        </form>
                        </div>
                   </div>
                </div>

                <div v-if="paymentModal" class="md-modal md-effect-2 md-show" style="left:54%;">
                    <div class="md-content">
                        <h3>Add Payment</h3>
                        <div>
                        <form @submit.prevent="sendPayment()" autocomplete="off">
                            <label>Select Bank</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <select class="form-control" v-model="payment.bank" required>
                                        <option value="">Select Bank</option>
                                        <option v-for="bank_account in bank_accounts" :value="bank_account.id">      
                                            {{bank_account.bank.name + ' - ' +bank_account.account_name +' - '+ bank_account.account_number}}
                                        </option>
                                        
                                    </select>
                                </div>
                            </div>

                            <label>Payment Date</label>
                            <div class="form-group">
                                <div class="form-line">
                                        <datetime type="date" class="form-control" v-model="payment.date" required use12-hour> </datetime>
                                </div>
                            </div>

                            <label>Chart Of Account</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <select class="form-control" v-model="payment.chart_of_account" required>
                                        <option value="">Select Chart</option>
                                        <option v-for="chart_of_account in chart_of_accounts" :value="chart_of_account.id">      
                                            {{chart_of_account.name}}
                                        </option>
                                        
                                    </select>
                                </div>
                            </div>

                            <label>Amount to pay</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" v-model="payment.amount" :placeholder="addCommas(balance)">
                                </div>
                                <p style="color:red; font-weight:bold; font-size:12px" v-if="balError">You can't exceed {{addCommas(balance)}}</p>
                            </div>

                            <div class="mfooter" style="margin-bottom:0px; justify-content:center;">

                                <button class="btn btn-info btn-sm" v-text="submitting ? 'Please Wait' : 'Submit'"></button>
                                <button @click.prevent="paymentModalClose" class="btn btn-danger btn-sm">Cancel</button>
                            
                            </div>
                            
                        </form>
                        </div>
                   </div>
                </div>

                <div v-if="assignVendorModal" class="md-modal md-effect-2 md-show" style="left:54%;">
                    <div class="md-content">
                        <h3>Assign Vendor</h3>
                        <div>
                        <form @submit.prevent="sendVendor()" autocomplete="off">
                            <label>Select Vendor</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <select class="form-control" v-model="selectedVendor" required v-if="usedVendors.length">
                                        <option value="">Select Vendor</option>
                                        <option v-for="vendor in usedVendors" :value="vendor" >      
                                            {{vendor.name +' - '+ addCommas(vendor.chosen_service.cost)}}
                                        </option>
                                        
                                    </select>

                                    <input type="text" class ="form-control" v-if="!usedVendors.length" value="No registered vendor has this material" readonly>
                                </div>
                            </div>

                            <div class="mfooter" style="margin-bottom:0px; justify-content:center;">

                                <button class="btn btn-info btn-sm" :disabled = "submitting" v-text="submitting ? 'Please Wait' : 'Submit'" v-if="usedVendors.length"></button>
                                <button class="btn btn-info btn-sm" v-else @click.prevent="addVendorPage"> Add Vendor? </button>
                                <button @click.prevent="assignVendorModalClose" class="btn btn-danger btn-sm">Cancel</button>
                            
                            </div>
                            
                        </form>
                        </div>
                   </div>
                </div>
                
                <div v-if="addMaterial" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
                <div v-if="deliverModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
                <div v-if="paymentModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
                <div v-if="assignVendorModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			
	    </div>
			 
	</div>
</template>

<script>
import validate from 'validate.js';
import moment from 'moment';
validate.extend(validate.validators.datetime, {
  // The value is guaranteed not to be null or undefined but otherwise it
  // could be anything.
  parse: function(value, options) {
    return +moment.utc(value);
  },
  // Input is a unix timestamp
  format: function(value, options) {
    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
    return moment.utc(value).format(format);
  }
});
import RequisitionMaterials from '../../datatables/finance-administration/purchase-requisition/ViewRequisitionMaterial';
import AddVendor from './AddVendor';
	export default{
		components: {
         RequisitionMaterials, AddVendor
        },
        mounted(){
            //Get details of this requisition
            // alert('here');
            if(!this.requisitions.length)
            {
                axios.post('/api/get/purchase-requisition-view',{id: this.$route.params.id})
                .then(response=>{

                    this.requisition = response.data[0];
                    this.stored_materials = this.requisition.individual_project_phase.phase_material;

                })
                .catch(error=>{
                    console.log(error);
                });
            }else{
                this.requisition = this.requisitions.find(requisition=> requisition.id == this.$route.params.id);
                this.stored_materials = this.requisition.individual_project_phase.phase_material;
            }



        	axios.post('/api/get/user/all')
            .then(response=>{
                this.users = response.data
            })
            .catch(error=>{
                console.log(error);
            });

            axios.post('/api/get/material_and_service_categories/all')
            .then(response =>{
                this.categories = response.data;
             })
            .catch(error =>{
                console.log(error);
            });

            axios.get('/api/bankaccounts')
            .then(response=>{
                this.bank_accounts = response.data;
                // console.log(response.data);
            })
            .catch(error=>{
                console.log(error);
            });

            axios.post('/api/get/chart_of_accounts')
            .then(response=>{
                this.chart_of_accounts = response.data
            })
            .catch(error=>{
                console.log(error);
            });

            axios.get('/api/get/vendor/all')
            .then(response=>{
                this.vendors = response.data
            })
            .catch(error=>{
                console.log(error);
            });

        },
		data(){
			return{
		
                requisition:{
                    project:{},
                    individual_project_phase:{
                        projectphase:{}
                    }
                },
                users:{},
                newProjectMaterials:[
                    {
                        material_and_services_id:'',
                        quantity:''
                    }
                ],
                categories:{},
                stored_materials:{},
                category_materials:{},
                in_budget: true,
                cat_id:'',
                submitting:false,
                watcher : true,
                addMaterial: false,
                deliverModal: false,
                quantity_delivered: '',
                paymentModal: false,
                ref_payment_data :{},
                balance: 0,
                payment:{
                    bank:'',
                    chart_of_account:'',
                },
                bank_accounts:{},
                chart_of_accounts:{},
                vendors:{},
                usedVendors:[],
                assignVendorModal:false,
                selectedVendor : {},
                material_id:'',//USed in add vendor
                material_and_services_id:'',//Used in add vendor
                addVendor :false,
                balError:false,
                requisitionMaterial:{},
                data:{},//Used in the mail

			}
		},
        watch: {//watch for changes in the payment amount and give it a max value of the balance remaining
                'payment.amount': function(newValue){
                    if(this.watcher){
                        if(this.removeCommas(this.payment.amount) <= this.balance || !this.removeCommas(this.payment.amount)){
                            const result = newValue.replace(/\D/g, "")
                                .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                              this.$nextTick(() => this.payment.amount = result);
                        }else{
                            this.watcher = false
                            this.payment.amount = this.addCommas(this.balance);
                            this.watcher = true;
                            this.balError = true;
                        }
                    }
                    
                },
                'in_budget': function(){ //When user changes where the materials come from, reset the select phase and material category
                    this.cat_id = "";
                },

            },
		methods:{
			previousPage(){
				this.$router.go(-1);
			},

            load_all_materials(id){//Based on category
                axios.post('/api/get/category-materials',{category_id : id})
                .then(response =>{
                    // console.log(response.data);
                    this.category_materials = response.data;
                    //Exclude items already in the budged
                    this.stored_materials.forEach(material =>{
                        //find the material in the full category_material that matches this current loop's own
                        var for_removal = this.category_materials.find(category_material => category_material.id == material.material_and_service.id)
                        // get it's id
                        var id = this.category_materials.indexOf(for_removal);
                        // remove it if it exists
                        if( id > 0){
                            this.category_materials.splice(id, 1);
                            // console.log(id);
                        }
                        

                    });
                 })
                .catch(error =>{
                    console.log(error);
                });
            },

            addCommas(x){
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            removeCommas(x){
                x=x.replace(/\,/g,''); 
                x=parseInt(x,10);
                return x
              },

            newMaterial(){
                if (!this.newProjectMaterials.length)
                {
                    this.newProjectMaterials.push({
                        project_phase_id: '',
                        material_and_services_id:'',
                        amount:'',
                        quantity:'',
                        delete:true
                     });
                }
                this.addMaterial = true;
            },

            addMaterialRow() {
                 this.newProjectMaterials.push({
                   project_phase_id: '',
                   material_and_services_id:'',
                   amount:'',
                   quantity:'',
                   delete:true
                 });
            },
            closeAddMaterial(){
                this.addMaterial = false;
                this.newProjectMaterials=[{
                    material_and_services_id:'',
                    quantity:''
                }];
            },
            deleteNewMaterialRow(index) {//Works  for the modal to add a material
                this.newProjectMaterials.splice(index,1);
            },
            deleteMaterialRow(index) { //Works for existing materials
                this.deleteMaterial(this.projectMaterials[index].id, index);
            },

            attachName(index, matIndex, in_budget){
                if(in_budget){
                    var material = this.stored_materials.find(material => material.id == matIndex);
                    if(material){
                        this.newProjectMaterials[index].material_name = material.material_and_service.name;
                    }
                }
                else{
                    var material = this.category_materials.find(material => material.id == matIndex);
                    if(material){
                        this.newProjectMaterials[index].material_name = material.name;
                    }
                }
            },
            
			sendData(){
                this.submitting = true;
                let data ={
                    id:this.requisition.id,
                    requester:this.requisition.user_id,
                    date:this.requisition.date,
                    active:this.requisition.active,
                    note:this.requisition.note,
                };
				const constraints = this.getConstraints();
				const errors = validate(data,constraints);
				if(errors){
					
					this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: ((errors.requester) ? errors.requester.toString()+'</br>' : '')+((errors.date) ? errors.date.toString()+'</br>' : '')+((errors.active) ? errors.active.toString()+'</br>' : ''),
                              duration: 10000,
                            });
				}else{
				axios.post('/api/update/purchase-requisition',data)
						  .then(response=>{
                            this.submitting = false;
                            this.requisition = response.data[0];
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	
						  })
						  .catch(error=>{
                            this.submitting = false;
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},

            sendNewMaterialData(){
                
                let data ={
                    materials : this.newProjectMaterials, 
                    requisition_id: this.requisition.id,
                    in_budget: this.in_budget,
                    individual_project_phases_id : this.requisition.individual_project_phases_id,
                    project: this.requisition.project.name
                }
                this.submitting = true;
                axios.post('/api/add/requisition-materials', data)
                          .then(response=>{
                            this.submitting = false;
                            this.$refs.reqMaterialsDT.getProjects();
                            this.addMaterial = false;

                            /* this.project.projectmaterials = response.data;
                            this.projectMaterials = response.data;
                            this.projectMaterials.forEach((one)=>{
                                one.amount = this.addCommas(one.amount);
                            })*/
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            /*this.addMaterial = false;
                            this.newProjectMaterials=[];*/
                            
                          })
                          .catch(error=>{
                            console.log(error);
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                
            },

            deleteMaterial(id, index){
                axios.post('/api/delete/projectmaterial',{id : id, project_id: this.project.id})
                  .then(response=>{
                    // console.log(response.data);
                    this.project.projectmaterials =  Object.assign({}, response.data);
                    this.projectMaterials.splice(index,1);
                    this.$notify({
                      group: 'foo',
                      type: 'success',
                      title: 'Notification',
                      text: 'Success!',
                      duration: 10000,
                    });
                    
                  })
                  .catch(error=>{
                    this.$notify({
                      group: 'foo',
                      type: 'error',
                      title: 'Notification',
                      text: error.response.data.error,
                      duration: 10000,
                    });
                  });
            },
            openDeliverModal(data){
                this.requisition_material_data = data;
                this.deliverModal = true;
            },

            deliver(){
                var data = this.requisition_material_data;
                this.$refs.reqMaterialsDT.please_wait();
                axios.post('/api/delivered/requisition-material',{id : data.materialId, quantity:this.quantity_delivered})
                .then(response=>{
                  this.$refs.reqMaterialsDT.delivered(data.index, this.quantity_delivered);
                  this.$notify({
                    group: 'foo',
                    type: 'success',
                    title: 'Notification',
                    text: 'Delivered!',
                    duration: 10000,
                  });
                  this.deliverModal = false;
                })
                .catch(error =>{
                  this.$refs.reqMaterialsDT.not_delivered();
                  this.$notify({
                    group: 'foo',
                    type: 'error',
                    title: 'Notification',
                    text: error.response.data.error,
                    duration: 10000,
                  });
                  this.deliverModal = false;
                })
            },

            makePayment(data){
                // console.log(data);
                this.ref_payment_data = data;
                this.balance = data.balance;
                this.paymentModal = true;
                this.watcher = true;//In case it has been turned off due to a previous sendPayment()

            },

            paymentModalClose(){
                this.paymentModal = false;
                this.balError= false;
                this.payment ={
                    amount:''//This keeps the watcher from squaking that amount doesnt exist. Angry piece of ....
                };
            },

            sendPayment(){
                this.submitting = true;
                const constraints = this.getPaymentConstraints();
                const errors = validate(this.payment,constraints);
                if(errors){
                    this.submitting = false;
                    this.$notify({
                      group: 'foo',
                      type: 'error',
                      title: 'Notification',
                      text: ((errors.bank) ? errors.bank.toString()+'</br>' : '')+((errors.date) ? errors.date.toString()+'</br>' : '')+((errors.chart_of_account) ? errors.chart_of_account.toString()+'</br>' : '')+((errors.amount) ? errors.amount.toString()+'</br>' : ''),
                      duration: 10000,
                    });
                }else{
                this.watcher= false; //turn off watcher to prevent errors
                this.payment.usedcost = this.removeCommas(this.payment.amount);//Remove commas before insertion ;)
                this.payment.material_id = this.ref_payment_data.materialId;
                this.payment.project_id = this.requisition.project_id;
                this.payment.individual_project_phases_id = this.requisition.individual_project_phases_id;
                this.watcher = true;
                axios.post('/api/requisition-material/add-payment',this.payment)
                          .then(response=>{
                            this.submitting = false;
                            // console.log(response.data[0]);

                            // this.requisition = response.data[0];
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            this.$refs.reqMaterialsDT.getProjects();
                            this.paymentModalClose();
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                }
                
            },

            assignVendor(data){
                // console.log(material);
                let material = data.material;
                this.data = data;
                this.material_and_services_id = material.project_material.material_and_services_id;
                this.material_id = material.id;
                this.requisitionMaterial = material;
                this.vendors.forEach(vendor => {

                    var choose = vendor.vendorservice.find(service => service.material_and_service_id == material.project_material.material_and_services_id);
                    if(choose){
                    //If this vendor has the material id of the requested material in his list of vendor services
                        vendor.chosen_service = choose;
                        this.usedVendors.push(vendor);
                    }
                    this.assignVendorModal= true;
                });

                // console.log(this.usedVendors);
            },

            assignVendorModalClose(){
                this.assignVendorModal = false;
                this.usedVendors =[];
                this.selectedVendor ={};
            },

            sendVendor(){
                this.submitting = true;
                const constraints = this.vendorConstraints();
                let data ={
                    vendor : this.selectedVendor.id,
                    vendorName : this.selectedVendor.name,
                    current_vendor_price : this.selectedVendor.chosen_service.cost,
                    requisition_material_id: this.requisitionMaterial.id,
                    project_material_id:this.requisitionMaterial.project_material_id,
                    extra : this.requisitionMaterial.project_material.extra,
                    data:this.data
                }
                const errors = validate(data,constraints);
                if(errors){
                    this.submitting = false;
                    this.$notify({
                      group: 'foo',
                      type: 'error',
                      title: 'Notification',
                      text: ((errors.vendor) ? errors.vendor.toString()+'</br>' : ''),
                      duration: 10000,
                    });
                }else{
                axios.post('/api/requisition-material/assign-vendor',data)
                          .then(response=>{
                            this.submitting = false;
                            // console.log(response.data[0]);

                            // this.requisition = response.data[0];
                            this.$notify({
                              group: 'foo',
                              type: 'success',
                              title: 'Notification',
                              text: 'Success!',
                              duration: 10000,
                            });
                            this.$refs.reqMaterialsDT.getProjects();
                            this.assignVendorModalClose();
                            
                          })
                          .catch(error=>{
                            this.submitting = false;
                            this.$notify({
                              group: 'foo',
                              type: 'error',
                              title: 'Notification',
                              text: error.response.data.error,
                              duration: 10000,
                            });
                          });
                }
                
            },

            addVendorPage(){
                this.addVendor = true;
                this.$refs.addvendorDT.receive(this.material_id,this.material_and_services_id);
                this.assignVendorModal =false;
            },

            getConstraints(){
                return{
                    active:{
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                          }
                        
                    },
                    requester:{
                        presence:{
                            allowEmpty: false,
                            message:"can't be empty"
                        },
                        
                    },
                    date:{
                        datetime: {
                          dateOnly: true,
                          message: "invalid Date"
                        }
                        
                    }
                }
            },
            getPaymentConstraints(){
                return{
                    bank:{
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                          }
                        
                    },
                    chart_of_account:{
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                          }
                        
                    },
                    amount:{
                        presence:{
                            allowEmpty: false,
                            message:"can't be empty"
                        },
                        
                    },
                    date:{
                        datetime: {
                          dateOnly: true,
                          message: "invalid Date"
                        }
                        
                    }
                }
            },

            vendorConstraints(){
                return{
                    vendor:{
                        numericality: {
                              onlyInteger: true,
                              message: 'Must be selected'
                              
                          }
                        
                    }
                }
            },
			
			
		},
        computed:{

          requisitions(){
            return this.$store.state.purchaseRequisitions;
          }

        }

	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	input,select{
		text-transform: capitalize!important;
	}
    input[type*="email"]{
    text-transform: lowercase!important;
    }
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>