<template>
	<div >
	    <div v-if="!newRequisition" class="page-header" >
	        <h2>Purchase Requisitions For {{ project.name }} Project</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active"></li>
	        </ol> 
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	        	<div v-if="!newRequisition" class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">

	                            <button @click.prevent="openModal(project)" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Requisition</span></button>
	                            
	                        </div>

	                        <div class="col-md-4" style="float:right;">
	                        	
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit" style="float:right;"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                	
	                	<requisitions ref ="phasesDT" v-if="!newRequisition"></requisitions>
	                	<newRequisition ref="newRequisitionDT" @showRequisitions="showRequisitions"></newRequisition>	                	
					</div>
				<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
				
	        	</div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import requisitions from '../../datatables/finance-administration/purchase-requisition/ViewRequisition.vue';
import newRequisition from './NewRequisition.vue';
import validate from 'validate.js';

	export default{
		components: {
         requisitions,
         newRequisition
        },
        mounted(){
        	
    		axios.post('/api/get/project',{id: this.$route.params.id})
            .then(response=>{
                this.beforeEditingCache = Object.assign({}, response.data);//The original data
                this.project = response.data;//Used for edit
                this.individual_project_phases = response.data.individualprojectphases;

            })
            .catch(error=>{
                console.log(error);
            });

        },
		data(){
			return{
				modal:false,
                project:{},
                newRequisition: false,
                individual_project_phases:[],
                

				// closeModal: () =>{this.modal = false}, //Short way of making a data variable actually a function
			}
		},
		watch: {
        	
        },

		methods:{
			previousPage(){
				this.$router.go(-1);
			},
			openModal(project){//The page for inserting details of the new requisition
				this.newRequisition = true;
				this.$refs.newRequisitionDT.receive(project);
			},
			showRequisitions(){
				this.newRequisition = false;
			},

			closeModal(){
				this.modal = false;
				this.requisition ={
					asset : false,
                	pay_before_delivery : false,
				};

				this.newProjectMaterials = [
                	{
		                material_and_services_id:'',
		                quantity:''
                	}
                ];
			},

			addMaterialRow() {
                 this.newProjectMaterials.push({
                    material_and_services_id:'',
                    quantity:'',
                    delete:true
                 });
            },
			
		},
		computed:{
	      
	    }
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>