<template>
	<div>
	    <div class="page-header">
	        <h2>Employee Imprest Topups For {{user}}</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                 	

					
						<topups ref="topupsDT" @withdraw="withdraws"></topups>


						



						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content" style="font-size:15px;">
						                        <h3>Withdraw From Topup</h3>
						                        <div>
						                        	<form @submit.prevent="sendWithdrawData()" autocomplete="off">
						                            
                                                    <label for="email_address">Expense Amount</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="" name="" class="form-control" v-model="withdraw.amount">
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Expense Date</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <datetime type="date" v-model="withdraw.date"></datetime>
                                                        </div>
                                                    </div>


                                                    <div class="form-group" style="display:flex;justify-content:space-around;margin-bottom:-18px;">
	                                                        
	                                                            <ul class="list-inline">
	                                                                <li class="eagle-checkbox" style="margin-right:10px;">
	                                                                    <label class="eagle-check custom-radio">
	                                                                        <input id="radio1" value="1" type="radio" class="eagle-check-input" v-model="radio_select">
	                                                                        <span class="eagle-check-indicator"></span>
	                                                                        <span class="eagle-check-description">Corporate Assets</span>
	                                                                    </label>
	                                                                </li>
	                                                             
	                                                                <li class="eagle-checkbox">
	                                                                    <label class="eagle-check custom-radio">
	                                                                        <input id="radio3" value="2" type="radio" class="eagle-check-input" v-model="radio_select">
	                                                                        <span class="eagle-check-indicator"></span>
	                                                                        <span class="eagle-check-description">Service Rendered</span>
	                                                                    </label>
	                                                                </li>
	                                                            </ul>
                                                        	<!-- </div> -->
	                                                    </div>

	                                                <div v-if="show_material">
								              
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <input type="text"  @keyup="sortMaterials(withdraw.material_or_service,'material')" class="form-control" placeholder="Type In Asset" v-model="withdraw.material_or_service">
		                                                        </div>
		                                                        <div v-if="showMaterialSearch" style="position: absolute;width: 87%; z-index:40000;">
		                                                        	<ul class="list-unstyled ul_search">
		                                                        		<li v-for="material in materials" @click="selectMaterial(material)">{{ material.name}} </li>
		                                                        	</ul>
		                                                        </div>

		                                                    </div>
                                                   </div>

                                                    <div v-if="show_service">
						                             	
	                                                    <div class="form-group">
	                                                        <div class="form-line">
	                                                            <input type="text" name="" @keyup="sortMaterials(withdraw.material_or_service,'service')" class="form-control" placeholder="Type In Service" v-model="withdraw.material_or_service">
	                                                        </div>
	                                                        <div v-if="showServiceSearch" style="position: absolute;width: 87%; z-index:40000;">
	                                                        	<ul class="list-unstyled ul_search">
	                                                        		<li v-for="service in services" @click="selectService(service)">{{ service.name}} </li>
	                                                        	</ul>
	                                                        </div>

	                                                    </div>
                                                    </div>

													
													<label for="email_address">Project</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<input type="" name="" v-model="withdraw.project_name" @keyup="sortProjects(withdraw.project_name)" class="form-control" placeholder="Type In Project">
                                                        </div>
                                                        <div v-if="showProjectSearch" style="position: absolute;width: 87%; z-index:40000;">
	                                                        	<ul class="list-unstyled ul_search">
	                                                        		<li v-for="project in projects" @click="selectProject(project)">{{ project.name}} </li>
	                                                        	</ul>
	                                                     </div>
                                                    </div>

                                                     <label for="email_address">Project Phase</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="withdraw.project_phase" >
                                                        		<option v-for="project_phase in project_phases" :value="project_phase.id">{{project_phase.name}}</option>
                                                        	</select>
                                                        </div>
                                                    </div>

 													<label for="email_address">Chart Of Account</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="withdraw.chart_of_account" >
                                                        		<option v-for="chart_of_account in chart_of_accounts" :value="chart_of_account.id">{{chart_of_account.name}}</option>
                                                        	</select>
                                                        </div>
                                                    </div>

													<label for="email_address">Notes</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <textarea class="form-control" v-model="withdraw.notes">
                                                            	
                                                            </textarea>
                                                        </div>
                                                    </div>

						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import Topups from '../../datatables/finance-administration/employee-imprest/ImprestTopup.vue';
	export default{
		components: {
          Topups
        },
        mounted(){

        	this.$refs.topupsDT.setImprestId(this.$route.params.id);
        	// console.log(this.$route.params.id);
 
        		axios.get('/api/get/chartofaccount')
        		.then(response=>{
        			this.chart_of_accounts = response.data
        		})
        		.catch(error=>{
        			// console.log(error);
        		});

        		axios.post('/api/get/imprest/user',{id:this.$route.params.id})
	        		.then(response=>{
	        			// console.log(response.data);
	        			if(response.data.imprest.user_type == 'user'){
	        				this.user = response.data.imprest.user.last_name+' '+response.data.imprest.user.first_name;
	        			}else{
	        				this.user = response.data.imprest.vendor.name;
	        			}
	        			// this.material = response.data.inventory.material.name;
	        			// this.bankaccounts = response.data
	        		})
	        		.catch(error=>{
	        			// console.log(error);
	        		});

    //     		axios.get('/api/get/vendor/all')
    //     		.then(response=>{
    //     			this.vendors = response.data
    //     		})
    //     		.catch(error=>{
    //     			console.log(error);
    //     		});

				// axios.get('/api/bankaccounts')
	   //      		.then(response=>{
	   //      			this.bankaccounts = response.data
	   //      		})
	   //      		.catch(error=>{
	   //      			console.log(error);
	   //      		});

        		
        	
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				topups:{},
				withdraw:{
					amount:'',
					date:'',
					asset:'',
					asset_type:'materials',
					project:'',
					project_name:'',
					project_phase:'',
					material_or_service:'',
					chart_of_account:'',
					notes:'',
				},
				services:[],
				materials:[],
				projects:[],
				project_phases:[],
				chart_of_accounts:{},
				radio_select: 1,
				show_material: true,
				show_service: false,
				index:'',
				showServiceSearch:false,
				showMaterialSearch:false,
				showProjectSearch:false,
				watcher: true,
				user:'',
				
			}
		},
		watch: {
            // whenever question changes, this function will run
            radio_select: function (value) {
              if(value == 1){
              	this.show_material = true;
              	this.show_service = false;
              	this.withdraw.asset_type = 'materials';
              }else{
              	this.show_material = false;
              	this.show_service = true;
              	this.withdraw.asset_type = 'services';
              }
            },

            'withdraw.amount': function(newValue){
            	if(this.watcher && this.withdraw.amount){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.withdraw.amount = result);
        	  }
        		
        	}
          },
		methods:{
			selectService(object){
				this.withdraw.material_or_service = object.name;
				this.withdraw.asset = object.id;
				this.services=[];
				this.showServiceSearch = false;

			},
			selectMaterial(object){
				this.withdraw.material_or_service = object.name;
				this.withdraw.asset = object.id;
				this.materials = [];
				this.showMaterialSearch = false;
			},
			selectProject(object){
				this.withdraw.project_name = object.name;
				this.withdraw.project = object.id;
				this.projects = [];
				this.showProjectSearch = false;


				axios.post('/api/get/project/invividualprojectphases',{data:object.id})
				.then(response=>{
					if(response.data.length > 0){

					response.data.forEach(arr=>{
						this.project_phases.push(arr.projectphase);
					});
					// this.project_phases = response.data.projectphase;
					// console.log(this.project_phases);
					
					
				}else{
					this.project_phases = [];
				}
			})
				.catch(error=>{
					// console.log(error);
				})
				


			},
			sortMaterials(value,type){
				if(value.length>0){
					if(type=='material'){
					axios.post('/api/get/materials',{data:value})
					.then(response=>{

						this.materials = response.data;
						if(this.materials.length > 0){
						this.showMaterialSearch = true;
					}
						
					})
					.catch(error=>{
						// console.log(error);
					})
				}else if(type=='service'){
					axios.post('/api/get/services',{data:value})
					.then(response=>{

						this.services = response.data;
						if(this.services.length > 0){
						this.showServiceSearch = true;
					}
					})
					.catch(error=>{
						// console.log(error);
					})
				}
				}else{
					this.materials = [];
					this.services = [];
					this.showMaterialSearch = false;
					this.showServiceSearch = false;
				}
				
			},
			sortProjects(value){
				if(value.length>0){
					
					axios.post('/api/search/projects',{data:value})
					.then(response=>{

						this.projects = response.data;
						if(this.projects.length > 0){
						this.showProjectSearch = true;
					}
						
					})
					.catch(error=>{
						// console.log(error);
					})
				}else{
					this.showProjectSearch = false;
				}
			},
			previousPage(){
				this.$router.go(-1);
			},
			withdraws(value,index){
				// console.log(value);
				this.withdraw.topup_id = value.id;
				this.withdraw.topup_amount = value.amount - (value.withdraws.length > 0 ? parseFloat(value.withdraws[0].amount) : 0);
				// this.withdraw.withdraw = value.withdraws[0].amount;
				this.index = index;
				this.topups = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.withdraw);
				
			},
			// closeModal(){
			// 	Object.assign(this.topups, this.beforeEditingCache);
			// 	this.editmodal = false;
			// },
			closeEditModal(){
				Object.assign(this.withdraw, this.beforeEditingCache);
				this.editmodal = false;
			},
			sendWithdrawData(){
				const constraints = this.getConstraints();
				const errors = validate(this.withdraw,constraints);
				
				
				if(errors){
					// console.log(errors);
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.amount) ? errors.amount.toString()+'</br>' : '')+((errors.project_name) ? errors.project_name.toString()+'</br>':'')+((errors.date) ? errors.date.toString()+'</br>':'')+((errors.material_or_service) ? errors.material_or_service.toString()+'</br>':'')+((errors.chart_of_account) ? errors.chart_of_account.toString()+'</br>':'')+((errors.project_phase) ? errors.project_phase.toString()+'</br>':'')+((errors.notes) ? errors.notes.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/employeeimpresttopupwithdrawal',this.withdraw)
						  .then(response=>{
						  	// console.log(response.data);
						  	this.$store.state.employeeImprestTopups[this.index].withdraws.push(response.data[0]);
						  	
						  	// }
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeEditModal();
						  	this.withdraw={};
						  })
						  .catch(error=>{
						  	// console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			
			getConstraints(){
				return{
					project_phase:{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
						
					},
					chart_of_account:{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
						
					},
					amount:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					notes:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					material_or_service:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					project_name:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					date:{
						datetime: {
					      dateOnly: true,
					      message: "invalid Date "
					    }
						
					}
				}
			}
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
	.ul_search{
		background: #00B0E4;
		color: #fff;
	}
	.ul_search li{
		cursor: pointer;
		list-style: none;
		color: #fff;
		border-bottom: 1px solid #fff;
		text-align: center;
	}
	.md-content > div ul {
    margin: 0;
    padding: 0 0 26px 0px !important;
}
</style>