<template>
	<div>
	    <div class="page-header">
	        <h2>Employee Imprest Topups For {{user}}</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                 	

					
						<withdraws ref="topupsDT"></withdraws>


						


	                </div>
			<!-- <div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div> -->
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import Withdraws from '../../datatables/finance-administration/employee-imprest/TopupWithdrawal.vue';
	export default{
		components: {
          Withdraws
        },
        mounted(){

        	this.$refs.topupsDT.setImprestId(this.$route.params.id);
        	
        	  axios.post('/api/get/imprestwithdraw/user',{id:this.$route.params.id})
	        		.then(response=>{
	        			// console.log(response.data);
	        			if(response.data.imprest.user_type == 'user'){
	        				this.user = response.data.imprest.user.last_name+' '+response.data.imprest.user.first_name;
	        			}else{
	        				this.user = response.data.imprest.vendor.name;
	        			}
	        			// this.material = response.data.inventory.material.name;
	        			// this.bankaccounts = response.data
	        		})
	        		.catch(error=>{
	        			// console.log(error);
	        		});

        		
        	
        },
		data(){
			return{
				user:'',
				
			}
		},
		watch: {
            // whenever question changes, this function will run
            
          },
		methods:{
			
			previousPage(){
				this.$router.go(-1);
			},
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
	.ul_search{
		background: #00B0E4;
		color: #fff;
	}
	.ul_search li{
		cursor: pointer;
		list-style: none;
		color: #fff;
		border-bottom: 1px solid #fff;
		text-align: center;
	}
	.md-content > div ul {
    margin: 0;
    padding: 0 0 26px 0px !important;
}
</style>