<template>
    <div class="projects" >
        <!-- 

        Project type 1 = capital project
        Project type 0 = operational project
         -->
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="contractCategories.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "contractCategories"
                       :fields = "json_fields"
                       name    = "Contract Category.xls"
                       page    = "contract_cat">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "contractCategories"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Contract Category.csv"
                       page    = "contract_cat">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody>
                <tr v-for="(project, i) in contractCategories" :key="project.id" >
                    <td>{{project.id}}</td>
                    <td>{{project.name}}</td>
                    <td><span>&#8358;</span>{{addCommas(sum(project.vendor_contracts))}}</td>
                    <td><span>&#8358;</span>{{addCommas(paid(project.vendor_contracts))}}</td>
                    <td><span>&#8358;</span>{{addCommas(sum(project.vendor_contracts) - paid(project.vendor_contracts)) }} </td>
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                              
                               <li><router-link :to="{ name: 'vendor-contracts', params: { id: project.id } }"><i class="material-icons">visibility</i>View Contracts</router-link></li>
                               
                           </ul>
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="contractCategories.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="contractCategories.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import moment from 'moment';
import * as autoTable from 'jspdf-autotable'; 
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    mounted()
    {
      
        this.getProjects();
        // console.log(this.$store.state.projects);
    
       
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '8%', label: 'ID', name: 'id', sortable: true },
            {width: '30%', label: 'Project Name', name: 'name', sortable: true},
            {width: '15%', label: 'Contract Sum', name: 'project_date', sortable: true},
            {width: '22%', label: 'Paid', name: 'type', sortable: true},
            {width: '15%', label: 'OutStanding', name: 'active', sortable: true},            
            {width: '10%', label: 'Action', name: 'action', sortable: false},            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id',
              'Project Name': 'name',
              'Contract Sum': 'contract_sum_x',
              'Paid': 'paid_x',
              'OutStanding': 'outstanding_x',

                
                        
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,

        }
    },
    methods: {
        sum(arrays){
          let sum = 0;
          if(arrays.length){ 
          arrays.forEach(array=>{
            sum += parseFloat(array.amount);
          });
        }
          return sum;
        }, 
        paid(arrays){
          var sum = 0;

          arrays.forEach(array=>{
            sum += (array.expense_records.length > 0 ? parseFloat(array.expense_records[0].amount) : 0 );
          });
          return sum;
          
        },
        addCommas(x){
          x = (Math.round(x * 100)/ 100).toFixed(2);
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        pdfExport(){
          this.contractCategories.page="contract_cat";
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Project Name", dataKey: "name" },
            {title:"Contract Sum", dataKey: "contract_sum_x" },
            {title:"Paid", dataKey: "paid_x" },
            {title:"OutStanding", dataKey: "outstanding_x" },
            
            ];

            var doc = new jsPDF('p','pt');
            doc.autoTable(columns, this.contractCategories);
            doc.save('Contract Category.pdf');
        },
        getProjects(url = '/api/get-project-contract') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadContractsCategory", data);
                    
                        // console.log(this.$store.state.contractCategories);
                        this.configPagination(this.$store.state.contractCategories_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                  console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        addCommas(x){
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        makeMoment(value){//Format dates for raw display
          return moment(value).format('MMMM Do YYYY');
        },
        

    },
    computed:{
      contractCategories(){
        return this.$store.state.contractCategories;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>