<template>
    <div class="projects" >
        <!-- 

        Project type 1 = capital project
        Project type 0 = operational project
         -->
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="values.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       name    = "Contracts.xls"
                       page    = "contracts">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Contracts.csv"
                       page    = "contracts">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody>
                <tr v-for="(contract, i) in values" :key="contract.id" >
                    <td>RG-{{contract.id}}</td>
                    <td>{{contract.individualprojectphase.projectphase.name}}</td>
                    <td>{{contract.projectlabour.material_and_service.name}}</td>
                    <td>{{contract.vendor.name}}</td>
                    
                    <!-- <td v-if="contract.liquid_asset_id">{{contract.asset.assetmodel.assetmanufacturer.name}} {{contract.asset.assetmodel.name}}</td> -->
                    <td><span>&#8358;</span>{{addCommas(contract.amount)}}</td>
                    <td><span>&#8358;</span>{{addCommas(paid(contract.expense_records))}}</td>
                    <td>
                     
                      <div v-if="contract.status==0" class="btn btn-primary btn-sm">Pending</div>
                      <div v-else-if="contract.status==1" class="btn btn-info btn-sm">Approved</div>
                      <div v-else class="btn btn-danger btn-sm">Declined</div>
                      
                    
                    </td>
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                              
                               <li><router-link :to="{ name: 'edit-contract', params: { id: contract.id } }"><i class="material-icons">edit</i>Edit Contracts</router-link></li>
                               <li v-if="contract.status != 1"><a href="javascript:void(0);" @click.prevent="$emit('approve',contract,i)"><i class="material-icons">check</i>Approve</a></li>
                               <li v-else><a href="javascript:void(0);" @click.prevent="$emit('decline',contract,i)"><i class="material-icons">cancel</i>Decline</a></li>
                               <li v-if="contract.status == 1"><a href="javascript:void(0);" @click.prevent="$emit('pay',contract,i)"><i class="material-icons">payment</i>Make Payment</a></li>
                               <li v-if="contract.expense_records.length > 0"><router-link :to="{ name: 'show-costing-payments', params: { id: contract.id } }"><i class="material-icons">visibility</i>View Payments</router-link></li>
                               <li><router-link :to="{ name: 'print-vendor-contract', params: { id: contract.id } }"><i class="material-icons">print</i>Print Contracts</router-link></li>
                               
                           </ul>
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="values.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="values.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import moment from 'moment';
import * as autoTable from 'jspdf-autotable'; 
export default {


    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    mounted()
    {
      
        this.getcontracts();
        // console.log(this.$store.state.contracts);
      
       
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '8%', label: 'ID', name: 'id', sortable: true },
            {width: '20%', label: 'Project Phase', name: 'individual_project_phase_id', sortable: true},
            {width: '20%', label: 'Labour', name: 'project_labour_id', sortable: true},
            {width: '20%', label: 'Vendor Name', name: 'vendor_id', sortable: true},
            {width: '18%', label: 'Total Amount', name: 'amount', sortable: true},
            {width: '18%', label: 'Paid Amount', name: 'paid', sortable: false},
            {width: '8%', label: 'Status', name: 'status', sortable: true},            
            {width: '8%', label: 'Action', name: 'action', sortable: false},            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id_x',
              'Project Phase': 'individualprojectphase.projectphase.name',
              'Labour': 'projectlabour.material_and_service.name',
              'Vendor Name': 'vendor.name',
              'Total Amount': 'amount_x',
              'Paid Amount': 'paid_x',
              'Status': 'status_x',

                
                        
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,

        }
    },
    methods: {
       setProjectId(id){
          this.tableData.id = id;
        },
        sum(arrays){
          let sum = 0;
          arrays.forEach(array=>{
            sum += parseFloat(array.amount);
          });
          return sum;
        }, 
        paid(arrays){
          return (arrays.length > 0 ? parseFloat(arrays[0].amount)  : 0) ;
          
        },
        addCommas(x){
          x = (Math.round(x * 100)/ 100).toFixed(2);
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        pdfExport(){
          this.values.page="contracts";
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id_x" },
            {title:"Project Phase", dataKey: "individualprojectphase.projectphase.name" },
            {title:"Labour", dataKey: "projectlabour.material_and_service.name" },
            {title:"Vendor Name", dataKey: "vendor.name" },
            {title:"Total Amount", dataKey: "amount_x" },
            {title:"Paid Amount", dataKey: "paid_x" },
            {title:"Status", dataKey: "status_x" },
            ];

            var doc = new jsPDF('l','in', [15, 15]);
            doc.autoTable(columns, this.values);
            doc.save('Contracts.pdf');
        },
        getcontracts(url = '/api/vendor-contracts') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
            
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadContracts", data);
                    
                        // console.log(this.$store.state.values);
                        this.configPagination(this.$store.state.contracts_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                  // console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getcontracts();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        addCommas(x){
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        makeMoment(value){//Format dates for raw display
          return moment(value).format('MMMM Do YYYY');
        },
        

    },
    computed:{
      values(){
        return this.$store.state.contracts;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>