<template>
    <div class="projects" >
        <!-- 

        Project type 1 = capital project
        Project type 0 = operational project
         -->
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
           
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="values.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       name    = "Contract Payments.xls"
                       page    = "contract_payment">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "values"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Contract Payments.csv"
                       page    = "contract_payment">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody>
                <tr v-for="(payment, i) in values" :key="payment.id" >
                    <td>ER-{{payment.id}}</td>
                    <td>{{payment.individual_project_phase.project.name}}</td>
                    <td>{{payment.individual_project_phase.projectphase.name}}</td>
                    <td>{{payment.material_and_service.name}}</td>
                    <td>{{payment.vendor.name}}</td>
                    <td>{{payment.vendor_guarantor.last_name}} {{payment.vendor_guarantor.first_name}}</td>
                    <td>{{payment.user.last_name}} {{payment.user.first_name}}</td>
                    <td><span>&#8358;</span>{{addCommas(payment.amount)}}</td>
                    <td>{{makeToMoment(payment.date)}}</td>
                   
                     
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="values.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="values.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import moment from 'moment';
import * as autoTable from 'jspdf-autotable'; 
export default {


    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    mounted()
    {
      
        this.getcontracts();
        // console.log(this.$store.state.contracts);
      
       
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '6%', label: 'ID', name: 'id', sortable: true },
            {width: '15%', label: 'Project', name: 'project_id', sortable: true},
            {width: '11%', label: 'Project Phase', name: 'individual_project_phase_id', sortable: true},
            {width: '10%', label: 'Labour', name: 'material_and_service_id', sortable: true},
            {width: '14%', label: 'Vendor Name', name: 'vendor_id', sortable: true},
            {width: '14%', label: 'Vendor Guarantor', name: 'vendor_guarantor', sortable: true},
            {width: '10%', label: 'Created By', name: 'created_by', sortable: true},
            {width: '8%', label: 'Amount', name: 'amount', sortable: true},
            {width: '8%', label: 'Date', name: 'paid', sortable: false},
                
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id_x',
              'Project': 'individual_project_phase.project.name',
              'Project Phase': 'individual_project_phase.projectphase.name',
              'Labour': 'material_and_service.name',
              'Vendor Name': 'vendor.name',
              'Vendor Guarantor': 'name_x',
              'Created By': 'created_by_x',
              'Amount': 'amount_x',
              'Date': 'date_x',

                
                        
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,

        }
    },
    methods: {
      makeToMoment(value){
         return moment.utc(value).format("MMMM Do YYYY"); 
        },
       setContractId(id){
          this.tableData.id = id;
        },
        sum(arrays){
          let sum = 0;
          arrays.forEach(array=>{
            sum += parseFloat(array.amount);
          });
          return sum;
        }, 
        paid(arrays){
          return (arrays.length > 0 ? parseFloat(arrays[0].amount)  : 0) ;
          // return (arrays[0].expense_records.length > 0 ? parseFloat(arrays[0].expense_records[0].amount) : 0) ;
        },
        addCommas(x){
          x = (Math.round(x * 100)/ 100).toFixed(2);
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        pdfExport(){
           this.values.page="contract_payment";
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id" },
            {title:"Project", dataKey: "individual_project_phase.project.name" },
            {title:"Project Phase", dataKey: "individual_project_phase.projectphase.name" },
            {title:"Labour", dataKey: "material_and_service.name" },
            {title:"Vendor Name", dataKey: "vendor.name" },
            {title:"Vendor Guarantor", dataKey: "name_x" },
            {title:"Created By", dataKey: "created_by_x" },
            {title:"Amount", dataKey: "amount_x" },
            {title:"Date", dataKey: "date_x" },
            ];

            var doc = new jsPDF('l','in', [15, 15]);
            doc.autoTable(columns, this.values);
            doc.save('Contract Payments.pdf');
        },
        getcontracts(url = '/api/vendor-contract-payments') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                  console.log(response.data);
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadContractPayments", data);
                    
                        // console.log(this.$store.state.values);
                        this.configPagination(this.$store.state.contractPayments_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                  console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getcontracts();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        addCommas(x){
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        makeMoment(value){//Format dates for raw display
          return moment(value).format('MMMM Do YYYY');
        },
        

    },
    computed:{
      values(){
        return this.$store.state.contractPayments;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 95%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>