<template>
    <div class="projects" >
        <div :class="{spinner: show}"></div>
        <div class="tableFilters">
            
            <div class="form-group form-float" style="display:flex; justify-content:space-between;">
               <div class="form-line" style="width: 20%;">
                   <input type="text" class="form-control" v-model="tableData.search" @input="getProjects()" placeholder="Search" />
                   
      
                  </div>
                  <div class="export-btns" v-if="imprests.length > 0">
                   <div class="btn btn-info" @click="pdfExport">PDF</div>

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "imprests"
                       :fields = "json_fields"
                       name    = "Invoices.xls"
                       page    = "invoice">

                       Excel 

                   </download-excel>  

                   <download-excel
                       class   = "btn btn-info"
                       :data   = "imprests"
                       :fields = "json_fields"
                       type    = "csv"
                       name    = "Invoices.csv"
                       page    = "invoice">

                       CSV

                   </download-excel>

                    </div>
                   
                   <div class="control">
                       <div class="select">
                           <select v-model="tableData.length" @change="getProjects()" class="form-control">
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                               <option value="50">50</option>
                               <option value="70">70</option>
                               <option value="100">100</option>
                               <option :value="pagination.total">All</option>
                           </select>
                       </div>
                   </div>

                  
               

           </div>

            
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody v-if="imprests.length > 0">
                <tr v-for="(imprest, i) in imprests" :key="imprest.id">
                    <td>INV-{{imprest.id}}</td>
                    <td>{{imprest.client.lastname}} {{imprest.client.firstname}} {{imprest.client.company}}</td>
                
                    <td>{{imprest.project.name}}</td>
                    <td>{{makeMoment(imprest.date)}}</td>
                    <td>{{makeMoment(imprest.due_date)}}</td>
                    <td>{{addCommas(total(imprest.project.individualprojectphases, imprest.details))}}</td>
                    <td>{{addCommas(getAmount(imprest.payment))}}</td>
                    <td>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Actions <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu bullet">
                               <li><a href="javascript:void(0);" @click.prevent="$emit('topup',imprest,i)"><i class="material-icons">add</i>Topup Recievables</a></li>
                               <li><a href="javascript:void(0);" @click.prevent="$emit('newItem',imprest,i)"><i class="material-icons">add</i>Add New Item</a></li>
                               <!-- <li><a href="javascript:void(0);" @click.prevent="$emit('print',imprest,i)"><i class="material-icons">print</i>Print Invoice</a></li> -->
                                <li><router-link :to="{ name: 'print-invoice', params: { id: imprest.id } }"><i class="material-icons">print</i>Print Invoice</router-link></li>
                               
                           </ul>
                       </div>
                    </td>
                </tr>
            </tbody>
            
        </datatable>
        <div v-if="imprests.length < 1" style="text-align:center;">
          No data available
        </div>

       
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)" v-if="imprests.length > 0">
        </pagination>
    </div>
</template>

<script>
import Datatable from '../../Datatable.vue';
import Pagination from '../../Pagination.vue';
import JsonExcel from 'vue-json-excel';
import * as jsPDF from 'jspdf'; 
import * as autoTable from 'jspdf-autotable'; 
import moment from 'moment';
export default {

    components: { datatable: Datatable, pagination: Pagination,downloadExcel: JsonExcel },
    created() {
        
          
            this.getProjects();
       
       
        
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '10%', label: 'ID', name: 'id' , sortable: true},
            {width: '24%', label: 'Client Name', name: 'client_id', sortable: true},
            {width: '10%', label: 'Project', name: 'project_id', sortable: true},
            {width: '12%', label: 'Invoice Date', name: 'date', sortable: true},
            {width: '12%', label: 'Due Date', name: 'due_date', sortable: true},
            {width: '12%', label: 'Total', name: 'total', sortable: false},
            {width: '12%', label: 'Paid', name: 'paid', sortable: false},
            {width: '8%', label: 'Actions', name: 'action', sortable: false},
            
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            json_fields: {
              'ID': 'id_x',
              'Client Name': 'name_x',
              'Project': 'project.name',
              'Invoice Date': 'inv_date_x',
              'Due Date': 'due_date_x',
              'Total': 'total_x',
              'Paid': 'paid_x',

                
                        
              },
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            show: true,
            
        }
    },
    methods: {
         makeMoment(value){
          return moment(value).format('MMMM Do YYYY');
        },
        getAmount(arrs){
          var value = 0;
          arrs.forEach(arr=>{
            value += parseFloat(arr.amount);
          });

          return value;
        },
        total(arrays, arrays2){
          let total = 0;
         arrays.forEach((array)=>{
          // console.log(array.withdraws[0].amount);
            // balance += (parseFloat(array.amount) - ((array.withdraws.length > 0) ? parseFloat(array.withdraws[0].amount) : 0)) ;

            array.phase_labour.forEach((data)=>{
              total += (parseFloat(data.amount ) * parseFloat(data.quantity));
            });

            array.phase_material.forEach((data)=>{
              total += (parseFloat(data.amount ) * parseFloat(data.quantity));
            });
          });

          arrays2.forEach(array=>{
             total += (parseFloat(array.price ) * parseFloat(array.quantity));
          });

         return total;
        },
        addCommas(x){
          x = (Math.round(x * 100)/ 100).toFixed(2);
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        pdfExport(){
             this.imprests.page="invoice";
            var vm = this;
            var columns = [
            {title:"ID", dataKey: "id_x" },
            {title:"Client Name", dataKey: "name_x" },
            {title:"Project", dataKey: "project.name" },
            {title:"Invoice Date", dataKey: "inv_date_x" },
            {title:"Due Date", dataKey: "due_date_x" },
            {title:"Total", dataKey: "total_x" },
            {title:"Paid", dataKey: "paid_x" },
            ];

            var doc = new jsPDF('l','in', [15, 15]);
            doc.autoTable(columns, this.imprests);
            doc.save('Invoices.pdf');
        },
        getProjects(url = '/api/invoice') {
            this.show = true;
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                  console.log(response.data);
                    this.show = false;
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {
                      this.$store.commit("loadInvoice", data);
                    
                        this.configPagination(this.$store.state.invoice_pag);
                    }
                })
                .catch(errors => {
                  this.show = false;
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        }
    },
    computed:{
      imprests(){
        return this.$store.state.invoice;
      }
    }
};
</script>
<style scoped>


.projects {
  width: 100%;
  margin: 0 auto;
}

.projects .tableFilters {
  margin-bottom: 10px;
}

.projects .tableFilters input {
  width: 100%;
}

.projects .tableFilters .control {
  float: right;
}


h1 {
  text-align: center;
  font-size: 30px;
}
.spinner:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;


}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

</style>