<template>
	<div>
	    <div class="page-header">
	        <h2>Inventories</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Inventory</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                 	

					
						<store ref="bankDT" @topup="topup"></store>


						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Add Inventory Store</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                             <label for="email_address">Inventory Material</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="store.material">
                                                        		<option v-for="material in materials" :value="material.id">{{material.name}}</option>
                                                        	</select>
                                                        </div>
                                                    </div>  

                                                    <label for="email_address">Inventory Location</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="store.location">
                                                        		<option v-for="location in locations" :value="location.id">{{location.name}}</option>
                                                        	</select>
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>



						
						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content" style="font-size:15px;">
						                        <h3>Top Up Imprest</h3>
						                        <div>
						                        	<form @submit.prevent="sendTopUpData()" autocomplete="off">

						                        	<label for="email_address">Vendor</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        <select class="form-control" v-model="tops.vendor" >
                                                        	<option v-for="vendor in vendors" :value="vendor.id">{{vendor.name}}</option>
                                                        </select>
                                                        </div>
                                                    </div>
						                            
                                                    <label for="email_address">Purchase Date</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <datetime type="date" v-model="tops.date"></datetime>
                                                        </div>
                                                    </div>
													
													

                                                     <label for="email_address">Quantity</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="" name="" class="form-control" v-model="tops.quantity">
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Unit Price</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="" name="" class="form-control" v-model="tops.amount">
                                                        </div>
                                                    </div>

						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import Store from '../../datatables/finance-administration/inventory-store/InventoryStore.vue';
	export default{
		components: {
          Store
        },
        watch: {
            // whenever question changes, this function will run
          

            'tops.amount': function(newValue){
            	if(this.tops.amount){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.tops.amount = result);
        	  }
        		
        	},
            'tops.quantity': function(newValue){
            	if(this.tops.quantity){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.tops.quantity = result);
        	  }
        		
        	}
          },
        mounted(){
        	axios.get('/api/get/material')
        		.then(response=>{
        			this.materials = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});
			axios.get('/api/get/inventorylocation')
        		.then(response=>{
        			this.locations = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

    		axios.get('/api/get/vendor/all')
    		.then(response=>{
    			this.vendors = response.data
    		})

        },
		data(){
			return{
				modal:false,
				editmodal:false,
				name:'',
				editbank:{},
				materials:{},
				locations:{},
				store:{
					location:'',
					material:'',
				},
				tops:{
					amount:'',
					quantity:'',
					date:'',
					vendor:'',
				},
				vendors:{},
				
			}
		},
		methods:{
			topup(value,index){
				console.log(value);
				this.index = index;
				this.topups = value;
				this.tops.inventory_id = value.id;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.topups);
				
			},
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editbank, this.beforeEditingCache);
				this.editmodal = false;
			},
			edit(value){
				this.editbank = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editbank);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.store,constraints);
				// console.log(this.name);
				// if(this.name.trim() === ''){
				// 	this.$notify({
				// 		  	  group: 'foo',
				// 		  	  type: 'error',
				// 		  	  title: 'Notification',
				// 		  	  text: "File must not be empty",
				// 		  	  duration: 10000,
				// 		  	});
				// 	return;
				// }
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.material) ? errors.material.toString()+'</br>' : '')+((errors.location) ? errors.location.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/inventorystore', this.store )
						  .then(response=>{
						  	// console.log(response.data);
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected by removing the last item before adding a new item
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	if(this.$store.state.inventory.length >= this.$store.state.inventory_pag.per_page && this.$store.state.inventory_pag.total >= 10){
						  		this.$store.state.inventory.splice(-1,1);
						  		this.$store.state.inventory.unshift(response.data[0]);
						  		this.$store.state.inventory_pag.next_page_url = this.$store.state.inventory_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.inventory_pag.total = this.$store.state.inventory_pag.total + 1;
						  		this.$refs.bankDT.configPagination(this.$store.state.inventory_pag);

						  	}else{
						  		this.$store.state.inventory.unshift(response.data[0]);
						  		this.$store.state.inventory_pag.to = this.$store.state.inventory_pag.to + 1;
						  		this.$store.state.inventory_pag.from = 1;
						  		this.$store.state.inventory_pag.total = this.$store.state.inventory_pag.total + 1;
						  		this.$refs.bankDT.configPagination(this.$store.state.inventory_pag);
						  	}
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	this.name='';
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendTopUpData(){
				const constraints = this.getTopupConstraints();
				const errors = validate(this.tops,constraints);
				// const errors = null;
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.quantity) ? errors.quantity.toString()+'</br>' : '')+((errors.amount) ? errors.amount.toString()+'</br>':'')+((errors.date) ? errors.date.toString()+'</br>':'')+((errors.vendor) ? errors.vendor.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/inventorystore_tops',this.tops)
						  .then(response=>{
						  	console.log(response.data[0]);
						  	this.$store.state.inventory[this.index].topup.push(response.data[0]);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.tops={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					location:{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
						
					},
					material:{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
						
					}
				}
			},
			getTopupConstraints(){
				return{
					amount:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					vendor:{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
						
					},
					quantity:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					date:{
						datetime: {
					      dateOnly: true,
					      message: "invalid Date "
					    }
						
					},
				}
			},
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>