<template>
	<div>
	    <div class="page-header">
	        <h2>Inventory Purchases For {{material}}</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                 	

					
						<topups ref="topupsDT" @withdraw="withdraws" @newInvoice="newInvoice" @addInvoice="addInvoice"></topups>


						



						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content" style="font-size:15px;">
						                        <h3>Withdraw From Topup</h3>
						                        <div>
						                        	<form @submit.prevent="sendWithdrawData()" autocomplete="off">

													<label for="email_address">Project</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<input type="" name="" v-model="withdraw.project_name" @keyup="sortProjects(withdraw.project_name)" class="form-control" placeholder="Type In Project">
                                                        </div>
                                                        <div v-if="showProjectSearch" style="position: absolute;width: 87%; z-index:40000;">
	                                                        	<ul class="list-unstyled ul_search">
	                                                        		<li v-for="project in projects" @click="selectProject(project)">{{ project.name}} </li>
	                                                        	</ul>
	                                                     </div>
                                                    </div>

                                                     <label for="email_address">Project Phase</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="withdraw.project_phase" >
                                                        		<option v-for="project_phase in project_phases" :value="project_phase.id">{{project_phase.projectphase.name}}</option>
                                                        	</select>
                                                        </div>
                                                    </div>

 													<label for="email_address">Chart Of Account</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="withdraw.chart_of_account" >
                                                        		<option v-for="chart_of_account in chart_of_accounts" :value="chart_of_account.id">{{chart_of_account.name}}</option>
                                                        	</select>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Quantity</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="" name="" class="form-control" v-model="withdraw.quantity">
                                                        </div>
                                                    </div>

													<label for="email_address">Notes</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <textarea class="form-control" v-model="withdraw.notes">
                                                            	
                                                            </textarea>
                                                        </div>
                                                    </div>

						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>




											<div v-if="invoiceModal" class="md-modal md-effect-2 md-show" style="left:54%;">
								                    <div class="md-content" style="font-size:16px;">
								                        <h3>Withdraw From Topup</h3>
								                        <div>
								                        	<form @submit.prevent="newInvoiceData()" autocomplete="off">

															<label for="email_address">Invoice ID</label>
		                                                    <div class="form-group">
		                                                    	<div class="form-line">
		                                                        	<input type="" name="" v-model="invoiceCounts" class="form-control" readonly>
		                                                        </div>
		                                                        
		                                                    </div>

		                                                     <label for="email_address">Client</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <select class="form-control" v-model="invoice.client" >
		                                                        		<option v-for="client in clients" :value="client.id">{{client.lastname}} {{client.firstname}}</option>
		                                                        	</select>
		                                                        </div>
		                                                    </div>

		 													<label for="email_address">Due Date</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <datetime type="date" v-model="invoice.due_date"></datetime>
		                                                        </div>
		                                                    </div>

		                                                    <label for="email_address">Quantity</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <input type="" name="" class="form-control" v-model="invoice.quantity" @keyup="multiply()">
		                                                        </div>
		                                                    </div>

		                                                    <label for="email_address">Unit Price</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <input type="" name="" class="form-control" v-model="invoice.unit_price" @keyup="multiply()">
		                                                        </div>
		                                                    </div>

		                                                    <label for="email_address">Total Price</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <input type="" name="" class="form-control" v-model="invoice.total_price" readonly>
		                                                        </div>
		                                                    </div>


								                           <div class="mfooter">
								                           	<button class="btn btn-info">Submit</button>
								                           	<button @click.prevent="closeInvoiceModel()" class="btn btn-danger">Close</button>
								                           	
								                           </div>
								                            
								                        </form>
								                        </div>
								                   </div>
								</div>

											<div v-if="addInvoiceModal" class="md-modal md-effect-2 md-show" style="left:54%;">
								                    <div class="md-content" style="font-size:15px;">
								                        <h3>Withdraw From Topup</h3>
								                        <div>
								                        	<form @submit.prevent="addToInvoiceData()" autocomplete="off">

										

		                                                     <label for="email_address">Invoice</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <select class="form-control" v-model="addToInvoice.invoice" >
		                                                        		<option v-for="invoice in ex_invoices" :value="invoice.id">INV-{{invoice.id}}</option>
		                                                        	</select>
		                                                        </div>
		                                                    </div>

		 										

		                                                    <label for="email_address">Item Description</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <input type="" name="" class="form-control" v-model="material" readonly>
		                                                        </div>
		                                                    </div> 

		                                                    <label for="email_address">Quantity</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <input type="" name="" class="form-control" v-model="addToInvoice.quantity" @keyup="addInvoice_multiply()">
		                                                        </div>
		                                                    </div>

		                                                    <label for="email_address">Unit Price</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <input type="" name="" class="form-control" v-model="addToInvoice.unit_price" @keyup="addInvoice_multiply()">
		                                                        </div>
		                                                    </div>

		                                                    <label for="email_address">Total Price</label>
		                                                    <div class="form-group">
		                                                        <div class="form-line">
		                                                            <input type="" name="" class="form-control" v-model="addToInvoice.total_price" readonly>
		                                                        </div>
		                                                    </div>


								                           <div class="mfooter">
								                           	<button class="btn btn-info">Submit</button>
								                           	<button @click.prevent="closeAddInvoiceModel()" class="btn btn-danger">Close</button>
								                           	
								                           </div>
								                            
								                        </form>
								                        </div>
								                   </div>
								</div>


	            </div>
			<div v-if="invoiceModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="addInvoiceModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import Topups from '../../datatables/finance-administration/inventory-store/TopUp.vue';
	export default{
		components: {
          Topups
        },
        mounted(){

        	this.$refs.topupsDT.setImprestId(this.$route.params.id);
        	// console.log(this.$route.params.id);
 
        		axios.get('/api/get/chartofaccount')
        		.then(response=>{
        			this.chart_of_accounts = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

        		axios.get('/api/get/client/all')
        		.then(response=>{
        			this.clients = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});


        		axios.get('/api/invoice/count')
        		.then(response=>{
        			// console.log(response.data);
        			this.invoiceCounts = 'INV-'+(parseInt(response.data)+1);
        		})
        		.catch(error=>{
        			console.log(error);
        		});

				axios.post('/api/get/material',{id:this.$route.params.id})
	        		.then(response=>{
	        			// console.log(response.data);
	        			this.material = response.data.inventory.material.name;
	        			// this.bankaccounts = response.data
	        		})
	        		.catch(error=>{
	        			console.log(error);
	        		});

        		axios.get('/api/getInvoice')
        		.then(response=>{
        			// console.log(response.data);
        			this.ex_invoices = response.data;
        			// this.bankaccounts = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

        		
        	
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				addInvoiceModal:false,
				topups:{},
				ex_invoices:[],
				withdraw:{
					quantity:'',
					asset_type:'materials',
					project:'',
					project_name:'',
					project_phase:'',
					material_or_service:'',
					chart_of_account:'',
					notes:'',
				},
				invoice:{
					total_price:'',
					unit_price:'',
					quantity:'',
					due_date:'',
					client:'',
				},
				addToInvoice:{
					total_price:'',
					unit_price:'',
					quantity:'',
					invoice:'',
				},
				clients:[],
				projects:[],
				project_phases:[],
				chart_of_accounts:{},
				index:'',
				showServiceSearch:false,
				showMaterialSearch:false,
				showProjectSearch:false,
				invoiceModal:false,
				watcher: true,
				invoiceCounts:'',
				material:'',
				
			}
		},
		watch: {
            // whenever question changes, this function will run
            radio_select: function (value) {
              if(value == 1){
              	this.show_user = true;
              	this.show_vendor = false;
              	this.withdraw.asset_type = 'materials';
              }else{
              	this.show_user = false;
              	this.show_vendor = true;
              	this.withdraw.asset_type = 'services';
              }
            },
        	'withdraw.amount': function(newValue){
            	if(this.withdraw.amount){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.withdraw.amount = result);
        	  }	
        	},
        	'withdraw.quantity': function(newValue){
            	if(this.withdraw.quantity){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.withdraw.quantity = result);
        	  }	
        	},
            'invoice.quantity': function(newValue){
            	if(this.invoice.quantity){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.invoice.quantity = result);
        	  }	
        	}, 
        	'invoice.unit_price': function(newValue){
            	if(this.addInvoice.unit_price){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.addInvoice.unit_price = result);
        	  }	
        	}, 
        	'addToInvoice.quantity': function(newValue){
            	if(this.addToInvoice.quantity){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.addToInvoice.quantity = result);
        	  }	
        	}, 
        	'addToInvoice.unit_price': function(newValue){
            	if(this.addToInvoice.unit_price){
        		const result = newValue.replace(/\D/g, "")
        	        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	      this.$nextTick(() => this.addToInvoice.unit_price = result);
        	  }	
        	},
        	// 'invoice.total_price': function(newValue){
         //    	if(this.invoice.total_price){
        	// 	const result = newValue.replace(/\D/g, "")
        	//         .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        	//       this.$nextTick(() => this.invoice.total_price = result);
        	//   }	
        	// },
          },
		methods:{
			addInvoice_multiply(){
				this.addToInvoice.total_price = (parseFloat(this.addToInvoice.quantity.replace(/,/g, '')) * parseFloat(this.addToInvoice.unit_price.replace(/,/g, ''))).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			},
			multiply(){
				this.invoice.total_price = (parseFloat(this.invoice.quantity.replace(/,/g, '')) * parseFloat(this.invoice.unit_price.replace(/,/g, ''))).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			},
			selectProject(object){
				this.withdraw.project_name = object.name;
				this.withdraw.project = object.id;
				this.projects = [];
				this.showProjectSearch = false;


				axios.post('/api/get/project/invividualprojectphases',{data:object.id})
				.then(response=>{
					console.log(response.data);
					// if(response.data.length > 0){
					this.project_phases = [];

					this.project_phases = response.data;
					// response.data.forEach(arr=>{
					// 	this.project_phases.push(arr.projectphase);
					// });
					// this.project_phases = response.data.projectphase;
					// console.log(this.project_phases);
					
					
				// }else{
				// 	this.project_phases = [];
				// }
			})
				.catch(error=>{
					console.log(error);
				})
				


			},
			
			sortProjects(value){
				if(value.length>0){
					
					axios.post('/api/search/projects',{data:value})
					.then(response=>{

						this.projects = response.data;
						if(this.projects.length > 0){
						this.showProjectSearch = true;
					}
						
					})
					.catch(error=>{
						console.log(error);
					})
				}else{
					this.showProjectSearch = false;
				}
			},
			previousPage(){
				this.$router.go(-1);
			},
			withdraws(value,index){
				// console.log(value);
				this.withdraw.topup_id = value.id;
				this.withdraw.vendor_id = value.vendor_id;
				this.withdraw.initial_quantity = value.quantity;
				this.withdraw.materrial_and_service_id = value.inventory.materrial_and_service_id;
				this.withdraw.unit_price = value.unit_price;
				this.index = index;
				this.topups = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.withdraw);
				
			},
			newInvoice(value,index){
				// console.log(value);
				this.invoice.topup_id = value.id;
				this.invoice.initial_quantity = value.quantity;
				this.invoice.materrial_and_service_id = value.inventory.materrial_and_service_id;
				this.index = index;
				// this.topups = value;
				this.invoiceModal = true;
				this.beforeEditingCache = Object.assign({}, this.invoice);
				
			},
			addInvoice(value,index){
				this.addToInvoice.topup_id = value.id;
				this.addToInvoice.initial_quantity = value.quantity;
				this.addToInvoice.materrial_and_service_id = value.inventory.materrial_and_service_id;
				this.index = index;
				// this.topups = value;
				this.addInvoiceModal = true;
				this.beforeEditingCache = Object.assign({}, this.addInvoice);
				
			},
			closeEditModal(){
				Object.assign(this.withdraw, this.beforeEditingCache);
				this.editmodal = false;
			},
			closeInvoiceModel(){
				Object.assign(this.invoice, this.beforeEditingCache);
				this.invoiceModal = false;
				this.invoice = {};
			},
			closeAddInvoiceModel(){
				Object.assign(this.addToInvoice, this.beforeEditingCache);
				this.addInvoiceModal = false;
				this.addToInvoice = {};
			},
			sendWithdrawData(){
				const constraints = this.getConstraints();
				const errors = validate(this.withdraw,constraints);
				
				
				if(errors){
					console.log(errors);
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.quantity) ? errors.quantity.toString()+'</br>' : '')+((errors.project_name) ? errors.project_name.toString()+'</br>':'')+((errors.chart_of_account) ? errors.chart_of_account.toString()+'</br>':'')+((errors.project_phase) ? errors.project_phase.toString()+'</br>':'')+((errors.notes) ? errors.notes.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/inventorywithdrawal',this.withdraw)
						  .then(response=>{
						  	
						  	this.$store.state.inventoryTopups[this.index].withdraws.push(response.data[0])
						
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.withdraw={};
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},

			newInvoiceData(){
				const constraints = this.getInvoiceConstraints();
				const errors = validate(this.invoice,constraints);
				
				
				if(errors){
					console.log(errors);
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.quantity) ? errors.quantity.toString()+'</br>' : '')+((errors.unit_price) ? errors.unit_price.toString()+'</br>':'')+((errors.due_date) ? errors.due_date.toString()+'</br>':'')+((errors.total_price) ? errors.total_price.toString()+'</br>':'')+((errors.client) ? errors.client.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/new_invoice',this.invoice)
						  .then(response=>{
						  	
						  	this.$store.state.inventoryTopups[this.index].withdraws.push(response.data[0])
						
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeInvoiceModel();
						  
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},

			addToInvoiceData(){
				const constraints = this.getAddInvoiceConstraints();
				const errors = validate(this.addToInvoice,constraints);
				
				
				if(errors){
					console.log(errors);
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.quantity) ? errors.quantity.toString()+'</br>' : '')+((errors.unit_price) ? errors.unit_price.toString()+'</br>':'')+((errors.invoice) ? errors.invoice.toString()+'</br>':'')+((errors.total_price) ? errors.total_price.toString()+'</br>':''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/add/to_invoice',this.addToInvoice)
						  .then(response=>{
						  	
						  	this.$store.state.inventoryTopups[this.index].withdraws.push(response.data[0])
						
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeAddInvoiceModel();
						  
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			
			getConstraints(){
				return{
					project_phase:{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
						
					},
					chart_of_account:{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
						
					},
					quantity:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					notes:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
					project_name:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					date:{
						datetime: {
					      dateOnly: true,
					      message: "invalid Date "
					    }
						
					},
				}
			},

			getInvoiceConstraints(){
				return{
					
					client:{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
						
					},
					quantity:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					unit_price:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
					total_price:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					due_date:{
						datetime: {
					      dateOnly: true,
					      message: "invalid Date "
					    }
						
					},
				}
			},
			getAddInvoiceConstraints(){
				return{
					
					invoice:{
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						  }
						
					},
					quantity:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					unit_price:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
					total_price:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},
					
				}
			},
		},
		computed:{
      	values(){
        	
        		return this.$store.state.inventoryTopups;
        	
     	 }
    	}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
	.ul_search{
		background: #00B0E4;
		color: #fff;
	}
	.ul_search li{
		cursor: pointer;
		list-style: none;
		color: #fff;
		border-bottom: 1px solid #fff;
		text-align: center;
	}
	.md-content > div ul {
    margin: 0;
    padding: 0 0 26px 0px !important;
}
</style>