<template>
	<div>
	    <div class="page-header">
	        <h2>Make Payment To {{user.last_name}} {{user.first_name}}</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	        	<div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	      
	            <div class="card" style="min-height: 1320px; ">
	                <div class="body forum">
	                 	
	
					
						                    <div class="col-md-8 col-md-offset-2">
						                       <div class="md-content">
						                        <h3>Make Payment</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                        	<div style="margin-bottom:10px;">
						                        	<div class="col-md-6">

						                        		<label for="email_address">Basic</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter first name" v-model="userPayment.basic" required readonly />
                                                        </div>
                                                    </div> 
                                                    <label for="email_address">Transport</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter last name" v-model="userPayment.transport" required readonly/>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Pension</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="email" name="color" class="form-control" placeholder="Enter email" v-model="userPayment.pension" required readonly/>
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Utilities</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="userPayment.utilities" required readonly/>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Dressing Allowance</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="userPayment.dressing" required readonly/>
                                                        </div>
                                                    </div>

                                                     <label for="email_address">PAYE</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="userPayment.paye" required readonly/>
                                                        </div>
                                                    </div>

                                                     <label for="email_address">Bank Name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="userPayment.bank" required readonly/>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Bank Account</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        <select class="form-control" v-model="userPayment.bank_account" >
                                                        	<option v-for="bankaccount in bankaccounts" :value="bankaccount.id">{{bankaccount.account_name}} {{bankaccount.account_number}}</option>
                                                        </select>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Chart Of Account</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control" v-model="userPayment.chart_of_account" >
                                                        		<option v-for="chart_of_account in chart_of_accounts" :value="chart_of_account.id">{{chart_of_account.name}}</option>
                                                        	</select>
                                                        </div>
                                                    </div>
														
													<h4>Earnings</h4>

													<div v-for="earning in earnings">
														<label for="email_address">{{earning.earns.name}}</label>
	                                                    <div class="form-group">
	                                                        <div class="form-line">
	                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="earning.amount" required readonly/>
	                                                        </div>
	                                                    </div>
													</div>




						                        	</div>
						                             

						                            <div class="col-md-6">


														<label for="email_address">Housing</label>
	                                                    <div class="form-group">
	                                                        <div class="form-line">
	                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="userPayment.housing" required readonly/>
	                                                        </div>
	                                                    </div>

	                                                    <label for="email_address">Medical</label>
	                                                    <div class="form-group">
	                                                        <div class="form-line">
	                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="userPayment.medical" required readonly/>
	                                                        </div>
	                                                    </div>

	                                                    <label for="email_address">Meal Allowance</label>
	                                                    <div class="form-group">
	                                                        <div class="form-line">
	                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="userPayment.meal" required readonly/>
	                                                        </div>
	                                                    </div>


	                                                    <label for="email_address">Leave Allowance</label>
	                                                    <div class="form-group">
	                                                        <div class="form-line">
	                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="userPayment.leave" required readonly/>
	                                                        </div>
	                                                    </div>


	                                                    <label for="email_address">Entertainment</label>
	                                                    <div class="form-group">
	                                                        <div class="form-line">
	                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="userPayment.entertainment" required readonly/>
	                                                        </div>
	                                                    </div>


	                                                    <label for="email_address">Net Pay</label>
	                                                    <div class="form-group">
	                                                        <div class="form-line">
	                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="userPayment.net_pay" required readonly/>
	                                                        </div>
	                                                    </div>


	                                                     <label for="email_address">Account Number</label>
	                                                    <div class="form-group">
	                                                        <div class="form-line">
	                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="user.account_no" required readonly/>
	                                                        </div>
	                                                    </div>


		                                                 <label for="email_address">Project</label>
	                                                    <div class="form-group">
	                                                    	<div class="form-line">
	                                                        	<input type="" name="" v-model="userPayment.project_name" @keyup="sortProjects(userPayment.project_name)" class="form-control" placeholder="Type In Project">
	                                                        </div>
	                                                        <div v-if="showProjectSearch" style="position: absolute;width: 87%; z-index:40000;">
		                                                        	<ul class="list-unstyled ul_search">
		                                                        		<li v-for="project in projects" @click="selectProject(project)">{{ project.name}} </li>
		                                                        	</ul>
		                                                     </div>
	                                                    </div>

	                                                    <!--  <label for="email_address">Project Phase</label>
	                                                    <div class="form-group">
	                                                        <div class="form-line">
	                                                            <select class="form-control" v-model="userPayment.project_phase" >
	                                                        		<option v-for="project_phase in project_phases" :value="project_phase.id">{{project_phase.name}}</option>
	                                                        	</select>
	                                                        </div>
	                                                    </div> -->

	                                                    <label for="email_address">Project Phase</label>
	                                                    <div class="form-group">
	                                                        <div class="form-line">
	                                                            <select class="form-control" v-model="userPayment.project_phase" >
	                                                            	<!-- <option value="">Select Phase</option> -->
	                                                        		<option v-for="individual_project_phase in individual_project_phases" :value="individual_project_phase.id">{{individual_project_phase.projectphase.name}}</option>
	                                                        	</select>
	                                                        </div>
	                                                    </div>


	                                                 <h4>Deductions</h4>

													<div v-for="deduction in deductions">
														<label for="email_address">{{deduction.deducts.name}}</label>
	                                                    <div class="form-group">
	                                                        <div class="form-line">
	                                                            <input type="text" name="color" class="form-control" placeholder="Enter phone number" v-model="deduction.amount" required readonly/>
	                                                        </div>
	                                                    </div>
													</div>

														

						                             </div>
						                             </div>
						                                                                              
						                           <div class="mfooter" style="float: right;">
						                           	
						                           	<button class="btn btn-info">Submit</button>
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>



						


	            </div>
			
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
// import UserProfile from '../datatables/user-administration/UserProfile';
	export default{
		components: {
         
        },
        mounted(){
        	axios.post('/api/get/singleuser/salary',{id:this.$route.params.id})
        		.then(response=>{
        			console.log(response.data);
        			this.user = response.data[0];

        			this.bigCal();
        		})
        		.catch(error=>{
        			console.log(error);
        		});


        		axios.get('/api/bankaccounts')
        		.then(response=>{
        			this.bankaccounts = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});

        		axios.get('/api/get/chartofaccount')
        		.then(response=>{
        			this.chart_of_accounts = response.data
        		})
        		.catch(error=>{
        			console.log(error);
        		});
        		// axios.get('/api/get/role')
        		// .then(response=>{
        		// 	this.roles = response.data
        		// })
        		// .catch(erroe=>{
        		// 	console.log(error);
        		// });
        		// axios.get('/api/get/department')
        		// .then(response=>{
        		// 	this.departments = response.data
        		// })
        		// .catch(erroe=>{
        		// 	console.log(error);
        		// });
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				user:{
					salary:20000,
				},
				paye:{},
				userPayment: {
					basic:'',
					housing: '',
					transport: '',
					medical: '',
					pension: '',
					meal: '',
					utilities: '',
					leave: '',
					dressing: '',
					entertainment: '',
					net_pay: '',
					paye: '',
					bank: '',
					project: '',
					project_phase: '',
					chart_of_account: '',
					individual_project_phase: '',
					// transport: this.transport(this.user.salary),

				},
				earnings:[],
				deductions:[],
				bankaccounts:{},
				chart_of_accounts:{},
				showProjectSearch:false,
				projects:[],
				project_phases:[],
				individual_project_phases:{}
				// positions:{},
				// roles:{},
				// departments:{},

				
			}
		},
		methods:{
			selectProject(object){
				this.userPayment.project_name = object.name;
				this.userPayment.project = object.id;
				this.projects = [];
				this.showProjectSearch = false;


				axios.post('/api/get/project/invividualprojectphases',{data:object.id})
				.then(response=>{
					if(response.data.length > 0){
						this.individual_project_phases = response.data;
					response.data.forEach(arr=>{
						this.project_phases.push(arr.projectphase);
					});
					// this.project_phases = response.data.projectphase;
					// console.log(this.project_phases);
					
					
				}else{
					this.project_phases = [];
				}
			})
				.catch(error=>{
					console.log(error);
				})
				


			},
			sortProjects(value){
				if(value.length>0){
					
					axios.post('/api/search/projects',{data:value})
					.then(response=>{

						this.projects = response.data;
						if(this.projects.length > 0){
						this.showProjectSearch = true;
					}
						
					})
					.catch(error=>{
						console.log(error);
					})
				}else{
					this.showProjectSearch = false;
				}
			},
			bigCal(){
				this.userPayment.basic =  this.addCommas(this.cal(11,this.user.salary));
				this.userPayment.housing =  this.addCommas(this.cal(9,this.user.salary));
				this.userPayment.transport =  this.addCommas(this.cal(9.6,this.user.salary));
				this.userPayment.medical =  this.addCommas(this.cal(11.8,this.user.salary));
				this.userPayment.pension =  this.addCommas(this.pencal(29.6,this.user.salary));//basic + housing + transport
				this.userPayment.meal =  this.addCommas(this.cal(11.9,this.user.salary));
				this.userPayment.utilities =  this.addCommas(this.cal(11.8,this.user.salary));
				this.userPayment.leave =  this.addCommas(this.cal(11.9,this.user.salary));
				this.userPayment.dressing =  this.addCommas(this.cal(11.5,this.user.salary));
				this.userPayment.entertainment =  this.addCommas(this.cal(11.5,this.user.salary));
				this.userPayment.net_pay =  this.addCommas(this.net(this.user));
				this.userPayment.paye =  this.addCommas((this.user.tax.length > 0 ?  parseFloat(this.user.tax[0].amount) : 0 ));
				this.userPayment.bank =  (this.user.bank != null ?  this.user.bank.name : '' );


				if(this.user.earnings.length){
				this.user.earnings.forEach(earning=>{
					if(earning.payroll_id == this.$route.params.payperiod){
						this.earnings.push(earning);
					}
				});
				}

				if(this.user.deductions.length){
				this.user.deductions.forEach(deduction=>{
					if(deduction.payroll_id == this.$route.params.payperiod){
						this.deductions.push(deduction);
					}
				});
				}

				//console.log(earnings);
				// console.log(deductions);

			},
			addCommas(x){
	          x = (Math.round(x * 100)/ 100).toFixed(2);
	          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	        },
			cal(value,salary){
				 var result = parseFloat((value * salary)/100 );
          		return  result;
			},
			pencal(value,salary){
				 var result = parseFloat((value * salary)/100 );
          		result = parseFloat((8 * result)/100 );
          		return  result;
			},
			net(){
			var result = (parseFloat(this.user.salary) + this.getEarnsOrDeducts(this.user.earnings)) - this.getEarnsOrDeducts(this.user.deductions) - this.pencal(29.6,this.user.salary) - (this.user.tax.length > 0 ?  parseFloat(this.user.tax[0].amount) : 0 );

			return result;

			},
			getEarnsOrDeducts(arrays){
		        var sum = 0;

		        arrays.forEach(array=>{
		          if(array.payroll_id == this.$route.params.payperiod){
		          sum += (arrays.length > 0 ?  parseFloat(array.amount) : 0);
		          }
		        });

		        return sum;
		      },
			previousPage(){
				this.$router.go(-1);
			},
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				Object.assign(this.editdata, this.beforeEditingCache);
				this.editmodal = false;
			},
			edit(value){
				this.editdata = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate(this.userPayment,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.project) ? errors.project.toString()+'</br>' : '')+((errors.project_phase) ? errors.project_phase.toString()+'</br>' : '')+((errors.chart_of_account) ? errors.chart_of_account.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
					this.userPayment.payperiod = this.$route.params.payperiod;
					this.userPayment.user_id = this.user.id;
				axios.post('/api/add/payment',this.userPayment)
						  .then(response=>{
						  							  		
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						
						  	// this.user={};

						  	this.$router.go(-1);
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getConstraints();
				const errors = validate(this.editdata,constraints);
				// const errors = null;
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? errors.name.toString()+'</br>' : '')+((errors.description) ? errors.description.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/position',this.editdata)
						  .then(response=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editdata={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					
					project: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					  },
					  project_phase: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'ust be selected'
						      
						    }
					  },
					  chart_of_accounts: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'must be selected'
						      
						    }
					  },
					 
				}
			}
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;
		float: left;
    margin-bottom: 10px;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
		.ul_search{
		background: #00B0E4;
		color: #fff;
	}
	.ul_search li{
		cursor: pointer;
		list-style: none;
		color: #fff;
		border-bottom: 1px solid #fff;
		text-align: center;
	}
	.md-content > div ul {
    margin: 0;
    padding: 0 0 26px 0px !important;
}
</style>