<template>
	<div>
	    <div class="page-header">
	        <h2>Payroll Pay Periods</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <!-- <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Pay Period</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div> -->
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                 	

					
						<payperiod ref="payperiodDT" @save="save"></payperiod>


						<!-- <div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Add Pay Period</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                            <label for="email_address">Year</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="pay_period.year" >
                                                        		<option v-for="year in years" :value="year">{{year}}</option>
                                                        		
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Month</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="pay_period.month" >
                                                        		<option v-for="month in months" :value="month.id">{{month.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div> -->

						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;max-width: 20%; top:43%;">
						                    <div class="md-content">
						                       
						                        <div>
						                        <form @submit.prevent="sendData()" autocomplete="off">
						                             <label style="display:block;text-align:center;margin-bottom:15px;">Are you sure?</label>
                                                    
						                           <div class="mfooter" style="margin-bottom:0px; justify-content:center;">
						                           	<button class="btn btn-info btn-sm">Confirm</button>
						                           	<button @click.prevent="modal = !modal" class="btn btn-danger btn-sm">Cancel</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>

						<!-- <div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Edit Pay Period</h3>
						                        <div>
						                        	<form @submit.prevent="sendEditData()" autocomplete="off">
						                            <label for="email_address">Year</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.year" >
                                                        		<option v-for="year in years" :value="year">{{year}}</option>
                                                        		
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Month</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.month.id" >
                                                        		<option v-for="month in months" :value="month.id">{{month.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div> -->


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<!-- <div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div> -->
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import PayPeriod from '../../datatables/finance-administration/payroll/PayPeriod';
	export default{
		components: {
          payperiod :PayPeriod,
        },
        created(){
        	axios.get('/api/months')
        		.then(response=>{
        			this.months = response.data;
        		})
        		.catch(error=>{
        			
        		});
        	// for(var i=1;i<10;i++){
        	//   this.years.push(2017+i);
        	// }
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				pay_period:{
					year:'',
					month:''
				},
				editdata:{},
				// months:{},
				// years:[],
				index:'',
				
			}
		},
		methods:{
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				//create another object to help retain initial value before editing
				Object.assign(this.editdata, this.beforeEditingCache);
				//create another object for the child object to prevent reference type(object feature) from editing the original value
				Object.assign(this.editdata.month, this.beforeEditingmonth);
				this.editmodal = false;
			},
			save(value,index){
				console.log(value);
				this.index = index;
				this.editdata = value;
				this.modal = true;
				// this.beforeEditingCache = Object.assign({}, this.editdata);
				// this.beforeEditingmonth = Object.assign({}, this.editdata.month);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate();
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.year) ? errors.year.toString()+'</br>' : '')+((errors.month) ? errors.month.toString():''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/save/payperiod',this.editdata)

						  .then(response=>{
						  	this.$store.state.payperiods.splice(this.index,1);
						  	//Checks if number of data on data-table iis equal or greater than the pagination selected
						  	//If so, makes sure the data on the data-table is equal to the pagination selected
						  	//then, updates the pagination url
						  	//else just add data to datatable
						  	// if(this.$store.state.payperiods.length >= this.$store.state.payperiods_pag.per_page && this.$store.state.payperiods_pag.total >= 10){
						  	// 	this.$store.state.payperiods.splice(-1,1);
						  	// 	this.$store.state.payperiods.unshift(response.data[0]);
						  	// 	this.$store.state.payperiods_pag.next_page_url = this.$store.state.payperiods_pag.first_page_url.replace(/.$/,"2");
						  	// 	this.$store.state.payperiods_pag.total = this.$store.state.payperiods_pag.total + 1;
						  	// 	this.$refs.payperiodDT.configPagination(this.$store.state.payperiods_pag);

						  	// }else{

						  	// 	this.$store.state.payperiods.unshift(response.data[0]);
						  	// 	this.$store.state.payperiods_pag.to = this.$store.state.payperiods_pag.to + 1;
						  	// 	this.$store.state.payperiods_pag.from = 1;
						  	// 	this.$store.state.payperiods_pag.total = this.$store.state.payperiods_pag.total + 1;
						  	// 	this.$refs.payperiodDT.configPagination(this.$store.state.payperiods_pag);
						  	// }
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	// this.name='';
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){
				const constraints = this.getConstraints();
				const errors = validate(this.editdata);
				// const errors = null;
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.year) ? errors.year.toString()+'</br>' : '')+((errors.month) ? errors.month.toString():''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/payperiod',this.editdata)
						  .then(response=>{
						  	this.$store.state.payperiods[this.index].month = response.data;

						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editdata={};
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					year: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					  },
					  month: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					  }
				}
			}
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>