<template>
	<div>
	    <div class="page-header">
	        <h2>Payroll Pay Periods</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                             <div class="btn-group">
	                            
	                                <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                 	

					
						<payperiod ref="payperiodDT" @earnAndDeduct="earnAndDeduct"></payperiod>


						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%; top:45%;">
						                    <div class="md-content" style="height:550px;">
						                        <h3>Earnings And Deductions</h3>
						<div style="padding-top:1px;">
						<div class="" style="padding:0px;display: flex;justify-content: center;">
                        <div class="card" style="position: absolute;width: 100%;">
                            <div class="profile_body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-tabs-inline nav-justified" role="tablist" style="padding-bottom: 0px;">
                                    <li role="presentation" class="active"><a @click.prevent href="#about" data-toggle="tab" aria-expanded="true">Earnings </a></li>
                                    <li role="presentation" class=""><a @click.prevent href="#timeline" data-toggle="tab" aria-expanded="false">Deductions</a></li>
                                  
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="about" style="height: -webkit-fill-available; overflow-y: auto;">
                         
                                    	 <div class="col-md-12 ">
						                       <div class="md-content">
						                       		<div v-if="earnings.length" style="display:flex; justify-content:space-between; padding-bottom: 0px; padding-top: 0px;">
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Name</label>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Amount</label>
                                                        </div>
                                                    </div>
 
                                        
                                                </div>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">

						                        		<div  v-for="(earning, i) in earnings" style="display:flex; justify-content:space-between;">
                                                                                
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                                                
                                                                <select class="form-control" v-model="earning.earns.id" required>
                                                                    <option value="">Select Earning</option>
                                                                    <option v-for="earn in earns" :value="earn.id">      
                                                                        {{earn.name}}

                                                                    </option>
                                                                    
                                                                </select>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                        
                                                                <input type="text" class="form-control" v-model="earning.amount" required />
                                                                
                                                            </div>    
                                                        </div>
                                        
                                                    
                                                        <!--Show delete if the delete key is true-->
                                                     <!--    <button @click.prevent="deleteMaterialRow(i)" v-if="projectMaterial.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                        
                                                            <em class="material-icons md-8">delete</em>
                                        
                                                        </button> -->
                                        
                                                        <!-- Show delete if the index is > 0 i.e only from the second item up -->
                                                        <button @click.prevent="deleteEarning(i)" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                        
                                                            <em class="material-icons md-8">delete</em>
                                        
                                                        </button>
                                                    </div>

                                                     <button @click.prevent="newEarning()" class="btn btn-primary flexit">
	                                                    <em class="material-icons">add</em>
	                                                    <span class="line">Add Earning</span>
                                                	</button>
						                            	
						                           <div class="mfooter" style="margin-top: 5%">
						                           	<button class="btn btn-info">Update</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
										</div>

                                    </div>


                                    <div role="tabpanel" class="tab-pane fade" id="timeline" style="height: -webkit-fill-available; overflow-y: auto;">

                                    	 <div class="col-md-12">
						                       <div class="md-content">
						                       	<div v-if="deductions.length" style="display:flex; justify-content:space-between; padding-bottom: 0px; padding-top: 0px;">
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Name</label>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="form-group" style="margin-left:15px;">
                                                        <div class="" >
                                                            <label for="" style="font-weight:bold">Amount</label>
                                                        </div>
                                                    </div>
 
                                        
                                                </div>
						                       
						                        <div>
						                        <form @submit.prevent="sendSecondData()" autocomplete="off">
						                        		<div  v-for="(deduction, i) in deductions" style="display:flex; justify-content:space-between;">
                                                                                
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                                                
                                                                <select class="form-control" v-model="deduction.deducts.id" required>
                                                                    <option value="">Select Deduction</option>
                                                                    <option v-for="deduct in deducts" :value="deduct.id">      
                                                                        {{deduct.name}}

                                                                    </option>
                                                                    
                                                                </select>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                        <div class="form-group" style="margin-left:15px;">
                                                            <div class="form-line">
                                        
                                                                <input type="text" class="form-control" v-model="deduction.amount" required />
                                                                
                                                            </div>    
                                                        </div>
                                        
                                                    
                                                        <!--Show delete if the delete key is true-->
                                                     <!--    <button @click.prevent="deleteMaterialRow(i)" v-if="projectMaterial.delete" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                        
                                                            <em class="material-icons md-8">delete</em>
                                        
                                                        </button> -->
                                        
                                                        <!-- Show delete if the index is > 0 i.e only from the second item up -->
                                                        <button @click.prevent="deleteDeduction(i)" class="btn btn-xs btn-default" style="height: min-content;border: none;margin-top: 10px;width: 2px;">
                                        
                                                            <em class="material-icons md-8">delete</em>
                                        
                                                        </button>
                                                    </div>

                                                     <button @click.prevent="newDeduction()" class="btn btn-primary flexit">
	                                                    <em class="material-icons">add</em>
	                                                    <span class="line">Add Deduction</span>
                                                	</button>
						                            	
						                           <div class="mfooter" style="margin-top: 5%">
						                           	<button class="btn btn-info">Update</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>
                                        
                                    </div>
                             
                                 

                     


                                    </div>
                                    


                                    </div>
                                   
                                </div>
                            </div>
						                        	<!-- <form @submit.prevent="sendData()" autocomplete="off">
						                            <label for="email_address">Year</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="pay_period.year" >
                                                        		<option v-for="year in years" :value="year">{{year}}</option>
                                                        		
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Month</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="pay_period.month" >
                                                        		<option v-for="month in months" :value="month.id">{{month.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form> -->
						                        </div>
						                   </div>
						</div>



						<!-- <div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Edit Pay Period</h3>
						                        <div>
						                        	<form @submit.prevent="sendEditData()" autocomplete="off">
						                            <label for="email_address">Year</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.year" >
                                                        		<option v-for="year in years" :value="year">{{year}}</option>
                                                        		
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
                                                    <label for="email_address">Month</label>
                                                    <div class="form-group">
                                                    	<div class="form-line">
                                                        	<select class="form-control" v-model="editdata.month.id" >
                                                        		<option v-for="month in months" :value="month.id">{{month.name}}</option>
                                                        	</select>
                                                            
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div> -->


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<!-- <div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div> -->
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import PayPeriod from '../../datatables/finance-administration/payroll/Payroll';
	export default{
		components: {
          payperiod :PayPeriod,
        },
        mounted(){
        	axios.get('/api/get/earnings')
        		.then(response=>{
        			this.earns = response.data;
        		})
        		.catch(error=>{
        			
        		});

        		axios.get('/api/get/deductions')
        		.then(response=>{
        			this.deducts = response.data;
        		})
        		.catch(error=>{
        			
        		});
        	// for(var i=1;i<10;i++){
        	//   this.years.push(2017+i);
        	// }
        },
		data(){
			return{
				modal:false,
				editmodal:false,
				pay_period:{
					year:'',
					month:''
				},
				earnings:[],
				deductions:[],
				months:{},
				years:[],
				index:'',
				earns:{},
				deducts:{},
				modal:false,
				
			}
		},
		methods:{
			deleteDeduction(index) {
			     this.deductions.splice(index,1);
			   },
		   deleteEarning(index) {
		     this.earnings.splice(index,1);
		   },
			newDeduction(){
				 this.deductions.push({
			       amount: '',
			       user_id: this.user_details.id,
			       deducts:{
			       	id:'',
			       }
			     });
			},
			newEarning(){
				this.earnings.push({
			       amount: '',
			       user_id: this.user_details.id,
			       earns:{
			       	id:'',
			       }
			     });
			},
			earnAndDeduct(value,index){
				this.earnings = [];
				this.deductions = [];
				// console.log(value);
				this.user_details = value;
				if(value.earnings.length){
				value.earnings.forEach(earning=>{
					if(earning.payroll_id == this.$route.params.id){
						this.earnings.push(earning);
					}
				});
				}

				if(value.deductions.length){
				value.deductions.forEach(deduction=>{
					if(deduction.payroll_id == this.$route.params.id){
						this.deductions.push(deduction);
					}
				});
				}
				this.modal = true;
                this.index = index;
				// console.log(this.earnings);
			},
			previousPage(){
				this.$router.go(-1);
			},
			closeModal(){
				this.modal = false;
			},
			closeEditModal(){
				//create another object to help retain initial value before editing
				Object.assign(this.editdata, this.beforeEditingCache);
				//create another object for the child object to prevent reference type(object feature) from editing the original value
				Object.assign(this.editdata.month, this.beforeEditingmonth);
				this.editmodal = false;
			},
			edit(value,index){
				this.index = index;
				this.editdata = value;
				this.editmodal = true;
				this.beforeEditingCache = Object.assign({}, this.editdata);
				this.beforeEditingmonth = Object.assign({}, this.editdata.month);
				
			},
			sendData(){
				const constraints = this.getConstraints();
				const errors = validate();
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.year) ? errors.year.toString()+'</br>' : '')+((errors.month) ? errors.month.toString():''),
						  	  duration: 10000,
						  	});
				}else{
					// console.log(this.earnings);
				
					let data = {
						earnings: this.earnings,
						user_id: this.user_details.id,
						payroll_id : this.$route.params.id,
					};
				axios.post('/api/edit/user/earnings', data)

						  .then(response=>{
                            console.log(response.data);
                            this.$store.state.payrolls[this.index].earnings = response.data;
						  	
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.closeModal();
						  	this.earnings = [];
                            this.deductions = [];
						  })
						  .catch(error=>{
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendSecondData(){
				const constraints = this.getConstraints();
				const errors = validate();
				// const errors = null;
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.year) ? errors.year.toString()+'</br>' : '')+((errors.month) ? errors.month.toString():''),
						  	  duration: 10000,
						  	});
				}else{

                    let data = {
                        deductions: this.deductions,
                        user_id: this.user_details.id,
                        payroll_id : this.$route.params.id,
                    };
				axios.post('/api/edit/user/deductions',data)
						  .then(response=>{
						  this.$store.state.payrolls[this.index].deductions = response.data;

						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
                            
                            this.closeModal();
                            this.earnings = [];
                            this.deductions = [];
						  	
						  })
						  .catch(error=>{
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			getConstraints(){
				return{
					year: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					  },
					  month: {
					
						numericality: {
						      onlyInteger: true,
						      message: 'Must be selected'
						      
						    }
					  }
				}
			}
		}
	}
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>