<template>
	<div>
	    <div class="page-header">
	        <h2>Bank Account Topups</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                 <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
					
						<bank-account-topup ref="topupDT" @withdraw="withdraw"></bank-account-topup>

						<div v-if="withdrawModal" class="md-modal md-effect-2 md-show" style="left:54%;">
		                    <div class="md-content">
		                        <h3>Make Withdrawal</h3>
		                        <div>
		                        	<form @submit.prevent="sendWithdrawData()" autocomplete="off">

			                            <label for="email_address">Enter Amount</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" name="name" class="form-control" placeholder="Enter Amount" v-model="amount" required />
                                            </div>
                                        </div>

			                           	<div class="mfooter">

				                           	<button class="btn btn-info" v-text="submitting ? 'Please Wait...' : 'Submit'">Submit</button>
				                           	<button @click.prevent="withdrawModal = false" class="btn btn-danger">Close</button>
			                           	
			                           	</div>
			                            
			                        </form>
		                        </div>
		                   </div>
						</div>

	            	</div>
					<div v-if="withdrawModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			    </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import BankAccountTopup from '../../datatables/finance-administration/bank-account/BankAccountTopup.vue';
	export default{
		components: {
          BankAccountTopup
        },
        mounted(){
        	
        },

        watch: {//watch for changes in the toupu amount
            'amount': function(newValue){
                if(this.watcher){
                        const result = newValue.replace(/\D/g, "")
                            .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                          this.$nextTick(() => this.amount = result);
                    }
                }
                    
            },

		data(){
			return{
				modal:false,
				editmodal:false,
				submitting:false,
				withdrawModal:false,
				watcher:true,
				id: '',
				bank_account_id: '',
				amount:'',
				index:''

				
			}
		},
		methods:{

			addCommas(x){
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },

            removeCommas(x){
	            x=x.replace(/\,/g,''); 
	            x=parseInt(x,10);
	            return x
	        },

	        previousPage(){
	        	this.$router.go(-1);
	        },

		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>