<template>
	<div>
	    <div class="page-header">
	        <h2>Bank Accounts</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                <button @click="modal=true" type="button" class="btn btn-info flexit"><em class="material-icons">add</em><span class="line">New Bank Account</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
	                 	

					
						<bank-account ref="bank_accountDT" @edit="edit" @topup="topup" @withdraw="withdraw"></bank-account>

						<div v-if="withdrawModal" class="md-modal md-effect-2 md-show" style="left:54%;">
		                    <div class="md-content">
		                        <h3>Make Withdrawal</h3>
		                        <div>
		                        	<form @submit.prevent="sendWithdrawData()" autocomplete="off">

			                            <label for="email_address">Enter Amount</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" name="name" class="form-control" placeholder="Enter Amount" v-model="withdraw_amount" required />
                                            </div>
                                        </div>

			                           	<div class="mfooter">

				                           	<button class="btn btn-info" v-text="submitting ? 'Please Wait...' : 'Submit'">Submit</button>
				                           	<button @click.prevent="withdrawModal = false" class="btn btn-danger">Close</button>
			                           	
			                           	</div>
			                            
			                        </form>
		                        </div>
		                   </div>
						</div>

	            	</div>
					<div v-if="withdrawModal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>

						<div v-if="modal" class="md-modal md-effect-2 md-show" style="left:54%;">
						                    <div class="md-content">
						                        <h3>Add Bank Account</h3>
						                        <div>
						                        	<form @submit.prevent="sendData()" autocomplete="off">
						                            <label for="email_address">Account Name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" placeholder="Enter Account Name" v-model="bank_account.name" required />
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Account Number</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" v-model ="bank_account.number" class="form-control" placeholder="Enter Account Number" required />
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Bank</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select v-model ="bank_account.bank" required class="form-control">
                                                            	<option value="">Select Bank</option>
                                                            	<option v-for="bank in banks" :value="bank.id">{{bank.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <label for="email_address">Branch</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" v-model ="bank_account.branch" class="form-control" placeholder="Enter Company Branch" required />
                                                        </div>
                                                    </div>
						                           <div class="mfooter">
						                           	<button class="btn btn-info">Submit</button>
						                           	<button @click.prevent="closeModal()" class="btn btn-danger">Close</button>
						                           	
						                           </div>
						                            
						                        </form>
						                        </div>
						                   </div>
						</div>



						<div v-if="editmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
		                    <div class="md-content">
		                        <h3>Edit Bank Account</h3>
		                        <div>
		                        	<form @submit.prevent="sendEditData()" autocomplete="off">

			                            <label for="email_address">Account name</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" name="name" class="form-control" placeholder="Enter Account Name" v-model="editbank.account_name" required />
                                            </div>
                                        </div>

                                        <label for="email_address">Account number</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" name="name" class="form-control" placeholder="Enter Account Number" v-model="editbank.account_number" required />
                                            </div>
                                        </div>

                                        <label for="email_address">Account Branch</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" name="name" class="form-control" placeholder="Enter Branch" v-model="editbank.branch" required />
                                            </div>
                                        </div>
			                           	<div class="mfooter">

				                           	<button class="btn btn-info" v-text="submitting ? 'Please Wait...' : 'Submit'">Submit</button>
				                           	<button @click.prevent="closeEditModal()" class="btn btn-danger">Close</button>
			                           	
			                           	</div>
			                            
			                        </form>
		                        </div>
		                   </div>
						</div>

						<div v-if="topupmodal" class="md-modal md-effect-2 md-show" style="left:54%;">
		                    <div class="md-content">
		                        <h3>Topup Account</h3>
		                        <div>
		                        	<form @submit.prevent="sendTopupData()" autocomplete="off">

			                            <label for="email_address">Enter Amount</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" name="name" class="form-control" placeholder="Enter Amount" v-model="amount" required />
                                            </div>
                                        </div>

			                           	<div class="mfooter">

				                           	<button class="btn btn-info" v-text="submitting ? 'Please Wait...' : 'Submit'">Submit</button>
				                           	<button @click.prevent="topupmodal = false" class="btn btn-danger">Close</button>
			                           	
			                           	</div>
			                            
			                        </form>
		                        </div>
		                   </div>
						</div>


	            </div>
			<div v-if="modal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="editmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
			<div v-if="topupmodal" class="md-overlay" style="visibility:visible; opacity:1; background: rgba(27, 24, 24, 0.21);"></div>
	        </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import BankAccount from '../../datatables/finance-administration/bank-account/BankAccount.vue';
	export default{
		components: {
          BankAccount
        },
        mounted(){
        	axios.post('/api/get/bank')
        	.then(response=>{
        		this.banks = response.data;
        	})
        	.catch(error =>{
        		console.log(error)
        	})
        },

        watch: {//watch for changes in the toupu amount
            'amount': function(newValue){
                if(this.watcher){
                        const result = newValue.replace(/\D/g, "")
                            .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                          this.$nextTick(() => this.amount = result);
                    }
                },
             'withdraw_amount': function(newValue){
                if(this.watcher){
                        const result = newValue.replace(/\D/g, "")
                            .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                          this.$nextTick(() => this.withdraw_amount	 = result);
                    }
                }
                    
            },

		data(){
			return{
				modal:false,
				editmodal:false,
				name:'',
				editbank:{},
				bank_account:{
					bank:''
				},
				banks:{},
				submitting:false,
				topupmodal:false,
				watcher:true,
				id: '',
				amount:'',
				withdraw_amount:'',
				index:'',
				withdrawModal:false

				
			}
		},
		methods:{

			withdraw(bank){
				this.withdrawModal = true;
				this.id = bank.id;
				this.index = bank.index;
			},

			addCommas(x){
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },

            removeCommas(x){
	            x=x.replace(/\,/g,''); 
	            x=parseInt(x,10);
	            return x
	        },

			closeModal(){
				this.modal = false;
				this.bank_account = {
					bank:''
				};
			},
			closeEditModal(){
				Object.assign(this.editbank, this.beforeEditingCache);
				this.editmodal = false;
			},
			edit(value){
				this.editbank = value;
				this.editmodal = true;
				// console.log(value);
				
			},

			topup(bank_account){
				this.topupmodal = true;
				this.id = bank_account.id;
				this.index = bank_account.index
				// console.log(bank_account);
			},

			sendData(){
				this.submitting = true;
				const constraints = this.getConstraints();
				const errors = validate(this.bank_account,constraints);
				if(errors){
					
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.name) ? 'Account '+errors.name.toString()+'</br>' : '')+((errors.number) ? 'Account '+errors.number.toString()+'</br>' : '')+((errors.bank) ? errors.bank.toString()+'</br>' : '')+((errors.branch) ? errors.branch.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
					this.submitting = false;

				}else{
				axios.post('/api/add/bank-account',this.bank_account)
						  .then(response=>{
						  	this.submitting = false;
						  	// console.log(response.data[0]);
						  	if(this.$store.state.bank_accounts.length >= this.$store.state.bank_accounts_pag.per_page && this.$store.state.bank_accounts_pag.total >= 10){
						  		this.$store.state.bank_accounts.splice(-1,1);
						  		this.$store.state.bank_accounts.unshift(response.data[0]);
						  		this.$store.state.bank_accounts_pag.next_page_url = this.$store.state.bank_accounts_pag.first_page_url.replace(/.$/,"2");
						  		this.$store.state.bank_accounts_pag.total = this.$store.state.bank_accounts_pag.total + 1;
						  		this.$refs.bank_accountDT.configPagination(this.$store.state.bank_accounts_pag);

						  	}else{
						  		this.$store.state.bank_accounts.unshift(response.data[0]);
						  		this.$store.state.bank_accounts_pag.to = this.$store.state.bank_accounts_pag.to + 1;
						  		this.$store.state.bank_accounts_pag.from = 1;
						  		this.$store.state.bank_accounts_pag.total = this.$store.state.bank_accounts_pag.total + 1;
						  		this.$refs.bank_accountDT.configPagination(this.$store.state.bank_accounts_pag);
						  	}
						  	
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	// this.closeModal();
						  	// this.bank_account={}
						  })
						  .catch(error=>{
						  	this.submitting = false;
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},
			sendEditData(){

				this.submitting = true;
				const constraints = this.getEditConstraints();
				const errors = validate(this.editbank,constraints);
				// const errors = null;
				if(errors){
					this.submitting = false;
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.account_name) ? 'Account '+errors.account_name.toString()+'</br>' : '')+((errors.account_number) ? 'Account '+errors.account_number.toString()+'</br>' : '')+((errors.branch) ? errors.branch.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
				axios.post('/api/edit/bank-account',this.editbank)
						  .then(response=>{
						  	this.submitting = false;
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.editmodal = false;
						  	this.editbank={};
						  })
						  .catch(error=>{
						  	this.submitting = false;
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},

			sendTopupData(){

				this.submitting = true;
				let data = {
					amount: this.amount,
					id: this.id
				};
				const constraints = this.getTopupConstraints();
				const errors = validate(data,constraints);
				// const errors = null;
				if(errors){
					this.submitting = false;
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.amount) ? 'Topup '+errors.amount.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
					this.watcher = false;
					data.usedAmount = this.removeCommas(this.amount);
					this.watcher = true;
				axios.post('/api/topup/bank-account',data)
						  .then(response=>{
						  	this.submitting = false;
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.$refs.bank_accountDT.receiveTopup(this.amount, this.index);
						  	this.topupmodal = false;
						  	this.amount=''
						  })
						  .catch(error=>{
						  	this.submitting = false;
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},

			sendWithdrawData(){

				this.submitting = true;
				let data = {
					amount: this.withdraw_amount,
					id: this.id,
				};
				const constraints = this.getWithdrawalConstraints();
				const errors = validate(data,constraints);
				// const errors = null;
				if(errors){
					this.submitting = false;
					this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: ((errors.amount) ? 'Withdraw '+errors.amount.toString()+'</br>' : ''),
						  	  duration: 10000,
						  	});
				}else{
					this.watcher = false;
					data.usedAmount = this.removeCommas(this.withdraw_amount);
					this.watcher = true;
				axios.post('/api/bank-account/withdraw',data)
						  .then(response=>{
						  	this.submitting = false;
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'success',
						  	  title: 'Notification',
						  	  text: 'Success!',
						  	  duration: 10000,
						  	});
						  	this.$refs.bank_accountDT.receiveWithdrawal(this.withdraw_amount, this.index);
						  	this.withdrawModal = false;
						  	this.withdraw_amount = ''
						  })
						  .catch(error=>{
						  	this.submitting = false;
						  	console.log(error);
						  	this.$notify({
						  	  group: 'foo',
						  	  type: 'error',
						  	  title: 'Notification',
						  	  text: error.response.data.error,
						  	  duration: 10000,
						  	});
						  });
				}
				
			},

			getConstraints(){
				return{
					name:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},

					number: {
                    	presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
                        numericality: {
                              onlyInteger: true,
                              message: "is invalid"
                              
                        }
                    },

                    bank: {
                        numericality: {
                              onlyInteger: true,
                              message: "must be selected"
                        }
                    },
                    branch:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},

				}
			},

			getEditConstraints(){
				return{
					account_name:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},

					account_number: {
                    	presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
                        numericality: {
                              onlyInteger: true,
                              message: "is invalid"
                              
                        }
                    },

                    branch:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},

				}
			},

			getTopupConstraints(){
				return{
					amount:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},

				}
			},

			getWithdrawalConstraints(){
				return{
					amount:{
						presence:{
							allowEmpty: false,
							message:"can't be empty"
						},
						
					},

				}
			}
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>