<template>
	<div>
	    <div class="page-header">
	        <h2>Bank Account Topups</h2>
	        <ol class="breadcrumb">
	            <li><router-link to="/">Home</router-link></li>
	            <li class="active">App Views</li>
	        </ol>
	    </div>
	    <div class="row clearfix">
	        <div class="col-lg-12 col-md-12">
	            <div class="card">
	                <div class="body p-b-0">
	                    <div class="row">
	                        <div class="col-md-4">
	                            <div class="btn-group">
	                            
	                                 <button @click.prevent="previousPage()" class="btn btn-info flexit"><em class="material-icons">keyboard_return</em><span class="line">Previous Page</span></button>
	                            </div>
	                        </div>
	                      
	                    </div>
	                </div>
	            </div>
	            <div class="card" style="min-height: 635px;">
	                <div class="body forum">
					
						<expense-record ref="expenseDT"></expense-record>

	            	</div>
			    </div>
			 
	    </div>
	   
	</div>
</div>
</template>

<script>
import validate from 'validate.js'
import ExpenseRecord from '../../datatables/finance-administration/bank-account/ExpenseRecord.vue';
	export default{
		components: {
          ExpenseRecord
        },
        mounted(){
        	axios.post('/api/get/bank')
        	.then(response=>{
        		this.banks = response.data;
        	})
        	.catch(error =>{
        		console.log(error)
        	})
        },

        watch: {//watch for changes in the toupu amount
            'amount': function(newValue){
                if(this.watcher){
                        const result = newValue.replace(/\D/g, "")
                            .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                          this.$nextTick(() => this.amount = result);
                    }
                }
                    
            },

		data(){
			return{
				modal:false,
				editmodal:false,
				submitting:false,
				withdrawModal:false,
				watcher:true,
				id: '',
				bank_account_id: '',
				amount:'',
				index:''

				
			}
		},
		methods:{

			addCommas(x){
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },

            removeCommas(x){
	            x=x.replace(/\,/g,''); 
	            x=parseInt(x,10);
	            return x
	        },

	        previousPage(){
	        	this.$router.go(-1);
	        },
			
		}
	};
</script>

<style scoped>
	.flexit{
		display: flex;

	}
	.line{
		line-height: 26px !important;
	}
	.mfooter{
		display: flex;
		justify-content: flex-end;

	}
	.mfooter button{
		margin: 0px 0px 0px 10px !important;
	}
</style>